﻿@using Znode.Engine.WebStore.ViewModels
@model WidgetBrandListViewModel

@if (Model?.Brands?.Count > 0)
{
    @*<h3 class="product-list-title">@Html.RenderMessage(WebStoreConstants.Brands)</h3>*@
    <div class="col-xs-12 brand-list-widget nopadding">
        <ul id="view-option-category">
            @foreach (var brand in Model.Brands)
            {
                if (!Equals(brand.BrandViewModel, null) && brand.BrandViewModel.IsActive)
                {
                    <li>
                        <a href="@Url.GetBrandUrl(brand.BrandViewModel.SEOFriendlyPageName, null, brand.BrandViewModel.BrandId)" data-lightbox="enlarge" title="@brand.BrandViewModel.BrandName">
                            <img src="@brand.BrandViewModel.ImageSmallThumbnailPath" class="img-responsive" data-src="@brand.BrandViewModel.ImageSmallThumbnailPath" alt="@brand.BrandViewModel.BrandName" />
                            @*<img src="~/Views/Themes/Default/Images/Adidas.jpg" class="img-responsive" alt="@brand.BrandViewModel.BrandName"/>*@
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
}

