﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Models
@using System.Threading.Tasks;
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
    var _portal = PortalAgent.CurrentPortal;
    bool isLoginAuthorization = Convert.ToBoolean(_portal.GlobalAttributes.Attributes.Where(x => x.AttributeCode == "LoginRequired").Select(x => x.AttributeValue).FirstOrDefault());
    bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
    bool isCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
    string customerServiceEmail = PortalAgent.CurrentPortal?.CustomerServiceEmail;
    string customerServicePhoneNumber = PortalAgent.CurrentPortal?.CustomerServicePhoneNumber;
    string ipAddress = Request.ServerVariables["HTTP_X_FORWARDED_FOR"];
    if (string.IsNullOrEmpty(ipAddress))
    {
        ipAddress = Request.ServerVariables["REMOTE_ADDR"];
    }
    ViewBag.IPAddress = ipAddress;
    string res = "https://ipinfo.io/" + ipAddress + "/json";
}
<div class="container-fluid">
    <div class="row proxy-login-section">
        <div class="container proxy-login">
            @if (Request.IsAuthenticated && SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey) != null)
            {
                ImpersonationModel impersonation = SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey);

                <span class="">
                    @impersonation.CRSName   @WebStore_Resources.LoggedInAs   @impersonation.ShopperName
                </span>
                <a href="/User/Logout" class="log-off" id="log-off" data-test-selector="linkLogOff"> @WebStore_Resources.LabelLogOff</a>
            }
        </div>
    </div>
    <div class="row header-local-container">
        <div class="container">
            <div class="row mobile-view-head">
                <!--Top-Header-Msg-->
                @Html.RenderMessage("TopHeaderShippingMessage")
            </div>
        </div>
    </div>
</div>
<div class="container Contact-info">
    <div class="row hidden-xs">
        <div class="col-lg-12 col-xs-12 margin-top-10 nopadding">
            <div class="col-xs-12 col-lg-6"></div>
            <div class="col-xs-12 col-lg-6 nopadding text-right">
                <div class="col-xs-12 col-sm-7">
                    <!--Phone-Email-->
                    <span class="display-flex contact-details">
                        <p data-test-selector="lblCustomerPhone"><a href="tel:@customerServicePhoneNumber" title="@customerServicePhoneNumber">@customerServicePhoneNumber</a></p>&nbsp;or&nbsp;
                        @{
                            string customerServiceEmailValue = customerServiceEmail;
                            if (!string.IsNullOrEmpty(customerServiceEmailValue))
                            {
                                char[] seperator = new char[] { ',' };
                                string[] customerServiceEmails = customerServiceEmailValue.Split(seperator, StringSplitOptions.RemoveEmptyEntries);
                                foreach (string email in customerServiceEmails)
                                {
                                    <a href="@(" mailto:" + email)" data-test-selector="linkMailTo" title="@email" style="text-decoration:underline;">@email</a>
                                }
                            }
                        }
                    </span>
                </div>
                <div class="col-xs-12 col-sm-5 nopadding Social-follow-us pull-right nopadding">
                    <!--Phone-Email-->
                    @Html.RenderMessage("TopHeaderSocialMedia")
                </div>
            </div>
        </div>
    </div>

    <div class="row mobile-padding-20">
        <!--Mobile View-->
        <div class="col-xs-3 hidden-lg hidden-md hidden-sm display-flex">
            <div class="header-nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <a href='#' data-toggle="collapse" data-target="#search-results" aria-expanded="false" aria-controls="search-results"><i class='f-size zf-search' data-test-selector="linkCart"></i><span class="hidden">search</span></a>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-4 nopadding">
            <a href="/" class="header-logo" data-test-selector="linkLogoImage">
                @{
                    if (string.IsNullOrEmpty(logo))
                    {
                        <h1>@title</h1>
                    }
                    else
                    {
                        <img data-src="@logo" src="@logo" alt="@title" class="img-responsive b-lazy" data-test-selector="imgLogoImage" />
                    }
                }
            </a>
        </div>
        <!--Mobile View-->
        <div class="col-xs-3 hidden-lg hidden-md hidden-sm mobile-login">
            <ul>
                <li>
                    <span class="loginStatus">
                        @if (isCloudflareEnabled)
                        {
                            <span>Loading..</span>
                        }
                        else
                        {
                            @Html.Action("LoginStatus", "User")
                        }
                    </span>
                </li>
                <li class="cart-icon">
                    <a href='/cart' title="Cart">@Html.RenderMessage("MessageConfig")<img src="~/Views/Themes/Default/Images/shopping-bag.png" data-src="~/Views/Themes/Default/Images/shopping-bag.png" alt="bag" /><span class='cartcount' data-test-selector="linkCartCount"></span> <span class="hidden-xs">BAG</span></a>
                </li>
            </ul>
        </div>
        <div class="header-link-contain nopadding">
            <div class="col-xs-12 col-sm-7 col-md-8 header-link nopadding pull-right display-flex">
                <div class="col-lg-5 col-md-5 col-sm-2 col-xs-12 searchbox">
                    <div id="search-results" class="Search-box collapse">
                        <!--Search Widget-->
                        <z-widget><div class="search-panel-widget">@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</div></z-widget>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-xs-12 header-login hidden-xs">
                    <ul>
                        <li>
                            <a href="/Home/storeLocator" title="Find a store"><img src="~/Views/Themes/Default/Images/find-a-store.png" data-src="~/Views/Themes/Default/Images/find-a-store.png" alt="findstore" /> <span class="storeName"> Locate A Store</span></a>
                        </li>
                        <li>
                            <span class="loginStatus">
                                @if (isCloudflareEnabled)
                                {
                                    <span>Loading..</span>
                                }
                                else
                                {

                                    @Html.Action("LoginStatus", "User")
                                }
                            </span>
                        </li>
                        <li class="cart-icon">
                            <a href='/cart' title="Cart">@Html.RenderMessage("MessageConfig")<img src="~/Views/Themes/Default/Images/shopping-bag.png" data-src="~/Views/Themes/Default/Images/shopping-bag.png" alt="bag" /><span class='cartcount' data-test-selector="linkCartCount"></span> <span class="hidden-xs">BAG</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Contactless Curbside Info / Genral Info-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-xs-12 margin-top nopadding">
            <div class="col-xs-12 col-lg-3 background-secondary hidden-xs hidden-md hidden-sm" style="right:5px;">
                <!--Store Safety Info-->
                @Html.RenderMessage("TopHeaderGenralInfo1")
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 background-primary">
                <!--Promotion Text Info-->
                @Html.RenderMessage("TopHeaderGenralInfo2")
            </div>
            <div class="col-xs-12 col-lg-3 background-secondary background-secondary-image hidden-xs hidden-md hidden-sm" style="left:5px;">
                <!--Contactless Curbside Pickup Info-->
                @Html.RenderMessage("TopHeaderGenralInfo3")
            </div>
        </div>

    </div>
</div>

<div class="header-nav-container">
    <div class="container-fluid">
        <div class="row">
            <!--Navigation Widget-->
            <z-widget>@Html.WidgetPartial("TopLevelNavigation", "TopLevelNavigation", "104", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
        </div>
    </div>
</div>
@*Nivicode For Locate A Store*@
<input type="hidden" id="hdnIPAddress" value="@res" />
@Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)
@Html.Hidden("gocoderGoogleAPI", ZnodeWebstoreSettings.ZnodeGocoderGoogleAPI)
@Html.Hidden("gocoderGoogleAPIKey", ZnodeWebstoreSettings.ZnodeGoogleMapKey)
<script async defer src="@ZnodeWebstoreSettings.ZnodeGoogleAPIDomainKey/maps/api/js?key=@(ZnodeWebstoreSettings.ZnodeGoogleMapKey)&v=3&libraries=geometry" type="text/javascript"></script>
<script src="~/Scripts/Custom/InStorePickUp.js"></script>
<script>
    $.ajax({ url: "/Home/GetCartCount", type: "get", cache: false }).done(function (t) { $(".cartcount").html(t); });
    if ('@isCloudflareEnabled' == 'True')
    {
        $.ajax({ url: "/User/LoginStatus", type: "get", cache: false  }).done(function(t) { $(".loginStatus").html(t); });
    }
    /*Nivi Code to Automatically set store, nearest to user IP location, as default*/
    $.ajax(
        {
            url: "/RSHome/GetStoreName",
            type: "get",
            headers: { "cache-control": "no-cache", "Pragma": "no-cache" }
        }
    ).done
        (function (t) {
            if (t != "Locate A Store") {
                $(".storeName").html(t); $("#StoreNameShowMobile").html(t);
                $("#StoreNameShowMobile").attr('title', t);
                $("#MyStore").attr('title', t);
            }
            else {
                //alert("else");
                InStorePickUp.prototype.GetLocation('Header');
            }

        });
    /*Nivi Code end*/
</script>

