﻿@model Znode.Engine.WebStore.ViewModels.WidgetProductListViewModel
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}


@if (!Equals(Model, null) && Model.CMSMode)
{
    if (Model.IsEmpty)
    {
        <div class="col-xs-12 nopadding cms-icon-container">
            <img src="@_fileLocation/Images/product-list.png" alt="New Product" class="img-responsive cms-img-icon" />
        </div>
    }
}
        <div class="product-list-widget">
            @if (!Equals(Model?.Products, null))
            {
                string _id = string.Empty;
                if (Model.Products.Count > 0 && Model.DisplayName == "NewArrival")
                {
                    @*<h3 class="product-list-title" data-test-selector="lblNewArrivalHeading">@Html.RenderMessage(WebStoreConstants.NewArrival)</h3>*@
                    _id = $"Product_List_Widget{1}";
                }
                else if (Model.Products.Count > 0 && Model.DisplayName == "HomePageSpecial")
                {
                    <h3 class="product-list-title" data-test-selector="lblBestSellerTitle">@Html.RenderMessage("test2")</h3>
                    <h3 class="product-list-title" data-test-selector="lblBestSellerTitle">@Html.RenderMessage(WebStoreConstants.BestSellersTitle)</h3>
                    _id = $"Product_List_Widget{2}";
                }
                else if (Model.Products.Count > 0 && Model.DisplayName == "RecommendedProducts")
                {
                    //To show title for product recommendation widget.
                    <h3 class="product-list-title" data-test-selector="lblRecommendedProductsTitle">@Html.RenderMessage(WebStoreConstants.RecommendedProductsTitle)</h3>
                    _id = $"Product_List_Widget{3}";
                }
                _id = string.IsNullOrEmpty(_id) ? "Product_List_Widget" : _id;
                bool navigationFlag = Model.Products.Count > 5 ? true : false;
                <div class="owl-carousel Product_List_Widget" id="@_id">
                    @{
                        if (Model.Products.Count > 0)
                        {
                            foreach (var p in Model.Products)
                            {
                                if (!string.IsNullOrEmpty(p.ProductViewModel?.Name))
                                {
                                    @Html.Partial("_ProductTitleHome", p)
                                }
                            }
                        }
                    }
                </div>

                <script>
           var enableNavigation = true;
            if ($(window).width() > 1023) {
                enableNavigation = @navigationFlag.ToString().ToLower();
            }
            console.log(enableNavigation);

                $("#@_id").owlCarousel({
                    autoPlay: false,
                    navigation: enableNavigation,
                    mouseDrag: false,
                    itemsCustom: [
                      [0, 1],
                      [320, 1],
                      [480, 2],
                      [600, 2],
                      [768, 2],
                      [992, 3],
                      [1200, 5],
                      [1500, 5],
                      [1800, 6]
                    ],
                    navigationText: [
                      "<i class='zf-arrow-left-big'></i>",
                      "<i class='zf-arrow-right-big'></i>"
                    ]
                });
                </script>
            }

            <script>
    $(document).ready(function () {
        var async = '@Helper.IsAsyncPrice';
        if (async == 'True') {
            Product.prototype.GetPriceAsync();
        }
    })
            </script>
        </div>

