﻿@import "../_base.scss";

// Button
.btn {
    border-radius: 16px !important;
}
.btn-width-100 {
    width: 100% !important;
}
.btn-addtocart i{display:none;}
.Btn-link{border: 2px solid $base-color-black;padding: 15px!important; width: 100%!important;border-radius: 60px;text-transform: uppercase;}
.btn-text {
    @include btn-text;

    font: {
        size: 14px;
        weight: $base-font-bold;
    }

    padding: 0 10px;
    margin-left: 0px;
    height: 34px;
    line-height: 34px;

    &:hover, &:focus, &:active {
        color: $base-color-white!important;
    }
}
.btn-text-icon{
    @include btn-text;
    font:{ 
      size:14px;
      weight:$base-font-bold;
   }
   padding:0 15px 1px 10px;height:45px;line-height:45px;margin-left:5px;
   &:hover,&:focus,&:active{color:$base-color-white!important;}
   i{padding-right:5px;font-size:$base-font-size + 3;line-height:45px;float:left; }
}
.btn-text-full{
    @include btn-text;
    font:{ 
      size:16px;
      family:$base-font-family-semibold;
   }
   width:100%;padding:0 15px 1px 10px;height:45px;line-height:45px;
   &:hover,&:focus,&:active{color:$base-color-white!important;}
   i{float: left;font-size:28px;line-height:45px;padding-right:10px;border-right: 1px solid $border-bgcolor-default;}
}
.btn-card {
    @include btn-text;
    font-size:13px;padding:0 15px 0 10px;line-height:34px;
    &:hover,&:focus,&:active{color:$base-color-white!important;}
    i{padding-right:5px;font-size:$base-font-size + 3;line-height:30px;float:left;}
}
.btn-wishlist {
    @include btn-text;
    background-color:$base-color-white;color:$base-color-black;font-size:$base-font-size;padding:0 5px 0px 5px; margin:0 0 5px;cursor:pointer;text-transform: uppercase;
    &:hover,&:focus,&:active{color:$anchor-tag-fgcolor-hover;text-decoration:underline;}
    i{padding:5px;font-size:$base-font-size;line-height:14px;float: left;color:$base-color-primary;margin-right:5px;border-radius:50px;border:1px solid;}
}
.btn-margin-left{margin-left:0;}

.red,.btn-bg-primary {background: $base-bgcolor-button-primary;border-radius:50px;width:auto;min-width: 174px;height:45px;text-transform:uppercase;line-height:45px;font-size:17px;font-family:$base-font-family-bold;letter-spacing:1.77px;padding: 0px 20px 0px 20px; }
.grey,.btn-bg-secondary {background: $base-bgcolor-button-secondary;border-radius:50px;width:auto;min-width: 165px;height:45px;text-transform:uppercase;line-height:45px;font-size:17px;font-family:$base-font-family-bold;letter-spacing:1.77px;padding: 0px 20px 0px 20px;
                         &:hover{text-decoration:none;}
}
.btn-bg-white {font-size: 14px!important;font-family: $base-font-family!important;letter-spacing: 0.42px;height: 44px;border: 1px solid $base-color-black;text-align: center;text-transform: uppercase;line-height: 24px!important;border-radius:0px!important;}
.btn-bg-red {font-size: 14px!important;font-family: $base-font-family!important;letter-spacing: 0.42px;height: 44px;border: 1px solid $base-color-primary;text-align: center;text-transform: uppercase;line-height: 24px!important; padding: 10px 20px;color:$base-color-primary;border-radius:0px!important;}
.btn-thankyou{background: $base-bgcolor-button-secondary;border-radius:50px;min-width: 165px;height:45px;text-transform:uppercase;line-height:45px;font-size:17px;font-family:$base-font-family-bold;letter-spacing:1.77px;padding: 0px 20px 0px 20px;margin-top:85px;width:30%;text-decoration:none!important;}



.cms-configure-btn-custom { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.btn-text-secondary-custom { background-color: #5db043 !important; border: none; color: #fff; }

.widget-cms-button-container-center { position: absolute; z-index: 10000; text-align: center; }

.widget-cms-overlay-custom { position: absolute; z-index: 9999; background-color: black; opacity: 0.3; border: 1px solid white; }

.cms-img-icon-custom { z-index: 9999; margin: auto; max-width: 120px; top: -10px; position: relative; }

.cms-img-icon { z-index: 0; }

// Media Query.
@include screensize(x-small) {
    .btn-thankyou{width: 100%;margin-top: 10px;margin-bottom: 15px;}
    .grey, .btn-bg-secondary,.red, .btn-bg-primary{font-size:$base-font-size - 1;}
}

@include screensize(small) {
    .btn-thankyou{width: 30%;margin-top: 85px;}
    .grey, .btn-bg-secondary,.red, .btn-bg-primary{font-size:$base-font-size + 3;}
}

@include screensize(medium){
    .grey, .btn-bg-secondary,.red, .btn-bg-primary{font-size:$base-font-size - 1;}
}
@include screensize(desktop) {
    .grey, .btn-bg-secondary,.red, .btn-bg-primary{font-size:$base-font-size + 3;}
}