﻿@import "../_base.scss";

// Filter Component Section.
.filter-component{position:relative;display:block;min-height:45px;padding:8px 0;background-color:$footer-bgcolor;line-height:26px;margin-bottom:15px;border:1px solid #dfdfdf;
        .manage-filter{float:left;min-width:140px;border-right:1px solid $border-bgcolor-default;padding:9px 0;background:#f1e8e8;
            a{background-color:transparent;border:0;font-family:$base-font-family;color:$text-fgcolor-default;padding:0 20px;}
            .dropdown-search .right-inner-icon i{line-height:7px;}
            .z-down{font-size:$base-font-size + 1;padding-left:5px;vertical-align:sub;}
        }
        .filter-close{position:absolute;right:0;top:-12px;right:-8px;font-size:$base-font-size + 5;color:$base-color-secondary;}
        .filter-item-content{padding:8px 0;float:left;}
        .filter-option{position:relative;
            .popover.bottom > .arrow::after{border-bottom-color:#f6f6f6;}            
            .popover,.popover-content{border-radius:0;background-color:#f6f6f6;max-width:none;min-width:285px;}
            .parent-content-popover{
                select{min-width:40px;border-radius:0;height:24px;}
                input[type='text']{border-radius:0;border-right:0;height:24px;}
                button{margin-left:0;border-top-left-radius:0;border-bottom-left-radius:0;}
                &:after {content:""; display:block; clear:both;}
            }
            .btn-dropdown{display:inline-block;border-radius:2px;font-size:12px;font-weight:normal;margin:2px 5px;padding:0 10px;height:24px;line-height:21px;text-transform:capitalize;background-color:$base-color-white;color:$text-fgcolor-default;text-align:left;border:1px solid $border-bgcolor-default;
                  &:hover,&:focus,&:active{color:$base-color-secondary;}
                  span{padding:0;}
                  .z-down{font-size:18px;padding-left:2px;color:$base-color-black;vertical-align:sub;}
            }
            .option-close i{position:absolute;top:-5px;font-size:$base-font-size + 1;cursor:pointer;right:-2px;}
            button.btn-text{height:24px;line-height:24px;}
            .filter-search-btn{background-color:$base-color-white;height:24px;border-left:0;border-bottom:1px solid $border-bgcolor-default;border-right:1px solid $border-bgcolor-default;border-top:1px solid $border-bgcolor-default;line-height:24px;color:$base-color-primary;outline: medium none !important;padding:0 6px;}
        }         
}

/*IE11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .filter-component .filter-option .popover, .filter-component .filter-option .popover-content {min-width:289px;}
}