﻿@import "../_base.scss";

// Input Field
input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    @include input-field;
    height: 59px;
    font-size:16px;
    padding-left:15px;
    padding-right:15px;
    letter-spacing:.48px;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    border: 1px solid #001847;
    text-transform:none;
}

input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder, input[type="number"]::placeholder {
    color: $base-color-black;
}
textarea::placeholder {
    color: $base-color-black;
}
/*.asterisk_input:after {
    content: " *";
    color: red;
    position: absolute;
    margin: 5px 0px 0px -20px;
    font-size: 17px;
    padding: 0 5px 0 0;
}*/


input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}
textarea {
  @include input-field;
  resize: none;overflow-y: auto;border-radius:0px;padding:10px;
  text-transform:uppercase;
}

html input[disabled], html select[disabled], html textarea[disabled], html input[readonly], html select[readonly], html textarea[readonly]{cursor: not-allowed;background-color:#efefef;}
button[disabled]{cursor: not-allowed;opacity:0.3;}
.disable-anchor{color:#ddd;cursor:not-allowed;opacity:0.3;pointer-events:none;}
.disable-radio{color:#ddd;cursor:not-allowed;pointer-events:none;}

// Input Fields With Inner Icons
.left-inner-icon {position:relative; 
    input {padding-left:60px;text-transform:uppercase;}
    i {position:absolute;padding:8px 5px;height:34px;pointer-events: none;top:0;color:$base-color-secondary;line-height:4px;}
}
.right-inner-icon {position:relative; 
    input {padding-right:36px;}
    i {position: absolute;right:0;top:0;padding:9px 10px;height:34px;pointer-events:none;color:$base-color-secondary;line-height:4px;}
}
@include screensize(x-small) {
   .left-inner-icon {
       i{display:none;}
        input {padding-left:15px;text-transform:uppercase;margin-top:15px;}
    }
}
@include screensize(medium) {
   .left-inner-icon {
       i{display:none;}
    input {padding-left:15px;text-transform:uppercase;}
    }
}

@include screensize(desktop) {
    .left-inner-icon {
        i{display:block;}
    input {padding-left:45px;text-transform:uppercase;margin-top:0px;}
    }
}
@include screensize(x-large) {
    .left-inner-icon {
    input {padding-left:60px;text-transform:uppercase;}
    }
}
@include screensize(xx-large) {
    .left-inner-icon {
    input {padding-left:60px;text-transform:uppercase;}
    }
}