﻿@using Znode.Engine.WebStore.Agents
@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    string productSku = Model.SKU;
    string seoTitle = string.IsNullOrEmpty(Model.SEOTitle) ? PortalAgent.CurrentPortal.WebsiteTitle : Model.SEOTitle;
    //NiVi Code//
    var Brand = "";
    var PDPBrandSEOUrl = "";
    Brand = Model.Attributes?.SelectAttributeList("Brand")?.FirstOrDefault()?.Value;
    PDPBrandSEOUrl = Model.Attributes?.Value("PDPBrandSEOUrl");
    if (PDPBrandSEOUrl == null)
    {
        PDPBrandSEOUrl = "#";
    }
}
<div id="loaderId"></div>
<div id="layout-product" class="main-wrapper product-meta big-view-template" data-id="@productId" data-sku="@productSku">

    <div class="container-fluid">
        <div class="margin-top hidden-xs">
            <!-- Breadcrumb -->
            <div data-test-selector="divBreadCrumb" id="breadCrumb" class="breadcrumb-container"></div>
        </div>
        <div class="product-view-details margin-top">
            <div class="row">
                <div class="col-xs-12 col-xs-12 nopadding">
                    <div class="col-xs-12 col-md-7 col-lg-7 product-images pdp-left-width mobile-nopadding">
                        <!--Mobile View Product Name Title and Brand Link-->
                        <div class="mobile-pdp">
                            <!--Brand Link-->
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-lg-12 nopadding shopallbrand"><a href="@PDPBrandSEOUrl" title="Shop All @Brand">Shop All @Brand</a></div>
                            </div>
                            <!--Product Name-->
                            <div class="col-xs-12">
                                <h3 data-test-selector="hdgProductName" class="product-name">@Html.RenderBlock(Model.Name)</h3>
                            </div>
                        </div>
                        <!--Get Product Images-->
                        @Html.Partial("_ProductImage", Model)
                    </div>
                    <!--Get Product details like short decription and higlights-->
                    <div class="col-xs-12 col-md-5 col-lg-5 product-overview pdp-right-width">
                        @Html.Partial("_ProductOverview", Model)
                        @Html.Partial("_ProductInfo", Model)
                        <!--Get Product content like features and cutomer reviews-->
                        <div class="hidden-xs">@Html.Partial("_ProductContent", Model)</div>
                        <div class="hidden-lg hidden-md hidden-sm visible-xs">@Html.Partial("_ProductContentMobile", Model)</div>
                    </div>
                </div>
            </div>



            <div class="col-xs-12 nopadding">
                <div class="product-extras">
                    @Html.Partial("_ProductExtras", Model)
                </div>
            </div>

            <!--Reviews-->
            @if (Model.ProductReviews?.Count > 0)
            {
                <div class="col-xs-12 nopadding all-reviews-pdp hidden-xs" id="scrollReview">
                    <div class="col-xs-12 nopadding">
                        <h4>@WebStore_Resources.TextCustomerReviews</h4>
                        <div data-test-selector="divReviewDescription" id="product-review-container">
                            @Html.Partial("_ProductReviews", Model.ProductReviews)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @Html.Hidden("categoryIds", string.Join(",", Model.ZnodeProductCategoryIds), new { @id = "categoryIds" })
    <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>
</div>
@Html.Partial("~/Views/Shared/Enhanced Ecommerce/_PDPTracking.cshtml", Model.GetEcommerceDetailsOfProduct())
<!--Template Level Script-->
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleGallery.js")"></script>
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleLens.js")"></script>
<script>
    $(document).ready(function () {
        $('title').html("@seoTitle");
        $('meta[name="keywords"]').prop("content", "@Html.RenderBlock(Model.SEOKeywords)");
        $('meta[name="description"]').prop("content", "@Html.RenderBlock(Model.SEODescription)");
    });
</script>

<script>
    $(document).ready(function () {
        if (window.outerWidth > 600) {

            $("#alt-images .owl-wrapper .owl-item .item").removeAttr("data-toggle").removeAttr("data-target");
            //$("#owl-demoImage .owl-wrapper .owl-item .item a img:last-child").removeAttr("class");
        }
        if (window.innerWidth < 600) {
            $("#alt-images .owl-wrapper .owl-item .item").attr('data-toggle', 'modal');
            $("#alt-images .owl-wrapper .owl-item .item").attr('data-target', '#myModal');

            //$("#owl-demoImage .owl-wrapper .owl-item .item a img:last-child").removeAttr("class");
        }
    });
    if (navigator.userAgent.match(/(iPad)/i)) {
        $("#carousel-bounding-box .slide .item").removeAttr("data-toggle").removeAttr("data-target");
    }
</script>

<!--Using For Move to error msg -->
<script async>
    $(".btn-addtocart").click(function () {
        if ($("#SizeError").is(":visible")) {
            $('html, body').animate({
                scrollTop: $("#SizeError").offset().top
            }, 1000);
        }
        if ($("#WidthError").is(":visible")) {
            $('html, body').animate({
                scrollTop: $("#WidthError").offset().top
            }, 1000);
        }
    });
</script>
<!--Using For Back Arrow -->
<!--Product Zoom Effect-->
<script src="~/Views/Themes/RoganShoesNew/Scripts/lib/CustomizeJS/PDP.js" async></script>
<script src="~/Views/Themes/RoganShoesNew/Scripts/lib/newjquery.zoom.js" async></script>

@Html.Partial("../Schema/_ProductSchema", Model)

@* Klaviyo Changes (Uncommnet on staging and Production)*@
@*<script type="text/javascript">
        var _learnq = _learnq || [];
        var LinkedItem = [];
        $(".product-item-hidden").each(function () {
            var lnkitem = {};
            lnkitem["SKU"] = $(this).find('.hdnlnksku').val();
            lnkitem["ProductName"] = $(this).find('.hdnlnkProductName').val();
            lnkitem["ItemPrice"] = $(this).find('.hdnlnkUnitPrice').val();
            lnkitem["ProductURL"] = $(this).find('.hdnlnkProductURL').val();
            lnkitem["ImageURL"] = $(this).find('.hdnlnkImageURL').val();
            console.log(lnkitem);
            LinkedItem.push(lnkitem);
        });

        var item = {
            "ProductName": $("#PName").val(),
            "SKU": $("#sku").val(),
            "URL": window.location.href,
            "ImageURL": $("#ProductImage").val(),
            "Brand": $("#Brand").val(),
            "Gender": $("#Gender").val(),
            "Price": $("#PUnitPrice").val(),
            "StarRating": $("#PStarRating").val(),
            "LinkedItem": LinkedItem
        };
        _learnq.push(["track", "Viewed Product", item]);


    </script>*@