﻿@using Znode.Engine.WebStore.Agents
@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    string productSku = Model.SKU;
    string seoTitle = string.IsNullOrEmpty(Model.SEOTitle) ? PortalAgent.CurrentPortal.WebsiteTitle : Model.SEOTitle;
}

<div id="layout-product" class="main-wrapper product-meta big-view-template ProductDetailsSection clearfix" data-id="@productId" data-sku="@productSku">
    <div class="container">
        <!-- Breadcrumb -->
        <div data-test-selector="divBreadCrumb" id="breadCrumb" class="breadcrumb-container breadcrumb-height"></div>
    </div>
    <div class="container">
        <div id="ProductDetail" class="nopadding">
            <div class="product-view-details MainProductBlock clearfix" id="section-to-print">
                <div class="row">

                    <div class="col-md-12 col-xs-12">
                        <!--Get Product Images hidden in Mobile View-->
                        <div class="col-xs-12 col-md-7 margin-top nopadding-left product-images LeftColumn mobile-hidden" id="ProductImagedesktop">
                            <div class="col-lg-12 col-xs-12 nopadding" id="ProductImagemain">
                                <span>@Html.Partial("_ProductImage", Model)</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 nopadding-potrait nopadding-mobile margin-bottom hidden-print" id="ShareButtonsmain">
                                <div class="Socail-Icon">
                                    <!-- AddThis font awesome icons,Email,Wishlist,Print BEGIN -->
                                    <div class="col-xs-12 nopadding margin-bottom">
                                        @Html.RenderMessage("SocialMediaIcons")
                                        @Html.Partial("_AddToWishList", Model)
                                        @*//Nivi Comment//*@
                                        <div class="col-xs-12 nopadding wishlist-status text-right"><a id="accountWishList" href="" class=""><span class="hidden">WishList</span></a></div>
                                    </div>
                                    <!-- AddThis Button,Email,Wishlist,Print END -->
                                </div>
                            </div>
                        </div>
                        <!--Get Product details like short decription and higlights-->
                        <div class="col-xs-12 col-md-5 nopadding product-overview RightColumn">
                            @Html.Partial("_ProductOverview", Model)
                            <span id="ProductImagemobile"></span>
                            @Html.Partial("_ProductInfo", Model)
                            <span id="ShareButtonsmobile"></span>
                        </div>

                        <!--Get Product content like features and cutomer reviews-->
                        @Html.Partial("_ProductContent", Model)
                        <div class="col-xs-12 nopadding">
                            <div class="product-extras">
                                @Html.Partial("_ProductExtras", Model)
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>

    @Html.Hidden("categoryIds", string.Join(",", Model.ZnodeProductCategoryIds), new { @id = "categoryIds" })
    <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>


    <div class="hidestickybar hidden" style="display:none" data-id="stickyBar">
        <div class="wcn-static-bar sticky-bar">
            <div class="container">
                <div class="col-lg-12 nopadding">
                    <div class="col-xs-11 col-sm-7 col-lg-7 col-ms-7 nopadding wcn-padding wcn-product-info">
                        <div class="pull-left padding-right">
                            <i class="zf-active"></i>
                        </div>
                        <div class="image">
                            <img src="" data-src="" class="img-responsive" alt="@Html.RenderBlock(Model.Name)" title="@Html.RenderBlock(Model.Name)">
                        </div>
                        <div class="wcn-product-detail">
                            <div class="padding-left-10 nopadding-right-10"><span class="addtocart-label"></span></div>

                            <div class="padding-left-10 nopadding-right-10"><span class="sku-label stickProductSKU"></span></div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-5 col-lg-5 col-md-5 nopadding wcn-product-info wcn-padding wcn-product-info-btn">
                        <button type="submit" onclick="window.location.href='/Cart/Index'" class="btn btn-primary margin-bottom-10 margin-top-10 pull-right" title="Cart">Cart</button>
                        @*<a data-test-selector="linkCheckout" href="/Checkout/Index" class="btn btn-primary margin-bottom-10 btn-color-yellow pull-right checkout-btn" id="checkOut-link" onclick="return Cart.prototype.ValidateProductQuantity();">@WebStore_Resources.ButtonCheckout</a>*@
                        <a data-test-selector="linkCheckout" href="javascript:void(0)" class="btn btn-primary margin-bottom-10 btn-color-yellow pull-right checkout-btn" id="checkOut-link" onclick="return $('.hidestickybar').hide();">Continue Shopping</a>
                        <div class="close-btn sticky-btn" title="Close"><i class="zf-close-circle pull-right" onclick="return $('.hidestickybar').hide();"></i></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="hiddenProductReviewMetaTag" style="display:none"></div>

@Html.Partial("~/Views/Shared/Enhanced Ecommerce/_PDPTracking.cshtml", Model.GetEcommerceDetailsOfProduct())
@Html.Partial("../Schema/_ProductSchema", Model)

<!--Template Level Script added script in 932 upadte-->
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleGallery.js")"></script>
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleLens.js")"></script>
<script>
    $(document).ready(function () {
        @* document.title = "@Html.RenderBlock(Model.SEOTitle)";*@
        $('title').prop("html", "@seoTitle");
        $('meta[name="keywords"]').prop("content", "@Html.RenderBlock(Model.SEOKeywords)");
        $('meta[name="description"]').prop("content", "@Html.RenderBlock(Model.SEODescription)");
    });
</script>
<!--Product Zoom Effect added script in 932 upadte-->
@*<script>
        $('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery(
            { show_event: 'click' }
        );
        $('#ImageZoom .simpleLens-big-image').simpleLens(
            { open_lens_event: 'click' }
        );
    </script>*@


<script src="~/Views/Themes/RogansShoes/Scripts/lib/CustomizeJS/PDP.js" async></script>
<script src="~/Views/Themes/RogansShoes/Scripts/lib/newjquery.zoom.js" async></script>

<!--Script for _ProductImage.cshtml and Socail Media Icons partial view-->
<script>
    $(document).ready(function () { screen.width > 600 ? $("#ProductImagedesktop").append($("#ProductImagemain")) : $("#ProductImagemobile").append($("#ProductImagemain")) });
    $(document).ready(function () { screen.width > 600 ? $("#ProductImagedesktop").append($("#ShareButtonsmain")) : $("#ShareButtonsmobile").append($("#ShareButtonsmain")) });
</script>

<script>
    $(document).ready(function () {
        if (window.outerWidth > 600) {

            $("#alt-images .owl-wrapper .owl-item .item").removeAttr("data-toggle").removeAttr("data-target");
            //$("#owl-demoImage .owl-wrapper .owl-item .item a img:last-child").removeAttr("class");
        }
        if (window.innerWidth < 600) {
            $("#alt-images .owl-wrapper .owl-item .item").attr('data-toggle', 'modal');
            $("#alt-images .owl-wrapper .owl-item .item").attr('data-target', '#myModal');

            //$("#owl-demoImage .owl-wrapper .owl-item .item a img:last-child").removeAttr("class");
        }
    });
    if (navigator.userAgent.match(/(iPad)/i)) {
        $("#carousel-bounding-box .slide .item").removeAttr("data-toggle").removeAttr("data-target");
    }
</script>

<!--Using For Move to error msg -->
<script async>
    $(".addtocartText").click(function () {
        if ($("#SizeError").is(":visible")) {
            $('html, body').animate({
                scrollTop: $("#SizeError").offset().top
            }, 1000);
        }
        if ($("#WidthError").is(":visible")) {
            $('html, body').animate({
                scrollTop: $("#WidthError").offset().top
            }, 1000);
        }
    });
</script>
<!--Using For Back Arrow -->

<script>
    if (!!window.performance && window.performance.navigation.type === 2) { // value 2 means "The page was accessed by navigating into the history"
        console.log('Reloading');
        //window.location.reload();
        // reload whole page $('iframe').attr('src', function(i, val) { return val; });
        // reload only iframes
    }
    window.onpageshow = function (event) {
        if (event.persisted) { window.location.reload() }
    };
</script>
@* Klaviyo Changes- ViewedProduct script *@
<script type="text/javascript">
    var _learnq = _learnq || [];
    var LinkedItem = [];
    $(".product-item-hidden").each(function () {
        var lnkitem = {};
        lnkitem["SKU"] = $(this).find('.hdnlnksku').val();
        lnkitem["ProductName"] = $(this).find('.hdnlnkProductName').val();
        lnkitem["ItemPrice"] = $(this).find('.hdnlnkUnitPrice').val();
        lnkitem["ProductURL"] = $(this).find('.hdnlnkProductURL').val();
        lnkitem["ImageURL"] = $(this).find('.hdnlnkImageURL').val();
        console.log(lnkitem);
        LinkedItem.push(lnkitem);
    });
    var item = {
        "ProductName": $("#PName").val(),
        "SKU": $("#sku").val(),
        "URL": window.location.href,
        "ImageURL": $("#ProductImage").val(),
        "Brand": $("#Brand").val(),
        "Gender": $("#Gender").val(),
        "Category": $("#Category").val(),
        "Price": $("#PUnitPrice").val(),
        "StarRating": $("#PStarRating").val(),
        "LinkedItem": LinkedItem
    };
   // _learnq.push(["track", "Viewed Product", item]);


</script>