﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model CartViewModel
@{
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.ShoppingCartItems.Any(x => !x.IsAllowedTerritories) ? "" : "display:none" : "";
    List<CartItemViewModel> cartItemViewModel = Model.ShoppingCartItems?.AsEnumerable().Reverse().ToList();
    string disablebutton = (Model.IsLevelApprovedOrRejected
                          && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase)
                          && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.ORDERED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                          ? "disabled='disabled'" : "";

    //This encrypted total value is being used by Payflow payment ONLY.
    string encryptedOrderTotal = Helper.GetEncryptedValue(Convert.ToString(Model.Total));
    List<CartItemViewModel> _shipItems = Model.ShoppingCartItems?.Where(x => x.Custom1 == "").ToList();
    List<CartItemViewModel> _pickItems = Model.ShoppingCartItems?.Where(x => x.Custom1 != "").ToList();
    string storename = _pickItems?.FirstOrDefault()?.Custom2;
    string storeaddress = _pickItems?.FirstOrDefault()?.Custom3;
    /*Nivi code start*/
    string shipmethod = _shipItems?.FirstOrDefault()?.Custom4;
    /*Nivi code end*/
}
@if (_pickItems?.Count == Model?.ShoppingCartItems?.Count)
{
    @Html.Hidden("AllItemsPickup", true);
}
<div class="shopping-cart">
    

    <div class="col-xs-12 chk-section nopadding">
        <div class="head-text">
            <h2 data-test-selector="hdnOrderSummaryTitle">
                @if (Model.IsQuoteRequest)
                {
                    @WebStore_Resources.HeadingQuoteSummary
                }
                else
                {
                   @Html.RenderMessage("CheckoutReviewOrder")
                }
                <a class="visible-xs pull-right" data-toggle="collapse" data-target="#narrow-results"><i class="zf-arrow-down-small downarrow"></i></a>
            </h2>
            @if (_pickItems?.Count > 0)
            {
                <div class="col-xs-12 col-sm-12 nopadding margin-bottom">
                    <h4 class="Desktop-storename">
                        CURBSIDE PICKUP
                        <br /><span class="storename">@storename</span>
                    </h4>

                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <p class="margin-bottom">Who will be picking this up?</p>
                        <div class="col-lg-12 nopadding styled-input margin-bottom-5">
                            <input type="radio" id="Me" name="whopickup" checked="checked" value="Me" />
                            <label for="Me" class="set-radio-btn" title="Me">Me</label>
                        </div>
                        <div class="col-lg-12 nopadding styled-input">
                            <input type="radio" id="SomeoneElse" name="whopickup" value="Someoneelse" />
                            <label for="SomeoneElse" class="set-radio-btn" title="Someone Else">Someone Else</label>
                        </div>

                        <div id="otherAnswer" class="col-lg-12 col-md-12 col-xs-12 nopadding margin-top LableForm" style="display:none;">
                            <div class="col-lg-12 col-md-12 col-xs-12 nopadding">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Custom1, new { @required = "required", @name = "Name", @title = "Name *", @id = "Custom1", @placeholder = "Name *" })
                                    <span id="error-name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Custom3, new { @required = "required", @name = "Phone", @title = "Phone *", @id = "Custom3", @placeholder = "Phone *", @maxlength = "12" })
                                    <span id="error-phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Custom2, new { @required = "required", @name = "Notifyme", @title = "Email *", @id = "Custom2", @placeholder = "Email *", })
                                    <span id="error-email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>*Notification will be sent to this email when order is ready</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            }
            @if (_shipItems?.Count > 0)
            {
                <h4>SHIP TO <span class="shipname"></span></h4>
            }
        </div>
        
        @*<div class="col-xs-12 nopadding cart-products">
            @if (Model.ShoppingCartItems?.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th style="@_displayRemoveLink"></th>
                            <th>@WebStore_Resources.LabelItem</th>
                            <th>@WebStore_Resources.LabelTierPrice</th>
                            <th>@WebStore_Resources.ColumnTitleQuantity</th>
                            <th>@WebStore_Resources.ColumnTitleTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                        {
                            @Html.Partial("../cart/_CartRow", cartItem)
                        }
                    </tbody>
                </table>
            }
        </div>*@

        <div class="narrow-results-cart collapse" id="narrow-results">
            <div class="col-xs-12 nopadding cart-products">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="@_displayRemoveLink"><span class="hidden">blank</span></th>
                            <th>@WebStore_Resources.LabelItem</th>
                            <th>@WebStore_Resources.LabelTierPrice</th>
                            <th>@WebStore_Resources.ColumnTitleQuantity</th>
                            <th>@WebStore_Resources.ColumnTitleTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                        {
                            cartItem.Control = "Checkout";
                            <span class="pickupsku" style="display:none">@cartItem.ConfigurableProductSKUs+@cartItem.ProductId</span>
                            @Html.Partial("../cart/_CartRow", cartItem)
                        }
                    </tbody>
                </table>
            </div>
        </div>
       

        <div class="col-xs-12 nopadding cart-summary">
            <div class="col-sm-offset-5 cart-total order-summary" id="summary-details">
                @Html.Partial("../_TotalTable", Model)
            </div>
        </div>
    </div>



    @if (!Model.IsQuoteRequest && Model.Permission)
    {
        if (Model.IsSinglePageCheckout)
        {
            @Html.Partial("../_ApplyCoupon", Model)
        }
    }


</div>
<div class="col-xs-12 nopadding addition-info-checkout mobile-padding-left-right">
    <div class="head-text">
        <h3 data-test-selector="hdgAdditionalInfoTitle">@WebStore_Resources.TitleAdditionalInfo</h3>
    </div>
    <div class="col-xs-12 nopadding form-group">
        <div class="col-xs-12 nopadding">
            <label class="hidden" for="AdditionalInstruction">@WebStore_Resources.TitleAdditionalInfo</label>
            @Html.TextAreaFor(model => model.AdditionalInstruction, new { maxlength = 500, rows = 5, @placeholder = "Write additional information here.", @title ="Additional Info" })
        </div>
    </div>
</div>

<div class="col-xs-12 nopadding accept-terms margin-top-bottom">
    <div class="col-lg-12 col-xs-12 nopadding">
        <h3 for="accept_name" class="HeaderStyle-SinglePage">@WebStore_Resources.TitleAcceptTermsandConditions</h3>
    </div>
    <div class="col-xs-12 nopadding TermsCond mobile-padding-left-right">
        <div class="filter-list">
            <p id="TermsandConditionError" class="error-msg" style="display:none;">Please Accept Terms and Conditions to proceed.</p>
            <div class="form-group styled-input margin-top">
                <input id="Agree" type="checkbox" class="FacetFilter">
                <label for="Agree"> @Html.RenderMessage("Accepttermsandconditions")</label>
            </div>
            <div class="form-group styled-input sendmail">
                <input id="Sendmail" type="checkbox" class="FacetFilter" checked="checked">
                <label for="Sendmail"> @Html.RenderMessage("AccepttermsandconditionsEmailText")</label>
            </div>
        </div>
        
    </div>
</div>

<div class="col-xs-12 nopadding quotebutton hide-in-amazon-checkout margin-bottom mobile-padding-left-right">
    @if (Model.IsQuoteRequest)
    {
        <button type="submit" onclick="Quote.prototype.SubmitQuote()" id="btnPlaceQuote" name="singleCheckoutSubmitPayment" class="btn-text btn-bg-secondary btn-width-100 btnPlaceQuote">
            @WebStore_Resources.ButtonSubmitQuote
        </button>
    }
    else if (Model.ShowPlaceOrderButton && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
    {
        <button type="submit" @disablebutton onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn-text btn-bg-secondary btn-width-100 btnCompleteCheckout" title="@WebStore_Resources.TextCompletePurchase">
            @if (Model.OmsQuoteId > 0)
            {
                if (!Model.IsLastApprover)
                {
                    @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                    @WebStore_Resources.LabelApproveAndPlaceOrder
                }
            }
            else
            {
                @WebStore_Resources.TextCompletePurchase
            }
        </button>
    }
    else if ((Model.ShowPlaceOrderButton || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase))) || (string.Equals(Model.ApprovalType, ZnodePortalApprovalsLevelEnum.Payment.ToString(), StringComparison.CurrentCultureIgnoreCase) && Model.EnableApprovalRouting))
    {
        string onclickFunction = (Model.OmsQuoteId > 0) ? "Checkout.prototype.SubmitForApproval()" : "Checkout.prototype.SubmitOrder()";
        <button type="submit" @disablebutton onclick="@onclickFunction" id="btnCompleteCheckout" name="singleCheckoutSubmitQuote" class="btn-text btn-bg-primary btn-width-100 btnCompleteCheckout" title="@WebStore_Resources.TextCompletePurchase">
            @if (Model.OmsQuoteId > 0)
            {
                if (!Model.IsLastApprover)
                {
                    @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                    @WebStore_Resources.LabelApproveAndPlaceOrder
                }
            }
            else
            {
                @WebStore_Resources.TextCompletePurchase
            }
        </button>
    }
    else if ((!Model.ShowPlaceOrderButton && (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase))) || (string.Equals(Model.ApprovalType, ZnodePortalApprovalsLevelEnum.Store.ToString(), StringComparison.CurrentCultureIgnoreCase) && Model.EnableApprovalRouting))
    {
        <button type="submit" @disablebutton onclick="Checkout.prototype.SubmitForApproval()" id="singleCheckoutSubmitQuote" name="singleCheckoutSubmitQuote" class="btn-text btn-bg-primary btn-width-100 singlecheckoutsubmitquote" title="@WebStore_Resources.TextCompletePurchase">
            @if (Model.OmsQuoteId > 0)
            {
                if (!Model.IsLastApprover)
                {
                    @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                    @WebStore_Resources.LabelApproveAndPlaceOrder
                }
            }
            else
            {
                @WebStore_Resources.ButtonSubmitForApproval
            }
        </button>
    }
    else
    {
        <button type="submit" @disablebutton onclick="SubmitOrderIfAgreeClicked()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn-text btn-bg-primary btn-width-100 btnCompleteCheckout" title="@WebStore_Resources.TextCompletePurchase">
            @*<a onclick="SubmitOrderIfAgreeClicked()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="Button checkoutButton" title="@WebStore_Resources.TextPlaceOrder" style="width:100%;"> @WebStore_Resources.TextPlaceOrder</a>*@
            @if (Model.OmsQuoteId > 0)
            {
                if (!Model.IsLastApprover)
                {
                    @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                    @WebStore_Resources.LabelApproveAndPlaceOrder
                }
            }
            else
            {
                @WebStore_Resources.TextCompletePurchase
            }
        </button>
    }
</div>
<!--Remote Sales Taxt Notice Msg-->
<div id="dvTaxDisclaimer" class="col-xs-12 nopadding text-justify" style="display:none;">
    @Html.RenderMessage("RemoteSalesTaxNotice")
</div>
@if (_shipItems?.Count > 0 && _pickItems?.Count > 0)
{
    @Html.Hidden("cartwithbothshippickup", true)
}
else
{
    @Html.Hidden("cartwithbothshippickup", false)
}
@Html.Hidden("shipmethod",@shipmethod)
@Html.HiddenFor(m => m.ErrorMessage, new { @id = "ShippingErrorMessage" })
@Html.HiddenFor(m => m.IsValidShippingSetting, new { @id = "ValidShippingSetting" })
@Html.HiddenFor(m => m.GiftCardMessage, new { @id = "cartGiftCardMessage" })
@Html.HiddenFor(m => m.GiftCardApplied, new { @id = "cartGiftCardApplied" })
@Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShipping" })
@Html.HiddenFor(m => m.IsLastApprover, new { @id = "hdnIsLastApprover" })
@Html.HiddenFor(m => m.IsLevelApprovedOrRejected, new { @id = "hdnIsLevelApprovedOrRejected" })
@Html.HiddenFor(m => m.OmsQuoteId)
<script>
    $(document).ready(function () {
        Checkout.prototype.ChangeCartReviewSequence();
        Checkout.prototype.ChangeSubmitOrderButtonText();
        /*Nivi code start*/
        $("#SomeoneElse").change(function () {
            "Someoneelse" == $(this).val() ? $("#otherAnswer").show() : ($("#otherAnswer").hide(), $("#Custom2").val(""), $("#Custom1").val(""), $("#Custom3").val(""))
        }), $("#Me").change(function () {
            "Me" == $(this).val() && ($("#otherAnswer").hide(), $("#Custom2").val(""), $("#Custom1").val(""), $("#Custom3").val(""))
        })
        $(".pickupsku").each(function () {
            var value = $(this).text();
              //alert("value=" + value);
            var arr = value.split('+');
            var productid = arr[1];
            var sku = arr[0];
           // alert("sku=" + sku);
            InStorePickUp.prototype.GetStockForCheckout(sku, productid);
        });

        /*Nivi code start for show city name and state*/
        if ($('#ShippingAddress option:selected').index() > 0) {
            var shipstatecity1 = " - (" + $(".address-citystate").attr("data-address-cityname") + ", " + $(".address-citystate").attr("data-address-statecode") + ")"; $(".shipname").text(shipstatecity1);
        }
        else {
            if ("SHIP" == $("#shipmethod").val() && 0 == $("#guestuser").val()) if ("" == $(".address-citystate").attr("data-address-cityname") && "" == $(".address-citystate").attr("data-address-statecode") || "" == $("#address_city").val()) $(".shipname").text(""); else { var shipstatecity = " - (" + $(".address-citystate").attr("data-address-cityname") + ", " + $(".address-citystate").attr("data-address-statecode") + ")"; $(".shipname").text(shipstatecity) } else if ("SHIP" == $("#shipmethod").val() && $("#guestuser").val() > 0) if ("" != $("#shipaddresscity").val() && "" != $("#shipaddressstate").val()) { shipstatecity = " - (" + $("#shipaddresscity").val() + ", " + $("#shipaddressstate").val() + ")"; $(".shipname").text(shipstatecity) } else if ("" == $(".shipname").val()) if ("" == $(".address-citystate").attr("data-address-cityname") && "" == $(".address-citystate").attr("data-address-statecode") || "" == $("#address_city").val()) $(".shipname").text(""); else { shipstatecity = " - (" + $(".address-citystate").attr("data-address-cityname") + ", " + $(".address-citystate").attr("data-address-statecode") + ")"; $(".shipname").text(shipstatecity) } else $(".shipname").text("");
        }
        /*Nivi code end for show city name and state*/
        /*Nivi code start for back button undefined value*/
        //if ($(".shipname").text() == " - (undefined, undefined)") { $(".shipname").text(""); }
        if ($(".shipname").text().indexOf("undefined") > -1) { $(".shipname").text(""); }
        /*Nivi code end for back button undefined value*/



    })

    $("#Custom3").keypress(function (e) {
        //alert("called");
        var keyCode = e.keyCode || e.which;

        $("#error-phone").html("");
        //alert($("#profile_PhoneNumber").val().length);
        if ($("#Custom3").val().length == 3 || $("#Custom3").val().length == 7) {
            $("#Custom3").val($("#Custom3").val() + '-');
        }
        //Regex for Valid Characters i.e. Numbers.
        var regex = /^[0-9]+$/;

        //Validate TextBox value against the Regex.
        var isValid = regex.test(String.fromCharCode(keyCode));
        //if (!isValid) {
        //    $("#phonenumbererror").html("Only Numbers allowed.");
        //}

        return isValid;
    });

    $("#hdnEncryptedTotalAmount").val('@encryptedOrderTotal');
</script>
@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        var data = @Html.RenderBlock(Json.Encode(Model.GetEcommerceCartItemsData()));
        function SendEcommerceDataForRemoveSingleCartItem(control, sku) {
            var dec = decodeURI(sku);
            $.each(data, function (v, e) {
                if (dec == e.SKU) {
                    GoogleAnalytics.prototype.SendRemoveFromCartsForSingleCartItem(e);
                }
            });
            $(control).closest('form').submit();
        }
    </script>
}