﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Newtonsoft.Json
@using Znode.Engine.WebStore.Agents
@using Newtonsoft.Json;
@model OrdersViewModel

@{
    int shippingId = 0;
    int count = 1;
    string imagePath = string.Empty;
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool isLoggedInUser = User.Identity.IsAuthenticated;
    var address = Model.BillingAddressHtml;
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = @_fileLocation + "/Views/Shared/_Layout-Checkout.cshtml";

}

@if (!Equals(Model, null))
{
    <div class="main-wrapper sp-accounts">
        <div class="container container-small">
            <div class="checkout-reciept margin-bottom">
                <div class="col-sm-12 col-lg-12 nopadding">
                    <div class="col-xs-12 col-lg-9">
                        <h1 data-test-selector="lblThanksMsg">Thank You For Your Purchase</h1>
                        @*<a class="receipt-print pull-right btn-bg-white btn-print" href="#" onclick="window.print();return false;"><span>@WebStore_Resources.TextPrint</span></a>*@
                        <p data-test-selector="lblOrderNoMsg">
                            Your order number is <b>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a data-test-selector="lblOrderNo" href="/User/OrderReceipt?OmsOrderId=@Model.OmsOrderId" class="sp-num">#@Model.OrderNumber</a>
                                }
                                else
                                {
                                    <span data-test-selector="lblOrderNo" class="sp-num">#@Model.OrderNumber</span>
                                }
                            </b>
                        </p>

                        <p data-test-selector="lblEmailReceiptMsg">
                            An email receipt has been sent to <b data-test-selector="lblReceiptEmail">@Model.EmailAddress</b>, please keep this email for your records.
                        </p>
                        <div class="print-none"><a href="/CaseRequest/customerfeedback">@WebStore_Resources.TextCustomerFeedback</a></div>

                        <div class="margin-top-bottom">
                            <a href="/" class="btn-text btn-bg-secondary btn-thankyou" data-test-selector="linkOrderReceiptContinue">Keep shopping</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-3 print-none">
                        @Html.RenderMessage("ThankYouPagePromoBanner")
                    </div>
                </div>
            </div>
            @Html.Hidden("portalId", portalId)
        </div>
    </div>
    @Html.Hidden("isLoggedInUser", isLoggedInUser)
}

@* To DO - Need to move in checkout.ts *@
<script>
    $(document).ready(function () {
        $(window).scrollTop(0);
        if ("@isLoggedInUser" == "False" && (typeof ArtifiAPI != 'undefined')) {
                ArtifiAPI.prototype.UpdateUserId(localStorage.getItem("UserId"), '@Model.UserId',@Model.PortalId);
            }
            if ("@address"=="") {
                window.location.href = document.location.origin + "/checkout/ordercheckoutreciept?omsorderid=" + @Model.OmsOrderId;
        }

        })
</script>
@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        $(document).ready(function () {
            // DataLayer creation of Purchase data and PUSH to GTM.
            GoogleAnalytics.prototype.SendEcommercePurchaseData(@Html.RenderBlock(Json.Encode(Model.GetEcommercePurchaseData())), '@PortalAgent.CurrentPortal.Name');
        });
    </script>
}