﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Helpers;
@model Znode.Engine.WebStore.ViewModels.CheckoutViewModel

@{
    /**/

    string _display = Convert.ToString(Request.QueryString["mode"]) == "guest" ? Model.UserId < 1 ? "display:block;" : "display:none;" : "display:none;";
    string _niviIsGuestUser = Convert.ToString(Request.QueryString["mode"]) == "guest" ? Model.UserId < 1 ? "GuestUser" : "UserLogin" : "UserLogin";
    bool enablePerOrderlimit = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableUserOrderLimit)?.AttributeValue);
    bool enableUserOrderAnnualLimit = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableUserOrderAnnualLimit)?.AttributeValue);
    UserViewModel userViewModel = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey);
    string cultureCode = PortalAgent.CurrentPortal.CultureCode;
    string perOrderLimitWithCurrency = HelperMethods.FormatPriceWithCurrency(userViewModel?.PerOrderLimit, cultureCode);
    string annualOrderLimitWithCurrency = HelperMethods.FormatPriceWithCurrency(userViewModel?.AnnualOrderLimit, cultureCode);
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool isRegistered = User.Identity.IsAuthenticated;
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = @_fileLocation + "/Views/Shared/_Layout-Checkout.cshtml";
    int guestuser = Model.UserId;
    //Klaviyo Changes
    string AppSessionId = Session.SessionID;//Convert.ToString(Session["ASP.NET_SessionId"]);
    string UNIXtime = Convert.ToString(DateTimeOffset.Now.ToUnixTimeSeconds());
    string EventId = AppSessionId + "_" + UNIXtime;
}
@*Klaviyo Changes*@
<input type="hidden" id="eventid" value="@EventId" />
<input type="hidden" id="hdnGuestUserMode" name="hdnGuestUserMode" value="@_niviIsGuestUser" />
<div id="divSinglePageCheckout" class="main-wrapper">
    <p id="InstoreWarning" class="notification-msg message-box alert-danger text-center" style="display:none;">Entire order must be SHIP or PICK UP in store</p>
    <div class="container container-small">
        <div class="row single-page-checkout">
            <div class="col-xs-12 nopadding mobile-padding-left-right">
                @if (Model.IsQuoteRequest)
                {
                    <h1 class="page-title" data-test-selector="lblCheckoutHeading">@WebStore_Resources.TitleQuoteRequest</h1>
                }
                else
                {
                    <h1 class="page-title" data-test-selector="lblCheckoutHeading">@WebStore_Resources.ButtonCheckout</h1>
                }
            </div>
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-md-6 col-lg-8 nopadding shipping-address">
                    <div class="col-xs-12 nopadding">
                        @{ Html.RenderAction("AccountAddress", "Checkout", new { isAddressFromSession = true });}
                    </div>
                    <div class="col-xs-12 nopadding checkout-box margin-bottom">
                        <h3 class="title">@WebStore_Resources.SinglePageCheckoutShippingMethod</h3>
                        <div class="row">
                            <div class="shipping-method col-sm-12 text-break" id="dvShippingOptions">
                                <div id="loaderId"></div>
                            </div>

                            <div class="margin-bottom margin-top col-sm-6 hidden">
                                <div class="inhand-shipping">
                                    <div class="col-xs-12 in-hand-block nopadding">
                                        <div class="control-label">
                                            <label data_test_selector="lblInHandDate">@WebStore_Resources.LabelInHandDate:</label>
                                        </div>
                                        <div class="hand-date-picker padding-left">
                                            <div class="right-inner-icon">
                                                <label class="hidden" for="InHandDate">InHand Date</label>
                                                @Html.TextBoxFor(model => model.InHandDate, Model?.InHandDate != null ? Model.InHandDate.ToDateTimeFormat() : string.Empty, new { @mindate = HelperMethods.GetDateTime(), @class = "datepicker", @group = "inhanddate", @data_date_format = HelperMethods.GetDateFormat(), @data_test_selector = "txtInHandDate" })
                                                <span class="zf-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></span>
                                            </div>
                                        </div>
                                    </div>

                                    @if (Model?.ShippingConstraints?.Count > 0)
                                    {
                                        var selectedShippingConstraint = Model.ShippingConstraints.FirstOrDefault(w => w.IsSelected == true);

                                        <div class="col-xs-12 nopadding shipping-constraints padding-top d-flex">
                                            <div class="padding-right" data-test-selector="divShippingConstraintCode">
                                                <label data_test_selector="lblShippingConstraintCode">@WebStore_Resources.LabelShippingConstraintsCode:</label>
                                                @*@Html.LabelFor(m => m.ShippingConstraintCode, new { @data_test_selector = "lblShippingConstraintCode" })*@
                                            </div>
                                            <div class="text-break">
                                                @for (int i = 0; i < Model.ShippingConstraints.Count; i++)
                                                {
                                                    <div class="styled-input" data-test-selector="div_@Model.ShippingConstraints[i].ShippingConstraintCode">
                                                        <input type="radio" id="@Model.ShippingConstraints[i].ShippingConstraintCode.Replace(" ", "_")" name="ShippingConstraintCode" value="@Model.ShippingConstraints[i].ShippingConstraintCode" data-shipping-name="@WebUtility.HtmlDecode(Model.ShippingConstraints[i].Description)" data-test-selector="chk@(Model.ShippingConstraints[i].ShippingConstraintCode)" @(((selectedShippingConstraint == null && i == 0) || Model.ShippingConstraints[i].IsSelected) ? "checked=checked" : "") />
                                                        <label data-test-selector="lbl@(Model.ShippingConstraints[i].ShippingConstraintCode)" for="@Model.ShippingConstraints[i].ShippingConstraintCode.Replace(" ", " _")">@WebUtility.HtmlDecode(Model.ShippingConstraints[i].Description)</label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                    @if (Model.IsQuoteRequest == false)
                    {

                        <div id="divSinglePagePayment" class="col-xs-12 nopadding signle-page-payment checkout-box margin-bottom">
                            @{ Html.RenderAction("PaymentOptions", "Checkout"); }
                        </div>
                    }
                </div>

                <div class="col-xs-12 col-md-6 col-lg-4 nopadding margin-top-25">
                    <div class="col-xs-12 review-order nopadding" id="cart-review-content">
                        @{
                            if (Model.ShippingId > 0)
                            {
                                Html.RenderAction("CartReview", "Checkout", new { shippingOptionId = Model.ShippingId, isQuoteRequest = Model.IsQuoteRequest });
                            }
                            else
                            {
                                Html.RenderAction("CartReview", "Checkout", new { isQuoteRequest = Model.IsQuoteRequest });
                            }
                        }
                        @*<div class="form-group margin-top">
                                @Html.Partial("_DataCapture", "checkout")
                            </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("guestuser", @guestuser)
    @Html.HiddenFor(model => model.InHandDate, HelperMethods.GetDateTime())
    @Html.HiddenFor(m => m.QuoteId)
    @Html.HiddenFor(m => m.OrderStatus)
    @Html.HiddenFor(m => m.PermissionCode)
    @Html.HiddenFor(m => m.RoleName)
    @Html.HiddenFor(m => m.ShippingId)
    @Html.HiddenFor(model => model.CreditCardNumber, new { @id = "hdnCreditCardNumber" })
    @Html.Hidden("EnablePerOrderlimit", enablePerOrderlimit)
    @Html.Hidden("EnableUserOrderAnnualLimit", enableUserOrderAnnualLimit)
    @Html.Hidden("PerOrderLimit", userViewModel?.PerOrderLimit)
    @Html.Hidden("AnnualOrderLimit", userViewModel?.AnnualOrderLimit)
    @Html.Hidden("AnnualBalanceOrderAmount", userViewModel?.AnnualBalanceOrderAmount)
    @Html.Hidden("PerOrderLimitWithCurrency", perOrderLimitWithCurrency)
    @Html.Hidden("AnnualOrderLimitWithCurrency", annualOrderLimitWithCurrency)
    @Html.HiddenFor(m => m.IsRequireApprovalRouting)
    @Html.HiddenFor(m => m.EnableApprovalRouting)
    @Html.Hidden("hdnPortalId", portalId)
    @Html.HiddenFor(m => m.OrderLimit)
    @Html.HiddenFor(m => m.ApprovalType)
    @Html.HiddenFor(m => m.IsQuoteRequest)

    <!-- Modal -->
    <div class="modal fade" id="PaymentModal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog compare-product-popup">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" data-test-selector="lblPaymentApplMsg">@WebStore_Resources.LabelPaymentApplication</h4>
                </div>
                <div class="modal-body">
                    <p data-test-selector="lblPaymentMethodMsg">@WebStore_Resources.TextPaymentMethod</p>
                </div>
            </div>
        </div>
    </div>
    <!--Error Payment Modal-->
    <div class="modal fade" id="ErrorPaymentModal" role="dialog">
        <div class="modal-dialog compare-product-popup">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i><span class="hidden">close</span></button>
                    <h4 class="modal-title" data-test-selector="lblPaymentApplErrMsg">@WebStore_Resources.LabelPaymentApplication</h4>
                </div>
                <div class="modal-body">
                    <p data-test-selector="lblPaymentMethodErrMsg"></p>
                    <div class="col-xs-12 margin-top-bottom nopadding">
                        <div class="pull-right">
                            <button data-test-selector="btnPaymentOk" type="button" class="btn-text btn-bg-primary btn" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Address Popup-->
<div class="modal fade address-popup" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="" id="address-popup-content">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        Checkout.prototype.ShippingOptions(false);
        Checkout.prototype.CalculateShipping("");
        $(".cart-item-remove").remove();
        var taxCost = $("#TaxCost").val();

        if (taxCost == 0) {
            $("#dvTaxDisclaimer").show();
        }
        //If User Login Then Show Shiping and Payment Options
        if ($("#hdnGuestUserMode").val() == "UserLogin") {
            $(".ShowShippingPanel").show(); $(".ShowPaymentPanel").show();
        }
        else if ($("#hdnGuestUserMode").val() == "GuestUser") {
            //If User Guest Then Save Details Show Shiping and Payment Options
            var addresssave = $("#hdnCheckforAlreadyaddress").val();
            if (addresssave != "") {
                $(".ShowShippingPanel").show();
                $(".ShowPaymentPanel").show();
            }
            else {
                //If User Guest Then Hide Shiping and Payment Options
                $(".ShowShippingPanel").hide(); $(".ShowPaymentPanel").hide();
            }

        }
    });
    //$(document).off("click", "#address-popup-content .close");
    //$(document).on("click", "#address-popup-content .close", function () {
    //    location.reload();
    //});

    function SubmitOrderIfAgreeClicked() {
        var pOrderNumber = $("#txtPurchaseOrderNumber").val();
        var POrderNumber = jQuery.trim(pOrderNumber);


        if ($("#cartwithbothshippickup").val() == true || $("#cartwithbothshippickup").val() == 'True') {

            $("#InstoreWarning").show();
            return false;
        }
        else {
            $("#InstoreWarning").hide();
        }
        var PO = $("input[id='PURCHASE_ORDERPO']:checked").val();
        if (typeof PO != 'undefined') {
            if (POrderNumber == null || POrderNumber.length == 0 || POrderNumber == "") {
                $("#errorpurchaseorder").text('Invalid purchase order number.');
                $("#errorpurchaseorder").show();
                return false;
            }
        }
        else {
            $("#errorpurchaseorder").text('');
            $("#errorpurchaseorder").hide();
        }
        $("#Agree").is(":checked") ? ($("#TermsandConditionError").hide(), Checkout.prototype.SubmitOrder()) : $("#TermsandConditionError").show()
    }

</script>
@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        $("#btnCompleteCheckout").on("click", function () {
            GoogleAnalytics.prototype.SendEcommerceCheckoutOptionData(4, "");
        })
    </script>
}

<!--Using For Move to error msg -->
<script async>
    $(".checkoutButton").click(function () {
        if ($("#InstoreWarning").is(":visible")) {
            $('html, body').animate({
                scrollTop: $("#InstoreWarning").offset().top
            }, 1000);
        }
    });
</script>
<!--Using For Back Arrow -->