﻿@import "../_base.scss";

// Category List Widget.

.category-list-widget{
    ul{width:100%;flex-wrap:wrap;padding:0;margin:0;
        li{width:calc(50% - 10px);display:inline-block;margin:0 5px 10px;text-align:center;
           a{display:block;width:100%;margin:0 auto;padding:0px;width:100%;font-family:$base-font-family-bold;letter-spacing:1.66px;font-size:16px;
             img{width:100%;margin:auto;}
           }
           label{font-weight:normal;color:$text-fgcolor-default;cursor:pointer;
                 &:hover{color:$base-color-primary;}
           }
        }
    }
}
// Media Query.
@include screensize(x-small) { 
    .category-list-widget ul li{ width: 100%;padding:0px;margin:0px;
                                article a{letter-spacing: 1.35px;font-size: $base-font-size - 1;height: 250px;overflow: hidden;}
                                .Btn-link{margin-top:-10px;width:85%!important;
                                    img{overflow:hidden;}
                                }
                                a{letter-spacing:1.35px;font-size:$base-font-size - 1;height:auto!important;
                                    img{height:auto;}
                                }
    }
   
}
@include screensize(small) { 
    .category-list-widget ul li{width:calc(33% - 1px);padding:10px;
                                article a{height: auto;}
                                .Btn-link{width:100%!important;/*min-height:70px;*/display: grid;align-items: center;}
    }
    .category-list-widget ul li .margin-top-30 a:hover{color:$base-color-primary;border:2px solid $base-color-primary;text-decoration:none;}
}
@include screensize(medium) { 
    .category-list-widget ul li{width:calc(33% - 0px);padding:10px;
    }
    .category-list-widget ul li .margin-top-30 a:hover{color:$base-color-primary;border:2px solid $base-color-primary;text-decoration:none;}
}
@include screensize(desktop){
    .category-list-widget ul li{width:calc(33% - 10px);padding:40px;
        article a{letter-spacing: 1.35px;font-size: $base-font-size + 2;height: 250px;overflow: hidden;}
                                .Btn-link{width:95%!important;min-height:inherit;
                                    img{overflow:hidden;}
                                }
                                a{letter-spacing:1.66px;font-size:16px;height:auto!important;
                                    img{height:auto;}
                                }
    }
}
@include screensize(xx-large){
    .category-list-widget ul li{width:calc(33% - 10px);padding:40px;
        article a{letter-spacing: 1.8px;font-size: $base-font-size + 2;height: 250px;overflow: hidden;}
    }
}

