﻿@import "../_base.scss";

.panel-heading .accordion-toggle:after {font-family: $znode-icon-font;content: "\f107";float: right;color:$base-color-black;font-size:20px;margin-top:-2px;padding-right:25px;}
.panel-heading .accordion-toggle.collapsed:after {content: "\f105";color:$base-color-black;font-size:20px;}
.panel-heading .accordion-toggle.collapsed{background-color:#fff; border-left:none;color:$base-color-black;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.panel-default {border-color: #fff;}
.panel{box-shadow: none;border-radius: 0px;-webkit-box-shadow: none;}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #fff;
}
.side-bar {
    .panel-heading{padding:0;
           h4{background-color:$base-color-white;color:$base-color-black;font-size:18px;padding:8px 0px;cursor:pointer; border-left:none;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;font-family:$base-font-family-bold;text-transform:uppercase;border-bottom:1px solid $base-color-black;}
    }
    .panel-body{overflow-y:auto;max-height:450px;}
    #collapseOne_AddedList{
        .panel-body{padding:0px 0px 0px 15px;}
    }
    .filter-list{padding:0;margin:0;list-style:none;
        h4{font-family:$base-font-family-semibold;color:$base-color-black;font-size:$base-font-size + 4;}
        li{
           h4{font-size:16px;font-family:$base-font-family-semibold;}
            label{width:90%;color:#161622;
                  span{color:#65666C;font-family:$base-font-family;}
            }
        }
        li.filter-item{padding:0px;border-radius:4px;color:$base-color-secondary;cursor:pointer;margin-top:5px;list-style:none;
                &:hover label{text-decoration:line-through !important;color:$base-color-primary;font-size:$base-font-size + 2;}
                i{font-size:14px;margin:0px;color:$base-color-primary;display:inline-block;vertical-align:top;}
                label{font-weight:normal;max-width:88%;vertical-align:top;line-height:25px;cursor:pointer;font-size:$base-font-size + 2;}
        }
    }
    .clear-filter{cursor:pointer;display:block;text-align:right;margin-top:10px;padding-right:15px;}
}

//Media Query.
@include screensize(x-small) {
    .narrow-results-pane{display:block;}
    .side-bar .narrow-results{display:block;font-size:16px;color:$base-color-white;position:absolute;top:85px;left:0px;z-index:9;background-color:$base-color-black;letter-spacing:1.66px;font-family:$base-font-family-bold;text-transform:uppercase;padding: 5px 20px 5px 20px;border-radius:50px;min-height:40px;line-height:31px;
           /*&:after{content:"\f107";float:right;font-family:$znode-icon-font;padding-left:5px;line-height:24px;}
           &.collapsed:after{content:"\f105";}*/
    }
    .side-bar{padding-left:15px;}
    
}
@include screensize(small) {
    .side-bar .narrow-results{display:none;}
    .side-bar{padding-left:0;padding-right:0;
         .panel-heading h4{padding-left:10px;}
         .filter-list li.filter-item label{max-width:85%;}
    }
}
@include screensize(medium) {
    .side-bar{padding-right:15px;
        .panel-heading h4{padding-left:0px;}
        .filter-list li.filter-item label{max-width:88%;}
    }
}
