﻿@import "../_base.scss";
// Product Alternate Images.
.product-view-details .product-images{
    .alternate-img{padding:8px 8px;
        .owl-controls{top:27px;position:relative;}
        .owl-pagination{display:none;}
        .item{border-bottom:5px solid $base-bgcolor-grey;border-radius:0px;
              img{text-align:center;border:2px solid $base-color-white;display:block;margin:0 auto;height:auto;width:auto;padding:14px;}
              &:hover{border-bottom:5px solid $base-color-primary;}
        } 
    } 
    .owl-theme .owl-controls{margin-top:10px;display:none;
        .owl-buttons .owl-prev,.owl-buttons .owl-next{border-radius:0px;color:$base-color-white;height:35px;width:35px;margin:10px;line-height:26px;opacity:1;font-family:$znode-icon-font !important;margin-top: -7px;
                &:hover{background-color:$base-color-primary;color:$base-color-white}
        }
        .owl-buttons .owl-prev{margin-right:5px;}
    }
    .new-product-tag{position:absolute;top:5px;right:5px;z-index:99;}
}



.VideoURL,.VideoURL360 {width: 100%;display: none;border: 5px solid #f5f5f5;height:530px;padding-top: 65px;}
//Modal Big Image
#owl-demoImage .item img{display:block;width:100%;height:auto;border:none;cursor:default;}
#owl-demoImage .owl-buttons .owl-prev,#owl-demoImage .owl-buttons .owl-next{position:absolute!important;top:50%;transform:translateY(-50%);border: none;background-color:transparent;}
#owl-demoImage .owl-buttons .owl-prev:hover,#owl-demoImage .owl-buttons .owl-next:hover{border: none;background-color:transparent;}
#owl-demoImage .owl-prev{left:0rem!important}
#owl-demoImage .owl-next{right:0rem!important}
/*#owl-demoImage .owl-wrapper .owl-item .item .zoomImg {
    display: none !important;
}*/
.modal-image-pdp {
    .closeset{position: absolute;margin-top: 0;width: 30px;border-radius: 50%;height: 30px;top: 5px;right: 5px;border: 2px Solid!important;z-index: 999999999999;opacity: inherit;}
    .modal-dialog .modal-body{display:block;}
}

.PDP-video-code {display: inline-flex;float: right;
                 .item1{width:123px;margin-right:10px;
                       .video-image{background-image: url(/Views/Themes/RoganShoesNew/Images/PDPVideo.svg);background-position:center;background-repeat:no-repeat;}
                       .video360-image{background-image: url(/Views/Themes/RoganShoesNew/Images/360_Video.svg);background-position:center;background-repeat:no-repeat;}
                       a{border:none;border-bottom: 5px solid #E7E8EA;border-radius: 0px;
                         img{text-align: center;border: 2px solid #fff;display: block;margin: 0 auto;height: auto;width: auto;padding: 14px;border-radius: 0px;opacity:.1;}
                         &:hover{border-bottom:5px solid $base-color-primary;}
                       }
                 }
}
// Product Zoom Effect Out.
.simpleLens-gallery-container{margin-bottom:25px;
    .new-product-tag{left: 20px;}
    .simpleLens-container{display: table;position:relative;margin:0 auto;-ms-transform: none;}
    .simpleLens-big-image-container {display:table-cell;vertical-align:middle;text-align:center;position:relative;width:100%;-ms-transform: none;max-width:100vw;max-height:100vh;border:5px solid #f5f5f5;padding:5px;
            .simpleLens-lens-image {height:auto !important;width: 100%;display: inline-block;text-align: center;margin:0;box-shadow:none;float:none;position:relative;-ms-transform: none;
                    .simpleLens-big-image {max-width:100%;-ms-transform:none;}
                    .simpleLens-mouse-cursor{background-color:#ccc;opacity:0.2;filter: alpha(opacity = 20);position:absolute;top:0;left:0;border:1px solid $border-bgcolor-default;box-shadow:0 0 2px 2px #999;cursor:none;-ms-transform: none;}
            }
    }
}

.simpleLens-lens-element {background-color:$base-color-white;box-shadow: 0 0 2px 2px #8e8e8e;height:100%;left:105%;overflow:hidden;position:absolute;top:0;width:100%;z-index:9999;text-align:center;-ms-transform:none;
         img{position:relative;top:0;left:0;width:auto !important;max-width:none !important;-ms-transform: none;}
}

// For IE11 Only.
*::-ms-backdrop, .simpleLens-gallery-container .simpleLens-container {display:block;}
*::-ms-backdrop, .simpleLens-gallery-container .simpleLens-big-image-container {display:inline-block;vertical-align:middle;} 
*::-ms-backdrop, .simpleLens-gallery-container .simpleLens-big-image-container:before {content:"";height:100%;display:inline-block;vertical-align:middle;}

// PDP View Template.
.small-view-template{
    .product-view-details .product-images .alternate-img{padding:20px;}    
    .simpleLens-gallery-container .simpleLens-big-image-container .simpleLens-lens-image {width:70%;}
    .simpleLens-container{height:275px;}
    .simpleLens-lens-element {left: 85%;}
}

// Product Zoom Effect In.
.easyzoom{position:relative;margin-top:3%;}
.easyzoom-flyout,.easyzoom-notice{position:absolute;background:$base-color-white}
.easyzoom img{vertical-align:bottom;}
.easyzoom.is-loading img{cursor:progress}
.easyzoom.is-ready img{cursor:crosshair}
.easyzoom.is-error img{cursor:not-allowed}
.easyzoom-notice{top:50%;left:50%;z-index:150;width:10em;margin:-1em 0 0 -5em;line-height:2em;text-align:center;box-shadow:0 0 10px #888}
.easyzoom-flyout{z-index:100;overflow:hidden}
.easyzoom-overlay .easyzoom-flyout{top:0;left:0;width:100%;height:100%}
.easyzoom-adjacent .easyzoom-flyout{top:0;left:100%;width:100%;height:100%;margin-left:20px}
.easyzoom .easyzoom-img{display:table;width:100%;text-align:center;}

// Media Query.
@include screensize(x-small) {
    .mobilevediopdp {width: 100%;display: block!important;border: none!important;height:325px;padding-top: 65px!important;
      .YouTubeFrame,.YouTube360Frame{height:275px;width:100%;}
    }
    #mobilegallaryvideo,#mobilegallary360video{display:block;}
    #mobilegallaryvideo .new-product-tag{position: absolute;z-index: 9;left: 15px;}
    .product-view-details .product-images .alternate-img .item,.product-view-details .product-images .alternate-img .itemmobile,.product-view-details .product-images .alternate-img .item:hover{border-bottom:10px solid $base-bgcolor-grey;min-height: 414px;}
    .product-view-details .product-images .alternate-img .item img,.product-view-details .product-images .alternate-img{padding:0px;}
    .simpleLens-gallery-container{margin-bottom:0px;}
    .simpleLens-lens-element {display:none;}
    .easyzoom img{display:none;}
    .big-view-template{
        .simpleLens-container{height:290px;}
    }
    .owl-themepdp .owl-buttons{display:block;}
    .ProductGallarymain .owl-carousel .item img {width: 100%;height: auto;border-bottom: 10px solid #F5F5F5;border-left: none;border-right: none;border-top: none;}
    .owl-buttons .owl-prev,.owl-buttons .owl-next{transform: translateY(-70px);}
    #owl-demoImage .owl-buttons .owl-prev, #owl-demoImage .owl-buttons .owl-next{top:auto;transform: translateY(-31px);}
    //Old theme code here
    .owl-pagination{display:block}
}
@include screensize(small) {
    .mobilevediopdp {width: 100%;display: block!important;border: none!important;height:768px;padding-top: 155px!important;
         .YouTubeFrame,.YouTube360Frame{height:430px;width:100%;}
    }
    #mobilegallaryvideo,#mobilegallary360video{display:block;}
    .product-view-details .product-images .alternate-img .item,.product-view-details .product-images .alternate-img .itemmobile,.product-view-details .product-images .alternate-img .item:hover{border-bottom:10px solid $base-bgcolor-grey;min-height: 375px;}
    .product-view-details .product-images .alternate-img .item img,.product-view-details .product-images .alternate-img{padding:0px;}
    .simpleLens-gallery-container{margin-bottom:0px;}
    .simpleLens-lens-element {display:none;}
    .easyzoom img{display:none;}
    .big-view-template{
        .simpleLens-container{height:290px;}
    }
    .owl-themepdp .owl-buttons{display:block;}
    .ProductGallarymain .owl-carousel .item img {width: 100%;height: auto;border-bottom: 10px solid #F5F5F5;border-left: none;border-right: none;border-top: none;}
    .owl-buttons .owl-prev,.owl-buttons .owl-next{transform: translateY(-70px);}
    #owl-demoImage .owl-buttons .owl-prev, #owl-demoImage .owl-buttons .owl-next{top:auto;transform: translateY(-31px);}
    //Old theme code here
    .owl-pagination{display:block}
}
@include screensize(medium) {
    .mobilevediopdp{display:none!important;}
    /*.VideoURL,.VideoURL360 {width: 100%;display: none;border: 5px solid #f5f5f5;height:522px;padding-top: 65px;}*/
    #mobilegallaryvideo,#mobilegallary360video{display:none;}
    .product-view-details .product-images .alternate-img .itemmobile{border-bottom:none;min-height:inherit;}
    .product-view-details .product-images .alternate-img .item,.product-view-details .product-images .alternate-img .item:hover{border-bottom:5px solid $base-bgcolor-grey;min-height: 143.5px;}
    .product-view-details .product-images .alternate-img .item img{padding:14px;}
    .product-view-details .product-images .alternate-img{padding: 8px 8px;}
    .simpleLens-gallery-container{margin-bottom:25px;}
    #owl-demoImage .owl-buttons .owl-prev, #owl-demoImage .owl-buttons .owl-next{top:50%;transform: translateY(-50%);}
    .easyzoom img{width:auto;}
    .big-view-template{
        .simpleLens-container{height:414px;}
    }
    .owl-themepdp .owl-buttons{display:none;}
    .owl-pagination{display:none;}
    .simpleLens-lens-element {display:block;}
    .owl-themepdp .owl-item, .owl-themepdp .owl-wrapper {
        width: 100% !important;height:auto;margin-right:0px;
    }
}
@include screensize(desktop) {
    .order2{padding:0px 15px 0px 0px;}
    .product-view-details .product-images .alternate-img .item,.product-view-details .product-images .alternate-img .item:hover{min-height: 164.7px;}
}
@include screensize(large){
    .big-view-template{
        .simpleLens-container{height:530px;}
    }
    .PDP-video-code {
                 .item1{width:158px;margin-left:10px;
                       .video-image{background-size:50%;}
                       .video360-image{background-size:50%;}
                       a{
                         img{margin: 4px auto;}
                       }
                 }
    }
    .fixed-image{width:88%;margin-left:auto;margin-right:auto;}
    .product-view-details .product-images .alternate-img .item,.product-view-details .product-images .alternate-img .item:hover{border-bottom:5px solid $base-bgcolor-grey;min-height: 173.2px;}
}
@include screensize(x-large){
    .big-view-template{
        .simpleLens-container{height:630px;}
    }
    .PDP-video-code {
                 .item1{width:195px;}
    }
    .VideoURL,.VideoURL360 {height:630px;padding-top:125px;}
    .fixed-image{width:88%;margin-left:auto;margin-right:auto;}
}
@include screensize(xx-large) {
    .VideoURL,.VideoURL360 {height:662px;padding-top:100px;}
    .product-view-details .product-images {
        .alternate-img {
            padding: 8px 20px;
            .owl-controls {
                top: -35px;
            }
        }
    }
    .fixed-image{width:73%;margin-left:auto;margin-right:auto;}
    .owl-themepdp .owl-item, .owl-themepdp .owl-wrapper {
        width: 201px !important;
        height: 221px;
    }
    
    .order2 {
        padding: 0px 0px 0px 0px;
    }
    .PDP-video-code {
                 .item1{width:209px;margin-left:25px;
                       a{
                         img{margin: 4px auto;}
                       }
                 }
    }
}