﻿@import "../_base.scss";

// Link Panel Widget.
.link-panel-widget{display:inline-block;padding-left:0;margin-bottom:0; 
    li{list-style:none;display:inline-block;padding:2px;
        img{width:auto;padding-bottom:20px;margin-left:inherit;}
    }
}

@include screensize(x-small){
    .link-panel-widget{
        li{
            img{margin-left:auto;margin-right:auto;}
        }
    }
}
@include screensize(desktop) {
    .link-panel-widget {
        li {
            img {
                margin-left: inherit;
                margin-right: inherit;
            }
        }
    }
}