﻿@import "../_base.scss";

.product-list-widget{margin-top: 50px;margin-bottom:50px;
    .product-list-title{text-align: center;color: $base-color-black;font-size: 30px;font-family: $base-font-family-semibold;text-transform: uppercase;width: 100%;border-bottom: 3px solid $base-color-black;margin-bottom: 25px;padding-top: 0;display: block;letter-spacing:2.1px;
       span{top: 18px;padding: 0 15px;display: inline-block;background: $base-color-white;position: relative;}
       .recentlyviewd{top: 24px;padding: 0 15px;display: inline-block;background: $base-color-white;position: relative;}
    }
    .product-item{margin:5px auto 10px;max-width:263px;position:relative;}
    .view-item{border:2px solid $base-color-white;
        &:hover{border:2px solid $border-bgcolor-primary;z-index:99;
            .item-error-msg{background:rgba(0,0,0,0.2);}
            .btn-quick-view{display:inline-table;}
        }
        .item-error-msg{background:rgba(0,0,0,0.3);position:absolute;width:83%;top:90px;left:21px;right:0;text-align:center;vertical-align:middle;display:inline-block;
                p{color:#fff;font-weight:600;position:relative;font-size:18px;text-shadow: 2px 4px 3px rgba(0,0,0,0.3);}
        }
    }
    .product-img{
        .image{height:240px;width:100%;}
        img{margin:10px auto;max-height:240px;}
        .new-product-tag{position:absolute;top:-8px;left:10px;z-index:99;}
        .btn-quick-view{position:absolute;top:210px;left:34%;font-size:11px;text-transform:uppercase;line-height:27px;display:none;z-index:99;padding:0 10px;font-family:$base-font-family-semibold;border-radius:2px;}  
    } 
    .product-details{margin-top:0px;padding:0px 15px;border-top:7px solid $footer-bgcolor;
            h4{font-size:16px;color:$base-color-black;line-height:18px;font-family:$base-font-family-bold;margin-top: 18px;text-transform:uppercase;letter-spacing:1.6px;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;} 
            h5{font-size:13px;color:$base-color-primary;line-height:6px;font-family:$base-font-family-semibold;margin-top:15px;text-transform:uppercase;letter-spacing:.39px;}
            h6{font-size:13px;color:$base-color-black;line-height:18px;font-family:$base-font-family;text-decoration: none;min-height: 38px;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;margin-bottom:5px;letter-spacing:.39px;}                     
            .price{margin:5px 0;font-family:$base-font-family-semibold;font-size:22px;letter-spacing:.88px;
                   label{font-size:13px;margin:0;}
                   .SalePrice{color:$base-color-primary;}
            }
            .cut-price{font-size:13px;}
            a{font-size:12px;text-decoration:none;}            
    }
    .owl-theme .owl-controls{position: absolute;top: 45%;left: 35px;right: 35px;
        .owl-buttons .owl-prev,.owl-buttons .owl-next{position: absolute;font-size: 26px;color: $base-color-primary;background: none;border: none;z-index: 100;opacity:1;
                &:hover{background-color:transparent;color:$base-color-primary}
        }
        .owl-prev {left: 0;}
        .owl-next {right: 0;}
    }
    .recent-view-items{float:left;width:100%;}
    .recommended-view-items{float:left;width:100%;}     // TODO - refactor to not just duplicate .recent-view-items class?
}
// Media Query
@include screensize(x-small) {
.product-list-widget .owl-theme .owl-controls{display:none !important;}
#layout-home .product-list-widget {padding:0 5px;margin:0px;}
.product-list-widget .product-list-title{font-family:$base-font-family-bold;font-size:18px;border-bottom:2px solid $base-color-black;letter-spacing:1.87px;
    span{top:10px;}
}
}
.product-list-widget .product-img .image{height:180px;}
.product-list-widget .owl-carousel .owl-item {
    padding: 5px;
}

@include screensize(small) {
    .product-list-widget .product-list-title{font-family:$base-font-family-semibold;font-size:30px;border-bottom:3px solid $base-color-black;
         span{top:18px;}
    }
.product-list-widget .owl-theme .owl-controls{display:block !important;}
.product-list-widget .product-img .image{height:265px;}
}



