﻿@import "../_base.scss";

// Subscribe Widget.
.newsletter-widget{
    label {float: left; color:$base-color-white; padding-right: 10px; line-height: 34px; margin-bottom: 0;}
    .input-group{width:100%;
                 input[type="text"],.input-field button {background-color: transparent; color:$base-color-white;border-bottom: 1px solid $base-color-white;}    
    }
    input#txtNewsLetterSignUp::placeholder{color:$base-color-white;}
    .input-group-btn>.btn-default{margin-top: 10px;margin-bottom: 10px;width: 30%;font-family:$base-font-family-bold;height: 40px;border-radius: 50px;border-color: initial;background-color: none;border: 1px solid;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 17px;font-weight: normal;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;letter-spacing:1.77px;}
}
.email-background {
    .padding-30{padding-top: 30px;text-align:center;
                p{color:$base-color-black;text-align:center;text-transform:uppercase;font-family:$base-font-family-bold;letter-spacing:1.8px;}
    }
    a{display: inline-block;}
    img{margin-left:auto;margin-right:auto;}
    .background-blue{background-color:$background-secondary;padding:30px;color:$base-color-white;text-align:center;font-size:$base-font-size + 2;letter-spacing:.48px;min-height:320px;
        h3{text-transform:uppercase;color:$base-color-white;text-align:center;font-family:$base-font-family-bold;font-size:30px;}
        p{color:$base-color-white;text-align:center;font-size:16px;letter-spacing:1.8px;}
    }
}
.border-top-grey{border-top: 1px solid #F5F5F5;}
@include screensize (x-small) {
    .newsletter-widget .input-group-btn > .btn-default{font-size:$base-font-size - 1;letter-spacing:1.35px;}
    .email-background{
        .mobile-border-right{border-right:1px solid #F5F5F5;} 
        .background-blue{font-size:$base-font-size;letter-spacing:.42px; h3{font-size:22px;letter-spacing:2.2px;}}
        .padding-30{ padding:0px;
            p{font-size:$base-font-size + 2;letter-spacing:1.6px;margin-top: -20px;margin-bottom:25px;}
            img{padding:40px;min-height: 187px;}
        }
    }
}
@include screensize(desktop){
    .newsletter-widget .input-group-btn > .btn-default{font-size:$base-font-size + 3;letter-spacing:1.77px;}
    .email-background{ 
        .background-blue{font-size:$base-font-size + 2;letter-spacing:.48px; h3{font-size:30px;letter-spacing:3px;}}
        .padding-30{ padding:0px;
            p{font-size:$base-font-size + 4;letter-spacing:1.8px;margin-top: 0px;
              &:hover{color:$base-color-primary;}
            }
        }
    }
}
@include screensize(x-large) {
    .email-background {
    .padding-30{padding-top: 30px;
                p{font-size:18px;
                  &:hover{color:$base-color-primary;}
                }
    }
    img{margin-left:auto;margin-right:auto;margin-bottom:20px;}
    .background-blue{min-height:280px;}
}
}

@include screensize(xx-large) {
    .email-background {
        .background-blue{min-height:370px;}
    }
}