﻿@import "../_base.scss";

// Product Tab.
.product-details-tab {margin:15px 0;
    ul{
       li{text-transform:uppercase;
          a{color:$base-color-black;font-size:18px;font-family:$base-font-family-bold;min-width:auto; padding:0px;background-color:$base-color-white;border:none;text-align:center;letter-spacing:1.87px;
                &:hover{background-color:$base-color-white;color:$base-color-primary;border:none;}
          }
       }
    }

    .nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus{background-color:$base-color-white;color:$base-color-black;border-color:$base-color-white;border:none;border-bottom:5px solid $base-color-primary}

    .tab-content{min-height:300px;overflow-y:auto;padding:15px 0px;
        h4{
            a{color:$base-color-secondary; font-size:16px;font-weight:bold;padding-right:5px;}
            span{padding-left:5px;border-left:1px solid $border-bgcolor-default;color:#949494;font-size:14px;}
        } 
    } 
    table{
        tbody{
            tr{border-bottom:1px solid $base-color-primary;
               .graybg{width:26%;font-size:16px;font-family:$base-font-family-semibold;}
               .whitebg{min-height: 38px;font-size:16px;padding-top:8px;line-height:28px;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;margin-bottom: 5px;}
            }
        }
    }
}
// Product Review.
.product-review{margin-bottom:15px;margin-top: 15px;padding-bottom: 30px;border-bottom: 1px solid $base-color-black;color:#65666C;
        h6{font-size:16px;font-family:$base-font-family-bold;letter-spacing:.48px;margin-bottom: 5px;color:$base-color-black;}
        .review-body{line-height: 30px;}
        .review-title h3{font-size:14px;}
}

// Media Query.
@include screensize(x-small) {  
    .product-details-tab ul li{width:100%;padding-right:0;} 
    .product-details-tab-mobile{
        table{
        tbody{
            tr{border-bottom:1px solid $base-color-primary;
               .graybg{width:26%;font-size:16px;font-family:$base-font-family-semibold;}
               .whitebg{min-height: 38px;font-size:16px;padding-top:8px;line-height:28px;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;margin-bottom: 5px;}
            }
        }
    }
        h3{font-size: $base-font-size + 4;font-family: $base-font-family-bold;letter-spacing: 1.87px;border-bottom: 1px solid #efefef;margin-top:20px;margin-bottom:20px;text-transform:uppercase;
           span{border-bottom:5px solid $base-color-primary;padding-bottom:6px;}
        }
        
    }
}
@include screensize(small) {  
    .product-details-tab{
        ul li{width:auto;padding-right:50px;}
        .tab-content{max-height:400px;}
    } 
}
@include screensize(medium) {  
    .product-details-tab{
        ul li{padding-right:20px;}
    } 
}
@include screensize(large) {  
    .product-details-tab{
        ul li{padding-right:55px;}
    } 
}
@include screensize(x-large) {  
    .product-details-tab{
        ul li{padding-right:55px;}
    } 
}
@include screensize(xx-large) {  
    .product-details-tab{
        ul li{padding-right:105px;}
    } 
}