﻿@import "../_base.scss";

.header{position:relative;top:0;left:0;width:100%;transition:height 500ms, background 500ms;z-index:999;background-color:$base-color-white; 
    .header-logo{float:left;width:100%;max-height:95px;padding-right:5px;color:$base-color-primary;
        img{max-height:95px;display:block;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;font-size:22px;}
        h1{color:$base-color-primary;font-size:22px;}
    }
    .contact-details,.contact-details a{font-family:$base-font-family-medium;font-size:$base-font-size - 1;letter-spacing:.26px;}
    .header-link-contain{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s; 
        .header-link ul{float:right;padding-left:0;
            li{display:inline;list-style:none;padding:0 20px;line-height:34px;position: relative;
                &:hover {color:$base-color-primary;}
                &:last-child {border: none;padding-right:0px;}
                a{padding-left:0px;font-family:$base-font-family-bold;letter-spacing:1.3px;color:$base-color-black;font-size:$base-font-size - 1;
                  &:hover {color:$base-color-primary;}
                }
                
                a.user-icon{padding:0;
                    &:hover{padding-left:0;color:$base-color-primary;}
                }
                .log-off{border-left:1px solid $border-bgcolor-default;}
                .header-toolbar-cart{color:$base-color-primary;font-size: 24px;}
                form{display:inline;}
            } 
            .cart-icon{border-right: none !important;
                       .cartcount{position:absolute;left:21px;top:-7px;color:$base-color-white;font-size:12px;font-family:$base-font-family-semibold;}
            }
        }
    }
    .header-nav-container{background-color:$base-color-white;height:65px;border-bottom: 1px solid #ddd;        
        .zf-caret-right{display:none;}
        .navbar-toggle{float:left;margin:8px 0 8px 10px;background-color:$base-color-white;
            .icon-bar{background-color:$base-color-primary;}
        }        
    }    
    .header-local-container{background-color:$base-bgcolor-grey;height:30px;text-align:center;text-transform:uppercase;line-height:25px;}
    .background-primary{background-color:$background-primary;color:$base-color-white;height:66px;text-align:center;padding-top:10px;line-height:21px;width: 59.6%;font-size:$base-font-size + 2;letter-spacing:.32px;
                        span{font-size:30px;letter-spacing:1.2px;font-family:$base-font-family-brandon-medium;}
        }
    .background-secondary{background-color:$background-secondary;color:$base-color-white;height:66px;text-align:center;padding-top:10px;width:20%;font-size:16px;
                          b{font-family:$base-font-family-semibold;}
    }
    .background-secondary-image{background-image: url("/Views/Themes/RoganShoesNew/Images/curbside_icon.svg");background-repeat: no-repeat;background-position-y: 14px;background-size:45px;}
    .background-primary a,.background-secondary a{color:$base-color-white;font-size:$base-font-size + 4;}
    .Social-follow-us{
        ul{list-style:none;display:inline-flex;color:$base-color-primary;padding:0px 12px 0px 0px;
           li{padding-right:12px;
              b{font-family:$base-font-family-bold;font-size:$base-font-size - 1;letter-spacing:1.3px;text-transform:uppercase;}
           }
        }
    }
    .header-login{text-transform: uppercase;font-weight: 600;
                  li img{margin-top:-5px;margin-right:5px;}
    }
}

.proxy-login-section{background:$base-bgcolor-grey;
                         .proxy-login{display:flex;justify-content:center;align-items:center;padding:2px;}
                         span{font-weight:bold;color:$success-msg-fgcolor;}
                         .log-off{background:$success-msg-fgcolor;color:$nav-bgcolor;padding:0 10px;margin:4px 4px 4px 7px;border-radius:2px;font-weight:bold;}
    }
.hide-show {display: none;}
.header-checkout{border-bottom:1px solid $border-bgcolor-default;}
.Contact-info {
    .social-media, strong {
        width:100%;
        .link-panel-widget li{margin-left: 21px;}
    }

    .display-content {
        display: contents;
    }
}
.storeName {display: inline-flex;overflow: hidden;text-overflow: ellipsis;line-height: 15px;word-break: break-word;height: 30px;width:150px;}

//Header Social Media Iocon effects on hover
.Social-follow-us ul li a {display: inline-block;cursor: pointer;width: 20px;height: 20px;line-height: 84px;border-radius: 50%;text-align: center;position: relative;color: $base-color-black;background-color: rgba(255, 255, 255, 0.1);transition: 300ms;line-height: 17px;}
.Social-follow-us ul li a:after {pointer-events: none;position: absolute;width: 100%;height: 100%;border-radius: 0%;content: '';box-sizing: content-box;box-shadow: 0 0 0 1px $base-color-primary;top: 0;left: 0;opacity: 0;transition: 300ms;}
//.Social-follow-us ul li a:hover{background-color: #f5f5f5;}
.Social-follow-us ul li a:hover:after {opacity: 1;transform: scale(1.15);}

// Media Query.
@include screensize(x-small) {
    .mobile-padding-20{padding-top:20px;}
    .header {
        .Social-follow-us ul{padding:15px 45px 15px 45px;}
        .header-nav-container{background-color:$base-color-white;height:auto;border-bottom: none;        
        .zf-caret-right{display:none;}
            .navbar-toggle{float:left;margin:-5px 7px 0px -5px;background-color:$base-color-white;
                .icon-bar{background-color:$base-color-black;}
            }        
        }    
        .background-primary{width: 100%;padding-bottom:12px;font-size:$base-font-size - 4;line-height:17px;letter-spacing:.2px;padding:5px;padding-top:10px;
                            span{font-size:$base-font-size;letter-spacing:.56px;}
        }
        .mobile-login{ padding-right:0px;padding-left:10px; ul{list-style:none;display:inline-flex;padding:0px;width:100%;
                         li{left:-10px;position:relative;margin-left:16px;
                            .cartcount{position:absolute;left:6px;top:6px;color:$base-color-white;font-size:12px;font-family:$base-font-family-semibold;}
                         }
        }}
        .header-logo {
            font-size: 40px;
            min-height: 25px;
            max-height: 25px;
            padding-right: 0;
            margin-bottom: 2px;
            margin-top:0px;

            img {
                margin: 0 auto;
                width: 100%;
                max-height: 70px;
            }

            h1 {
                font-size: 40px;
                text-align: center;
            }
        }

        .header-link-contain {
            padding: 0px 0px;

            .header-link ul {
                padding-right: 5px;
                padding-top: 12px;
                margin-bottom: 0;

                .username {
                    display: none;
                }
            }
        }

        .header-local-container {
            height: 40px;

            .mobile-view-head {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                line-height: 18px;
                width: 70%;
                font-size:$base-font-size - 2;letter-spacing:.68px;
            }
        }
    }
}
@include screensize(small) {
    .header{
        .header-nav-container{background-color:$base-color-white;height:auto;border-bottom: none;
                .navbar-toggle{float:left;margin:-5px 7px 0px -5px;background-color:$base-color-white;top:20px;
                .icon-bar{background-color:$base-color-black;}
            }   
        }
        .header-logo{min-height:70px;padding-right:5px;margin-bottom:0;padding-top:25px;
            img{margin:0px;width:100%;max-height:95px;}
            h1{font-size:56px;text-align:left;}
        } 
        .header-link-contain{margin-top:18px;padding:0;
            .searchbox{left:36px;margin-top:-6px;}
            .header-link ul{padding-top:0;padding-right:0px;
                            .cart-icon .cartcount{left:15px;top:-7px;}
                            li{padding:0px 8px;}
                .username{display:inline-block;}
                }
        }
        .background-primary{width: 100%;padding-top:15px;
                        span{font-size:26px;}
        }
        .header-local-container {
            .mobile-view-head {
                line-height: 35px;
            }
        }
        .Social-follow-us ul{padding:0px;
            li{padding-right: 15px;}
        }
    } 
    
}
@include screensize(medium) {     
    .mobile-padding-20{padding-top:0px;}
    .header{
        .Social-follow-us ul{padding:0px;
           li{padding-right: 3px;}
        }
        .header-nav-container{background-color:$base-color-white;height:auto;border-bottom: 1px solid #ddd;}
        .header-logo{padding-top:12px;} 
        .header-link-contain{
            .header-link ul{padding-right:0;padding-top:5px;
                            li{padding:0px 10px;}
            }
        }
         .header-local-container{height:40px;
           .mobile-view-head{line-height: 35px;width: 100%;font-size:$base-font-size + 2;}
        }
    }  
    
}
@include screensize(desktop){
    .header{
        .Social-follow-us ul{padding:0px 12px 0px 0px;
                             li{padding-right: 5px;}
        }
        .background-primary{padding-top:12px;width:59.6%;}
        .background-secondary{font-size:$base-font-size - 2;}
        .header-logo{padding-top:10px;margin-top:0px;} 
        .header-link-contain{
            .header-link ul{padding-right:0;padding-top:5px;
                           .cart-icon .cartcount{left:16px;top:-7px;}
                            li{padding:0px 10px;}
            }
        }
         .header-local-container{height:40px;
           .mobile-view-head{line-height: 35px;width: 100%;font-size:$base-font-size + 2;}
        }
    }  
}
@include screensize(large){
    .header{
        .Social-follow-us ul li{padding-right:10px;}
        .background-secondary{font-size:$base-font-size + 2;}
        .header-logo{min-height:70px;padding-right:5px;margin-bottom:0;padding-top:12px;margin-top:0px;
            img{margin-top:-12px;width:100%;max-height:95px;}
            h1{font-size:56px;text-align:left;}
        } 
        .header-link-contain{margin-top:25px;padding:0;
            .searchbox{left:36px;margin-top:-6px;}
            .header-link ul{padding-top:0;padding-right:10px;
                            .cart-icon .cartcount{left:15px;top:-7px;width:20px;text-align:center;}
                            li{padding:0px 15px;}
                .username{display:inline-block;}
                }
        }
        .background-primary{width: 59.6%;font-size:$base-font-size + 2;letter-spacing:.32px;line-height:23px;
                        span{font-size:26px;letter-spacing:1.2px;}
        }
        .background-secondary{font-size:13px;padding-top: 7px;line-height:25px;}
        
    } 
    .storeName {width: 140px;}
}
@include screensize(x-large){
    .header{
        .header-logo{min-height:80px;padding-right:5px;margin-bottom:0;padding-top:0px;
            img{margin-top:-12px;width:100%;max-height:95px;}
            h1{font-size:56px;text-align:left;}
        }
        .header-link-contain{
            .searchbox{left:110px;margin-top:-6px;}
        }
       .background-secondary{font-size:15px;}
    } 
}
@include screensize(xx-large){
    .header{
       .background-secondary-image{background-position-y: 8px;background-size: auto;}
       .background-secondary{font-size:16px;}
       .background-primary{
                        span{font-size:30px;}
        }
    } 
    .header .Social-follow-us ul li{padding-right: 20px;}
}