﻿@using Znode.Engine.WebStore.ViewModels

@model CategoryHeaderListViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}

<ul class="nav navbar-nav" style="height:20px;">
    @{
        foreach (var category in Model.Categories)
        {
            <li class="dropdown yamm-fw">
                <a href="@domainurl@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" data-test-selector="linkCategoryItem" title="@Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))">@Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))</a>
                @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
                {
                    <div class="dropdown-menu list-unstyled fadeInUp animated">
                        <div class="col-lg-12 nopadding">
                            <div class="col-lg-1 nopadding hidden-md hidden-xs">
                                <div class="rotate"><span>@Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))</span></div>
                            </div>
                            <div class="col-lg-8">
                                <ul class="margin-top-30">
                                    @foreach (var subCategory in category.SubCategoryItems)
                                    {
                                        <li>

                                            <a href="@domainurl@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" data-test-selector="linkSubCategoryItemList" title="@WebUtility.HtmlDecode(subCategory.CategoryName)">@WebUtility.HtmlDecode(subCategory.CategoryName)</a>
                                            @if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
                                            {
                                                <ul class="sub-menu-child">
                                                    @Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)
                                                </ul>
                                            }
                                        </li>
                                    }
                                    <li><a href="@domainurl@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" data-test-selector="linkCategoryItem" title="View All @Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))">View All @Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 hidden-md hidden-xs">
                                <div class="pull-right margin-top-30"><a href="#" title="Sale"><img src="~/Views/Themes/Default/Images/Sale.png" alt="Sale" class="img-responsive" /></a></div>
                            </div>
                        </div>
                    </div>
                }
            </li>
        }

        if (Model?.BrandList?.Count > 0)
        {
            <li class="dropdown yamm-fw Brandlist">
                <a href="/Brand/List" data-test-selector="linkBrand" title="@WebUtility.HtmlDecode(WebStore_Resources.LabelBrands)"> @WebUtility.HtmlDecode(WebStore_Resources.LabelBrands)</a>
                <ul class="dropdown-menu list-unstyled fadeInUp animated">
                    @foreach (var brand in Model.BrandList)
                    {
                        <li>
                            <a href="@domainurl@Url.GetBrandUrl(brand.SEOFriendlyPageName, null,brand.BrandId)" data-test-selector="linkBrandItems" title="@WebUtility.HtmlDecode(brand.BrandName)">@WebUtility.HtmlDecode(brand.BrandName)</a>
                        </li>
                    }
                    <li class="view-all">
                        <a href="/Brand/List" data-test-selector="linkBrandViewAll" title="@WebStore_Resources.LabelViewAllBrands">@WebStore_Resources.LabelViewAllBrands</a>
                    </li>
                </ul>

            </li>
        }
    }
</ul>
<script>$('[itemtype = "https://schema.org/SiteNavigationElement"] a').attr("itemprop", "url");</script>
