﻿@using Znode.Engine.WebStore.ViewModels
@{ 
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
@model IEnumerable<CategorySubHeaderViewModel>
@foreach (var subCategory in Model)
{
    <li>
        <a href="@domainurl@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" data-test-selector="linkSubCategoryItemList" title="@WebUtility.HtmlDecode(subCategory.CategoryName)">@WebUtility.HtmlDecode(subCategory.CategoryName)</a>
        @if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
        {
            <ul class="sub-menu-child">
                @Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)
            </ul>
        }
    </li>
}