﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryViewModel
@using System.Configuration;
@{
    /**/

    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    string catname = @Model.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
    bool isUsedInNavigation = Convert.ToBoolean(
    @Model.Attributes.FirstOrDefault(w => w.AttributeCode == "IsUsedInNavigation")?.AttributeValues);

    //string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    //Added by NIVI
    //string BaseImage = BaseImagePath + @"t_400/" + Convert.ToString(Model.Attributes?.Value("BaseCategoryImage"));
    //if (Convert.ToString(Model.Attributes?.Value("BaseCategoryImage")) != null )

    //Model.ImageMediumPath = (Convert.ToString(Model.Attributes.Value("BaseCategoryImage")) != null ?  BaseImage : Model.ImageMediumPath);
    //Added by NIVI

}

@if (isUsedInNavigation)
{
    <div class="SubCategoryListItem" title="@catname" itemscope itemtype="http://schema.org/MenuItem">
        <div class="Image">
            <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)" itemprop="url"><img id="@Model.CategoryId" src="@Model.ImageMediumPath" data-src="@Model.ImageMediumPath" class="img-responsive b-lazy" alt="@catname" style="width: 100%;" itemprop="image" /></a>
        </div>
        <div class="CategoryLink">
            <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)"><span itemprop="name">@Convert.ToString(@catname).Replace("&amp;", " ")</span></a>
        </div>
    </div>
}
