﻿@using Znode.Engine.WebStore.ViewModels

@model CaseRequestViewModel
@{
    ViewBag.Title = "Contact Information | Rogan’s Shoes";
    ViewBag.Description = "Contact information for Rogan’s Shoes";
}
<div id="layout-contactus" class="main-wrapper">
    <div class="container container-small">
        <div class="contain-pages Contactuspage">
            <div class="col-xs-12 nopadding text-center">
                <h1 class="page-title" data-test-selector="lblPageTitle">@Html.RenderMessage("ContactUsHead")</h1>
                <p class="margin-bottom" data-test-selector="lblContactUsMessage">@Html.RenderMessage("ContactUsInfoText")</p>
            </div>
            
            <div class="col-xs-12 col-lg-12 form-text-box nopadding">
                @using (Html.BeginForm("contactus", "CaseRequest", FormMethod.Post, new { @id = "frmCreateCaseRequest" }))
                {
                    @Html.AntiForgeryToken()


                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-xs-12 col-lg-6 padding-left-0">
                                <div class="form-group">
                                    <label class="hidden" for="valFirstName1">@WebStore_Resources.LabelFirstName</label>
                                    @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName1", @required = "required", @data_test_selector = "txtFirstName", @title = @WebStore_Resources.LabelFirstNameTitle, @placeholder = @WebStore_Resources.LabelFirstName, @atl = @WebStore_Resources.LabelFirstNameAlt })
                                    <span id="valFirstNameErr1" class="field-validation-error" data-test-selector="lblValFirstNameErrMsg"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-6 padding-right-0">
                                <div class="form-group">
                                    <label class="hidden" for="valLastName2">@WebStore_Resources.LabelLastName</label>
                                    @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName2", @required = "required", @data_test_selector = "txtLastName", @title = @WebStore_Resources.LabelLastNameTitle, @placeholder = @WebStore_Resources.LabelLastName, @alt = @WebStore_Resources.LabelLastNameAlt })
                                    <span id="valLastNameErr2" class="field-validation-error" data-test-selector="lblValLastNameErrMsg"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="hidden" for="valEmail">@WebStore_Resources.EmailAddress</label>
                                @Html.TextBoxFor(model => model.EmailID, new { @maxlength = 200, @id = "valEmail", @required = "required", @data_test_selector = "txtEmail", @title = @WebStore_Resources.LabelSubscriptionMailTittle, @placeholder = @WebStore_Resources.EmailAddress, @alt = @WebStore_Resources.TitleEmail })
                                <span id="valEmailErr" class="field-validation-error" data-test-selector="lblValEmailErrMsg"></span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="hidden" for="valPhoneNum">@WebStore_Resources.LabelPhoneNumberContactUs</label>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20, @id = "valPhoneNum", @required = "required", @data_test_selector = "txtPhoneNo", @title = @WebStore_Resources.LabelPhoneNumberTitle, @placeholder = @WebStore_Resources.LabelPhoneNumberContactUs, @alt = @WebStore_Resources.LabelPhoneNumberAlt })
                                @*<span id="valPhoneNumErr" class="field-validation-error" data-test-selector="lblValPhoneNoErrMsg"></span>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="hidden" for="CompanyName">@WebStore_Resources.ColumnCompanyNameContactUs</label>
                                @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = 100, @id = "CompanyName", @required = "required", @data_test_selector = "txtCompanyName", @title = @WebStore_Resources.ColumnCompanyNameTitle, @placeholder = @WebStore_Resources.ColumnCompanyNameContactUs, @alt = @WebStore_Resources.ColumnCompanyNameAlt })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.Description, new { @id = "valComment", rows = "14", cols = "50", @required = "required", @data_test_selector = "txtDescription", @class = "TextBoxrogan", @title = @WebStore_Resources.LabelComments, @placeholder = @WebStore_Resources.LabelCommentsContactUs, @alt = @WebStore_Resources.LabelComments })
                            @*<span id="valCommentErr" class="field-validation-error" data-test-selector="lblValDescriptionErrMsg"></span>*@
                        </div>
                        <div class="form-group">
                            <div id="div-captcha">
                                @Html.ZnodeCaptcha()
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-text btn-bg-secondary" id="contact-us" data-test-selector="btnSubmit" alt="Submit">@WebStore_Resources.ButtonSubmit</button>
                        </div>
                    </div>
                    
                    if (Model?.HasError ?? false && Model?.CaseRequestID > 0)
                    {
                        <div class="col-xs-12 nopadding">
                            @Html.Label("", WebStore_Resources.SuccessMessageContactUs)
                        </div>
                    }
                    else if (Model?.HasError ?? false)
                    {
                        <div class="col-xs-12 nopadding">
                            @Html.Label("", WebStore_Resources.MessageFailedToSendRequest)
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script async>
    //called when key is pressed in textbox
    $("#valPhoneNum").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });
    /* NIVI Code starts For ContactUs */
    $(document).ready(function () { $("#frmCreateCaseRequest").validate(), $("#valFirstName1").rules("add", { required: !1 }), $("#valLastName2").rules("add", { required: !1 }), $("#CompanyName").rules("add", { required: !1 }), $("#valEmail").rules("add", { required: !1 }), $("#valPhoneNum").rules("add", { required: !1 }), $("#valComment").rules("add", { required: !1 }) });
    /* NIVI Code end For ContactUs */

    $(document).ready(function () {
        var arr = $("#div-captcha").html().split("<br>");
        var string = '<label for="CaptchaInputText">' + arr[3] + ' *</label>';
        $("#div-captcha").html($("#div-captcha").html().replace(arr[3], string));
    });
</script>