﻿@using Znode.Engine.WebStore.Agents
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
}
<!--SEO H1 Tag For Home Page-->
<div class="hidden"><h1>Rogan's Shoes</h1></div>

<div class="container-fluid">
    <!--Home Page Slider Widget-->
    <z-widget>@Html.WidgetPartial("BannerSlider", "Slider", "555", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
</div>


<!--Mobile Categories-->
<div class="hidden-lg hidden-md visible-sm visible-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding margin-top-20 mobile-category">
                <div class="col-xs-6">@Html.RenderMessage("MobileCategory1")</div>
                <div class="col-xs-6">@Html.RenderMessage("MobileCategory2")</div>
                <div class="col-xs-6">@Html.RenderMessage("MobileCategory3")</div>
                <div class="col-xs-6">@Html.RenderMessage("MobileCategory4")</div>
                <div class="col-xs-6">@Html.RenderMessage("MobileCategory5")</div>
                <div class="col-xs-6">@Html.RenderMessage("MobileCategory6")</div>
            </div>
        </div>
    </div>
</div>


<div class="container Home-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h3>@Html.RenderMessage("TitleFeaturedCategories")</h3>
        </div>
        <!--BestSelling Widget-->
        <div data-test-selector="divBestSellCategoryList">
            <z-widget>
                @Html.WidgetPartialAjax("CategoryList", "CategoryList", "1992", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
            </z-widget>
        </div>
    </div>
</div>

<div class="container-fluid hidden-xs">
    <!--Rogan's Promise Widget-->
    <div class="row" id="Roganspromise">
        <div class="col-xs-12 col-lg-12 nopadding">
            <div class="col-lg-1 col-xs-1"></div>
            <div class="col-lg-10 col-xs-10 margin-top nopadding">
                <z-widget>@Html.WidgetPartial("TextEditor", "Rogans Promise", "5580", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            </div>
            <div class="col-lg-1 col-xs-1"></div>
        </div>
    </div>
</div>

<div class="container-fluid Home-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h3>@Html.RenderMessage("TitleNewArrivals")</h3>
        </div>
    </div>
    <div class="row">
        <!--NewArrival Widget-->
        <div data-test-selector="divNewArrivalWidget">
            <z-widget>
                @Html.WidgetPartialAjax("ProductList", "NewArrival", "666", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
            </z-widget>
        </div>
    </div>
</div>

<!--Mobile Home Page Promo Banner-->
<div class="hidden-lg hidden-md hidden-sm visible-xs">
    <div class="col-xs-12 nopadding margin-top-bottom">
        @Html.RenderMessage("MobileHomePagePromoBanner")
    </div>
</div>

<div class="container Home-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h3 class="text-primary">@Html.RenderMessage("TitleBrands")</h3>
        </div>
        <!--Brand Widget-->
        <div data-test-selector="divBrandWidget">
            <z-widget>
                @Html.WidgetPartialAjax("BrandList", "BrandList", "9657", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
            </z-widget>
        </div>
    </div>

    <div class="row hidden-xs">
        <div class="col-xs-12 col-lg-12 Welcome-Note">
            <!--Welcome Note For Rogans Shoe-->
            @Html.RenderMessage("HomePageWelcomeNoteForRogansShoe")
        </div>
    </div>
</div>





