﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.WebStore.Agents
@model StoreLocatorViewModel

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string imagePath = PortalAgent.CurrentPortal.MediaServerUrl;
    ViewBag.Title = "Store Locator | Rogan’s Shoes";
    ViewBag.Description = "Find Rogan’s Shoes store locations";
}

<div id="message" style="display:none;">
    @Html.RenderMessage("StoreLocatoreTiming")
</div>
<div class="main-wrapper">
    <div class="container container-small">
        <div class="contain-pages StoreLocator">
            <div class="col-xs-12 nopadding text-center">
                <div class="PageTitle">
                    <img src="~/Views/Themes/RoganShoesNew/Images/StorePlaces.svg" alt="Map Marker" class="marker-map" />
                    <h1>@Html.RenderMessage("TitleStoreLocator")</h1>
                </div>
            </div>

            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="Form col-xs-12 col-sm-12 col-lg-12 nopadding LableForm margin-top-30">
                        <div class="col-lg-5 col-md-12 col-xs-12 col-sm-12 nopadding">
                            <div class="col-lg-12">
                                <input type="text" id="txtzipcitystate" required="required" title="@WebStore_Resources.LabelCity, @WebStore_Resources.LabelState, @WebStore_Resources.LabelPostalZipCode" placeholder="@WebStore_Resources.LabelCity, @WebStore_Resources.LabelState, @WebStore_Resources.LabelPostalZipCode" />
                                <p id="error" class="text-danger"></p>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.PostalCode)

                        <div class="col-lg-7 col-md-12 col-xs-12 col-sm-12 margin-top-8 two-btn-inline">
                            <button id="btnSubmit" title="@WebStore_Resources.ButtonSubmit" type="button" value="submit" class="btn-text btn-bg-secondary" onclick="InStorePickUp.prototype.GetLatLng('storelocator');" data-test-selector="btnSubmitLocateStore">@WebStore_Resources.ButtonSubmit</button>
                            <img src="~/Views/Themes/RoganShoesNew/Images/Or.svg" alt="Or" class="or" />
                            <button title="@WebStore_Resources.ButtonUseMyCurrentLocation" type="button" class="btn-text btn-bg-secondary btn-width-100" onclick="InStorePickUp.prototype.GetLocation('storelocator')"><img src="~/Views/Themes/RoganShoesNew/Images/Places.svg" alt="Location" /> @WebStore_Resources.ButtonUseMyCurrentLocation</button>
                        </div>
                        <div class="col-lg-12 col-xs-12 margin-top">
                            <p id="responseerror" class="text-danger"></p>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div id="address"></div>
                    </div>
                </div>
                @Html.Hidden("ImagePathURL", imagePath);
                <div class="col-xs-12 nopadding store-locator-block margin-top margin-bottom">
                    @if (!Equals(Model, null) && !Equals(Model.PortalList, null) && Model.PortalList.Count > 0)
                    {
                        <div class="col-xs-12 nopadding">
                            <div id="layout-content">
                                <div class="col-xs-12 margin-top-bottom nopadding table-responsive store-locator-view">
                                    <h3>@Html.RenderMessage("StoreLocatorSubTitle") &nbsp;<small>@Html.RenderMessage("StoreLocatorTime") </small></h3>
                                    <div id="storedetails" class="col-lg-12 col-xs-12 col-ms-12 col-sm-12 nopadding margin-top">
                                        @{var a = @Html.RenderMessage("StoreLocatorText").ToString().Replace("below", "");
                                        }
                                        <h2>@a</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-xs-12 error-msg">
                    @Html.Label("", Model.ErrorMessage)
                </div>
            }        
        </div>
    </div>
</div>

<!-- Confirm Store Modal -->
<div class="modal" id="Confirmstore">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change Pickup Location</h4>
                <a class="close pull-right" data-dismiss="modal" aria-label="Close" title="Close"> &#x2715 </a>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 margin-bottom">
                        @Html.RenderMessage("ChangeStorePopUp")
                    </div>
                    <div class="col-lg-12 text-center margin-top-25">
                        <button id="btnProceed" type="button" class="btn-text btn-bg-secondary" data-dismiss="modal" data-storeid="" data-storename="" data-storeaddress="" onclick="InStorePickUp.prototype.ShowStores(this);" title="Proceed">PROCEED</button>
                        <div class="cancel margin-top">
                            <a href="#" data-dismiss="modal" title="cancel" class="">CANCEL</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary btn-lg" style="display:none;" id="btnConfirmStorePopUp" data-toggle="modal" data-target="#Confirmstore"><span class="hidden">confirm store</span></button>
@Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)
@Html.Hidden("WebStoreUrl", @ZnodeWebstoreSettings.ZnodeWebStoreUri)
@*Keys to be fetched from config file
@Html.Hidden("gocoderGoogleAPI", ZnodeWebstoreSettings.ZnodeGocoderGoogleAPI)
@Html.Hidden("gocoderGoogleAPIKey", ZnodeWebstoreSettings.ZnodeGoogleMapKey)
<script async defer src="@ZnodeWebstoreSettings.ZnodeGoogleAPIDomainKey/maps/api/js?key=@(ZnodeWebstoreSettings.ZnodeGoogleMapKey)&v=3&libraries=geometry" type="text/javascript"></script>*@
<script>
    $("#txtzipcitystate").keypress(function (event) {
        if (event.keyCode == 13) {           
            $("#btnSubmit").click();
            event.preventDefault();
        }
        
    });
</script>
