﻿@import "../_base.scss";

// Button
.btn {
    border-radius: 16px !important;
}
.Btn-link{border: 2px solid $base-color-black;padding: 15px!important; width: 100%!important;border-radius: 60px;text-transform: uppercase;}
.btn-text {
    @include btn-text;

    font: {
        size: 14px;
        weight: $base-font-bold;
    }

    padding: 0 10px;
    margin-left: 5px;
    height: 34px;
    line-height: 34px;

    &:hover, &:focus, &:active {
        color: $base-color-white;
    }
}
.btn-text-icon{
    @include btn-text;
    font:{ 
      size:14px;
      weight:$base-font-bold;
   }
   padding:0 15px 1px 10px;height:45px;line-height:45px;margin-left:5px;
   &:hover,&:focus,&:active{color:$base-color-white;}
   i{padding-right:5px;font-size:$base-font-size + 3;line-height:45px;float:left; }
}
.btn-text-full{
    @include btn-text;
    font:{ 
      size:16px;
      family:$base-font-family-semibold;
   }
   width:100%;padding:0 15px 1px 10px;height:45px;line-height:45px;
   &:hover,&:focus,&:active{color:$base-color-white;}
   i{float: left;font-size:28px;line-height:45px;padding-right:10px;border-right: 1px solid $border-bgcolor-default;}
}
.btn-card {
    @include btn-text;
    font-size:13px;padding:0 15px 0 10px;line-height:34px;
    &:hover,&:focus,&:active{color:$base-color-white;}
    i{padding-right:5px;font-size:$base-font-size + 3;line-height:30px;float:left;}
}
.btn-wishlist {
    @include btn-text;
    background-color:$base-color-white;color:#787878;font-size:$base-font-size;border:1px solid $border-bgcolor-default;padding:0 10px 1px 5px; margin:0 0 5px;
    &:hover,&:focus,&:active{color:$base-color-secondary;}
    i{padding-right:5px;font-size:$base-font-size;line-height:26px;float: left;}
}
.btn-margin-left{margin-left:0;}

.red,.btn-bg-primary { background: $base-bgcolor-button-primary; }
.grey,.btn-bg-secondary { background: $base-bgcolor-button-secondary;}


.cms-configure-btn-custom { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.btn-text-secondary-custom { background-color: #5db043 !important; border: none; color: #fff; }

.widget-cms-button-container-center { position: absolute; z-index: 10000; text-align: center; }

.widget-cms-overlay-custom { position: absolute; z-index: 9999; background-color: black; opacity: 0.3; border: 1px solid white; }

.cms-img-icon-custom { z-index: 9999; margin: auto; max-width: 120px; top: -10px; position: relative; }

.cms-img-icon { z-index: 0; }