﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel

<div id="layout-paging">
    <div class="search-paging col-xs-5 col-lg-8 col-sm-7 nopadding hidden-xs hidden-sm hidden-md">
        <div class="col-xs-6 col-lg-6 nopadding search-pagination hidden-sm hidden-md">
            <ul>
                <li class="search-more-nav arrow-left"><a data-test-selector="linkArrowLeft" class="prev-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button" title="Previous"><i class='zf-arrow-left-big'></i></a></li>
                <li class="search-more-nav arrow-right"><a data-test-selector="linkArrowRight" class="next-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button" title="Next"><i class='zf-arrow-right-big'></i></a></li>
            </ul>
            @Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
        </div>
        <div class="col-xs-6 col-lg-6 col-md-12 col-sm-12 nopadding">
            @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right" }))
        </div>
    </div>
</div>
<div id="layout-search">
    <div class="search-sorting col-xs-7 col-lg-4 col-sm-12 col-md-8 nopadding pull-right">
        <div>
            @Html.Partial("../Search/_Sorting", new ViewDataDictionary(new { Id = "Sort2", @class = "pull-right" }))
        </div>
    </div>
</div>
