﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@model QuoteResponseViewModel
@if (Model != null)
{
    <div class="col-xs-12 quote-receipt nopadding">

        <div class="col-xs-12 margin-top-bottom nopadding">
            <div class="col-xs-12 col-sm-6 nopadding receipt-info">
                <h3 class="section-header-color" data-test-selector="hdgtextQuoteDetails">@WebStore_Resources.TextQuoteDetails:</h3>
                <div><strong data-test-selector="divTitleQuoteNumber">@WebStore_Resources.TitleQuoteNumber:</strong><span data-test-selector="spnValueQuoteNumber">@Model.QuoteNumber</span></div>
                <div><strong data-test-selector="divTitleQuoteDate">@WebStore_Resources.TitleQuoteDate:</strong><span data-test-selector="spnValueQuoteDate"> @Model.CreatedDate.ToDateTimeFormat()</span></div>
                <div><strong data-test-selector="divTitleQuoteExpirationDate">@WebStore_Resources.TitleQuoteExpirationDate:</strong><span data-test-selector="spnValueQuoteExpirationDate"> @Model.QuoteExpirationDate.ToDateTimeFormat()</span></div>
                <div><strong data-test-selector="divTitleQuoteAmount">@WebStore_Resources.TitleQuoteAmount:</strong><span data-test-selector="spnValueQuoteTotal">@Model.QuoteTotal</span></div>
                <div><strong data-test-selector="divTitleQuoteStatus">@WebStore_Resources.TitleQuoteStatus:</strong><span data-test-selector="spnValueQuoteStatus"> @Model.QuoteStatus</span></div>
                <div><strong data-test-selector="divTitleQuoteCreatedBy">@WebStore_Resources.TitleQuoteCreatedBy:</strong><span data-test-selector="spnValueQuoteCreatedBy"> @Model.CreatedByName (@Model.UserName)</span></div>
                @if (!string.IsNullOrEmpty(Model.JobName))
                {
                    <div class="hidden"><strong data-test-selector="divLabelJobName"> @WebStore_Resources.LabelJobName: </strong><span data-test-selector="spnValueJobName"> @Model.JobName</span></div>
                }
            </div>

            <div class="col-xs-12 col-sm-6 nopadding receipt-info">
                <h3 class="section-header-color" data-test-selector="hdgLabelCustomerInformation">@WebStore_Resources.LabelCustomerInformation</h3>
                <div><strong data-test-selector="divTitleCustomerName">@WebStore_Resources.TitleCustomerName:</strong> <span data-test-selector="spnValueCustomerName">@Model.FirstName @Model.LastName</span></div>
                <div><strong data-test-selector="divTitleEmail">@WebStore_Resources.TitleEmail:</strong><span data-test-selector="spnValueEmail"> @Model.Email</span></div>
                <div><strong data-test-selector="divLabelPhoneNumber">@WebStore_Resources.LabelPhoneNumber:</strong><span data-test-selector="spnValuePhoneNumber"> @Model.PhoneNumber</span></div>
            </div>
        </div>

        <div class="col-xs-12 nopadding shipping-billing-quote">
            <div class="col-xs-12 col-sm-6 nopadding receipt-info billing-quote-address text-break">
                <h3 class="section-header-color" data-test-selector="hdgQuoteTitleBillingTo">@WebStore_Resources.TitleBillingTo</h3>
                <div data-test-selector="divQuoteValueBillingAddressHtml">@Html.RenderBlock(Model.BillingAddressHtml)</div>
            </div>

            <div class="col-xs-12 col-sm-6 nopadding receipt-info shipping-quote-address text-break">
                <h3 class="section-header-color" data-test-selector="hdgQuoteTitleShippingTo">@WebStore_Resources.TitleShippingTo</h3>
                <div data-test-selector="divQuoteValueShippingAddressHtml">@Html.RenderBlock(Model.ShippingAddressHtml)</div>
                <div><strong data-test-selector="divTitleInHandDate">@WebStore_Resources.TitleInHandDate</strong><span data-test-selector="divValueInHandDate"> @Model.InHandDate.ToDateTimeFormat()</span></div>
                @if (!string.IsNullOrEmpty(Model.ShippingConstraintCode))
                {
                    <div><strong data-test-selector="divTitleInHandDate"> @WebStore_Resources.LabelShippingConstraintsCode:</strong> @HelperUtility.GetEnumDescriptionValue((ShippingConstraintsEnum)Enum.Parse(typeof(ShippingConstraintsEnum), Model.ShippingConstraintCode)) </div>
                }
            <div><strong data-test-selector="divTitleShippingType">@WebStore_Resources.TitleShippingType:</strong> <span data-test-selector="divValueShippingType">@WebUtility.HtmlDecode(@Model.ShippingType)</span></div>
            </div>
        </div>


        <div class="col-xs-12 nopadding receipt-item-list shopping-cart receipt-b2c-table">
            <h3 class="b2c-products-header padding-top">@WebStore_Resources.HeadingProductsInQuote</h3>
            <div class="table-responsive">
                <table class="table table-tr">
                    <tr class="table-heading">
                        <th class="table-td receipt-column-item">@WebStore_Resources.ColumnTitleImage</th>
                        <th class="table-td receipt-column-item">@WebStore_Resources.TitleSKU</th>
                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelProductName</th>
                        <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQuantity</th>
                        <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitleUnitPrice</th>
                        <th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>
                    </tr>
                    @foreach (var items in Model?.ShoppingCartItems?.AsEnumerable()?.Reverse())
                    {

                        <tr class="receipt-item table-tr">
                            <td class="table-td receipt-column-item">

                                <img src="@items.ImagePath" class="img-responsive" alt="">

                            </td>
                            <td class="table-td receipt-column-item">
                                @if (items.GroupProducts?.Count > 0)
                                {
                                    foreach (var product in items.GroupProducts)
                                    {
                                        @Html.RenderBlock(product.Sku)
                                    }
                                }
                                else
                                {@Html.RenderBlock(items.SKU)}

                                <br />
                                <div class="cart-item-description">

                                </div>

                            </td>
                            <td class="table-td receipt-column-item">



                                @Html.RenderBlock(items.ProductName)
                                @if (items.GroupProducts?.Count > 0)
                                {
                                    foreach (var product in items.GroupProducts)
                                    {
                                        @Html.RenderBlock(product.ProductName)
                                    }
                                }
                                @if (!string.IsNullOrEmpty(items.DownloadableProductKey))
                                {
                                    List<string> keys = items.DownloadableProductKey.Split(',').ToList();
                                    <h5 style="color:red">Product Keys</h5>
                                    foreach (string item in keys)
                                    {
                                        <div>@Html.RenderBlock(item)</div>
                                    }
                                }
                                <br />
                                <div class="cart-item-description">
                                    @if (items?.PersonaliseValuesDetail?.Count > 0)
                                    {
                                        foreach (var item in items?.PersonaliseValuesDetail)
                                        {
                                            if (!Equals(item.PersonalizeValue, null) && !Equals(item.PersonalizeValue, string.Empty))
                                            {
                                                <p>
                                                    @item.PersonalizeName: @item.PersonalizeValue
                                                </p>
                                            }

                                        }
                                    }
                                </div>

                            </td>

                            <td class="table-td receipt-column-quantity">
                                @if ((items.Quantity) % 1 == 0)
                                {
                                    @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                }
                                else
                                {
                                    var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                    @orderedQuantity
                                }
                            </td>
                            <td class="table-td  receipt-column-price">
                                @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CultureCode)
                            </td>
                            <td class="table-td receipt-column-total">
                                @Helper.FormatPriceWithCurrency(items.Quantity * items.UnitPrice, Model.CultureCode)
                            </td>
                        </tr>
                    }
                </table>
            </div>
            @Html.Partial("_QuoteSummary", Model)
        </div>
    </div>
}
else
{
    <p class="text-center">@WebStore_Resources.NoResult</p>
}