﻿@using Znode.Engine.WebStore.ViewModels
@model SearchResultViewModel
@{

    string classNameFacetGroup = "rgFacet";
}
@if (Model?.Facets?.Count > 0)
{
    int count = 0;

    string url = Model.ViewActionUrl;

    foreach (var item in Model.Facets)
    {
        string FacetName = Convert.ToString((item.AttributeValues)[0].AttributeCode);
        classNameFacetGroup += FacetName;
        if(item.AttributeValues.Count == 1)
        {
            continue;
        }
       
        <div class="list-group @classNameFacetGroup">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--Destop/Laptop/Tab Title View-->
                    <h4 class="panel-title panel-title-edit accordion-toggle hidden-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@count"><span data-test-selector="lblMoreCategoriesFacets">@item.AttributeName</span></h4>
                    <!--Mobile Title View-->
                    <h4 class="panel-title panel-title-edit accordion-toggle collapsed visible-xs hidden-lg hidden-md hidden-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@count"><span data-test-selector="lblMoreCategoriesFacets">@item.AttributeName</span></h4>
                </div>
                <div id="collapseOne_@count" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="filter-list">
                            @foreach (var facetValue in item.AttributeValues)
                            {
                                bool? isChecked = Model.FacetFilters?.Any(facetFilter => facetFilter.Item1 == facetValue.AttributeCode && facetFilter.Item2.Any(x => x.Key == facetValue.AttributeValue));
                                if (!string.IsNullOrEmpty(facetValue.AttributeValue))
                                {
                                    string data = $"{item.AttributeName}{facetValue.AttributeValue}";
                                    <li class="styled-input">
                                        <input id="@data" type="checkbox" onchange="Search.prototype.GetFilterResult('@facetValue.RefineByUrl',this)" class="FacetFilter" @(isChecked.GetValueOrDefault() ? "checked=checked" : "") />
                                        <label for="@data">@Html.RenderBlock(facetValue.Label) (@facetValue.FacetCount)</label>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        count++;

    }


}
<!--Script For Mobile View Facet Collapse In Class-->
<script>
    $(document).ready(function () {
        function togglePanel() {
            var w = $(window).width();
            if (w <= 600) {
                $('.panel-collapse').removeClass('in');
            } else {

            }
        }
        $(window).resize(function () {
            togglePanel();
        });
        togglePanel();
    })
</script>