﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel

<div class="col-xs-12 nopadding cart-promocode">
    <div>
        <h3 data-test-selector="hdgPromotionsTitle">@WebStore_Resources.LabelPromoCode</h3>
    </div>
    @using (Ajax.BeginForm("ApplyDiscount", "Checkout", null, new AjaxOptions { HttpMethod = "Post", OnBegin = "return Checkout.prototype.CheckDiscountCodeValue('coupon')", OnSuccess = "Checkout.prototype.DisplayAppliedDiscountCode" }, new { @id = "applyCoupon" }))
    {
        @Html.AntiForgeryToken();
        <div>
            <div class="col-xs-12 nopadding">
                <p data-test-selector="paraPromoCodeTitle">@Html.RenderMessage("PromoCodeText")</p>
            </div>
            <div class="col-xs-12 nopadding">
                <div id="cart-apply-promocode">
                    <div class="col-xs-12 nopadding input-group">
                        <label class="hidden" for="promocode">Promo Code</label>
                        @if (Model.Coupons?.Count > 0)
                        {
                            <input data-test-selector="txtPromoCode" type="text" id="promocode" name="discountCode" value="@Model.Coupons[@Model.Coupons.Count-1].Code" class="form-input" size="40" maxlength="100" placeholder="Enter Promo Code" title="Enter Promo Code"/>
                        }
                        else
                        {
                            <input data-test-selector="txtPromoCode" type="text" id="promocode" name="discountCode" class="form-input" size="40" maxlength="100" placeholder="Enter Promo Code" title="Enter Promo Code"/>
                        }
                        <span class="input-group-btn">
                            <button data-test-selector="btnButtonCouponApply" type="submit" class="btn-text btn-bg-secondary" title="@WebStore_Resources.ButtonApply">@WebStore_Resources.ButtonApply</button>
                        </span>
                    </div>

                    <div class="col-xs-12 nopadding" id="couponMessageContainer">
                        <div class="col-xs-12 nopadding">
                            @if (Model.Coupons?.Count > 0)
                            {
                                foreach (var item in Model.Coupons)
                                {
                                    <p data-test-selector="paraCouponSuccessMsg" class=@(item.CouponApplied ? "success-msg padding-top" : "error-msg")><a href="#" class="cart-item-remove" onclick="Checkout.prototype.RemoveCoupon('@item.Code');" title="Remove Coupon Code"><i class="zf-close"></i></a> @item.Code - @item.PromotionMessage </p>
                                }

                            }
                        </div>
                    </div>

                </div>
                <span id="RequiredCouponErrorMessage" class="field-validation-error" data-test-selector="spnCouponErrorMsg"></span>

            </div>
        </div>
    }
</div>
