@using Znode.Engine.WebStore.ViewModels
@model AddressViewModel

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string _addressType = ViewBag.AddressType != null ? ViewBag.AddressType : Model.AddressType;
    bool isSameAsBilling = Convert.ToBoolean(ViewBag.IsSameAsBilling);
    string _shippingBillingDisplay = ((Convert.ToString(Request.QueryString["mode"]) == "guest" || Model.AddressId > 0) && Equals(_addressType, WebStoreConstants.ShippingAddressType)) ? "display:block" : "display:none";
    int addressCount = Model.AddressCount;
    string isEnableDisableCheckbox = (addressCount < 1) ? "checkbox-disable" : "";
    string selectedAddressId = "0";
    if (actionName == "EditAddress")
    {
        TempData["SelectedAddressId"] = Model.AddressId.ToString();
        selectedAddressId = Model.AddressId.ToString();
    }
    else
    {
        selectedAddressId = TempData["SelectedAddressId"] != null ? Convert.ToString(TempData["SelectedAddressId"]) : "0";
        TempData["SelectedAddressId"] = selectedAddressId;
    }
    Model.IsAddressBook = controllerName.ToLower() == "user" ? true : false;
}
<div class="edit-address-form">
    <p id="AddressError" class="error-msg text-left" />
    <p id="AddressSuccess" class="success-msg text-left" />
    <div class="col-xs-12 nopadding address-edit-form">
        @Html.ValidationSummary(true)
        @if (Equals(ViewBag.HideDisplayName, null) || Equals(ViewBag.HideDisplayName, false))
        {
            @* The display name input should be toggled via a parameter per view as needed *@
            <div class="form-group">
                <div class="col-xs-12 nopadding mobile-padding-left-right">
                    <label class="hidden" aria-labelledby="address_name">@WebStore_Resources.HintTextDisplayName</label>
                    @Html.TextBoxFor(m => m.DisplayName, new { @id = "address_name", @placeholder = @WebStore_Resources.HintTextDisplayName, @title = @WebStore_Resources.HintTextDisplayName })
                    <p class="error-msg">@Html.ValidationMessageFor(m => m.DisplayName, "", new { @data_test_selector = "spnErrorDisplayName" })</p>
                </div>
            </div>
        }
        else
        {
            @* Set default value for model validation *@
            <div class="col-xs-12 nopadding"><input id="address_name" name="Name" type="hidden" value="Default Address"></div>
        }
        <div class="col-xs-12 col-sm-6 nopadding shipping-address-edit mobile-padding-left-right">

            <div class="">
                <div class="col-xs-12 nopadding">
                    <div class="col-xs-12 col-lg-6 nopadding">
                        <div class="form-group">
                            <div class="col-xs-12 nopadding padding-right-10">
                                <label class="hidden" aria-labelledby="address_firstname">@WebStore_Resources.ColumnFirstName</label>
                                @Html.TextBoxFor(m => m.FirstName, new { @id = "address_firstname", @data_test_selector = "txtAddressFirstname", @placeholder = @WebStore_Resources.ColumnFirstName, @title = @WebStore_Resources.ColumnFirstName })
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.FirstName, "", new { @data_test_selector = "spnErrorFirstName" })</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6 nopadding padding-left-10">
                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                <label class="hidden" aria-labelledby="address_lastname">@WebStore_Resources.ColumnLastName</label>
                                @Html.TextBoxFor(m => m.LastName, new { @id = "address_lastname", @data_test_selector = "txtAddressLastname", @placeholder = @WebStore_Resources.ColumnLastName, @title = @WebStore_Resources.ColumnLastName })
                                <p class="form-error">@Html.ValidationMessageFor(m => m.LastName, "", new { @data_test_selector = "spnErrorLastName" })</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label class="hidden" aria-labelledby="address_phoneno">@WebStore_Resources.ColumnPhoneNo</label>
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @id = "address_phoneno", @class = "form-input-short", @data_test_selector = "txtPhoneNumber", @placeholder = @WebStore_Resources.ColumnPhoneNo, @title = @WebStore_Resources.ColumnPhoneNo, @maxlength = "12" })
                            <p class="error-msg">@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @data_test_selector = "spnErrorPhoneNumber" })</p>
                            <p id="phonenumbererror" class="error-msg"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="col-xs-12 nopadding">
                    @if (!HttpContext.Current.User.Identity.IsAuthenticated && Equals(_addressType, WebStoreConstants.ShippingAddressType))
                    {
                        //Guest shipping type
                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                <label class="hidden" aria-labelledby="address_emailaddress">@WebStore_Resources.EmailAddress</label>
                                @Html.TextBoxFor(m => m.EmailAddress, new { @id = "address_emailaddress", @class = "form-input-short", @data_test_selector = "txtEmailAddress", @placeholder = @WebStore_Resources.EmailAddress, @title = @WebStore_Resources.EmailAddress })
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.EmailAddress, "", new { @data_test_selector = "spnEmailAddress" })</p>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="">
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label class="hidden" aria-labelledby="CompanyName">@WebStore_Resources.ColumnCompanyName</label>
                            @Html.TextBoxFor(m => m.CompanyName, new { @data_test_selector = "txtCompanyName", @placeholder = @WebStore_Resources.ColumnCompanyName, @title = @WebStore_Resources.ColumnCompanyName })
                            <p class="error-msg">@Html.ValidationMessageFor(m => m.CompanyName, "", new { @data_test_selector = "spnErrorCompanyName" })</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 nopadding shipping-address-edit-block mobile-padding-left-right">

            <div class="">
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <label class="hidden" aria-labelledby="address_street1">@WebStore_Resources.ColumnStreetAddress</label>
                        <div class="col-xs-12 nopadding">@Html.TextBoxFor(m => m.Address1, new { @id = "address_street1", @class = "form-input-long", @data_test_selector = "txtAddressStreet1", @placeholder = @WebStore_Resources.ColumnStreetAddress, @title = @WebStore_Resources.ColumnStreetAddress })</div>
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.Address1, "", new { @data_test_selector = "spnErrorAddress1" })</p>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <label class="hidden" aria-labelledby="address_street2">@WebStore_Resources.ColumnStreetAddress2</label>
                        <div class="col-xs-12 nopadding">@Html.TextBoxFor(m => m.Address2, new { @id = "address_street2", @class = "form-input-long", @data_test_selector = "txtAddressStreet2", @placeholder = @WebStore_Resources.ColumnStreetAddress2, @title = @WebStore_Resources.ColumnStreetAddress2 })</div>
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.Address2, "", new { @data_test_selector = "spnErrorAddress2" })</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 nopadding address-book-block">
                <div class="col-xs-6 nopadding padding-right">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label class="hidden" aria-labelledby="address_city">@WebStore_Resources.ColumnCity</label>
                            @Html.TextBoxFor(m => m.CityName, new { @id = "address_city", @data_test_selector = "txtCityName", @placeholder = @WebStore_Resources.ColumnCity, @title = @WebStore_Resources.ColumnCity })
                            <p class="error-msg">@Html.ValidationMessageFor(m => m.CityName, "", new { @data_test_selector = "spnErrorCityName" })</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 nopadding padding-left">
            <div class="form-group">
                <div class="col-xs-12 nopadding" id="stateCodeTextBox">
                    <label class="hidden" aria-labelledby="txtStateCode">@WebStore_Resources.ColumnState</label>
                    <div id="dev-statecode-textbox">
                        @Html.TextBoxFor(m => m.StateName, new { @id = "txtStateCode", @class = "txtStateCode", @data_test_selector = "txtStateCode", @placeholder = @WebStore_Resources.ColumnState, @title = @WebStore_Resources.ColumnState })
                    </div>
                    <div style="display:none;" id="dev-statecode-select">
                        <select class="valid address_state required" id="SelectStateName" name="StateName"></select>
                  </div>
                    <p class="error-msg">@Html.ValidationMessageFor(m => m.StateName, null, new { @id = "valtxtStateCode", @data_test_selector = "spnErrorStateName" })</p>
                </div>
            </div>
        </div>
                <div class="col-xs-6 nopadding padding-right">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label class="hidden" aria-labelledby="address_postalcode">@WebStore_Resources.LabelPostalCode</label>
                            @Html.TextBoxFor(m => m.PostalCode, new { @id = "address_postalcode", @class = "form-input-short", @onkeydown = "User.prototype.RemoveValidationMessage('" + @_addressType + "')", @data_test_selector = "txtPostalCode", @placeholder = @WebStore_Resources.LabelPostalCode, @title = @WebStore_Resources.LabelPostalCode, @minlength = "5" })
                            <p class="error-msg">@Html.ValidationMessageFor(m => m.PostalCode, "", new { @data_test_selector = "spnErrorPostalCode" })</p>
                            <span class="error-msg" id="valid-postalcode" style="display: none;">@WebStore_Resources.ValidationZipCode</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 nopadding padding-left">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label class="hidden" aria-labelledby="ShippingAddressModel_CountryCode">@WebStore_Resources.ColumnCountry</label>
                            @Html.DropDownListFor(m => m.CountryName, Model.Countries, new { @id = "ShippingAddressModel_CountryCode", @class = "address_country", @onchange = "User.prototype.BindStates()", @data_test_selector = "drpCountryName", @placeholder = @WebStore_Resources.ColumnCountry, @title = @WebStore_Resources.ColumnCountry })
                            <p class="error-msg">@Html.ValidationMessageFor(m => m.CountryName, "", new { @data_test_selector = "spnErrorCountryName" })</p>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
        <div class="col-lg-6 col-xs-12 nopadding shipping-address-edit mobile-padding-left-right">
            <div class="">
                <div class="col-xs-12 text-left nopadding">
                    @if (String.Equals(controllerName, "User", StringComparison.InvariantCultureIgnoreCase))
                    {
                        //User controller
                        Model.IsDefaultShipping = (addressCount < 1) ? true : Model.IsDefaultShipping;
                        Model.IsDefaultBilling = (addressCount < 1) ? true : Model.IsDefaultBilling;

                        <div class="form-group mobile-margin-bottom">
                            <div class="col-xs-12 nopadding styled-input input-checkbox_label @(Model.IsDefaultShipping ? "checkbox-disable" : isEnableDisableCheckbox) billingShippingCheckBox">
                                <input class="input-checkbox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                                <label for="asdefault_shipping" data-test-selector="lblDefaultShipping">@WebStore_Resources.CheckBoxTextShippingAddress</label>
                            </div>
                        </div>
                        <div class="form-group mobile-margin-bottom">
                            <div class="col-xs-12 nopadding styled-input input-checkbox_label @(Model.IsDefaultBilling ? "checkbox-disable" : isEnableDisableCheckbox) billingShippingCheckBox">
                                <input class="input-checkbox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                                <label for="asdefault_billing" data-test-selector="lblDefaultBilling">@WebStore_Resources.CheckBoxTextBillingAddress</label>
                            </div>
                        </div>


                        <div class="form-group mobile-margin-bottom" style="display:none !important">
                            <div class="col-xs-12 nopadding styled-input input-checkbox-IsAddUpdateAddress">
                                <input type="checkbox" class="input-checkbox" name="DontAddUpdateAddress" id="is_addupdate_address" value="true" text="Add/update my address book">
                                <label for="is_addupdate_address" data-test-selector="lblAddUpdateAddress">@WebStore_Resources.CheckBoxTextAddToAddressBook</label>
                            </div>
                        </div>
                    }
                    else if ((Model.AddressId < 1 || isSameAsBilling || Model.AspNetUserId == null) && Equals(_addressType, WebStoreConstants.ShippingAddressType))
                    {
                        //Guest_or_Login : Edit mode shipping address
                        if (Model.DontAddUpdateAddress)
                        {
                            //If it's One time address
                            @Html.Hidden("IsBilling")
                            @Html.Hidden("IsShipping", true)
                            @Html.HiddenFor(model => model.IsDefaultBilling)
                            @Html.HiddenFor(model => model.IsDefaultShipping)
                        }
                        else
                        {
                            if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                //Logged in user
                                Model.IsDefaultShipping = (addressCount < 1 && Equals(_addressType, WebStoreConstants.ShippingAddressType)) ? true : Model.IsDefaultShipping;
                                <div class="form-group input-checkbox_container set-as-default-address-IsDefaultShipping">
                                    <div class="col-xs-12 nopadding styled-input input-checkbox_label @(Model.IsDefaultShipping ? "checkbox-disable" : isEnableDisableCheckbox)">
                                        <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                                        <label for="asdefault_shipping">@WebStore_Resources.CheckBoxTextDefaultAddress</label>
                                        @Html.Hidden("IsBilling")
                                        @Html.Hidden("IsShipping", true)
                                        @Html.HiddenFor(model => model.IsDefaultBilling)
                                    </div>
                                </div>
                            }
                            if (string.IsNullOrEmpty(Model.FirstName) && Equals(_addressType, WebStoreConstants.ShippingAddressType))
                            {
                                <div class="form-group input-checkbox_container mobile-margin-bottom">
                                    <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                                        <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="is_both_billing_shipping" data-addressType="@_addressType" checked='checked' value="true" text="Both Billing and Shipping address"
                                               onclick="Checkout.prototype.ShowHideBillingAddressDiv();">
                                        <label for="is_both_billing_shipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.BillingAddressType.ToProperCase())</label>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group input-checkbox_container mobile-margin-bottom">
                                    <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                                        <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="is_both_billing_shipping" data-addressType="@_addressType" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "") value="true" text="Both Billing and Shipping address"
                                               onclick="Checkout.prototype.ShowHideBillingAddressDiv();">
                                        <label for="is_both_billing_shipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.BillingAddressType.ToProperCase())</label>
                                    </div>
                                </div>
                            }
                        }
                    }
                    else if (Model.AddressId > 0 && Equals(_addressType, WebStoreConstants.BillingAddressType))
                    {
                        //Guest_or_Login : Edit mode billing address
                        if (Model.DontAddUpdateAddress)
                        {
                            //If it's One time address
                            @Html.Hidden("IsBilling", true)
                            @Html.Hidden("IsShipping")
                            @Html.HiddenFor(model => model.IsDefaultShipping)
                            @Html.HiddenFor(model => model.IsDefaultBilling)
                        }
                        else
                        {
                            if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <div class="form-group input-checkbox_container set-as-default-address-IsDefaultBilling">
                                    <div class="col-xs-12 nopadding styled-input input-checkbox_label @(Model.IsDefaultBilling ? "checkbox-disable" : isEnableDisableCheckbox)">
                                        <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                                        <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextDefaultAddress</label>
                                        @Html.Hidden("IsBilling", true)
                                        @Html.Hidden("IsShipping")
                                        @Html.HiddenFor(model => model.IsDefaultShipping)
                                    </div>
                                </div>
                            }
                        }

                        <div class="form-group input-checkbox_container mobile-margin-bottom">
                            <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                                <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="sameAsShipping" value="true" data-addressType="@_addressType" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "") text="Both Billing and Shipping address" onclick="Checkout.prototype.ShowHideShippingAddressDiv();">
                                <label for="sameAsShipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.ShippingAddressType.ToProperCase())</label>
                            </div>
                        </div>
                    }
                    else if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        //Logged in user
                        Model.IsDefaultBilling = (addressCount < 1 && Equals(_addressType, WebStoreConstants.BillingAddressType)) ? true : Model.IsDefaultBilling;
                        if (Equals(_addressType, WebStoreConstants.ShippingAddressType))
                        {
                            //Shipping
                            Model.IsDefaultShipping = (addressCount < 1 && Equals(_addressType, WebStoreConstants.ShippingAddressType)) ? true : Model.IsDefaultShipping;
                            <div class="form-group">
                                <div class="input-checkbox_container set-as-default-address-IsDefaultShipping">
                                    <div class="col-xs-12 nopadding styled-input input-checkbox_label @(Model.IsDefaultShipping ? "checkbox-disable" : isEnableDisableCheckbox)">
                                        <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                                        <label for="asdefault_shipping">@(Equals(_addressType, WebStoreConstants.ShippingAddressType) ? WebStore_Resources.CheckBoxTextDefaultAddress : WebStore_Resources.CheckBoxTextShippingAddress)</label>
                                    </div>
                                </div>
                                @Html.Hidden("IsBilling")
                                @Html.Hidden("IsShipping", true)
                                @Html.HiddenFor(model => model.IsDefaultBilling)
                            </div>


                            <div class="form-group input-checkbox_container mobile-margin-bottom">
                                <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                                    <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="is_both_billing_shipping" data-addressType="@_addressType" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "")
                                           onclick="Checkout.prototype.ShowHideBillingAddressDiv();" value="true" text="Both Billing and Shipping address">
                                    <label for="is_both_billing_shipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.BillingAddressType.ToProperCase())</label>
                                </div>
                            </div>
                        }
                        else if (Equals(_addressType, WebStoreConstants.BillingAddressType))
                        {
                            //Billing
                            <div class="form-group">
                                <div class="input-checkbox_container set-as-default-address-IsDefaultBilling">
                                    <div class="col-xs-12 nopadding styled-input input-checkbox_label @(Model.IsDefaultBilling ? "checkbox-disable" : isEnableDisableCheckbox)">
                                        <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                                        <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextDefaultAddress</label>
                                    </div>
                                </div>
                                @Html.Hidden("IsBilling", true)
                                @Html.Hidden("IsShipping")
                                @Html.HiddenFor(model => model.IsDefaultShipping)
                            </div>

                            <div class="form-group input-checkbox_container mobile-margin-bottom">
                                <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                                    <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="sameAsShipping" value="true" data-addressType="@_addressType" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "") value="true" text="Both Billing and Shipping address">
                                    <label for="sameAsShipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.ShippingAddressType.ToProperCase())</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            //Neither shipping nor billing
                            Model.IsDefaultShipping = (addressCount < 1) ? true : Model.IsDefaultShipping;
                            Model.IsDefaultBilling = (addressCount < 1) ? true : Model.IsDefaultBilling;

                            <div class="form-group input-checkbox_container mobile-margin-bottom">
                                <div class="col-xs-12 nopadding styled-input input-checkbox_label @(Model.IsDefaultShipping ? "checkbox-disable" : isEnableDisableCheckbox)">
                                    <input class="input-checkbox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                                    <label for="asdefault_shipping">@WebStore_Resources.CheckBoxTextShippingAddress</label>
                                </div>
                            </div>
                            <div class="form-group input-checkbox_container mobile-margin-bottom">
                                <div class="col-xs-12 nopadding styled-input @(Model.IsDefaultBilling ? "checkbox-disable" : isEnableDisableCheckbox)">
                                    <input class="input-checkbox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                                    <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextBillingAddress</label>
                                </div>
                            </div>
                            @Html.Hidden("IsBilling")
                            @Html.Hidden("IsShipping")

                        }
                    }
                    else if (Equals(_addressType, WebStoreConstants.BillingAddressType))
                    {
                        @Html.Hidden("IsAddUpdateAddress", true)
                    }

                    @if (HttpContext.Current.User.Identity.IsAuthenticated && Model.AddressId.Equals(0) && String.Equals(controllerName, "Checkout", StringComparison.InvariantCultureIgnoreCase))
                    {
                        //Checkout controller
                        <div class="form-group input-checkbox_container mobile-margin-bottom">
                            <div class="col-xs-12 nopadding styled-input input-checkbox-IsAddUpdateAddress">
                                <input type="checkbox" class="input-checkbox" name="DontAddUpdateAddress" id="is_addupdate_address" value="true" text="Add/update my address book">
                                <label for="is_addupdate_address">@WebStore_Resources.CheckBoxTextAddToAddressBook</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12 nopadding shipping-address-edit-block">
            <div class="col-xs-12 margin-bottom nopadding mobile-padding-left-right">
                <div>
                    <button type="submit" class="btn-text btn-bg-secondary btn-width-100" id="btnSaveAddress" onclick="OnSubmit(@controllerName)" title="@WebStore_Resources.ButtonSaveChanges">@WebStore_Resources.ButtonSaveChanges</button>
                    @if (String.Equals(controllerName, "Checkout", StringComparison.InvariantCultureIgnoreCase))
                    {
                        @Html.HiddenFor(model => model.OtherAddressId)
                        if (Model.UserId > 0)
                        {
                            <button type="button" class="btn-text btn-bg-secondary hidden" id="btnCancelAddress" onclick="Checkout.prototype.OnAddressSelectionCancel(@selectedAddressId,'@_addressType', @Model.UserId)" data-dismiss="modal" title="@Admin_Resources.ButtonCancel">@Admin_Resources.ButtonCancel</button>
                        }
                        else
                        {
                            <button type="button" class="btn-text btn-bg-secondary hidden" id="btnCancelAddress" onclick="Checkout.prototype.OnAddressSelectionCancel(@selectedAddressId,'@_addressType')" data-dismiss="modal" title="@Admin_Resources.ButtonCancel">@Admin_Resources.ButtonCancel</button>
                        }
                    }
                    else
                    {
                        <a href="/User/AddressBook" class="btn-text btn-bg-secondary hidden" type="button" id="btnCancelAddress" title="@WebStore_Resources.ButtonCancel">@WebStore_Resources.ButtonCancel</a>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
@Html.HiddenFor(model => model.IsAddressBook)
@Html.HiddenFor(ob => ob.StateName, new { @id = "hdn_StateCode" })
@Html.HiddenFor(ob => ob.ExternalId)
@Html.HiddenFor(ob => ob.CountryName, new { @Value = "US" })

@if (Model.AddressId > 0)
{
    @Html.HiddenFor(m => m.AddressId, new { @id = "edit_AddressId" })
    @Html.Hidden("addressType", _addressType, new { @id = "edit_AddressType" });
}
@if (Model.AccountId > 0)
{
    @Html.HiddenFor(m => m.AccountId)
    @Html.HiddenFor(m => m.AccountAddressId)
}
@Html.Hidden("addressType", _addressType, new { @id = "hnd_addressType", @class = "addressType" })
@Html.Hidden("formChange", true, new { @id = "formChange" })
@Html.Hidden("IsSameAsBillingAddress", "False", new { @name = "IsSameAsBillingAddress", @id = "IsSameAsBillingAddress" })
<script>
    $(document).ready(function () {
        Checkout.prototype.DisableFields();
        $(".addressType").each(function () {
            addresstype = $(this).val();
            if (addresstype != '') {
                User.prototype.BindStates(addresstype);
            }
        });

        Checkout.prototype.BindAddToAddressBookCheckbox();
        Checkout.prototype.ShowHideBillingAddressDiv();
        Checkout.prototype.ShowHideShippingAddressDiv();
    })

    function OnSubmit(ControllerName) {        
        if (ControllerName = "Checkout") {
            var Email = $("#address_emailaddress").val();
           
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://manage.kmail-lists.com/ajax/subscriptions/subscribe",
                "method": "POST",
                "headers": {
                    "content-type": "application/x-www-form-urlencoded",
                    "cache-control": "no-cache"
                },
                "data": {
                    "g": "R2ddEb",
                    "$fields": "$first_name,$last_name,Favorite Color,Favorite Book,$source",
                    "email": "" + Email + "",
                    "$first_name": "",
                    "$last_name": "",
                    "Favorite Color": "",
                    "Favorite Book": "",
                    "$source": "Custom Form"
                }
            };
            $.ajax(settings).done(function (response) {

                ZnodeBase.prototype.setCookie("KlaviyoEmail", Email, 100);
                console.log(response);
            });
        }
        return User.prototype.RecommendedAddress($("#addressType").val());
    }

    $("#address_phoneno").keypress(function (e) {
        //alert("called");
        var keyCode = e.keyCode || e.which;

        $("#phonenumbererror").html("");
        //alert($("#profile_PhoneNumber").val().length);
        if ($("#address_phoneno").val().length == 3 || $("#address_phoneno").val().length == 7) {
            $("#address_phoneno").val($("#address_phoneno").val() + '-');
        }
        //Regex for Valid Characters i.e. Numbers.
        var regex = /^[0-9]+$/;

        //Validate TextBox value against the Regex.
        var isValid = regex.test(String.fromCharCode(keyCode));
        //if (!isValid) {
        //    $("#phonenumbererror").html("Only Numbers allowed.");
        //}

        return isValid;
    });
</script>

