﻿@using Znode.Libraries.Resources
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.Models
@{
    if (String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = PortalAgent.CurrentPortal.Name;
    }
    int portalId = PortalAgent.CurrentPortal.PortalId;
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string _customModule = ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper() == ViewContext.Controller.GetType().Name.Replace("Controller", "") ? string.Empty : $".{ViewContext.Controller.GetType().Name.Replace("Controller", "")}";
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;

    bool isCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
    string customerServiceEmail = PortalAgent.CurrentPortal?.CustomerServiceEmail;
    string customerServicePhoneNumber = PortalAgent.CurrentPortal?.CustomerServicePhoneNumber;
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    @Scripts.Render("~/bundles/jquery")
    @Html.Partial("_LayoutHead")
</head>
<body id="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" class="@ViewContext.RouteData.Values["Action"]" data-controller="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()@_customModule" data-view="@ViewContext.RouteData.Values["Action"].ToString().FirstCharToUpper()">
    @Html.Partial(Helper.GetThemeFilePath($"/Views/Themes/", "/Views/Home/_StoreAnalyticsInstallation.cshtml"), PortalAgent.CurrentPortal)

    <div id="layout" class="wrapper">

        <!--Header Widgets-->
        <header class="header">
            <div class="container-fluid">
                <div class="row proxy-login-section">
                    <div class="container proxy-login">
                        @if (Request.IsAuthenticated && SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey) != null)
                        {
                            ImpersonationModel impersonation = SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey);

                            <span class="">
                                @impersonation.CRSName   @WebStore_Resources.LoggedInAs   @impersonation.ShopperName
                            </span>
                            <a href="/User/Logout" class="log-off" id="log-off" data-test-selector="linkLogOff"> @WebStore_Resources.LabelLogOff</a>
                        }
                    </div>
                </div>
                <div class="row header-local-container">
                    <div class="container">
                        <div class="row mobile-view-head">
                            <!--Top-Header-Msg-->
                            @Html.RenderMessage("TopHeaderShippingMessage")
                        </div>
                    </div>
                </div>
            </div>
            <div class="container Contact-info">
                <div class="row hidden-xs">
                    <div class="col-lg-12 col-xs-12 margin-top-10 nopadding">
                        <div class="col-xs-12 col-lg-6"></div>
                        <div class="col-xs-12 col-lg-6 nopadding text-right">
                            <div class="col-xs-12 col-sm-7">
                                <!--Phone-Email-->
                                <span class="display-flex contact-details">
                                    <p data-test-selector="lblCustomerPhone"><a href="tel:@customerServicePhoneNumber" title="@customerServicePhoneNumber">@customerServicePhoneNumber</a></p>&nbsp;or&nbsp;
                                    @{
                                        string customerServiceEmailValue = customerServiceEmail;
                                        if (!string.IsNullOrEmpty(customerServiceEmailValue))
                                        {
                                            char[] seperator = new char[] { ',' };
                                            string[] customerServiceEmails = customerServiceEmailValue.Split(seperator, StringSplitOptions.RemoveEmptyEntries);
                                            foreach (string email in customerServiceEmails)
                                            {
                                                <a href="@(" mailto:" + email)" data-test-selector="linkMailTo" title="@email">@email</a>
                                            }
                                        }
                                    }
                                </span>
                            </div>
                            <div class="col-xs-12 col-sm-5 nopadding Social-follow-us pull-right nopadding">
                                <!--Phone-Email-->
                                @Html.RenderMessage("TopHeaderSocialMedia")
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mobile-padding-20">
                    <!--Mobile View-->
                    <div class="col-xs-3 hidden-lg hidden-md hidden-sm display-flex">
                        <div class="header-nav-container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-nav">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="hidden">Menu</span>
                                </button>
                            </div>
                        </div>
                        <a href='#' data-toggle="collapse" data-target="#search-results" aria-expanded="false" aria-controls="search-results"><i class='f-size zf-search' data-test-selector="linkCart"></i><span class="hidden">search</span></a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 nopadding">
                        <a href="/" class="header-logo" data-test-selector="linkLogoImage">
                            @{
                                if (string.IsNullOrEmpty(logo))
                                {
                                    <h1>@title</h1>
                                }
                                else
                                {
                                    <img data-src="@logo" src="@logo" alt="@title" class="img-responsive b-lazy" data-test-selector="imgLogoImage" />
                                }
                            }
                        </a>
                    </div>
                    <!--Mobile View-->
                    <div class="col-xs-3 hidden-lg hidden-md hidden-sm mobile-login">
                        <ul>
                            <li>
                                <span class="loginStatus">
                                    @if (isCloudflareEnabled)
                                    {
                                        <span>Loading..</span>
                                    }
                                    else
                                    {
                                        @Html.Action("LoginStatus", "User")
                                    }
                                </span>
                            </li>
                            <li class="cart-icon">
                                <a href='/cart' title="Cart">@Html.RenderMessage("MessageConfig")<img src="" data-src="" alt="bag" /><span class='cartcount' data-test-selector="linkCartCount"></span> <span class="hidden-xs">BAG</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-link-contain nopadding">
                        <div class="col-xs-12 col-sm-8 col-md-8 header-link nopadding pull-right display-flex">
                            <div class="col-lg-5 col-md-5 col-sm-2 col-xs-12 searchbox hidden-sm hidden-md">
                                <div id="search-results" class="Search-box collapse">
                                    <!--Search Widget-->
                                    <z-widget><div class="search-panel-widget">@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</div></z-widget>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-12 col-xs-12 header-login hidden-xs">
                                <ul>
                                    <li class="hidden-lg hidden-xs">
                                        <a href='#' data-toggle="collapse" data-target="#search-results-tablet" aria-expanded="false" aria-controls="search-results-tablet"><i class='f-size zf-search' data-test-selector="linkCart"></i><span class="hidden">search</span></a>
                                    </li>
                                    @*<li>
                                        <span class="StoreLocatorLink">
                                            <a href="/Home/storeLocator" id="StoreLocatorLink" title="Locate a store"><img src="~/Views/Themes/RoganShoesNew/Images/locate-a-store-header.svg" data-src="~/Views/Themes/RoganShoesNew/Images/locate-a-store-header.svg" alt="findstore" /> <span class="storeName"> Locate A Store</span></a>
                                        </span>
                                    </li>*@
                                    <li>
                                        <span class="loginStatus">
                                            @if (isCloudflareEnabled)
                                            {
                                                <span>Loading..</span>
                                            }
                                            else
                                            {

                                                @Html.Action("LoginStatus", "User")
                                            }
                                        </span>
                                    </li>
                                    <li class="cart-icon">
                                        <a href='/cart' title="Cart">@Html.RenderMessage("MessageConfig")<img src="" data-src="" /><span class='cartcount' data-test-selector="linkCartCount"></span> <span class="hidden-xs">BAG</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Search Bar Tablet Potrait/Landscape-->
                    <div class="col-md-12 col-sm-12 hidden-xs hidden-lg nopadding">
                        <div id="search-results-tablet" class="Search-box collapse">
                            <!--Search Widget-->
                            <z-widget><div class="search-panel-widget">@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</div></z-widget>
                        </div>
                    </div>
                </div>
            </div>

            <!--Contactless Curbside Info / Genral Info-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 margin-top nopadding">
                        <div class="col-xs-12 col-lg-3 background-secondary hidden-xs hidden-md hidden-sm" style="right:5px;">
                            <!--Store Safety Info-->
                            @Html.RenderMessage("TopHeaderGenralInfo1")
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 background-primary">
                            <!--Promotion Text Info-->
                            @Html.RenderMessage("TopHeaderGenralInfo2")
                        </div>
                        <div class="col-xs-12 col-lg-3 background-secondary background-secondary-image hidden-xs hidden-md hidden-sm" style="left:5px;">
                            <!--Contactless Curbside Pickup Info-->
                            @Html.RenderMessage("TopHeaderGenralInfo3")
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <div id="layout-content">
            <div class="container-fluid" id="SuccessMessage">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <!-- Notification Msg -->
                    <div class="container">
                        <div class="row">
                            <div class="notification-msg" id="body">
                                <div class="messageBoxContainer" id="messageBoxContainerId" data-message="@TempData["Notifications"]"></div>
                                @{
                                    TempData.Remove("Notifications");
                                }
                            </div>
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
        <!--Footer Widgets-->
        @{
            Html.RenderAction("FooterContent", "Home", new { portalId = _portal.PortalId, publishState = _portal.PublishState, localeId = Helper.GetLocaleId(), profileId = Helper.GetProfileId(), accountId = Helper.GetUserAccountId() });
        }
    </div>
    @Html.Partial("_InlineTemplates")

    @Html.Hidden("hdnPaymentAppUrl", @ZnodeWebstoreSettings.PaymentApplicationUrl)
    @Html.Hidden("hdnWebStoreUrl", @ZnodeWebstoreSettings.ZnodeWebStoreUri)
    @Scripts.Render("~/bundles/CoreJs")
    @Scripts.Render("~/bundles/ZnodeCoreJs")

    @RenderSection("scripts", required: false)
    @* Loader *@
    <div id='Single-loader-content-backdrop' class='loader modal-backdrop' style="display:none">
        <div id='loading' class='d-flex modal-dialog-centered justify-content-center'>
            <img src="@_fileLocation/Images/loading.svg" alt="Loading"/>
        </div>
    </div>
    @* Kalviyo Changes *@
    <script type="text/javascript" async src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=SuefjY"></script>
</body>
</html>
<script>
    //$.ajax({ url: "/Home/GetCartCount", type: "get", cache: false }).done(function (t) { $(".cartcount").html(t); });
    $.ajax({ url: "/Home/GetCartCount", type: "get", cache: false })
        .done(function (t) {
            var img = "";
            if (t == 0) {
                img = "/Views/Themes/RoganShoesNew/Images/shopping_bag_empty.svg";
            }
            else {
                img = "/Views/Themes/RoganShoesNew/Images/Bag-filled.svg";
                $(".cartcount").html(t);
            }
            $(".cart-icon a img").each(function () {
                $(this).attr('src', img);
                $(this).attr('data-src', img);
                $(this).attr('alt', 'bag');
            });
        });
    if ('@isCloudflareEnabled' == 'True')
    {
        $.ajax({ url: "/User/LoginStatus", type: "get", cache: false  }).done(function(t) { $(".loginStatus").html(t); });
    }
    /*Nivi Code to Automatically set store, nearest to user IP location, as default*/
    $.ajax(
        {
            url: "/RSHome/GetStoreName",
            type: "get",
            headers: { "cache-control": "no-cache", "Pragma": "no-cache" }
        }
    ).done
        (function (t) {
            if (t != "Locate A Store") {                
                var storedetails = t.split("*");
                // alert(storedetails[0] + ',' + storedetails[1] + "," + storedetails[2]);
                $(".storeName").html($.trim(storedetails[1]));
                $("#StoreNameShowMobile").html($.trim(storedetails[1]));
                $("#StoreNameShowMobile").attr('title', $.trim(storedetails[1]));
                $("#StoreLocatorLink").attr('title', $.trim(storedetails[1]));
            }
            else {
                //alert("else");
                InStorePickUp.prototype.GetLocation('Header');
            }

        });
    /*Nivi Code end*/
</script>
<script>
    // Data Layer Initialization
    var dataLayer = [];

    $(document).ready(function () {
        var notification = new ZnodeNotification();
        notification.DisplayNotificationMessages();
    });
</script>
@* Kalviyo Changes *@
<script>
        //var Email = Checkout.prototype.GetCookie("KlaviyoEmail");
        //console.log(Email);
        //var _learnq = _learnq || [];
        //_learnq.push(['identify', {
        //    '$email': Email
        //}]);
</script>

