﻿@*---Payment View PopUp----*@
<div class="modal fade payment-view-popup" id="payment-view-popup-ipad" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
           
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" data-test-selector="btnPaymentViewClose" onclick="Checkout.prototype.HideLoader()"><i class="zf-close"></i><span class="hidden">close</span></button>
                <div id="payment-view-content" class="payment-view-content"></div>
                <div id="errorPayment" class="field-validation-error error-payment-validation"></div>
            </div>

            <div class="modal-footer">
                <button onclick="Quote.prototype.ClosePopup(this)" id="btnClosePopup" name="closePopup" class="btn-text btn-bg-secondary">
                    @WebStore_Resources.ButtonCancel
                </button>
                <button onclick="Quote.prototype.ConvertQuoteToOrder(this)" id="btnConvertQuoteToOrder" data-isquote="true" name="ConvertQuoteToOrder" class="btn-text btn-bg-primary">
                    @WebStore_Resources.btnPlaceOrder
                </button>

            </div>
          </div>
      </div>
</div>
