@using Znode.Engine.WebStore.Agents
@model Int32
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    Layout = null;
}

<div class="container container-small">
    <div>
        <z-widget>@Html.WidgetPartial("TextEditor", "ContentPage", "996070", "ContentPageMapping", (int)Model)</z-widget>
    </div>
</div>