﻿<div class="newsletter-widget">

    <div class="col-xs-12 col-sm-12 input-field">
        @using (Ajax.BeginForm("SignUpForNewsLetter", "Home", null, new { @id = "searchform" }))
        {
            <div class="col-lg-12 margin-top">
                <div class="input-group" id="newsletter">
                    @Html.TextBox("txtNewsLetterSignUp", "", new { placeholder = WebStore_Resources.LabelSenderMailId, @data_test_selector = "txtNewsLetterEmail" })

                </div>
            </div>
            <div class="col-lg-12 text-center margin-top">
                <span class="input-group-btn">
                    <button class="btn-default" id="btnNewsLetterSignUp" type="button" onclick="Home.prototype.ValidationForEmailID();" data-test-selector="btnNewsLetterSignUp">JOIN</button>
                </span>
            </div>

        }
        <p id="newslettererrormessage" style="display:none" data-test-selector="lblnewslettererrmsg"></p>
    </div>
</div>
