﻿@import "_base.scss";

.navbar-collapse{padding-top:14px!important;}
.navbar-nav{margin:0;border-bottom: 1px solid #ddd;
    > li {
        &:hover {background-color:$base-color-white;border-bottom:5px solid $base-color-primary;}
        > a {padding: 12px;font-size:$base-font-size + 3;color:$base-color-black;text-transform:uppercase;font-family:$base-font-family-bold;letter-spacing: 1.6px;
            &:hover,&:active,&:focus{background-color:$nav-bgcolor-hover;color:$base-color-primary;}
        }
        .brand-filter a{font-size:18px;text-align:center;
            &:hover{background-color:#f4f4f4;}
        }
    }
   
}
.dropdown:hover .dropdown-menu {display: block;}
.dropdown-menu ul {padding: 0 0 10px 15px;
    li {line-height: 40px; min-height: 24px;}
}
.dropdown-menu{background-color: #fffffff0!important;padding: 0px 0;border-radius:0px;}
.dropdown-menu{
    .rotate{width:50%;background-color: #001847;color:#ffffff;position: relative;min-height: 300px;padding: 0px;text-align: center;text-transform:uppercase;
                       span{writing-mode: vertical-lr;transform: rotate(180deg);font-size:46px;margin-top:20px;margin-bottom:20px;font-weight:600;min-height: 650px;}
               }
    .set-4{list-style-type: disc;-webkit-columns: 4;-moz-columns: 4;columns: 4;list-style-position: inside;-webkit-column-count: 4;-moz-column-count: 4;column-count: 4;-webkit-column-gap: 40px;-moz-column-gap: 40px;column-gap: 40px;}
}
.navbar-collapse{padding:0;
   .navbar-nav{width:100%;display:table;text-align:center;
      li{display:inline-block;float:none;}
   }
}
.Brandlist  ul li a{margin-top:8px !important;}
.Brandlist  ul {padding-top:20px !important;}
.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
    position: static;
}
.yamm .container {position: relative;}
.yamm .dropdown-menu {left: auto;}
.yamm .nav.navbar-right .dropdown-menu {left:auto;right:0;}
.yamm .yamm-content {padding:20px;}
.yamm .dropdown.yamm-fw .dropdown-menu {left:0;right:0;}
.yamm .dropdown ul li {width:19%;background-color:transparent;display:inline-block;vertical-align:top;line-height:24px;
    &.view-all a {color:$base-color-primary;}
    a {font-weight:bold; background-color:transparent;color:$base-color-primary;white-space:normal !important;text-transform:uppercase;margin-top: 35px;}
    .sub-menu-child {padding-left:0px;
        li {width:100%;list-style:none; 
             a {background-color:transparent;font-weight:normal;color:#000;text-transform:none;}
             ul li a {font-weight:normal;}
        }
    }    
    i {padding-right:10px;color:$base-color-primary;}
}
.yamm .dropdown ul li a:hover, .yamm .dropdown ul li .sub-menu-child li a:hover {color:$base-color-primary;}

// Nav Dropdown Code.
.nav-drop{right:0;line-height:50px;font-size:18px;color:$base-color-white;margin-top:-50px;margin-right:20px;
    &:hover,&:active,&:focus{color:$base-color-primary;}
}

.nav-drop-container ul{background-color:$nav-bgcolor;margin:0;padding:0;position:absolute;right:-5px;width:50%;border-radius:0;
    li{list-style:none; display:block;position:relative !important;color:$base-color-white;min-height:24px;line-height:40px;
        a{padding:0 15px;color:$base-color-white;width:100%;display:block;}
        &:hover{background-color:$base-color-primary;color:$base-color-white;}

        ul{float:none !important;position:static !important;width:100%;min-height:50px !important;
           li{width:100% !important;
               a{color:$base-color-white !important;padding:10px 15px;}
           }
        }
    }
}

// Media Query.
@include screensize(x-small) {
    nav .nav-home{display:none;}
    .navbar-nav{height:auto !important;}
    .dropdown:hover .dropdown-menu {float:none;position:static;}
    .yamm .dropdown ul li{width:100%;}  
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:100px;}
}
@include screensize(small) {
    nav .nav-home{display:block;}
    .navbar-nav{height:50px !important;}
    .dropdown:hover .dropdown-menu {float:left;position:absolute;}
    .yamm .dropdown ul li{width:48%;}
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:250px;max-height:700px;overflow-y:auto;}
    .dropdown-menu{
        .rotate{
                 span{min-height: 400px;font-size:42px;}
               }
        }
}
@include screensize(medium) {
    .yamm .dropdown ul li{width:100%;}
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:250px;max-height:450px;overflow-y:auto;}
}
@include screensize(x-large) {
    .yamm .dropdown.yamm-fw .dropdown-menu {max-height:700px;}
    .dropdown-menu{
        .rotate{
                 span{min-height: 650px;}
               }
        }
    .dropdown-menu{top:100%;}
}
