﻿@import "_base.scss";

#layout-category .category-landing-container .products-modes-setting h1{display:none;}
#layout-category { 
    h1{font-size:30px;font-family:$base-font-family-semibold;letter-spacing:2.1px;text-align:center;text-transform:uppercase;margin-top:5px;margin-bottom:20px;}
    .PLP-Container{ 
        .side-bar{width:19%;border-right:1px solid $base-color-black;padding-right:0px;}
        .category-landing-container{width:81%;}
    }
}
.narrow-results-pane{margin-top:0px;}

.search-result{font-size:16px;float:left;font-family:$base-font-family-medium;text-transform:uppercase;
    b{color:$base-color-primary;}
}
// Media Query.
@include screensize(x-small) {
    .category-recent-view-list{padding:0 5px;
        .product-list-widget{padding:0;}
    }
    .category-landing-container{padding-right:5px;padding-left:5px;}
    .category-landing-container .category-more{position:relative;top:-48px;left:-78px;}
}
@include screensize(small) {        
    .category-landing-container{padding-right:0;padding-left:15px;}
    .narrow-results-pane{display:block;}
    .category-recent-view-list{padding:0;}
    .category-landing-container .category-more{left:-126px;}
}
@include screensize(medium) { 
        .category-landing-container .category-more{left:-85px;}
}
@include screensize(x-large){ 
    .category-landing-container .category-more{left:-78px;}
}