﻿@import "_base.scss";

.advertisement-banner h3{font-size:20px;margin:40px 0;text-align:center;color:$base-color-secondary}

.home-wide-promo{min-height:40px;border:1px solid $border-bgcolor-default;margin:20px 0;text-align:center; background:$base-color-white;background: -moz-linear-gradient(top,  #ffffff 0, #f1f1f1 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#f1f1f1));background: -webkit-linear-gradient(top,  #ffffff 0,#f1f1f1 100%);background: -o-linear-gradient(top,  #ffffff 0,#f1f1f1 100%); background: -ms-linear-gradient(top,  #ffffff 0,#f1f1f1 100%);background: linear-gradient(to bottom,  #ffffff 0,#f1f1f1 100%);
    h5{color:#252525;line-height:40px;
        span{color:$base-color-primary;font-weight:bold;}
        i{font-size:44px;color:$base-color-primary;padding-left:5px;vertical-align:middle;}
    }    
}
.product-list-title{margin-bottom:30px;}

.track-order{float:right;
    a{color:$base-color-white;padding-right:15px;font-size:$base-font-size - 1;}
}
.label-environment{color:$base-color-white;font-size:$base-font-size;max-width:160px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#Roganspromise{background-color:$footer-bgcolor;min-height:300px;padding-top:70px;padding-bottom:70px;text-align:center;margin-bottom:50px;
               h2{font-size:70px;font-family:$base-font-family-brandon;}
               .margin-bottom-45{margin-bottom:45px;
                                 p{font-size:18px;margin-top:28px;}
               }
               .details{
                   h4{font-size:18px;font-family:$base-font-family-bold;margin-bottom:25px;margin-top:35px;text-transform:uppercase;color:$base-color-secondary;letter-spacing:1.8px;min-height:35px;}
                   p{font-size:16px;min-height:120px;}
                   a{font-size:16px;text-transform:uppercase;letter-spacing:1.6px;font-family:$base-font-family-bold;}
               }
               img{margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:20px;}
}
.Home-content h3{font-family:$base-font-family-semibold;font-size:30px;color:$base-color-black;text-transform:uppercase;text-align: center;margin-top: 30px;margin-bottom:-10px;}
.Welcome-Note{font-size:15px;font-family:$base-font-family;text-align:center;margin-top:10px;margin-bottom:80px;padding:0px 100px 0px 100px;line-height:25px;
              a{color:$base-color-primary;text-decoration:underline;}
}
// Media Query.
@include screensize(x-small) { 
    .Home-content h3{font-size:13px;color:$base-color-black;text-transform:uppercase;text-align: center;margin-top: 10px;margin-bottom:10px;}
}
@include screensize(medium) { 
    .Home-content h3{font-size:30px;color:$base-color-black;text-transform:uppercase;text-align: center;margin-top: 30px;margin-bottom:-10px;}
        
}
@include screensize(large){
    #Roganspromise{
               .details{
                   h4{min-height:35px;}
                   p{min-height:150px;}
               }
    }
}
@include screensize(x-large){
    #Roganspromise{
               .details{
                   h4{min-height:0;}
                   p{min-height:120px;}
               }
    }
}