﻿@import "_base.scss";

.navbar-collapse{padding-top:8px!important;}
.navbar-nav{margin:0;border-bottom: 1px solid #ddd;
    > li {
        &:hover {background-color:$base-color-white;border-bottom:5px solid $base-color-primary;color:$base-color-primary;}
        > a {margin: 20px 0px 4px 0px;padding:0px;font-size:$base-font-size + 2;color:$base-color-black;text-transform:uppercase;font-family:$base-font-family-bold;letter-spacing: 1.6px;
            &:hover,&:active,&:focus{background-color:$nav-bgcolor-hover;color:$base-color-primary;}
        }
        .brand-filter a{font-size:18px;text-align:center;
            &:hover{background-color:#f4f4f4;}
        }
    }
   
}
.dropdown:hover .dropdown-menu {display: block;}
.dropdown-menu ul {padding: 5px 0 10px 15px;
    li {line-height: 40px; min-height: 24px;}
}
.dropdown-menu{background-color: #fffffff0!important;padding: 0px 0;border-radius:0px;}
.dropdown-menu{
    .rotate{width:50%;background-color: #001847;color:#ffffff;position: relative;min-height: 300px;padding: 0px;text-align: center;text-transform:uppercase;
                       span{writing-mode: vertical-lr;transform: rotate(180deg);font-size:46px;margin-top:20px;margin-bottom:20px;font-weight:600;min-height: 650px;}
               }
    .set-4{list-style-type: disc;-webkit-columns: 5;-moz-columns: 5;columns: 5;list-style-position: inside;-webkit-column-count: 5;-moz-column-count: 5;column-count: 5;-webkit-column-gap: 0px;-moz-column-gap: 0px;column-gap: 0px;height:360px;width:100%;
           .brand-name a{background-color: transparent;font-family: $base-font-family;color: #000;text-transform: none;font-size: $base-font-size - 1;}
    }
    img{width:100%;}
}
.navbar-collapse{padding:0;
   .navbar-nav{width:100%;display:table;text-align:center;
      li{display:inline-block;float:none;margin: 0px 20px 0px 20px;}
   }
}
.Brandlist  ul li a{margin-top:8px !important;}
.Brandlist  ul {padding-top:20px !important;}
.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
    position: static;
}
.yamm .container {position: relative;}
.yamm .dropdown-menu {left: auto;}
.yamm .nav.navbar-right .dropdown-menu {left:auto;right:0;}
.yamm .yamm-content {padding:20px;}
.yamm .dropdown.yamm-fw .dropdown-menu {left:0;right:0;margin-top:-1px;}
.yamm .dropdown ul .brand-name{display:block;}
.yamm .dropdown ul li {width:19%;background-color:transparent;display:inline-block;vertical-align:top;line-height:26px;
    &.view-all a {color:$base-color-primary;}
    a {font-family:$base-font-family-bold; background-color:transparent;color:$base-color-primary;white-space:normal !important;text-transform:uppercase;margin-top: 35px;font-size:12px;letter-spacing:1.2px;}
    .sub-menu-child {padding-left:0px;
        li {width:100%;list-style:none;margin:0px;
             a {background-color:transparent;font-family:$base-font-family;color:#000;text-transform:none;font-size:$base-font-size - 1;}
             ul li a {font-weight:normal;}
        }
    }    
    i {padding-right:10px;color:$base-color-primary;}
}
.yamm .dropdown ul li a:hover, .yamm .dropdown ul li .sub-menu-child li a:hover {color:$base-color-primary;}

// Nav Dropdown Code.
.nav-drop{right:0;line-height:50px;font-size:18px;color:$base-color-white;margin-top:-50px;margin-right:20px;
    &:hover,&:active,&:focus{color:$base-color-primary;}
}

.nav-drop-container ul{background-color:$nav-bgcolor;margin:0;padding:0;position:absolute;right:-5px;width:50%;border-radius:0;
    li{list-style:none; display:block;position:relative !important;color:$base-color-white;min-height:24px;line-height:40px;
        a{padding:0 15px;color:$base-color-white;width:100%;display:block;}
        &:hover{background-color:$base-color-primary;color:$base-color-white;}

        ul{float:none !important;position:static !important;width:100%;min-height:50px !important;
           li{width:100% !important;
               a{color:$base-color-white !important;padding:10px 15px;}
           }
        }
    }
}

// Media Query.
@include screensize(x-small) {
    .navbar-collapse .navbar-nav li{display:block;margin:0px;}
    .nav .nav-home{display:none;}
    .navbar-nav{height:auto !important;border-bottom: none;}
    .dropdown:hover .dropdown-menu {float:none;position:static;}
    .yamm .dropdown ul li{width:100%;}  
    //Mobile View Css
    .dropdown-menu ul{padding: 5px 0 10px 0px;}
    .panel-title>a.iconnone{margin-left:25px}.panel-title>a.iconnone:before{float:left!important;content:"";}.panel-title>a:before{float:left!important;content:"-";padding-right:15px;line-height:20px}.panel-title>a.collapsed:before{float:left!important;content:"+"}
    .panel-title > a:before{padding-right:15px;line-height:11px;font-size:$base-font-size + 2;}
    .navbar-nav > li > a{font-size:$base-font-size - 2;text-align:left;margin: 15px 20px 15px 20px;background-color:transparent!important;}
    .navbar-nav > li:hover{border-bottom: 0px;color: $base-color-white;background-color: #ffffff00;}
    .header-nav{position: absolute;margin-top: -130px;width: 100%;background-color: $base-color-white;z-index:9;}
    .mobile-close{margin-top: -50px!important;font-size: 25px;background-color: transparent!important;border: none;color:$base-color-white;}
    .shopbybrand-mobile{background-color: $base-color-secondary!important;color: $base-color-white;margin: 0px!important;padding: 15px 0px 15px 20px;font-size: 12px;text-transform: uppercase;letter-spacing: 1.25px;font-family: $base-font-family-bold;text-align:left;}
    .navbar-collapse {padding-top: 0px !important;margin-top: -2px;}
    .close1 {margin-top: 7px;margin-right: 22px;text-align: left;float: left;width: 100%;padding: 0px;margin-bottom: 10px;}
    .Submenumobile{background-color:transparent;top:0px;text-align:left;position: relative;border: 1px solid #eee;
        .modal-content {border:none!important;border-bottom: 1px solid $footer-bgcolor;
            .mobileexit{font-size:12px!important;text-transform:uppercase;letter-spacing:1.45px;padding: 5px 0px 5px 0px;color:$base-color-secondary;font-family:$base-font-family-semibold;
               i{font-size:9px;}
            }
            .mobileViewall{font-size:12px!important;text-transform:uppercase;letter-spacing:1.45px;padding: 5px 0px 5px 0px;color:$base-color-secondary;font-family:$base-font-family-semibold;margin-left:25px;}

        }
        .submenu-ul{padding:0px;
            .panel-group .panel{border-radius: 0px;background-color: transparent;border-color: transparent;}
            .panel-group{margin:0px;
               .panel-default>.panel-heading{color: $base-color-primary;background-color: transparent;border-color: transparent;margin:10px 0px 10px 0px;padding:0px;
                   .panel-title{font-family:$base-font-family-semibold;font-size:12px;letter-spacing:1.25px;text-transform:uppercase;}
                   
               }
               //.box-shadow-mobile{position: absolute;background-color: $base-color-white;width: 100%;border-top: 5px solid $base-color-primary;background-clip: padding-box;border-radius: 0px;box-shadow: 0px 6px 12px #999;}
            }
            .panel-body{padding:0px;margin:0px;
                               ul{padding-right:0px;padding-left:25px;margin-bottom:15px;
                                  li{padding:0px;margin:0px;margin-bottom: 10px;
                                     a{font-family:$base-font-family;font-size:$base-font-size - 1;text-transform:none;color:$base-color-black;}
                                  }
                               }
                   }
            
        }
    }
}
@include screensize(small) {
    .navbar-toggle{display:block;}
    .header-nav{position: absolute;margin-top: -203px;width: 100%;background-color: #fffffff7;z-index:9;}
    .mobile-close{margin-top:-68px!important;}
    .dropdown-menu ul{padding: 5px 0 10px 15px;}
    .navbar-collapse .navbar-nav li{margin:0px 20px 0px 20px;}
    .navbar-nav > li > a{font-size:$base-font-size - 2;text-align:left;margin: 15px 20px 15px 20px;background-color:transparent!important;}
    .navbar-nav > li:hover{border-bottom: 0px;color: $base-color-white;background-color: #ffffff00;}
    
    nav .nav-home{display:block;}
    .navbar-nav{height:50px !important;}
    .dropdown:hover .dropdown-menu {float:left;position:absolute;}
    .yamm .dropdown ul li{width:48%;}
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:410px;max-height:410px;overflow-y:auto;}
    .dropdown-menu{
        .rotate{
                 span{min-height: 363px;font-size:42px;}
               }
        }
    .navbar-collapse {padding-top: 0px!important;margin-top: 0px;}
    .dropdown-menu{
        .set-4{list-style-type: disc;-webkit-columns: 5;-moz-columns: 5;columns: 5;list-style-position: inside;-webkit-column-count: 5;-moz-column-count: 5;column-count: 5;-webkit-column-gap: 0px;-moz-column-gap: 0px;column-gap: 0px;height:360px;width:100%;
           .brand-name a{background-color: transparent;font-family: $base-font-family;color: #000;text-transform: none;font-size: $base-font-size - 1;}
        }
    }
}
@include screensize(medium) {
    .navbar-nav > li:hover{border-bottom: 5px solid $base-color-primary;color: $base-color-primary;background-color:transparent;}
    .navbar-nav > li > a{font-size:$base-font-size + 2;margin:20px 0 5px 0;}
    .navbar-collapse .navbar-nav li{display:inline-block;}
    .navbar-collapse {padding-top: 8px !important;margin-top: 0px;display:block;}
    .yamm .dropdown ul li{width:100%;}
    .dropdown-menu ul{padding: 5px 0 10px 0px;}
    .header-nav{position: relative;margin-top: 0px;}
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:410px;max-height:410px;overflow-y:auto;}
}
@include screensize(desktop){
    .dropdown-menu ul{padding: 5px 0 10px 15px;}
}
@include screensize(x-large) {
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:410px;max-height:410px;}
    .dropdown-menu{
        .rotate{
                 span{min-height: 363px;}
               }
        }
    .dropdown-menu{top:100%;}
}

