﻿@import "_base.scss";

#Brands{margin-bottom: 60px;}
.see-all{font-family: $base-font-family-bold!important;background-color: transparent;color: $base-color-primary!important;white-space: normal !important;text-transform: uppercase!important;font-size: 12px!important;letter-spacing: 1.2px!important;}
.brand-container{margin-top:3%;
    .brand-filter{text-align:center;float:left;width:100%;margin:0;padding:0;
        li{list-style:none;display:block;padding-right:30px;
             a{font-size:18px;
               &:hover{color:$base-color-primary;}
             }
        }
    }
    .brand-list{display:block;padding:0;column-count:5;
        li{display:block;vertical-align:top;margin-bottom:10px;width:49%;}
        a{color:$base-color-secondary;text-align:center;
          &:hover{color:$base-color-primary;text-decoration:underline;}
          label{text-align:left; width:100%;cursor:pointer;padding-top:5px;font-family:$base-font-family;display: table-cell;
                &:hover{color:$base-color-primary;text-decoration:underline;}
          }
        }        
    }    
}

.brand-list-widget{
    ul{width:100%;display:flex;flex-wrap:wrap;padding:0;margin:0;margin-top:15px;
        li{width:calc(11% - 10px);display:inline-block;margin:60px 5px 70px;text-align:center;
           a{margin:0 auto;padding:0px;width:100%;display: table-cell;height: 75px;vertical-align: middle;
              img{margin:auto;filter: grayscale(100%);-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */}
           }
        }
    }
}

// Brand Category Banner.
.brand-banner{margin-bottom:20px;
    p{text-align:justify;padding-right:5px;padding-bottom:10px;
      a{color:$base-color-primary;}
    }
    img{margin:40px auto auto;max-height:150px;}
    .more{padding-bottom:10px;}
}

// Media Query.
@include screensize(x-small) { 
.brand-container{padding:0 5px;
    .brand-filter li{padding-right:13px;border: 1px solid silver;padding: 5px 10px 5px 10px;width: 14%;
        a{font-size:14px;}
    } 
    .brand-list{column-count:2; li{width:100%;}}
}
.brand-list-widget ul li{margin: 0px 5px 25px;width: calc(25% - 10px);}
}
@include screensize(small) { 
.brand-container{padding:0;
    .brand-filter li{border: 1px solid silver;padding: 7px 15px 7px 15px;width: auto;
        a{font-size:16px;font-family:$base-font-family-semibold;text-transform:uppercase;}
    } 
    .brand-list{column-count:3; li{width:100%;}}
}
.brand-list-widget ul li{margin: 0px 5px 25px;width: calc(24% - 5px);}
}
@include screensize(medium) {
    .brand-container{padding:0;
        .brand-list{column-count:4; li{width:100%;}}
    }
    .brand-list-widget ul li{margin: 60px 5px 70px;width: calc(11% - -4px);}
}
@include screensize(desktop){
     .brand-container{padding:0;
        .brand-list{column-count:5; li{width:100%;}}
        }
}
@include screensize(xx-large){
    .brand-list-widget ul li{width: calc(13% - 20px);}
}