﻿#Brands { margin-bottom: 60px; }

.see-all { font-family: "WorkSans-Bold", sans-serif !important; background-color: transparent; color: #E00B2B !important; white-space: normal !important; text-transform: uppercase !important; font-size: 12px !important; letter-spacing: 1.2px !important; }

.brand-container { margin-top: 3%; }

.brand-container .brand-filter { text-align: center; float: left; width: 100%; margin: 0; padding: 0; }

.brand-container .brand-filter li { list-style: none; display: block; padding-right: 30px; }

.brand-container .brand-filter li a { font-size: 18px; }

.brand-container .brand-filter li a:hover { color: #E00B2B; }

.brand-container .brand-list { display: block; padding: 0; column-count: 5; }

.brand-container .brand-list li { display: block; vertical-align: top; margin-bottom: 10px; width: 49%; }

.brand-container .brand-list a { color: #001847; text-align: center; }

.brand-container .brand-list a:hover { color: #E00B2B; text-decoration: underline; }

.brand-container .brand-list a label { text-align: left; width: 100%; cursor: pointer; padding-top: 5px; font-family: "WorkSans-Regular", sans-serif; display: table-cell; }

.brand-container .brand-list a label:hover { color: #E00B2B; text-decoration: underline; }

.brand-list-widget ul { width: 100%; display: flex; flex-wrap: wrap; padding: 0; margin: 0; margin-top: 15px; }

.brand-list-widget ul li { width: calc(11% - 10px); display: inline-block; margin: 60px 5px 70px; text-align: center; }

.brand-list-widget ul li a { margin: 0 auto; padding: 0px; width: 100%; display: table-cell; height: 75px; vertical-align: middle; }

.brand-list-widget ul li a img { margin: auto; filter: grayscale(100%); -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */ }

.brand-banner { margin-bottom: 20px; }

.brand-banner p { text-align: justify; padding-right: 5px; padding-bottom: 10px; }

.brand-banner p a { color: #E00B2B; }

.brand-banner img { margin: 40px auto auto; max-height: 150px; }

.brand-banner .more { padding-bottom: 10px; }

@media all and (min-width: 320px) { .brand-container { padding: 0 5px; }
  .brand-container .brand-filter li { padding-right: 13px; border: 1px solid silver; padding: 5px 10px 5px 10px; width: 14%; }
  .brand-container .brand-filter li a { font-size: 14px; }
  .brand-container .brand-list { column-count: 2; }
  .brand-container .brand-list li { width: 100%; }
  .brand-list-widget ul li { margin: 0px 5px 25px; width: calc(25% - 10px); } }

@media all and (min-width: 768px) { .brand-container { padding: 0; }
  .brand-container .brand-filter li { border: 1px solid silver; padding: 7px 15px 7px 15px; width: auto; }
  .brand-container .brand-filter li a { font-size: 16px; font-family: "WorkSans-SemiBold", sans-serif; text-transform: uppercase; }
  .brand-container .brand-list { column-count: 3; }
  .brand-container .brand-list li { width: 100%; }
  .brand-list-widget ul li { margin: 0px 5px 25px; width: calc(24% - 5px); } }

@media all and (min-width: 992px) { .brand-container { padding: 0; }
  .brand-container .brand-list { column-count: 4; }
  .brand-container .brand-list li { width: 100%; }
  .brand-list-widget ul li { margin: 60px 5px 70px; width: calc(11% - -4px); } }

@media all and (min-width: 1200px) { .brand-container { padding: 0; }
  .brand-container .brand-list { column-count: 5; }
  .brand-container .brand-list li { width: 100%; } }

@media all and (min-width: 1800px) { .brand-list-widget ul li { width: calc(13% - 20px); } }
