﻿@import "_base.scss";

.shopping-cart {

    label {
        font-size: 14px;
        font-family: $base-font-family;
        display: inline-grid;

        .location {
            font-family: $base-font-family-semibold;
            line-height: 16px;
        }
    }

    .leftarrow {
        font-size: 10px;
        margin-right: 5px;
    }

    .cart-heading {
        justify-content: space-between;

        h1 {
            font-size: 22px;
            font-family: $base-font-family-bold;
            letter-spacing: 2.29px;

            span {
                font-size: 16px;
                font-family: $base-font-family;
                letter-spacing: .48px;
            }
        }

        @media only screen and (max-width: 480px) {
            flex-wrap: wrap;
            flex-direction: column;

            .page-title, .continue-shopping-btn {
                flex: 1 0 0;
                margin-left: 0;
                margin-bottom: 10px;
            }
        }

        @media only screen and (min-width: 992px) {
            .continue-shopping-btn {
                margin-right: 15px;
            }
        }
    }

    .cart-buttons {
        display: initial;
        justify-content: flex-end;

        a {
            width: 100%;
            text-decoration: none;
        }

        .btn-text-icon {
            flex: 1 0 0;
            margin-left: 15px;

            &:first-child {
                margin-left: 0;
            }
        }

        div {
            margin-left: 10px;
        }
    }

    .cart-total-title .cart-sub-heading {
        font-size: 16px;
        color: $base-color-primary;
        font-weight: bold;
    }

    .cart-products {
        table {
            margin-bottom: 0;

            tr td, tr th {
                vertical-align: middle;
                padding: 5px;
            }

            tr th:first-child {
                width: 30px;
            }

            tr td:first-child {
                padding: 0;
                margin-top: 15px;
            }
        }

        .thead-text {
            font-weight: bold;
        }
    }

    .remove-item a {
        float: left;
        width: 100%;
        text-align: center;
        color: $base-color-primary;
    }

    .remove-all-item {
        margin-top: -30px;
    }

    .edit-delete {
        display: inline-flex;
        left: 100px;
        text-transform: uppercase;

        .Edit {
            font-size: $base-font-size + 2;
            width: auto;
            margin-right: 15px;
        }

        .Delete {
            font-size: $base-font-size + 2;
            width: auto;
            color: $base-color-primary;
        }
    }

    .cart-item-details {
        .location {
            margin-bottom: 0px;
            color: $base-color-primary;
            margin-top: -10px;
            font-family: $base-font-family-semibold;
            margin-left: 32px;
            margin-bottom: 5px;
            line-height: 18px;
            font-size: $base-font-size;
        }

        .select-store {
            a {
                font-size: $base-font-size;
                font-family: $base-font-family;
                min-height: 25px !important;
                text-transform: uppercase;
                margin-left: 32px;
                margin-top: 5px;
            }
        }

        .pdp-error-msg {
            background-color: $footer-bgcolor;
            border-left: 7px solid $base-color-black;
            padding: 10px;
            text-transform: uppercase;
            font-size: $base-font-size;
            margin-left: 32px;
        }

        .move-to-wishlist {
            font-size: 14px;
            font-family: $base-font-family;
            letter-spacing: 0.42px;
            height: 44px;
            border: 1px solid $base-color-black;
            text-align: center;
            text-transform: uppercase;
            line-height: 40px;
        }

        .cart-item-sku {
            line-height: 25px;
            margin-bottom: 15px;
            font-size: $base-font-size;
            letter-spacing: .78px;
        }

        .cart-item-total {
            font-size: 18px;
            font-family: $base-font-family-bold;
            text-align: right;
            line-height: 32px;
            letter-spacing: 1.87px;
        }

        .cart-item-description {
            font-size: $base-font-size + 2;
            line-height: 26px;
            color: #65666C;
            min-height: 188px;
            letter-spacing: .48px;
            word-break: break-word;
        }

        a {
            display: block;
            font-size: $base-font-size + 4;
            font-family: $base-font-family-semibold;
            line-height: 26px;
            overflow: hidden;
            width: 100%;
            letter-spacing: 1.01px;
            word-break: break-word;
        }

        .group-product-list p {
            line-height: 32px;
            font-weight: 600;

            i {
                font-size: 13px;
                color: $base-color-primary;
            }
        }

        .cart-image {
            a {
                max-height: 100%;
                overflow: visible;
                min-height: 200px;
            }
        }
    }

    .cart-item-quantity .quantity-msg-error {
        display: inline-block;
        font-size: $base-font-size;
        line-height: 19px;
        width: 100%;
        margin-top: 5px;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #FFFF00;
        color: $base-color-black;
    }

    .cart-summary {
        .text-center {
            background-color: #f7f7f7;
            border: 1px solid $border-bgcolor-default;
            border-top: 0;
            padding: 20px;
        }

        .order-summary {
            margin-top: 0px;
        }

        .cart-total {
            text-align: right;
            color: $base-color-secondary;
            margin-top: 15px;
            position: initial;


            .form-group {
                float: left;
                width: 100%;
                margin-bottom: 15px;
                line-height: 15px;
                padding: 0px;
            }

            .total {
                float: left;
                width: 100%;

                h3 {
                    color: $base-color-black;
                    font-size: 16px;
                    font-family: $base-font-family-bold;
                }
            }
        }

        .cart-item-remove-all {
            color: $base-color-primary;
            padding-right: 5px;
        }

        .carttotalcontentarea .dashboard-loader {
            text-align: center;
            display: block;
            margin: 0 auto;
        }
    }

    .cart-promocode, .cart-giftcart {
        p {
            font-size: 18px;
            padding: 0;
        }
    }

    #cart-apply-promocode {
        margin-top: 25px;

        input {
            height: 45px;
            border-bottom: 1px solid #000;
            border-left: none;
            border-right: none;
            border-top: none;
            background-color: #f5f5f5;
            width: 100%;
            font-size: 18px;
            font-family: $base-font-family-bold;
            padding: 0px;
        }
    }

    .shipping-estimate-details {
        line-height: 20px;

        .styled-input input[type=radio] + label {
            padding-right: 10px;
            margin-bottom: 0;
        }

        .form-group {
            padding: 0 !important;
        }
    }

    .cart-apply-promocode {
        .right-inner-icon {
            i {
                line-height: 1;
            }

            .cancel-shipping-estimator {
                position: absolute;
                top: 0;
                right: 0;
                padding: 9px 15px;
                height: 34px;
            }
        }
    }

    .margin-top-bottom {
        .btn-text-icon:first-child {
            margin-left: 0;
        }
    }

    .cart-total {
        background-color: $footer-bgcolor;
        text-align: left !important;
        margin-bottom: -15px;
        padding: 25px;

        .carttotalcontentarea {
            min-height: 134px;
            margin-top: 25px;
            font-size: 16px;
            letter-spacing: .48px;
        }

        .head-text {
        }

        h2 {
            color: $base-color-black;
            font-size: 22px;
            text-transform: uppercase;
            font-family: $base-font-family-bold;
            letter-spacing: 2.29px;
            z-index: 9;
            position: relative;
        }



        .align-right {
            text-align: right;
        }
    }

    .cart-promocode {
        background-color: $footer-bgcolor;
        text-align: left !important;
        margin-bottom: 34px;
        padding: 25px;

        .carttotalcontentarea {
            min-height: 134px;
            margin-top: 25px;
            font-size: 16px;
            letter-spacing: .48px;
        }

        .head-text {
        }

        h3 {
            color: $base-color-black;
            font-size: 22px;
            text-transform: uppercase;
            font-family: $base-font-family-bold;
            letter-spacing: 2.29px;
        }



        .align-right {
            text-align: right;
        }
    }

    .cart-total-title {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px;
        border-bottom: none !important;
        border: 1px solid $border-bgcolor-default;
        background: -moz-linear-gradient(top, #ffffff 0, #f0f0f0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#f0f0f0));
        background: -webkit-linear-gradient(top, #ffffff 0,#f0f0f0 100%);
        background: -o-linear-gradient(top, #ffffff 0,#f0f0f0 100%);
        background: -ms-linear-gradient(top, #ffffff 0,#f0f0f0 100%);
        background: linear-gradient(to bottom, #ffffff 0,#f0f0f0 100%);

        .cart-item-remove-all {
            text-decoration: underline;
        }
    }
}

.cart-item-quantity {
    span{line-height: 31px;margin-right: 10px;font-size: 18px;letter-spacing:1.01px;}
    input[type="text"] {
        width: 63px;
        height:34px;
        text-align:center;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .quanity-msg-error {
        display: block;
    }
}

@include screensize(x-small) {
    .shopping-cart {
        padding: 0 5px;
        .downarrow{font-size:25px;}
        .cart-promocode h3{font-size:$base-font-size;letter-spacing:1.6px;}
        .checkout-price-show{display:initial;}
        .cart-total .carttotalcontentarea{min-height:inherit}
        #cart-apply-promocode input{font-size:$base-font-size - 1;text-transform:none;}
        #cart-apply-promocode .input-group{display:block;
            .btn-bg-secondary{width:100%;margin-top:15px;}
        }
        .pickup-store{display: -webkit-inline-box;margin-top: 155px;}
        .cart-item-quantity span{font-size:$base-font-size;}
        .cart-heading h1{font-size:18px;letter-spacing:1.87px}
        .cart-item-details .cart-item-description{font-size: $base-font-size;min-height:inherit;margin-bottom: 0px!important;}
        .cart-item-details .cart-item-sku{font-size: $base-font-size - 1;}
        .cart-item-details a{font-size:$base-font-size;letter-spacing:.78px;}
        .edit-delete{left:0px;
                     .Edit,.Delete{font-size:$base-font-size;}
        }
        .cart-item-details .cart-item-total{text-align:left;}
        .product-price-checkout{display:none;}
        .remove-all-item{margin-top:0px;text-align: center;}
        .cart-total-title h2 {
            padding: 15px 15px 30px 15px;
        }

        .cart-products {
            table {
                tr td, tr th {
                    vertical-align: middle;
                    padding: 5px;
                }

                tr th:first-child {
                    width: 30px;
                }

                .thead-text {
                    position: static;
                }

                thead {
                    display: none;
                }
            }
        }

        .table-responsive {
            border: 0 !important;
            overflow:hidden;

            .table {
                tbody {
                    border: 0;

                    tr {
                        position: relative;
                        float: left;
                        width: 100%;

                        td {
                            display: block;
                            float: left;
                            width: 100%;
                            text-align: left;
                            padding: 10px 5px;
                            border: 1px solid $base-color-black;

                            &.remove-item {
                                position: absolute;
                                z-index: 1;
                                padding: 5px;
                                width: auto;
                                top: 15%;
                                left: 10px;
                                background-color: $base-color-white;
                                border: none;
                            }

                            .cart-description {
                                padding: 0;
                                white-space: normal;

                                label {
                                    padding-right: 5px;
                                }
                            }

                            &.cart-item-quantity, &.cart-item-unitprice, &.cart-item-total {
                                position: relative;
                                float: right;
                                clear: unset;
                                width: 30%;
                                min-width: 90px;
                                font-size: $base-font-size + 1;
                            }
                        }
                    }
                }
            }
        }

        .cart-btn {
            a {
                width: 100%;
            }

            .btn-left, .btn-right {
                padding-right: 0;

                .btn-text-icon {
                    margin-left: 0;
                }
            }

            .btn-left {
                margin-bottom: 10px;
            }
        }
    }

    .cart-item-details {
        border: none;

        .cart-image {
            width: 45%;

            img {
                max-width: 130px;
                margin-right: 35px;
            }
        }

        .cart-description {
            padding: 10px 0 0;
            width: 55%;
        }

        .cart-product-details {
            padding: 0;
            margin: 10px 0;
        }

        .cart-products {
            thead {
                display: none;
            }

            .remove-item {
                position: absolute;
                left: 0;
            }

            td {
                border-bottom: 0 !important;
            }

            td.cart-item-details {
                width: 46%;
                float: left;
                text-align: right;
            }

            td.cart-item-unitprice, td.cart-item-quantity, td.cart-item-total {
                float: right;
                width: 19%;
                clear: right;
            }

            td.cart-item-unitprice {
                margin-top: 10px;
                color: #485880;
                font-weight: $base-font-bold;
            }
        }

        .cart-left-section {
            padding: 0;
        }
    }
}

@media only screen and (max-width:480px) {
    .shopping-cart {
        .cart-buttons {
            flex-direction: column;
            position:fixed;
            bottom:0px;
            z-index:9999;
            width:100%;
            left:0px;
            a{border-radius:0px;height:94px;line-height:55px;font-size:$base-font-size - 1;letter-spacing:1.35px;padding-top:22px;
              span{background-color:$base-color-white;color:$base-color-black;padding: 0px 15px 0px 15px;border-radius:50px;display:inline-flex;}
            }
            .btn-text-icon {
                flex-wrap: wrap;
                margin-left: 0;
                margin-bottom: 10px;
            }
        }
    }
}

@include screensize(small) {
    .shopping-cart {
        padding: 0;

        .narrow-results-cart {
            display: block;
        }

        .cart-promocode h3 {
            font-size: $base-font-size + 8;
            letter-spacing: 2.29px;
        }

        .checkout-price-show {
            display: none;
        }

        .cart-total .carttotalcontentarea {
            min-height: 134px
        }

        #cart-apply-promocode input {
            font-size: $base-font-size + 4;
        }

        #cart-apply-promocode .input-group {
            display: block;

            .btn-bg-secondary {
                width: 100%;
                margin-top: 15px;
            }
        }

        .pickup-store {
            display: block;
            margin-top: 0px;
        }

        .cart-item-quantity span {
            font-size: $base-font-size + 4;
        }

        .cart-heading h1 {
            font-size: 22px;
            letter-spacing: 2.29px
        }

        .cart-item-details .cart-item-total {
            float: right;
            /*margin-top:-100px;*/
        }

        .cart-item-details a {
            font-size: $base-font-size + 4;
            letter-spacing: 1.01px;
        }

        .cart-item-details .cart-item-description {
            font-size: $base-font-size + 2;
            min-height: 130px;
            margin-bottom: 15px !important;
        }

        .cart-item-details .cart-item-sku {
            font-size: $base-font-size;
        }

        .edit-delete {
            left: 100px;

            .Edit, .Delete {
                font-size: $base-font-size + 2;
            }
        }

        .remove-all-item {
            margin-top: -30px;
            text-align: right;
        }

        .cart-total-title h2 {
            padding: 15px;
        }

        .cart-products {
            table {
                tr td, tr th {
                    vertical-align: top;
                }

                .thead-text {
                    position: static;
                }
            }
        }

        .cart-item-quantity {
            max-width: 100%;
        }

        .cart-item-checkout, .product-price-checkout {
            display: none;
        }

        .table-responsive .table {
            tbody {
                tr {
                    float: none;

                    td {
                        display: table-cell;
                        padding: 15px;
                        border: 1px solid #707070;
                        margin-bottom: 35px;

                        &.remove-item {
                            position: relative;
                            padding: 20px !important;
                            background-color: transparent;
                            vertical-align: middle;
                            top: 0;
                            left: 0;
                        }

                        .cart-description {
                            padding: 0 0 0 50px;
                            width: 70%;
                        }

                        &.cart-item-quantity, &.cart-item-unitprice, &.cart-item-total {
                            float: none;
                            clear: none;
                            width: auto;
                        }
                    }
                }
            }
        }

        .cart-btn {
            .btn-right {
                padding-left: 5px;
                margin-top: 0;
            }

            .btn-left {
                padding-right: 5px;
            }
        }
    }

    .cart-item-details {
        border: 1px solid $border-bgcolor-default;

        .cart-image {
            width: 26%;

            img {
                max-width: 100%;
                margin-right: auto;
            }
        }

        .cart-description {
            padding: 0 0 0 10px;
            width: 60%;
        }
    }
}

@include screensize(medium) {
    .cart-product-details {
        padding: 0 15px 0 0;
        margin: 0;
    }

    .cart-products {
        .remove-item {
            position: static;
            left: auto;
            float: right;
            margin-top: -23px;
            .close{opacity: 1;}
        }

        td {
            border-bottom: 1px solid $border-bgcolor-default;
        }

        td.cart-item-details {
            width: auto;
            float: none;
            text-align: left;
        }

        td.cart-item-unitprice, td.cart-item-quantity, td.cart-item-total {
            float: none;
            width: auto;
            clear: none;
        }

        td.cart-item-unitprice {
            margin-top: auto;
        }
    }

    .shopping-cart {


        .cart-total {
            span.input-group-btn {
                margin-left: 7px;
            }
        }

        .cart-btn {
            padding: 0;

            .continue-shopping-btn {
                overflow: hidden;
                padding: 0 5px 1px 5px !important;
            }
        }
    }

    .cart-left-section {
        padding: 0 15px;
    }

    .cart-item-details .cart-description {
        padding: 0 0 0 10px;
        width: 74%;
    }
}

@include screensize(desktop) {
    .shopping-cart {
        #cart-apply-promocode .input-group {
            display: inline-table;

            .btn-bg-secondary {
                width: auto;
                margin-top: 0px;
            }
        }
        .cart-btn {
            padding: 0;

            .continue-shopping-btn {
                overflow: hidden;
                padding: 0 15px 1px 10px !important;
            }
        }
        .cart-item-details .cart-item-total{margin-top:0px;}
        .cart-item-details .cart-item-description{min-height:188px;}
    }

    .cart-product-details {
        padding: 0 84px 0 0;
    }
    
}

@include screensize(xx-large) {
    .shopping-cart .table-responsive .table tbody tr td .cart-description {
        padding: 0 0 0 45px;
    }
    .cart-product-details {
        padding: 0 84px 0 0;
    }
}
