﻿@import "_base.scss";

#layout-category .category-landing-container .products-modes-setting h1{display:none;}
#layout-category { 
    h1{text-align:center;text-transform:uppercase;margin-top:5px;margin-bottom:20px;}
    .PLP-Container{ 
        .side-bar{width:19%;border-right:1px solid $base-color-black;padding-right:0px;}
        .category-landing-container{width:81%;}
    }
}
.narrow-results-pane{margin-top:0px;}

.search-result{float:left;font-size:18px;font-family:$base-font-family-bold;letter-spacing:1.87px;text-transform:uppercase;margin-right:15px;
    span{font-family:$base-font-family;font-size:$base-font-size;text-transform:none;margin-left:10px;letter-spacing:normal;}
    b{color:$base-color-primary;text-transform:uppercase;}
}
// Media Query.
@include screensize(x-small) {
    #layout-category { 
        h1{font-size:$base-font-size - 1;font-family:$base-font-family-bold;letter-spacing:1.3px;}
        .PLP-Container{ 
            .side-bar{width:100%;border-right:1px solid $base-color-black;padding-right:0px;}
            .category-landing-container{width:100%;}
        }
    }
    .search-result{float:none;text-align:center;min-height:45px;display:grid;
    }
    .category-recent-view-list{padding:0 5px;
        .product-list-widget{padding:0;}
    }
    .category-landing-container{padding-right:0px;padding-left:0px;}
    .category-landing-container .category-more{position:relative;top:-48px;left:-78px;}
}
@include screensize(small) {   
    #layout-category { 
        .PLP-Container{ 
            .side-bar{width:35%;}
            .category-landing-container{width:65%;}
        }
    }
    .search-result{float:left;text-align:left;
                   span{margin-left:0px;margin-top:10px;}
    }
    .category-landing-container{padding-right:0;padding-left:15px;}
    .narrow-results-pane{display:block;}
    .category-recent-view-list{padding:0;}
    .category-landing-container .category-more{left:-126px;}
}
@include screensize(medium) { 
        .category-landing-container .category-more{left:-85px;}
        #layout-category { 
            .PLP-Container{ 
                .side-bar{width:25%;}
                .category-landing-container{width:75%;}
            }
        }
}
@include screensize (desktop){
    .search-result{float:left;min-height:initial;text-align:left;display:block;
                   span{margin-left:10px;margin-top:0px;}
    }
    #layout-category { 
        h1{font-size:30px;font-family:$base-font-family-semibold;letter-spacing:2.1px;}
        .PLP-Container{ 
            .side-bar{width:19%;border-right:1px solid $base-color-black;padding-right:0px;}
            .category-landing-container{width:81%;}
        }
    }
}
@include screensize(x-large){ 
    .category-landing-container .category-more{left:-78px;}
}