﻿@import "_base.scss";
/* WorkSans-Medium */
@font-face {
    font-family: 'WorkSans-Medium';
    src: url('../../Fonts/WorkSans-Medium.ttf') format('truetype');
    font-display: swap;
}
/* WorkSans-Regular */
@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../../Fonts/WorkSans-Regular.ttf') format('truetype');
    font-display: swap;
}
/* WorkSans-SemiBold*/
@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('../../Fonts/WorkSans-SemiBold.ttf') format('truetype');
    font-display: swap;
}
/* WorkSans-Bold*/
@font-face {
    font-family: 'WorkSans-Bold';
    src: url('../../Fonts/WorkSans-Bold.ttf') format('truetype');
    font-display: swap;
}

/*Brandon - Bold*/
@font-face {
    font-family: 'Brandon Grotesque Bold';
    src: url('../../Fonts/Brandon-Grotesque-Web-Bold.eot') format('eot'), url('../../Fonts/Brandon-Grotesque-Web-Bold.woff') format('woff'), url('../../Fonts/Brandon-Grotesque-Web-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*Brandon - Medium*/
@font-face {
    font-family: 'Brandon Grotesque Medium';
    src: url('../../Fonts/Brandon-Grotesque-Web-Medium.eot') format('eot'), url('../../Fonts/Brandon-Grotesque-Web-Medium.woff') format('woff'), url('../../Fonts/Brandon-Grotesque-Web-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body{
  height:100%;
  font:{
    family:$base-font-family;
    size:$base-font-size;
  }
  color:$text-fgcolor-default;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

//Skip to main content
#skiptocontent {position: absolute;left: 0;top: 0;width: 100%;margin-left: 0;text-align: center;list-style: outside none;
    a {position: absolute;left: -99999px;top: 30px;
    &:focus,&:active{position: relative;left: 0;z-index: 9999;width: 100%;height: auto;margin: 0 auto;text-align: center;text-decoration: none;color: $base-color-primary;background-color: $base-color-white;padding: 10px;border: 2px solid $base-color-primary;}
    }
}

.nopadding {padding: 0; margin: 0;}
.required:after {content: ' * '; color:$required-star;}

a {outline:medium none;text-decoration:none;color:$anchor-tag-fgcolor;cursor:pointer; 
    &:hover,&:active{text-decoration:underline;color:$anchor-tag-fgcolor-hover;}
    &:focus{outline: 1px dotted $base-color-primary !important;color:$base-color-primary!important;}
}

h1, h2, h3, h4, h5 {color:$base-color-black; font-family:$base-font-family;}
h1, h2 {margin:8px 0; font-size:$base-heading-font-primary;}
h3, h4 {margin:6px 0; font-size:$base-heading-font-secondary;}
h5 {margin:4px 0; font-size:$base-font-size;}

p,ul{margin:0;}
.form-group{float:left;width:100%;margin-bottom:10px;}

.padding-15{padding:15px;}
.padding-top {padding-top:15px;}
.padding-top-bottom {padding:15px 0;}
.padding-left{padding-left:10px;}
.padding-right{padding-right:10px;}
.padding-left-5{padding-left:5px;}
.padding-right-15{padding-right:15px;}
.pr-20 {padding-right: 20px !important;}
.mobile-nopadding{padding:0px;}
.mobile-padding-left-right{padding:0px}
.padding-left-20 {
    padding-left: 15px;
}
.padding-left-0{padding-left:0px;}
.padding-right-0{padding-right:0px;}

.padding-bottom{padding-bottom:10px;}
.margin-top {margin-top: 15px;}
.margin-top-8 {margin-top: 8px;}
.margin-top-8-percent {margin-top: 3%;}
.margin-top-10 {margin-top: 10px;}
.margin-top-15 {margin-top: 15px;}
.margin-top-20 {margin-top: 20px;}
.margin-top-30 {margin-top: 30px;}
.margin-top-50{margin: 5% 0;}
.margin-top-50-set{margin-top: 50px;}
.margin-top-25{margin-top:25px;}
.margin-left{margin-left:10px;}
.margin-top-bottom {margin:15px 0;}
.margin-bottom {margin-bottom:15px;}
.margin-bottom-5{margin-bottom:5px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-left-right{margin:0 15px;}
.all-form-group .form-group {margin-bottom:20px;}
z-widget {display: block;}
z-widget-ajax, z-widget-ajax > z-widget,.ajax {
    -webkit-animation: widget-animation 1.0s 1 linear;
    -moz-animation: widget-animation 1.0s 1 linear;
    -ms-animation: widget-animation 1.0s 1 linear;
    -o-animation: widget-animation 1.0s 1 linear;
    animation: widget-animation 1.0s 1 linear;
}
@keyframes widget-animation {
    0% {opacity: 0;}
    60% { opacity: 0.5;}
    100% {opacity: 1;}
}
@-webkit-keyframes widget-animation {
    0% { opacity: 0;}
    60% {opacity: 0.5;}
    100% {opacity: 1; }
}
@-moz-keyframes widget-animation {
    0% {opacity: 0;}
    60% {opacity: 0.5;}
    100% { opacity: 1; }
}

@-o-keyframes widget-animation {
    0% { opacity: 0;}
    60% {opacity: 0.5; }
    100% { opacity: 1;}
}

.min-height-100{min-height:100px;}
.min-height-125{min-height:125px;}
.min-height-150{min-height:150px;}
.min-height-200{min-height:100px;}
.min-height-300{min-height:300px;}

.field-validation-error, .error-msg { color:$error-msg-fgcolor;font-family:$base-font-family; }
.success-msg { color:$success-msg-fgcolor; font-family:$base-font-family-medium;}
b, strong{font-family:$base-font-family-semibold;}

//Border Top
.border-top-1{border-top: 1px solid $base-color-black;}

//Modal
.modal{
       .modal-content{border:1px solid $base-color-primary;border-radius: 0px;box-shadow:none;padding:15px;
        .modal-header{background-color:$base-color-white;position:relative;border:none;min-height:60px;
             h4{border-bottom:4px solid $base-color-primary;position:absolute;font-size:18px!important;letter-spacing:1.87px!important;font-family:$base-font-family-bold!important;color:$base-color-black;text-transform:uppercase;}
        }
        .modal-body{font-size: 16px;
            .cancel{a{text-decoration:underline;font-size:$base-font-size - 2;}}
            
        }
    }
       .close{color: $base-color-primary!important;margin-top: -15px!important;opacity: 1;font-size: 25px;font-family: $base-font-family;margin-right:-15px;}
       .text-danger{font-size:14px!important;text-transform:none!important;font-family:$base-font-family-semibold!important;}
}
.two-btn-inline{display: inline-flex;padding:0px;
     .or{margin-left:25px;margin-right:25px;}
}
.indexship{z-index:9;}
label{font-family:$base-font-family-semibold;font-weight:normal;}
.call-for-pricing{color: $base-color-primary!important;text-transform: none!important;font-size: $base-font-size + 2!important;}

//Store location list in Popup
.Store-location-popup{background-color: $footer-bgcolor;margin-bottom: 15px;padding: 0px;
    .store-intsock{
        h5{font-family: $base-font-family-bold!important;color: $base-color-black !important;letter-spacing: 1.6px!important;padding: 15px 0px 0px 30px;font-size:$base-font-size + 2;text-transform:uppercase;}
        h6{font-size: 16px;font-family: $base-font-family-bold;color: $base-color-black !important;letter-spacing: 1.6px;line-height:0px;padding: 10px 0px 0px 30px;}
        p{font-family: $base-font-family;color: $base-color-primary;letter-spacing:1.4px;padding: 0px 0px 15px 30px;font-size:$base-font-size;}
        hr{border-top: 5px solid $base-color-black;}
    }
    .outofstock{
        h5{font-family: $base-font-family-bold!important;color: $base-color-black !important;letter-spacing: 1.6px!important;padding: 15px 0px 0px 30px;font-size:$base-font-size + 2;text-transform:uppercase;}
        h6{font-size: 16px;font-family: $base-font-family-bold;color: $base-color-primary !important;letter-spacing: 1.6px;line-height:0px;padding: 10px 0px 0px 30px;}
        hr{border-top: 5px solid $base-color-black;}
    }
    .store-address{padding:15px;
        p{font-size:$base-font-size + 1;}
        a{padding:10px 10px 0px 10px;margin-top:30px;display:inline-block;}
    }
    .store-miles{padding:15px;
       h3{font-size:56px;letter-spacing:5.6px;font-family:$base-font-family-bold;margin-bottom:0px;padding-bottom:0px;}
       p{font-size:$base-font-size;}
    }
}
//Shop By Brand
.letterCountShow{display:block}
.ln-letters a{border:1px solid silver;display:block;float:left;padding:2px 6px;text-decoration:none;font-size:16px;color:#00273c;width:42px;text-align:center;text-transform:uppercase;}
.ln-letters .ln-last{border-right:1px solid silver}
.ln-letters a:hover{background-color:#eaeaea}
.ln-letters .ln-selected{background-color:#fff;color:#b4111a}
.ln-letters .ln-disabled{color:#00273c;pointer-events:none;background-color:#eaeaea}
.ln-letter-count{color:#369;font-size:.8em;left:0;line-height:1.35;position:absolute;text-align:center;top:0;width:20px}

//Error message
.alert-danger {background-color: #FFFF00;border-color: #FFFF00;color: $base-color-black;margin-bottom: 5px;width:auto;padding:0px 15px 0px 15px;text-align:left;display:inline-block;font-family:$base-font-family;font-size:$base-font-size;letter-spacing:.42px;}
.text-danger {color:$base-color-primary;}
// Shadow Efficet
.hvr-shadow {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: box-shadow;transition-property: box-shadow;}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);}

//ShoeFinder Form
.ShoeFinder {
    .FormTitle{padding: 15px;line-height: 1.5;margin: 0;font-size: 18px;color: $base-color-white;font-family: $base-font-family-semibold;text-transform: uppercase;background-color: $base-color-black;letter-spacing: 1.5px;margin-bottom: 15px;margin-top: 25px;}
    .LeftContent{padding-right: 25px;}
    .RightContent{padding-left: 25px;}
}


// Checkbox & Redio Button
.checkbox-disable{pointer-events:none !important; cursor:not-allowed !important;}

/*.styled-input{position:relative;display:inline-block;margin-right:1em;margin-bottom:12px;line-height:1.25;width:100%;
    input[type=checkbox], input[type=radio]{display:none;
        &:checked~label{
            &:before{border-color:$base-color-primary;}
            &:after{background-color:$base-color-primary;margin:4px;height:10px;width:10px;}
        }
        &:before{transition:all .5s ease;border-color:$base-color-black;}
    }
    input[type=checkbox]{
        &~label{
            &:after,&:before{border-radius:50px;}
        }
    }
    input[type=radio]{
        &~label{
            &:after,&:before{border-radius:50%;}
        }
    }
    label{margin:0;text-indent:25px;font-family:$base-font-family-medium;font-size:$base-font-size + 3;cursor:pointer;word-break: break-all;width:100%;font-weight:normal;
        &:after,&:before{content:'';width:18px;height:18px;border:1px solid transparent;position:absolute;left:0;top:0;transition:all .5s ease;border-width:2px;}
        &:before{transition:all .5s ease;border-color:$base-color-black;}
    }
}*/

.styled-input {
    position: relative;
    margin-bottom: 7px;
    line-height: 2;

    input[type=checkbox], input[type=radio] {
        position: relative;
        width: 1.5em;
        height: 1.5em;
        color: #363839;
        border: 1px solid $base-color-black;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        cursor: pointer;
        transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
        margin: 0px;
    }

    input[type=checkbox]::before, input[type=radio]::before {
        position: absolute;
        content: "";
        display: block;
        top: 2px;
        left: 6px;
        width: 6px;
        height: 12px;
        border-style: solid;
        border-color: #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
    }

    input[type=checkbox]:checked, input[type=radio]:checked {
        color: $base-color-white;
        border-color: $base-color-black;
        background: $base-color-black;
    }

    input[type=checkbox]:checked::before, input[type=radio]:checked::before {
        opacity: 1;
    }

    input[type=checkbox]:checked ~ label::before, input[type=radio]:checked ~ label::before {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    label {
        position: absolute;
        cursor: pointer;
        font-size: 16px;
        font-family: $base-font-family-medium;
        font-weight: normal;
        padding-left: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        line-height: 22px;
    }
}

// Notification Messages
.notification-msg {z-index: 999;
    .alert { position: relative;padding: 5px;line-height: 21px;margin-bottom: 0;border-radius: 0;min-height: 36px;top: 5px;
        .close {margin-top: -18px;opacity: 1;font-size: $base-font-size + 3;
        }
    }
    .alert-danger {border: 1px solid #FFFF00;width:100%;
        .close {color: $base-color-black;}
    }
    .alert-success { border: 1px solid $alert-msg-success;width:100%;
        .close {color: $alert-msg-success;}
    }
    .alert-info {border: 1px solid $alert-msg-info;width:100%;
        .close {color: $alert-msg-info;}
    }
}
// help text
.help-text{display:inline-block;
    i{font-size:$base-font-size + 2;line-height:22px;margin-left:8px;color:$base-color-primary;}    
}

//text-color
.text-primary{color:$base-color-primary !important;}

// File Upload
.file-upload {position:relative;
    .file-upload-name{float:left;margin-left:15px;line-height:26px;}
    input[type="file"]{position:absolute;top:0;margin:0;opacity:0;width:70px;min-height:34px;}
    .po-document-details{
        a{cursor:pointer;color:$base-color-primary;padding-right:3px;display:none;float:left;line-height:24px;padding-right:5px;}
        span{float:left;line-height:26px;}
    }
}
.file-upload-btn{position:relative;overflow:hidden;margin-left:0;background:$base-bgcolor-button-primary;}

// Back to top
.back-to-top{position:fixed;bottom:0;right:30px;border-top-left-radius:0px;border-top-right-radius:0px;background-color:$base-color-primary;padding:5px 14px;font-size:18px;color:$base-color-white !important;;opacity:0;transition:opacity .3s 0s, visibility 0s .3s;-webkit-transition:opacity .3s 0s, visibility 0s .3s;-moz-transition:opacity .3s 0s, visibility 0s .3s;
    &:hover{color:$base-color-white;opacity:1 !important;}
}

// Error Page
.error-page{padding:20px 15px; min-height:450px;}

// Modal PopUp
.modal {overflow-x: hidden!important;overflow-y: auto!important;}
.modal-header{background-color:$base-color-primary;
        h4{color:$base-color-white;}
        .close {color:$base-color-white;margin-top:5px;}
}
.modal-body,.modal-footer{display:table;width:100%;background-color:$base-color-white;}
.modal-display-block{display:block;
    > div{overflow:auto;}
}
.recommended-address-popup{
    h5{font-size:$base-font-size + 1;color:$base-color-secondary;border-bottom:1px solid $border-bgcolor-default;padding:5px 0;margin:0;font-weight:bold;}
   .address-details{padding:5px 0;}
   .address-error{color:$base-color-primary;font-weight:bold; }
   .entered-display-address,.recommended-display-addess{.btn-text{margin-left:0;margin:10px 0;}}
}
// store locator css
.adp-placemark{margin-top:0 !important;}
// ToolTip.
.tooltip {font-family:$base-font-family;font-size:11px;position:fixed;z-index:9999;}
.tooltip.in {opacity:1;filter:alpha(opacity=100);}
.tooltip-inner {color:$base-color-white;background-color:#000;opacity:0.8;border-radius:0;}
//Help text
.form-builder{
    .form-group-container{padding:15px 30px 15px 10px !important;}
    .help-text{position:absolute;top:30px;right:-25px;}
}

//Sidebar Slider Home Page Find A Store
#sideslider {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: auto;
    margin-left: auto;
    margin-right: -12px;
    position: fixed;
    right: 0;
    top: 125px;
    width: 47px;
    z-index: 3059;
}

#sideslider .sideslider-tab {
    background-color: $base-color-primary;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    height: 25px;
    left: 10px;
    padding-top: 3px;
    padding-left: 9px;
    position: absolute;
    text-transform: uppercase;
    top: 65px;
    width: 25px;
    i{font-size:10px;}
}

#sideslider a {
    text-decoration: none;
    color:$base-color-white;
}

#sideslider-smartbutton {
    background-color: $base-color-primary;
    margin-left: 35px;
    padding-top: 10px;
    position: relative;
    width: 50px;
    height:160px;
    top:65px;
}

#sideslider .sideslider-close {
    display:none;
    background-color: #000;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 12px;
    font-weight: 300;
    height: 21px;
    padding-right: 15px;
    padding-top: 3px;
    text-align: right;
    text-transform: uppercase;
    width: 50px;
}


#sideslider-text .line {
    display: block;
    margin-bottom: 10px;
}

#sideslider-text {
    color: #fff;
    text-align: left;
    margin-left: 5px;
}

#sideslider-text .header {
    display: block;
    margin-bottom: 15px;
    background-color: $base-color-primary;
    transform: rotate( 90deg );
    font-size:$base-font-size - 2; 
    letter-spacing:1.2px;
    left:-45px;
    width:115px;
    top:83px;
    font-family:$base-font-family-bold;text-transform:uppercase;
}



//Contact Us Page
.Contactuspage{margin-top:3%;
    h1{font-family:$base-font-family-semibold;font-size:30px;letter-spacing:2.1px;}
    p{font-size:18px;margin-top:20px;margin-bottom:45px;}
    .form-text-box{
        .form-group{margin-bottom:22px;}
    }
}
//Show More Description
.short-text{overflow:hidden;min-height:58px;text-align:justify;color:#575a5d;margin-bottom:10px}.show-more{text-align:left}

//Captcha
#CaptchaInputText:valid {
    text-transform: uppercase;
}
.captcha-panel a{font-size:$base-font-size + 2;}

// General CSS
.star-rating{font-size:14px;cursor:context-menu;
    .zf-star-full,.zf-star-half{color:$base-color-primary;}
    .zf-star-empty{color:$base-color-primary;}
    .full{color:$base-color-primary;}
    i:hover{color:$base-color-black;}
} 
.product-rating{height:20px;}
.sub{font-size:14px;color:#8e8e8e;letter-spacing:.42px;}
.cut-price{color:#9f9f9f; padding-left:5px;text-decoration:line-through;}

.social-share ul{padding:0; margin:0;float:left;
    li{display:inline-block;}
    i{font-size:26px;color:#787878; cursor:pointer;}
}
.display-flex{display:inline-flex;}

// store locator css
.StoreLocator{
    .two-btn-inline{padding: 0px 25px 0px 25px;}
    .marker-map{margin-bottom:10px;margin-top:20px;}
    h1{font-size:30px;font-family:$base-font-family-semibold;margin-top:20px;margin-bottom:35px;letter-spacing:2.1px;text-transform:uppercase;}
    .store-locator-block{
        h3{font-size:22px;font-family:$base-font-family-bold;letter-spacing:2.2px;border-bottom:1px solid $base-color-black;text-transform:uppercase;}
        h2{font-size:22px;font-family:$base-font-family-medium;line-height:30px;}
    }
    .storeLocationCoordinate{margin-bottom:55px !important;font-size:$base-font-size - 1;
         .store-details{
             .store-name{font-size:$base-font-size + 2;font-family:$base-font-family-bold;border-top:7px solid $base-color-secondary;padding-top:15px;margin:0px;margin-bottom: 25px;text-transform:uppercase;}
             .store-number{font-size:$base-font-size + 2;font-family:$base-font-family-medium;margin-bottom: 35px;
                a{color:$base-color-primary;}
             }
             .store-hours{font-size:$base-font-size + 1;font-family:$base-font-family;line-height:15px;}
             
         }
         .store-address{border-top:7px solid $base-color-secondary;padding:0px;padding-top:15px;margin-bottom: 30px;font-size:$base-font-size +1;
             .location-name{font-size:$base-font-size + 2;font-family:$base-font-family-bold;}
         }
         .store-miles{font-size:$base-font-size;font-family:$base-font-family;
            .miles{border-top:7px solid $base-color-secondary;padding:0px;padding-top:15px;
                h4{font-size:56px;font-family:$base-font-family-bold;letter-spacing:5.6px;color:$base-color-black;}
            }
         }
         .store-buttons{margin-top:35px;
             .btn-bg-white{padding: 15px;height: 48px;}
             .mystore{padding: 0px 15px 0px 15px;height: 48px;margin-top: -12px;margin-left: 15px;background-color: $base-color-white;}
             .selectstore{padding: 0px 15px 0px 15px;height: 48px;margin-top: -12px;margin-left: 15px;background-color: $base-color-white;border-color:$base-color-primary;color:$base-color-primary;}
         }
    }
}


.scan-dialog {
    .scan-video-container {
        width: 100%;
        .dbrScanner-video{width:100%;height:80vh;}
    }
    .scan-code-msg{text-align:left;font-weight:bold;font-size:14px;}
}
img[class*="b-lazy"] {
    min-height: 1px;
}
.disabled{
        opacity: 0.5;
        cursor: not-allowed;
}
.text-break {
    word-break: break-word !important; // IE & < Edge 18
    overflow-wrap: break-word !important;
}
@include screensize(x-small) {
    .main-wrapper .page-title{font-size:18px;letter-spacing:1.87px;}
    .container-fluid,.container{padding-left:0px;padding-right:0px;}
    .row{margin-right: 0px;margin-left: 0px;}
    .mobil-nopadding{padding:0px;}
    .padding-left-0{padding-right:0px;}
    .padding-right-0{padding-left:0px;}
    .mobile-padding-left-right{padding-left:15px;padding-right:15px;}
    .mobile-margin-right-20{margin-right: 20px;}
    .store-locator-block{
        .locator-map{padding-right:0px;}
        .locator-info-panel{padding-top:15px;}
    }
    .table-responsive{border:none;}
    .mobile-margin-bottom{margin-bottom: 10px !important;}
    .store-intsock,#storedetails{text-align:center;}
    .two-btn-inline{display: block;padding:0px;text-align:center;
     .or{margin-left:auto;margin-right:auto;display:block;margin-top:15px;margin-bottom:15px;}
    }
    .product-view-details .product-overview h5,.Store-location-popup .outofstock h6,.Store-location-popup .store-intsock h6{padding: 10px 10px 0px 10px;text-align:center;}
    .Store-location-popup .store-intsock p{padding: 0px}
    .StoreLocator .storeLocationCoordinate{margin-bottom:0px!important;}
    .StoreLocator .storeLocationCoordinate .store-address,.StoreLocator .storeLocationCoordinate .store-miles .miles,.StoreLocator .storeLocationCoordinate .store-details .store-name{border-top:none;}
    .StoreLocator .storeLocationCoordinate .store-buttons .mystore,.StoreLocator .storeLocationCoordinate .store-buttons .selectstore{margin-left:0px;margin-top:25px;}
    .d-inline-flex{display: block !important;}
    .StoreLocator .store-locator-block h3{font-size:$base-font-size + 2; letter-spacing:1.6px;}
    .StoreLocator .storeLocationCoordinate .store-buttons{margin-bottom:35px;}
    .ShoeFinder .LeftContent{padding-right:0px;}
    .ShoeFinder .RightContent{padding-left:0px;}
    .ShoeFinder .FormTitle{background-color:$footer-bgcolor;color:$base-color-black;}
}
@include screensize(small) {
    .main-wrapper .page-title{font-size:30px;letter-spacing:1.87px;}
    .padding-left-0{padding-right:0px;}
    .padding-right-0{padding-left:0px;}
    .mobile-margin-right-20{margin-right: 0px;}
    .mobile-nopadding{padding-left:0px;padding-right:0px;}
    .mobile-padding-left-right{padding-left:0px;padding-right:0px;}
    .two-btn-inline{display: inline-flex;padding:0px;text-align:left;
     .or{margin-left:25px;margin-right:25px;}
    }
    .StoreLocator .two-btn-inline{padding: 15px 25px 0px 25px;}
    .store-intsock,#storedetails{text-align:left;}
    .product-view-details .product-overview h5{padding: 15px 0px 0px 30px;text-align:left;}
    .Store-location-popup .outofstock h6,.Store-location-popup .store-intsock h6{padding: 10px 0px 0px 30px;text-align:left;}
    .Store-location-popup .store-intsock p{padding: 0px 0px 15px 30px;}
    .store-locator-block{
          .locator-map{padding-right:15px;}
          .locator-info-panel{padding-top:0px;}
    }
    .StoreLocator .storeLocationCoordinate .store-buttons{margin-bottom:55px;}
    .modal-dialog .modal-body{max-height:600px;overflow:auto;}
    .StoreLocator .storeLocationCoordinate{margin-bottom:0px !important}
    .StoreLocator .storeLocationCoordinate .store-buttons .mystore,.StoreLocator .storeLocationCoordinate .store-buttons .selectstore{margin-left:15px;margin-top:-12px;}
    .StoreLocator .storeLocationCoordinate .store-address,.StoreLocator .storeLocationCoordinate .store-miles .miles,.StoreLocator .storeLocationCoordinate .store-details .store-name{border-top:none;}
    .d-inline-flex{display: inline-flex !important;}
    .StoreLocator .store-locator-block h3{font-size:22px;}
    .ShoeFinder .LeftContent{padding-right:0px;}
    .ShoeFinder .RightContent{padding-left:0px;}
    .ShoeFinder .FormTitle{background-color:$base-color-black;color:$base-color-white;}
    .container {width:720px;}
    .StoreLocator .storeLocationCoordinate .store-miles{text-align:left;}
}
@include screensize(medium) {
    .container {width:970px;}
    .StoreLocator .storeLocationCoordinate .store-buttons{text-align:left;}
    .modal-dialog .modal-body{max-height:none;}
    .container-fluid,.container{padding-left:15px;padding-right:15px;}
    .row{margin-right: -15px;margin-left: -15px;}
    .StoreLocator .storeLocationCoordinate .store-address,.StoreLocator .storeLocationCoordinate .store-miles .miles,.StoreLocator .storeLocationCoordinate .store-details .store-name{border-top:7px solid $base-color-secondary;}
    .ShoeFinder .LeftContent{padding-right:25px;}
    .ShoeFinder .RightContent{padding-left:25px;}
    .StoreLocator .storeLocationCoordinate .store-miles{text-align:center;}
}
@include screensize(desktop){
    .container {
       width:1220px;
    }
    //.collapse{display:block;}
    .StoreLocator .storeLocationCoordinate{margin-bottom:50px !important}
    .StoreLocator .two-btn-inline{padding: 0px 25px 0px 25px;}
    .mobile-nopadding{padding-left:15px;padding-right:15px;}
    .padding-left-0{padding-right:10px;}
    .padding-right-0{padding-left:10px;}
    .ShoeFinder .LeftContent{padding-right:25px;}
    .ShoeFinder .RightContent{padding-left:25px;}
    
}
@include screensize(large) {
    .container {
       width:1275px;
    }
    .container-small{width:1275px;}
}
@include screensize(x-large) {
    .container {
        width: 1470px;
    }
    .container-small{width:1275px;}
}
@include screensize(xx-large) {
    .container {
        width: 1760px;
    }
    .container-small{width:1615px;}
}
.owl-carousel .carousel-caption.Left { left: 0%!important;right:0px; }
// Utilities File Import.
@import "utilities/_buttons.scss";
@import "utilities/_input.scss";
@import "utilities/_dropdown.scss";
@import "utilities/_grid-filter.scss";
@import "utilities/_loader.scss";

// Widget and Global File Import.
@import "_icons.scss";
@import "widgets/_search.scss";
@import "widgets/_quick-order.scss";
@import "widgets/_subscribe.scss";
@import "widgets/_link-panel.scss";
@import "widgets/_local.scss";
@import "widgets/_typeahead.scss";
@import "widgets/_slider.scss";
@import "widgets/_product-list.scss";
@import "widgets/_quick-view.scss";
@import "widgets/_product-grid.scss";
@import "widgets/_facet.scss";
@import "widgets/_compare-product.scss";
@import "widgets/_datepicker.scss";
@import "widgets/_dynamic-grid.scss";
@import "widgets/_category-list.scss";
@import "widgets/_shipping-progress-bar.scss";
@import "widgets/_form-builder.scss";
