﻿@import "_base.scss";

// Header Section.
@import "widgets/header.scss";

// Main Wrapper.
.wrapper{min-height: 100%;}
.main-wrapper{padding:15px 0; min-height:700px;
    .page-title{text-transform:uppercase;font-family:$base-font-family-semibold;}
}

// Footer.
@import "widgets/footer.scss";

// Breadcrumb.
.breadcrumb-container{color:$base-color-primary;margin-top:-6px;font-size:$base-font-size - 1;
    a{padding:0 5px; display:inline-block;
      &:hover{color:$base-color-primary;text-decoration:underline;}
    }
    span{padding:5px;}
}

@import "_navigation.scss";

// Site Map.
.site-map-container{margin-bottom:20px;min-height:500px;
    .section-header{font-size:$base-font-size + 5;font-weight:bold;padding-bottom:8px;border-bottom:1px solid $border-bgcolor-default;}    
    ul{padding:0;margin:0;
       li{list-style:none;}
       .sub-menu{margin-left:20px;}
       .zf-caret-right,.zf-arrow-right-small{padding-right:5px;}       
    }
}
.contain-pages h2{font-size:$base-font-size + 10}

// Media Query.
@include screensize(x-small) {
// Contain Pages.
.contain-pages, .site-map-container{padding:0 5px;}
}
@include screensize(small) {
// Contain Pages.
.contain-pages{padding:0;min-height:650px;}
.site-map-container {padding:0;}
}