﻿@import "_base.scss";

.login-container{margin:8% 0;color:$base-color-secondary;font-weight:normal;
    h1{font-family:$base-font-family-bold;font-size:22px;letter-spacing:2.29px;text-transform:uppercase;}
    h3,h2{height: 59px;line-height: 20px;padding: 20px;text-transform: uppercase;font-family:$base-font-family-bold;font-size:$base-font-size + 4;letter-spacing:1.8px}
    .form-group{margin-bottom: 20px;}
    .remember-me{margin-bottom:15px;}
    .margin-top-bottom{margin-top:30px;margin-bottom:15px;}
    p{font-size:18px;
      span{font-size:14px;}
    }
    .new-account{border-bottom: 1px solid #f1f1f1;padding-bottom: 35px;}
    .paddingleft70{padding-left: 70px;}
    .paddingright70{padding-right: 70px;}
    .inner-container{min-height:330px;padding:15px;
        label{color:$base-color-secondary;font-size:18px;margin:6px 0;font-weight:normal;}
        .login-icon{line-height:30px;font-size:20px;padding:0 8px;border:1px solid $border-bgcolor-default;color:#8e8e8e;width:34px;}
        .btn-text-login{display: inline-block;min-width:70px;text-align: center;font-family:$base-font-family;font-size:14px;font-weight:700;border:0;color:$base-color-white;border-radius:4px;text-transform:none;width:100%;padding:0 15px 1px 10px;height:38px;line-height:38px;}
        
        .account-signup-container{border-left:1px solid $border-bgcolor-default;margin:2% 0;
                .user-icon{display:block;width:50px;height:50px;border:1px solid $border-bgcolor-default;text-align:center;position:absolute; left:-25px;top:95px;background-color:$base-color-white;
                           i{line-height:47px;font-size:30px;color:#cacaca;}

                }                
        } 
        .checkout-guest .user-icon{top:120px;}
        /*.checkout-new .checkout-guest-container{display:none}*/
        .social{border-top:1px solid $border-bgcolor-default;position:relative;margin-top: 15px;
                .oval-seprator{display:block;width:40px;height:40px;border: 1px solid $border-bgcolor-default;text-align: center;position: absolute;left:43%;top: -21px;background-color: #a4a4a4;color:$base-color-white;padding:8px;line-height:22px;}       
                .top-bottom-space{margin:32px 0 25px;}
        }   
        
        .remember-me label{margin-top:0;line-height:22px;font-size:14px;font-family:$base-font-family;}     
        .checkout-guest-container{margin-top:35px;
           .margin-top-bottom{margin-top:30px;margin-bottom:15px;}
        }
        .account-signup-link:hover i,.checkout-login-asguest:hover i{color:$base-color-primary;}
        .login-modal{margin:2% 0;}
    }
}


.register-container{
    .account-signup-link:hover i{color:$base-color-primary;}
    .account-signup-container{padding:10px 0;
           .user-icon{width:50px;height:50px;border:1px solid $border-bgcolor-default;text-align:center;position:absolute; left:-25px;top:40px;background-color:$base-color-white;
                i{line-height:45px;font-size:30px;color:#cacaca;}
           }
    }
    .login-icon{line-height:16px;font-size:20px;text-align:center;border:1px solid $border-bgcolor-default;color:#8e8e8e;width:34px;}
    .form-group{float:left;width:100%;}
    .sub{font-size:12px;color:#8e8e8e;}
    input[type="text"],input[type="password"]{border-radius:0;}
} 

// Socal Media.
.Facebook-btn{background-color:#435f9c;margin-bottom:5px;}
.Google-btn{background-color:#de4931;margin-bottom:5px;margin-left:5px;}
.Amazon-btn{background-color:#f3a847;}
.social-login{width:150px !important;}

// Media Query.
@include screensize(x-small) {
.login-container .inner-container,.register-container{padding:0px;
    .account-signup-container{border-left:0;
            .user-icon{display:none;}
        }
    }
    .login-form-forgotpassword{float:left;color:$base-color-primary;}
    .already-account{padding:0;}
    .login-container .paddingright70,.login-container .paddingleft70 {
        padding: 0;
    }
    .login-container h3,.login-container h2{font-size:$base-font-size + 2;letter-spacing:1.6px;background-color:$footer-bgcolor;color:$base-color-black;}
    .login-container h1{font-size:18px;letter-spacing:1.87px;}
    .login-container .new-account{border-bottom: none;}
    .login-container p{font-size:$base-font-size + 2;letter-spacing:.48px;}
}

@include screensize(small) {
    .login-container .new-account{border-bottom: 1px solid #f1f1f1;}
    .login-container h1{font-size:22px;letter-spacing:2.29px;}
    .login-container p{font-size:$base-font-size + 4;letter-spacing:.48px;}
    .login-container h3,.login-container h2{font-size:$base-font-size + 4;letter-spacing:1.8px;}
    .login-container .inner-container,.register-container{
        .account-signup-container{border-left:1px solid #f1f1f1;min-height: 500px;
             .user-icon{display:block;}
        }
    }
    .login-form-forgotpassword{float:left;color:$base-color-primary;margin-top:10px;font-family:$base-font-family-medium;
       &:hover{text-decoration:underline;}
    }
    .login-container .paddingright70,.login-container .paddingleft70 {
        padding: 15px;
    }
    .loginStatus .username{width: 70px;display: inline-flex!important;line-height: 15px;}
}

@include screensize(medium) {
    .login-container .inner-container{padding:15px;}
    .loginStatus .username{width: 115px;display: inline-flex!important;line-height: 15px;}
}
@include screensize(desktop) {
    .social-login{width:225px !important;margin-top:30px;}    
    .login-container .paddingright70 {
        padding-right: 70px;
    }
    .login-container .new-account {
        padding-bottom: 35px;
    }
    .login-container .paddingleft70 {
        padding-left: 70px;
    }
    .loginStatus .username{width: 105px;display: inline-flex!important;line-height: 15px;}
}
@include screensize(xx-large){
    .new-account,.checkout-guest-container{h3{background-color: $base-color-black;color: $base-color-white;width:525px;height: 59px;line-height: 20px;padding: 20px;text-transform: uppercase;font-family:$base-font-family-bold;}}
}