﻿@import "_base.scss";

// Product Overview Details.
.product-view-details .product-overview { line-height:26px;color:#252525;
     h4{font-family:$base-font-family-bold;font-size:24px;text-transform:uppercase;letter-spacing:2.4px;color:$base-color-black;}
     h5{font-family:$base-font-family-medium;font-size:16px;text-transform:uppercase;letter-spacing:1.2px;color:$base-color-primary;}
     h1{font-family:$base-font-family-semibold;font-size:25px;margin-top: 5px;color:$base-color-black;}
     .shopallbrand a{float:right;font-size:$base-font-size;letter-spacing:.42px;}
     .your-pricing {
         .price h3{padding:0px;font-family:$base-font-family-bold;font-size:30px;letter-spacing:1.8px;margin:0px;color:$base-color-black;}
         .price .SalePrice{padding:0px;font-family:$base-font-family-bold;font-size:30px;letter-spacing:1.8px;margin:0px;color:$base-color-primary;}
         .product-rating{text-align:right;padding-top:5px;font-size:$base-font-size;letter-spacing:.42px;}
     }
     .padding-right-PDP .form-group{margin-bottom:25px;
        .text-black{line-height: 12px;min-height: 22px;margin-left:0px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 200px;font-size:$base-font-size + 2;letter-spacing:.42px;}
        .text-black-1{line-height: 12px;min-height: 22px;margin-left:0px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size:$base-font-size + 2;letter-spacing:.42px;}
        .set-radio-btn{font-size:14px!important;text-transform:none!important;font-family:$base-font-family!important;letter-spacing:.42px!important;}
        .free-msg{line-height:5px;margin-bottom:20px;
          strong,b{font-family:$base-font-family-semibold;}
        }
        #status{background-color: $footer-bgcolor;border-left: 7px solid $base-color-black;padding: 10px;text-transform: uppercase;font-size:$base-font-size;
                b{font-family:$base-font-family-bold;}
        }
        .location{margin-bottom:0px;color:$base-color-primary;margin-top:-10px;font-family:$base-font-family-semibold;}
        .pickup-msg{line-height:25px;margin-bottom:8px;}
        p{margin-left:32px;}
     }
    .product-description{font-size:$base-font-size + 2;letter-spacing:.48px; b,strong{font-family:$base-font-family-semibold;}}
    .product-number-details{float:left;width:100%;}
    .product-number{float:left;line-height:20px;margin:5px 0;display:block;padding-right:15px;font-size:$base-font-size + 2;}
    .product-brand{float:left;line-height:20px;margin:5px 0;display:block;padding-left:15px;border-left:1px solid $border-bgcolor-default;}
    .product-number span,.product-brand span,.product-vendor span{font-family:$base-font-family-semibold;}        
    .product-highlight{
        img{vertical-align:middle;max-height:35px;margin:0 auto;}
        ul{margin:0; padding:5px 0;
              li{display:inline-block;list-style:none;padding:0 3px 0 0px;}
        }
        .owl-theme .owl-controls{top:-20px;
                .owl-buttons .owl-prev{width:20px;height:20px;line-height:20px;}
                .owl-buttons .owl-next{width:20px;height:20px;line-height:20px;margin-right:5px;}
        }
    } 
    .product-status{background-color:#f8f8f8;border:1px solid $border-bgcolor-default;padding:6px 0;
            p{color:#05901b;font-size:12px;line-height:20px;margin-bottom:0;}
            i{font-size:30px;color:#05901b;vertical-align:middle;padding:0 5px;line-height:58px;}
    }
    .product-bundles{background-color:#f7f7f7;border:1px solid $border-bgcolor-default;padding:5px;max-height:300px;overflow-y:auto;
        img{margin:0 auto;}            
        .status-outofstock{font-size:12px;font-weight:bold;color:$base-color-primary;}
        ul{margin:0;padding:0;
            li{display:inline-block;vertical-align:top;width:24%;margin-bottom:10px;
                h5{font-size:$base-font-size;}
            }
        }
    } 
    .product-details-qty, .group-item-details {
        .error-msg{font-size:12px;font-family:$base-font-family-semibold;color:$base-color-primary;} 
    }
}
.change-store-link,.fitguid-link {text-align: right;text-transform: uppercase;}

.product-view-details .product-info {
    padding: 0;
    margin: 0;

    .product-price {
        h2 {
            font-size: 25px;
            font-weight: bold;
            margin: 15px 0;
        }

        .cut-price {
            color: #9f9f9f;
            padding-left: 5px;
            text-decoration: line-through;
            font-size: 20px;
        }

        .typical-time span {
            font-weight: bold;
        }
    }

    .product-variations {

        .your-pricing, .product-wishlist {
            padding-top: 10px;
            text-align: right;
        }

        .your-pricing {
            h3 {
                font-size: 30px;
                font-family: $base-font-family-semibold;
                color: $base-color-primary;
                margin: 0;
                background: transparent;
            }

            span {
                font-size: $base-font-size;
                color: #949494;
                font-weight: normal;
                vertical-align: middle;
                display: block;
                line-height: 20px;
            }

            button {
                margin-top: 5px;
            }
        }

        .product-customize {
            padding: 0 0px;

            .addons-attributs {
                padding: 0;

                h4 {
                    font-size: $base-font-size + 1;
                    font-family: $base-font-family-semibold;
                    min-height: 20px;
                }

                label {
                    font-size: $base-font-size + 4;
                    display: inline-block;
                    vertical-align: top;
                    text-transform: uppercase;
                    letter-spacing: 1.8px;
                    font-family: $base-font-family-bold;

                    span {
                        font-family: $base-font-family;
                        text-transform: none;
                        line-height: 25px;
                        margin-left:10px;
                    }
                }

                .form-group {
                    float: left;
                    width: 100%;
                    padding-left: 0;
                    margin-bottom: 5px;

                    .cut-price {
                        padding-right: 0;
                    }

                    .original-price {
                        padding-left: 5px;
                    }
                }

                .quantity {
                    width: 50px;
                    height: 45px;
                    border: 2px solid;
                    font-size: 19px;
                    margin-right: 15px;
                    text-align: center;
                    padding: 4px;
                    font-family:$base-font-family-bold;
                    letter-spacing:1.98px;
                }

                select {
                    height: 35px;
                    vertical-align: text-bottom;
                    margin-top: 0px;
                    background-color: #F5F5F5;
                }

                .time-inventory-fields .typical-time span {
                    font-weight: bold;
                }
            }

            .swatch-img-container {
                padding: 0;

                label {
                    display: block;
                    font-size: $base-font-size;
                    text-transform: capitalize;
                    font-weight: normal;
                }

                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        display: inline-block;
                        cursor: pointer;
                    }

                    img {
                        border: 1px solid $border-bgcolor-default;
                        margin: 0 5px 5px 0;
                        max-height: 40px;
                        max-width: 40px;

                        &:hover {
                            border: 1px solid $base-color-primary;
                        }
                    }
                }
            }
            // Color Swatch Img.
            .size-swatch {
                padding: 0px 10px 0px 0px;
                margin: 0;

                li {
                    display: inline-block;
                    cursor: pointer;
                    margin-bottom: 8px;
                    line-height: 26px;
                    margin-right: 4px;

                    input {
                        display: none;
                    }

                    label {
                        text-align: center;
                        margin: 0;
                        border: 1px solid $base-bgcolor-grey;
                        background-color: $base-bgcolor-grey;

                        &:hover {
                            border: 1px solid $base-color-primary;
                        }

                        &:before, &:after {
                            color: transparent;
                        }
                    }

                    label.active {
                        border: 1px dashed $base-color-black;
                        background-color: $base-color-black;
                        color: $base-color-white;
                    }

                    label.scratch-image {
                        padding: 0;

                        &.scratchattribute:before {
                            width: 26px;
                            height: 26px;
                            transform: rotate(0deg);
                            position: absolute;
                            top: 5px;
                            bottom: 0;
                            left: 5px;
                            right: 7px;
                            font-size: 28px;
                            color: #555;
                            line-height: 27px;
                            content: '\2573';
                        }
                    }

                    label.scratch-text {
                        padding: 1px;
                        width: 40px;
                        height: 40px;
                        border-radius: 50px;
                        font-size: 17px;
                        font-family: $base-font-family-medium;
                        line-height: 35px;
                        position: relative;
                        letter-spacing: -.54px;

                        &.scratchattribute:before {
                            width: 26px;
                            height: 26px;
                            transform: rotate(0deg);
                            position: absolute;
                            top: 5px;
                            bottom: 0;
                            left: 5px;
                            right: 7px;
                            font-size: 28px;
                            color: #555;
                            line-height: 27px;
                            content: '\2573';
                        }
                    }
                }
            }
            // Swatch Img default
            .swatch-img li img {
                max-width: 36px;
                max-height: 36px;
                border-radius: 50px;
            }
            // Color Swatch Img.
            .color-swatch li label i {
                font-size: 26px;
                padding: 0 4px;
                line-height: 28px;
            }

            .product-wishlist {
                button {
                    margin-bottom: 5px;
                }

                .social-share ul {
                    padding: 0;
                    margin: 0;
                    float: left;

                    li {
                        display: inline-block;
                    }

                    i {
                        font-size: 26px;
                        color: #787878;
                    }
                }
            }

            .group-product-list {
                border-bottom: 1px solid $border-bgcolor-default;
                padding: 5px 0;
                margin: 0;
                line-height: 32px;

                img {
                    width: 65px;
                    max-height: 65px;
                    float: left;
                }

                .group-item-details {
                    .product-details-quantity {
                        overflow: hidden;
                    }
                }

                .quantity-state {
                    padding-left: 10px;
                    font-size: 12px;
                }

                .dynamic-product-price {
                    font-weight: 600;
                }

                .product-count-inventory {
                    border-left: 1px solid $footer-bgcolor;
                    color: $base-color-primary;
                }
            }
        }

        .wishlist-status .success-msg {
            padding: 2px 10px;
        }

        .tier-price table {
            margin: 5px 0;
        }
    }
}

.obsolete-msg {
    font-size: 16px;

    a {
        color: #CC0000;
        text-decoration: underline;
    }
}

.boder-bottom-pdp{border-bottom: 5px solid $footer-bgcolor;padding-bottom:10px;}
.boder-bottom-pdp-black{border-bottom: 1px solid $base-color-black;padding-bottom:10px;padding-top:10px;}

// Customer Review
.write-review .form-group {
    float: left;
    width: 100%;
}
.write-review .setrating{
    input {position: absolute;top: 0;left: -9999px;}
    label{cursor:pointer;}    
}
.all-reviews-pdp{margin-top:60px;
    h4{font-size:18px;font-family:$base-font-family-bold;letter-spacing:1.87px;text-transform:uppercase;border-bottom:3px solid $base-color-primary;display:inline-block;line-height:25px;margin-bottom:0px;}
    #product-review-container{border-bottom:1px solid $base-bgcolor-grey;}
}


// PDP Static Bar.
.static-bar{position:fixed;top:110px;left:0;right:0;width:100%;min-height:78px;background-color:$base-color-white;z-index:1024;visibility:hidden;opacity:0;transition:opacity 0.5s linear;-webkit-transition:opacity 0.5s linear;-moz-transition:opacity 0.3s linear;padding:10px 80px;
   .padding{padding-top:4px;}
   .tab{display: table-cell;vertical-align: middle;padding:10px 0;}
   .tab .tab-panel-heading {
           a:hover{color:$base-color-primary;}
          .active a{color: $base-color-primary !important;}
         li {list-style: none;display: inline-block;padding: 0 10px !important;border-right: 1px solid $border-bgcolor-default;
             &:last-child{border-right:none;}
         }
         a{text-transform: capitalize;font-size: 21px;font-family:$base-font-family;color:$base-color-secondary;cursor:pointer;
           .zf-arrow-right-big{font-size:11px;font-weight:600;padding-left:10px;}
         }
 }
   .btn-wishlist{display: inline-block;background-color: transparent;border: 0;font-family:$base-font-family;text-align: center;line-height: 1;height: 48px;font-size: 10px;vertical-align: bottom;padding: 0;margin-left: 12px;
                 i{display: block;font-size:$base-font-size+6;}
   }
   .product-price{float:left;
              h2{line-height:45px;padding-right:15px;font-size:26px;color:#cc0000;font-family:$base-font-family-semibold;}
              .uom{font-family:$base-font-family;font-size:12px;text-transform:lowercase;color:$base-color-secondary !important;}
              .black-price{color:$base-color-secondary;}
    }
   .btn-add-to-cart .error-msg{display:none !important;}
}

//Sticky Notification bar
.sticky-bar{visibility: visible;opacity: 1;box-shadow: 5px 5px 10px 0 #b9b9b9;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px; min-height:55px !important;
    .image{width:55px;height:55px;border:2px solid $success-msg-fgcolor;float:left;display:block;}
    .product-detail{
        div{display:inline-block;font-size:$base-font-size + 1;vertical-align:middle;line-height:56px;
                 span{border-right:1px solid $border-bgcolor-default;padding:0 15px;}
                  .sku-label {border-right:none;padding:0}
                  .addtocart-label{color:$success-msg-fgcolor;font-weight:bold;padding-left:10px;}                                                      
        }        
    }   
   .zf-active{color:$success-msg-fgcolor;font-size:18px;}
   .close-btn{line-height:32px;vertical-align:middle;color:$base-color-primary;font-size:22px;cursor:pointer;}                                                    
   .checkout-btn{margin:0 10px;}
   .product-info {display:flex;align-items:center;justify-content:flex-start;
        .btn{height:38px;line-height:22px;}
    }
}

@import "widgets/_tabs.scss";
@import "widgets/_image-zoom.scss";

// Media Query
@include screensize(x-small) {
    .mobile-pdp .shopallbrand{text-decoration: underline;text-align: right;font-size: $base-font-size;letter-spacing: .42px;}
    .mobile-pdp .product-name{    font-family: $base-font-family-semibold;font-size: $base-font-size + 6;margin-top: 5px;color: $base-color-black;}
    .product-view-details .product-info .product-variations .product-wishlist{text-align:center}
    .product-details-qty{padding-left:55px;}
    .change-store-link{text-align:center}
    .fitguid-link{text-align:center;border-top: 4px solid #fff;margin-top: -2px;}
    .Link_Products_Widget,.Recent_View_Products_relProduct{padding:0px 0px 0px 0px;}
    .text-align-center-mobile{text-align:center;border-bottom: 1px solid #efefef;padding-bottom: 15px;padding-top: 15px;}
    .text-align-center-mobile:last-child{border-bottom: none;}
    .product-view-details{padding:0 5px;margin:0px;}
    .boder-bottom-pdp{border:none;margin-top: -30px;}
    .product-view-details .product-info .product-variations .product-customize .size-swatch{padding:0px 0px 0px 0px;}
    .product-view-details .product-info .product-variations .product-customize .swatch-img li img{width:42px;height:42px;max-width:42px;max-height:42px;}
    .product-view-details .product-info .product-variations .product-customize .size-swatch li{margin-right:8px;}
    .product-view-details .product-info .product-variations .product-customize .size-swatch li label.scratch-text.scratchattribute:before{left:7px;top:9px;font-size:32px;}
    .product-view-details .product-info .product-variations .product-customize .size-swatch li label.scratch-text{width:46px;height:46px;line-height:43px;}
    .product-view-details .product-overview{padding:0px;
        .padding-right-PDP .form-group .text-black{width:100%;}
         h1{font-size:$base-font-size + 6;}
        .product-bundles ul li{width:48%;}
        .overview-small-view{padding:0;}     
    }
    .product-view-details .product-info{
        .product-variations .product-customize .group-product-list .group-item-details{padding-left:5px;padding-right:5px;}
        // Personlised Attributs
        .personlised-attribute{
            input[type="text"]{width:75%;}
        }
    }
    .write-review,.all-reviews{padding:0px 15px 0px 15px;
       textarea{font-size:16px;}
    }
    .btn-print{display:none;}
      // PDP Static Bar.
    .static-bar{display:none;}
    .sticky-bar{display:block !important;padding:5px 0 !important;top:102px;
        .product-info-btn button{display:none;}
        .product-detail div{line-height:34px;
            .sku-label{padding-left:10px !important;}
            span{border-right:none;}
        } 
        .padding{padding-top:0;}
        .close-btn{position:relative;right:0;top:22px;}
    }
    .simpleLens-gallery-container .simpleLens-big-image-container{
        border:none;border-bottom: 10px solid $footer-bgcolor;
    }
}
@include screensize(small) {
    .all-reviews-pdp{padding-left:15px;padding-right:15px;}
    .boder-bottom-pdp{border-bottom: 5px solid $footer-bgcolor;margin-top: 0px;}
    .text-align-center-mobile{text-align:left;border-bottom: none;padding-bottom: 0px;padding-top: 0px;}
    .product-view-details .product-info .product-variations .product-wishlist{text-align:right}
    .product-details-qty{padding-left:0px;}
    .change-store-link{text-align:right}
    .fitguid-link{text-align:right;border-top: none;margin-top: 0px;}
    .product-view-details{padding:0;}
    .product-view-details .product-overview {padding-left:15px;padding-right:15px;
        .product-bundles ul li{width:24%;}    
    }
    .product-view-details .product-info{
        .product-variations .product-customize .group-product-list .group-item-details{padding-left:20px;}
        // Personlised Attributs
        .personlised-attribute{
            input[type="text"]{width:50%;}
        }
    }
    .write-review,.all-reviews{padding:0;}
    .sticky-bar{top:106px;
        .product-detail div{line-height:34px;
            .sku-label{padding-left:0 !important;}
            span{border-right:1px solid $border-bgcolor-default;}
        } 
        .padding{padding-top:4px;}
    }
}
@include screensize(medium){
    .mobile-pdp{display:none;}
    .Link_Products_Widget,.Recent_View_Products_relProduct{padding:0px 70px 0px 70px;}
    .text-align-center-mobile{text-align:left;border-bottom: none;padding-bottom: 0px;padding-top: 0px;}
    .product-view-details{margin-top:15px;}
    .product-view-details .product-info .product-variations .product-wishlist{text-align:left}
    .product-view-details .product-info .product-variations .product-customize .size-swatch li label.scratch-text.scratchattribute:before{left:5px;top:5px;font-size:28px;}
    .product-view-details .product-info .product-variations .product-customize .swatch-img li img{width:36px;height:36px;}
    .product-view-details .product-info .product-variations .product-customize .size-swatch li label.scratch-text{width:40px;height:40px;line-height:35px;}
    .product-view-details .product-info .product-variations .product-customize .size-swatch{padding:0px 10px 0px 0px;}
    .product-view-details .product-info .product-variations .product-customize .size-swatch li{margin-right:4px;}
    .all-reviews-pdp{padding-left:0px;padding-right:0px;}
    .product-view-details .product-overview{padding-left:0px;padding-right:0px;
         h1{font-size:$base-font-size + 11;}
        .padding-right-PDP{padding-left:0px;padding-right:15px;}
        .overview-small-view{padding:0 5px 0 0;}
    }
    .simpleLens-gallery-container .simpleLens-big-image-container{
        border: 5px solid $footer-bgcolor;
    }
    // PDP Static Bar.
    .static-bar{padding:10px;min-height:78px;display:block;
        .padding {padding-top: 4px;}
        .tab{
             .tab-panel-heading{
                  a{font-size:21px;}
             }
        }
        .pull-right.padding-right{padding-right:20px;
            .product-price{
                h2{padding-right: 15px;}
            }
            .btn-add-to-cart{
                button.btn-lable{padding:6px 30px 6px 40px;}
            }
            .btn-wishlist{margin-left:13px;}
        }
    }
    .sticky-bar{top:110px;
        .product-info-btn button{display:inline-block;}
        .close-btn{top:0;}
    } 
}
@include screensize(desktop){
    .btn-print{display:inline-block;text-decoration: none!important;position: relative;margin-top: -49px;width: 15%;line-height:40px!important;}
    .product-view-details .product-info .product-variations .product-wishlist{text-align:right}
    // PDP Static Bar.
    .static-bar{padding:10px 80px;}
    .product-view-details .product-overview{
        .padding-right-PDP{padding-right:15px;}
    }
    
}
@include screensize(large){
    .boder-bottom-pdp-black{
        .setDDLview1{width:40%;display: inline-flex;vertical-align: top;
            .size-swatch{width:100%;}
        }
        .setDDLview{width:27%;display: inline-flex;margin-left:10px;vertical-align: top;
            .size-swatch{width:100%;}
        }
      .col-xs-4{width:40%;
        .size-swatch{width:100%;}
      }
      div.col-xs-4:nth-child(4){width:20%;
        label{float:right;height:47px;}
        .size-swatch{padding:0px!important;float:right;width:auto!important;text-align:right;
                     li{margin-bottom:0px!important;margin-right:4px!important;}
        }
      }
    }
    .pdp-left-width {width: 60%;}
    .pdp-right-width {width: 40%;}
    .product-view-details .product-overview{
        .padding-right-PDP{padding-right:30px;}
    }
}
@include screensize(x-large){
    .boder-bottom-pdp-black{
        .setDDLview1{width:40%;display: inline-flex;vertical-align: top;
            .size-swatch{width:100%;}
        }
        .setDDLview{width:27%;display: inline-flex;margin-left:10px;vertical-align: top;
            .size-swatch{width:100%;}
        }
      .col-xs-4{width:40%;
         .size-swatch{width:100%;}
      }
      div.col-xs-4:nth-child(4){width:19%;
          label{float:right;height:47px;}
        .size-swatch{padding:0px!important;float:right;width:auto!important;text-align:right;
                     li{margin-bottom:0px!important;margin-right:4px!important;}
        }
      }
    }
    .pdp-left-width {width: 64%;}
    .pdp-right-width {width: 36%;}
}
@include screensize(xx-large){
    .Link_Products_Widget,.Recent_View_Products_relProduct{padding:0px 120px 0px 120px;}
    .boder-bottom-pdp-black{
        .setDDLview1{width:37%;display: inline-flex;vertical-align: top;
            .size-swatch{width:100%;}
        }
        .setDDLview{width:27%;display: inline-flex;margin-left:22px;vertical-align: top;
            .size-swatch{width:100%;}
        }
      .col-xs-4{width:41%;
        .size-swatch{width:85%;}
      }
      div.col-xs-4:nth-child(4){width:18%;
          label{float:right;height:47px;}
        .size-swatch{padding:0px!important;float:right;width:auto!important;text-align:right;
                     li{margin-bottom:0px!important;margin-right:4px!important;}
        }
      }
    }
}

@media print{
    .btn-text, .product-view-details .product-rating a,.header-nav{display:none;}
    .product-details-tab .nav-tabs > li.active > a, .product-details-tab .nav-tabs > li.active > a:hover, .product-details-tab .nav-tabs > li.active > a:focus {font-weight:bold;}
    .product-details-tab ul li{width:auto;
        a{font-weight:normal;}
    }
}