﻿@import "_base.scss";
.single-page-checkout {
    margin-top: 5%;
    margin-bottom: 60px;

    h1,h2 {
        font-size: 22px;
        font-family: $base-font-family-bold;
        letter-spacing: 2.29px;
    }

    .shipping-address {
        .form-group {
            margin-bottom: 25px;
        }

        .padding-right-10 {
            padding-right: 10px;
        }

        .padding-left-10 {
            padding-left: 10px;
        }
    }

    .shipping-method {
        .b2c-inhand-block {
            display: flex;
            align-items: center;
            padding-left: 8px;

            label {
                font-weight: bold;
            }

            .datepicker {
                border: 1px solid $border-bgcolor-default;
                padding: 5px 10px !important;
                margin-bottom: 5px !important;
                min-width: 250px !important;
                max-width: 350px !important;
                height: 28px;
                border-radius: 0
            }

            .right-inner-icon {
                padding-left: 25px;

                i {
                    top: 2px !important;
                    color: $base-color-primary;
                }
            }
        }
    }

    .address-block {

        .address-name {
            font-size: 18px;
            text-transform: uppercase;
        }

        .address-details {
            min-height: 100px;

            p {
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }

    .review-order {
        .cart-item-checkout {
            display: inline-flex;
            width: 100%;

            form {
                width: 80px;
            }

            input[type="text"] {
                border: none;
                background-color: transparent;
                pointer-events: none;
                height: 25px;
            }
        }

        .product-price-checkout {
            font-family: $base-font-family-bold;
            font-size: 18px;
            letter-spacing: 1.87px;
            padding: 0px 5px 0px 0px;
            text-align: right;
            display: block;
        }

        .shopping-cart {
            padding: 0;

            .cart-total {
                border: 0 !important;

                .total{ margin:0px;margin-top:-15px;
                    h3 {
                        font-size: 30px;
                        letter-spacing: .09px;
                    }
                    .ordertotal{
                        font-size: 29px;
                        letter-spacing: 2.9px;
                    }
                }
                .form-group{
                    margin-bottom:25px;
                }
            }

            .cart-summary .order-summary {
                margin-top: 0;
                font-size: 18px;
                padding: 0px 15px 0px 30px;
                letter-spacing:.54px;
            }
        }

        .cart-products {
            padding: 30px;
            padding-top: 0px;

            tr th:first-child {
                display: none
            }

            tbody {
                .wishlist-btn, .pickup-store, .remove-item, .cart-item-quantity, .cart-item-total {
                    display: none;
                }
            }
        }
    }

    .cart-item-details {
        display: flex;
        width: 75%;
        float: left;


        .cart-description {
            padding: 0 0 0 10px;
            margin-top: 0;
            word-break: break-all;
        }
    }

    .cart-item-quantity, .cart-item-total {
        float: right;
        clear: right;
        width: 25%;
    }

    .signle-page-payment .credit-card-container {
        .nav-tabs {
            li {
                width: 50%;
            }

            li a {
                text-align: center;
                background-color: #f5eded;
                color: $base-color-primary;
                border-color: #f5eded #f5eded transparent
            }

            li.active a {
                background-color: $base-color-primary;
                color: $base-color-white;
            }
        }

        .tab-content {
            padding: 10px 0;
            display: block;
        }

        .section-heading {
            font-size: $base-font-size + 3;
            border-bottom: 1px solid $border-bgcolor-default;
            font-weight: 600;
            color: #6a6367;
            padding-bottom: 10px;
            display: none;
        }

        .save-cart {
            margin-bottom: 10px;

            ul {
                padding: 0;
            }

            .input-radioButton {
                margin-right: 10px;
            }
        }
    }

    .cart-total-footnote {
        display: none;
    }

    .styled-input .disable-radio::before {
        color: #ddd !important;
    }

    .checkout-box {
        .success-msg{font-size:$base-font-size + 4;letter-spacing:.54px;font-family:$base-font-family-medium;color:$base-color-primary;}
            .styled-input{
                label{font-size:$base-font-size + 4;letter-spacing:.54px;font-family:$base-font-family;}
            }
        .title {
            padding: 15px;
            margin: 0;
            font-size: $base-font-size + 4;
            color: $base-color-white;
            font-family: $base-font-family-bold;
            text-transform: uppercase;
            background-color: $base-color-black;
            letter-spacing: 1.8px;
            margin-bottom: 15px;
            margin-top:25px;
        }

        .payment-options .payment-select-heading {
            display: none;
        }

        .cart-gift-card {
            padding: 15px;

            .voucher-heading {
                border-bottom: 1px solid #c3c3c3;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 15px;
                padding-bottom: 5px;
                text-transform: uppercase;
            }

            .voucher-text {
                max-width: 250px;
            }
        }

        .gift-card-details {
            .zf-close {
                padding-right: 15px;
            }

            .voucher-amount {
                font-weight: bold;
            }
        }

        .payment-options {
            .payment-heading {
                border-bottom: 1px solid #c3c3c3;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 15px;
                padding-bottom: 5px;
                text-transform: uppercase;
            }
        }
    }

    .cart-products {
        thead {
            display: none;
        }

        tbody {
            display: flex;
            flex-wrap: wrap;

            tr {
                width: 100%;
                background-color: $base-color-white;
                margin-bottom: 15px;
                display: inline-block;
            }
        }

        .remove-item {
            position: absolute;
            left: 0;
        }

        td {
            border-bottom: 0 !important;
            position: relative;
            vertical-align: top !important;
        }

        td.cart-item-unitprice {
            margin-top: 10px;
            display: none;
        }

        .thead-text {
            position: static !important;
        }
    }

    .cart-total-title {
        padding: 0;

        .cart-item-remove-all {
            position: absolute;
            right: 2px;
            top: 22px;
        }
    }

    .cart-left-section {
        padding: 0;
    }

    .shipping-address {
        .shipping-constraints {
            display: flex;
        }
    }

    .cart-image{ padding:0px;
        img {
            float: none;
            width: auto;
        }
    }
    .cart-item-description {
        min-height: auto !important;
        margin-bottom: 15px !important;
    }

    td.cart-item-details {
        white-space: normal !important;
    }

    .chk-section, .cart-promocode {
        background-color: #f5f5f5;
        margin-bottom: 15px;
        min-height:205px;

        .head-text {
            padding: 15px;

            h1,h2 {
                text-transform: uppercase;
                padding: 5px 15px;
                margin: 0px;
            }

            h4 {
                font-size: 18px;
                font-family: $base-font-family-medium;
                margin: 0px;
                padding: 5px 15px 5px 15px;
                line-height:24px;
            }
        }

        table {
            border: 0;

            td {
                padding: 10px !important;
            }

            .cart-item-total, .cart-item-quantity {
                padding-top: 13px !important;
            }
        }
    }

    .additional-section {
        .head-text {
            border: 1px solid $border-bgcolor-default;
        }

        .addition-info {
            margin: 0 15px;
        }
    }

    .cart-total {
        margin-left: 0;

        .align-right {
            padding-right: 16px;
        }
    }

    .create-new-address {
        /*position: absolute;
        right: 160px;
        top: 0px;*/
        margin-right:15px;
        font-family: $base-font-family-semibold;
        z-index: 999;

        a {
            padding: 10px 20px;
        }
    }

    /*.address-change {
        position: absolute;
    }*/

    .address-block {
        padding-top: 10px;

        .address-change {
            font-family: $base-font-family-semibold;
            text-align: right;

            a {
                border: 1px solid $border-bgcolor-default;
                padding: 2px 9px;
                margin: 5px 0;
            }
        }
    }
}

.cart-promocode {
    .head-text {
        border-bottom: 1px solid $border-bgcolor-default;
        padding-right: 0;
    }

    .form-group {
        padding: 5px 15px;
    }

    .promotion-block {
        border: 1px solid red;
        background: rgb(255, 206, 206)
    }
}

.shopping-block-item .cart-products .cart-item-quantity input[type="text"] {
    border: 1px solid $border-bgcolor-default;
    width: 48px;
}

.shipping-method .styled-radio .input-label {
    font-weight: normal;
}

.amazon-pay-review {
    .hide-in-amazon-checkout {
        display: none;
    }

    .cart-item-quantity input[type="text"] {
        border: none;
        background-color: transparent;
        width: auto;
        pointer-events: none;
    }
}

.address-popup {
    .modal-body {
        display: inline-block;
        background-color: $base-color-white;
    }

    .edit-address-form {
        margin-top: 0;
    }
}

.login-container-popup {
    .login-container {
        margin: 0;

        .inner-container {
            border: 0;
            padding: 0 25px;

            .social {
                width: 100%;
            }
        }

        .login-form-forgotpassword {
            display: none;
        }
    }
}

.ui-dialog {
    background-color: $base-color-white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 99999 !important;

    .ui-dialog-titlebar {
        font-size: $base-font-size + 2;
        font-family: $base-font-family-semibold;
        display: block;
        line-height: 26px;
        color: $base-color-white;
        background-color: $base-color-primary;
        padding: 15px;
    }

    .ui-dialog-content {
        padding: 15px;
        color: $text-fgcolor-default;
    }

    .ui-dialog-titlebar-close {
        font-family: $znode-icon-font;
        font-weight: normal;
        font-size: $base-font-size + 2;
        color: $base-color-secondary;
        content: "\f057";
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .ui-dialog-buttonpane {
        float: left;
        width: 100%;
        background-color: $base-color-white;
        padding: 10px 15px;
        border-top: 1px solid $border-bgcolor-default;

        .ui-dialog-buttonset {
            float: right;

            button {
                @include btn-text;
                font-size: $base-font-size;
                padding: 0 15px;
                margin-left: 5px;
                height: 24px;
                line-height: 23px;
                text-transform: capitalize;
                color: $base-color-white;
                background-color: $base-bgcolor-button-primary;
                overflow: hidden;
                float: left;
                border-radius: 2px;
            }
        }
    }
}

.ui-md-popup {
    width: 600px !important;
    height: auto;
}
//amazon css
.amazon-checkout {
    .shipping-address {
        padding-right: 30px;

        .title {
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .shipping-method .title {
        padding-left: 10px;
    }

    .login-off-btn {
        margin-left: 0 !important;
    }

    .amazon-right {
        margin-top: 6px;
    }
}

#AmazonWalletWidget, #AmazonConsentWidget {
    width: 800px;
    height: 228px;
}

h3 {
    padding: 9px 0;
    font-size: 16px;
    color: #343434;
}

.address-book {
    padding-right: 10px;
    margin: 10px 0;
}

.order-btn {
    width: 100%;
    max-width: 250px;
}
.quotebutton i{display:none;}
.addition-info-checkout{
    h3{text-transform:uppercase;}
    textarea{font-size:18px;letter-spacing:.54px;text-transform:none;}
}
.accept-terms{
    h3{padding: 15px;margin: 0;font-size: 18px;color: #fff;font-family: $base-font-family-bold;text-transform: uppercase;background-color: $base-color-black;letter-spacing: 1.8px;margin-bottom: 15px;}
    .filter-list{
        .error-msg{font-size:16px;}
        .sendmail{margin-top: 55px;margin-bottom: 25px;}
        label{font-family:$base-font-family;font-size:18px;letter-spacing:.54px;
          a{color:$base-color-primary;}
            }
    }
    
    
}
.stock-checkout{margin-left:0px!important;line-height:45px;}


// Media Query.
@include screensize(x-small) {
    .estimatedate-form{margin-bottom:25px;}
    .pull-set-btn{float:left;width:100%;}
    .indexship {margin-bottom:10px;}
    .table tbody{border-top: none;border-bottom:none;}
    .single-page-checkout {
        padding: 0px;
        .chk-section .head-text h4,.shopping-cart .cart-promocode p, .shopping-cart .cart-giftcart p{font-size:$base-font-size + 2;}
        .review-order .cart-products tbody .cart-item-total{display:block;width:100%;}
        .review-order .shopping-cart .cart-total .total h3,.review-order .shopping-cart .cart-total .total .ordertotal{font-size:$base-font-size + 2;}
        .review-order .shopping-cart .cart-summary .order-summary{font-size:$base-font-size + 2;}
        .cart-item-details{width:100%;}
        .review-order .product-price-checkout{display:none;}
        .create-new-address{width:50%;margin-right: 0px;padding-right:0px;}
        .address-change{width:50%;margin-right: 0px;}
        .create-new-address a,.address-change a{width:100%;}
        .checkout-box .styled-input label,.checkout-box .success-msg{font-size:$base-font-size;}
        .address-block .address-details p{font-size:$base-font-size + 2;letter-spacing:.48px;}
         h1,h2{font-size:$base-font-size + 2;letter-spacing:1.87px;}
        .checkout-box .title,.accept-terms h3{background-color:$footer-bgcolor;color:$base-color-black;font-size:$base-font-size + 2;letter-spacing:1.6px;min-height:59px;line-height:29px;}
        .shipping-address {
            padding-right: 0;
            .padding-right-10{padding-right: 0px;}
            .padding-left-10{padding-left: 0px;}
        }
    }

    .checkout-reciept {
        padding: 0 5px;
        h1{font-size:$base-font-size + 4;font-family:$base-font-family-bold;}
        .print-none a{text-decoration:underline;}
    }
    /*.btnCompleteCheckout{position: fixed;bottom: 0px;z-index: 999;border-radius: 0px; min-height: 94px;font-size:$base-font-size - 1;}*/
}

@include screensize(small) {
    .estimatedate-form{margin-bottom:7px;}
    .pull-set-btn{float:right;width:auto;}
    .indexship {margin-bottom:10px;}
    /*.btnCompleteCheckout{position: relative;bottom: 0px;z-index: 9;border-radius: 50px; min-height: inherit;font-size:$base-font-size + 3;}*/
    .table tbody{border-top: 1px solid $base-color-black;border-bottom: 1px solid $base-color-black;}
    .single-page-checkout {
        padding: 0;
        .chk-section .head-text h4,.shopping-cart .cart-promocode p, .shopping-cart .cart-giftcart p{font-size:$base-font-size + 4;}
        .review-order .cart-products tbody .cart-item-total{display:none;}
        .cart-item-details{width:75%;}
        .review-order .shopping-cart .cart-total .total h3{font-size:$base-font-size + 16;}
        .review-order .shopping-cart .cart-total .total .ordertotal{font-size:$base-font-size + 15;}
        .review-order .shopping-cart .cart-summary .order-summary{font-size:$base-font-size + 4;}
        .review-order .product-price-checkout{display:block;}
        .checkout-box .styled-input label,.checkout-box .success-msg{font-size:$base-font-size + 4;}
        .create-new-address,.address-change{width:50%;margin-right: 15px;}
        .address-change{width:50%;}
        .create-new-address a,.address-change a{width:100%;}
        .address-block .address-details p{font-size:$base-font-size + 4;letter-spacing:.48px;}
         h1,h2{font-size:$base-font-size + 8;letter-spacing:2.29px;}
        .checkout-box .title,.accept-terms h3{background-color:$base-color-black;color:$base-color-white;font-size:$base-font-size + 4;letter-spacing:1.8px;min-height:inherit;line-height:29px;}
        .shipping-address {
            .padding-right-10{padding-right: 0px;}
            .padding-left-10{padding-left: 0px;}
        }
        .shipping-address-content, .billing-address-content {
            .shipping-address-edit {
                padding-right: 15px;
                .input-checkbox_container{
                    label{font-size:$base-font-size;font-family:$base-font-family;}
                }
            }

            .shipping-address-edit-block {
                .address-book-block {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }

        .cart-products tbody {
            display: table;
            width: 100%;
            border: none;

            .cart-item-details {
                width: 100%;
            }

            .cart-item-quantity, .cart-item-total {
                float: none;
                width: auto;
                clear: none;
            }
        }
    }

    .checkout-reciept {
        padding: 0;
        font-size: 18px;
        margin-top: 5%;

        h1 {
            font-size: 22px;
            font-family: $base-font-family-bold;
            letter-spacing: 2.29px;
            margin-bottom: 25px;
        }

        b {
            font-family: $base-font-family-bold;
        }

        a {
            text-decoration: underline;
        }
    }
}

@include screensize(medium) {
    .estimatedate-form{margin-bottom:30px;}
    .single-page-checkout {
        .shipping-address {
            padding-right: 30px;
        }

        .shipping-address-content {
            padding-right: 0;

            .shipping-address-edit {
                padding-right: 15px;
            }
        }
    }
}
@include screensize(desktop){
    .estimatedate-form{margin-bottom:7px;}
    .single-page-checkout .review-order .product-price-checkout{width:40%;}
    .single-page-checkout .shipping-address {padding-right:30px;
        .padding-right-10{padding-right: 10px;}
            .padding-left-10{padding-left: 10px;}
        padding-right: 84px;
    }
    
}
@include screensize(xx-large) {
    .single-page-checkout .shipping-address {
        padding: 0 84px 0 0;
    }
    .single-page-checkout .review-order .product-price-checkout{width:30%;}

}