﻿@import "_base.scss";

// Product List Widgets.
.template-product-list{padding:10px;display:inline-block;
    .item{float:left;min-width:25%;text-align:center;}
} 

.default-template .product-list-widget .owl-theme .owl-controls{position:static;margin-bottom:10px;}

//Content Page
.ContainerSection{margin-bottom: 50px;
    img{display: block;max-width: 100%;height: auto;}
}
.ContainerSection:focus{outline:none!important;}
.ContainerSection .RightContent a, .ContainerSection a, .ContentPage.Faq a, .ProductComparisonTableData a, .PromoSection span a.popup, ContentPage a {color:$anchor-tag-fgcolor-hover;text-decoration: none;
   &:hover{text-decoration:underline;}
}
.ContentContainer .PageTitle h1,.ContentContainer h1 {font-size: 30px;margin-bottom: 10px;padding: 5px 0 0;background: none;text-transform: uppercase;height: auto;font-family:$base-font-family-semibold;}
.ContentPage .Faq h2 {text-transform: capitalize;padding-bottom: 10px;font-size: 18px;margin-top: 15px;font-family: $base-font-family-semibold;}
.ContactUs p, .ContentPage p, .ShoppingCart .ShippingText p {font-size: 16px;padding: 0 10px 15px 0;text-align: justify;text-transform: none;}
.contact-details p{padding:0px;font-size:$base-font-size - 1;}


@include screensize(x-small){
    .ContentContainer .PageTitle h1, .ContentContainer h1{font-size:18px;}
    .StoreSection {border-bottom: none;padding-bottom: 0;}
    .StoreLeftContent, .StoreRightContent {display: block;width: 100%;}
    .MapSection, .AboutStore {border-right: none;border-bottom: 1px #0b4b6d solid;padding-bottom: 10px;padding-right: 0px;
                              img{max-width: 100%;}
    }
    .StoreAddress img{max-width:100%;height:100%;}
    .AboutStore p,.StoreAddress p{padding: 0px 0px 15px 0px;}
    .MapSocialMedia {padding-top: 0;}
    .MapSocialMedia img {margin-top: 15px;}
    .StoreAddress h3, .StoreTestimonial h3 {text-align: left;margin-top: 15px;color: $base-color-primary;font-size: 16px;font-weight: normal;padding: 0 0 5px;text-transform: uppercase;font-family:$base-font-family-semibold}
    .StoreTestimonial{padding-left:0px;}
}

@include screensize(small){
    .ContentContainer .PageTitle h1, .ContentContainer h1{font-size:30px;}
    //Store Information Page
    .StoreSection {padding: 15px 0;border-bottom: 1px #0b4b6d solid;overflow: hidden;}
    .StoreLeftContent, .StoreRightContent {width: 50%;float: left;}
    .MapSection {border-right: 1px #0b4b6d solid;border-bottom:none;}
    .StoreSection.last {border-bottom: none;}
    .AboutStore {padding-right: 10px;border-right: 1px #0b4b6d solid;border-bottom:none;}
    .StoreTestimonial {float: left;padding-left: 20px;text-align: center}
    .StoreAddress h3, .StoreTestimonial h3 {text-align: left;margin: 5px 0;color: $base-color-primary;font-size: 16px;font-weight: normal;padding: 0 0 5px;text-transform: uppercase;font-family:$base-font-family-semibold}
    .StoreMap {overflow: hidden;}
    .StoreLeftContent .Map {margin-right: 20px;float: left;}
    .MapAddress {float: left;}
    .MapAddress address span {display: block;}
    .MapAddress address span em {font-style: normal;}
    address {margin-bottom: 20px;font-style: normal;line-height: 1.42857143;}
    .MapSocialMedia {clear: both;padding: 20px 0 10px;overflow: hidden;}
}
