﻿@import "_base.scss";

.account-dashboard {
    padding-top: 15px;
    min-height: 450px;

    .dashboard-content {
        h3 {
            background-color: $base-color-black;
            color: $base-color-white;
            font-size: $base-font-size + 4;
            letter-spacing: 1.8px;
            text-transform: uppercase;
            padding: 15px;
        }
    }

    .right-container {
        font-size: $base-font-size + 4;

        .address-edit-form {
            .form-group {
                margin-bottom: 20px !important;

                .padding-right-10 {
                    padding-right: 15px;
                }

                .padding-left-10 {
                    padding-left: 15px;
                }

                .styled-input input[type=checkbox]::before, .styled-input input[type=radio]::before {
                    top: 4px !important;
                    left: 9px !important;
                }
            }
        }

        .voucher-list .total-label {
            text-align: right;
            font-size: 16px;
            font-weight: bold;
            padding-right: 5px;
        }

        .order-history-component {
            display: flex !important;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-right: 10px;

            #btnGenerateInvoice {
                margin-top: 10px;
            }
        }
    }

    #DashboardOne {
        .panel-title > a {
            pointer-events: none;
            display: contents;
        }
    }

    .collapse {
        display: block;
    }

    .return-item-list .receipt-column-item {
        padding: 5px;
    }

    .tabs-left {
        border: 0;
        background-color: $footer-bgcolor;
        text-align: center;
        padding: 15px 10px 15px 10px;

        h4 {
            font-family: $base-font-family-bold;
            font-size: 22px;
            letter-spacing: 2.29px;
            text-transform: uppercase;
            margin-top: 40px;
            margin-bottom: 25px;
        }

        .myaccount {
            text-align: left;
            text-transform: uppercase;
            font-size: 22px;
            font-family: $base-font-family-bold;
            color: $base-color-black !important;
        }

        .signout {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        li {
            float: none;
            margin-bottom: -1px;
            margin-right: -1px;
            font-size: $base-font-size + 4;

            a {
                color: $base-color-secondary;
                display: block;
                margin-right: 0;
                padding: 8px 6px;
                border: none !important;

                &:hover i {
                    color: $base-color-white;
                }
            }

            i {
                color: $base-color-primary;
                padding-left: 5px;
                font-size: 11px;
                vertical-align: baseline;
            }
        }
    }

    nav > ul > li > a.selected, nav > ul > li > a:hover {
        color: $base-color-primary !important;
        background-color: transparent !important;
        border: none !important;
    }

    .section-header {
        color: $base-color-white;
        font-family: $base-font-family-bold;
        text-transform: uppercase;
        font-size: 18px;
        background-color: $base-color-black;
        padding: 15px;
    }

    .wishlist-container table {
        tr {
            border: 0;
            border-bottom: 1px solid $border-bgcolor-default;

            td {
                vertical-align: middle;
                padding: 5px;
            }

            td.wishlist-item-tocart {
                min-width: 130px;
                max-width: 100px !important;

                .btn-card {
                    margin-left: 0;
                    width: 100% !important;

                    i {
                        color: $base-color-white !important;
                    }
                }
            }
        }

        .wishlist-item-detail a {
            display: block;
            font-size: $base-font-size;
            line-height: 26px;
            overflow: hidden;
            width: 100%;
        }

        .wishlist-item-image {
            padding: 0 5px 0 0;

            img {
                max-height: 60px;
            }
        }
    }

    .address-book {
        .address-list form {
            display: inline-block;
        }

        h5, h3 {
            color: $base-color-white;
            font-family: $base-font-family-bold;
            text-transform: uppercase;
            font-size: $base-font-size + 4;
            padding: 15px;
            background-color: $base-color-black;
            letter-spacing: 1.8px;
        }

        .address-title {
        }

        .edit-address-form .form-group, .change-password .form-group {
            float: left;
            width: 100%;
            margin-bottom: 5px;
        }

        .address-list-primary .address-change i.zf-delete {
            display: none;
        }

        .action-links {
            margin-bottom: 10px;
            margin-top:10px;
        }

        .recommended-address-popup {
            h5 {
                font-size: $base-font-size + 2;
                color: #000;
                border-bottom: 1px solid $border-bgcolor-default;
            }
        }
    }

    .address-change {
        color: $base-color-primary;

        i {
            padding: 1px 1px 1px 4px;
            font-size: $base-font-size + 5;
            margin-left: 5px;
            color: $base-color-primary;
        }

        button {
            background: transparent;
            border: none;
            padding: 0;

            &:hover i {
                color: #429cff;
            }
        }
    }

    .dashboard-addresses {
        text-transform: uppercase;

        h5 {
            font-family: $base-font-family-semibold;
            text-transform: uppercase;
            font-size: $base-font-size + 4;
        }

        .address-change i.zf-delete {
            display: none;
        }
    }

    .address-block p {
        margin-bottom: 1px;
    }

    .action-links {
        button {
            background: transparent;
            border: none;
            color: $base-color-primary;
            padding: 8px;
            font-size: $base-font-size + 4 !important;
            font-family: $base-font-family !important;
            letter-spacing: 0.42px;
            height: 44px;
            border: 1px solid $base-color-primary;
            text-align: center;
            text-transform: uppercase;
            line-height: 25px !important;
        }

        .border-left {
            padding-left: 6px;
            margin-left: 2px;
        }
    }

    .edit-profile .form-group {
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }

    .order-receipt {
        h3 {
            font-size: $base-font-size + 1;
            font-weight: bold;
            color: $base-color-secondary;
            border-bottom: 1px solid $base-color-secondary;
            padding-bottom: 6px;
        }

        .receipt-total {
            border-top: 1px solid $base-color-secondary;
        }

        .receipt-item-list {
            .b2c-products-header {
                font-size: 16px !important;
            }

            table {
                border-left: 1px solid $border-bgcolor-default;
                border-right: 1px solid $border-bgcolor-default;

                .shipment-address {
                    background-color: $base-color-white;
                    background-color: #f9f9f9;

                    td {
                        padding: 5px;
                    }
                }

                .table-heading th {
                    padding: 5px;
                    border:1px solid $base-color-black;
                    font-family:$base-font-family-semibold;
                }

                .receipt-column-action {
                    border-right: 1px solid $border-bgcolor-default;
                }
            }
        }

        .receipt-totals {
            .form-group {
                float: left;
                width: 100%;
                margin-bottom: 0;
                line-height: 32px;
            }

            h2 {
                color: $base-color-primary;
                font-family:$base-font-family-bold;
            }
        }

        .table-responsive {
            margin-bottom: 0;
        }
    }

    .review-history ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding: 5px 0;
        }

        .review-item-detail {
            margin-bottom: 5px;
            display: inline-block;
            width: 100%;

            .review-item-title {
                font-size: $base-font-size + 3;
                font-weight: 600;
            }

            h5 {
                font-weight: 600;
            }
        }
    }

    .template-quick-order {
        .quick-order {
            left: -198px;
            top: 32px;
            width: 305px;
        }
    }

    .credit-card-content {
        .credit-card-block {
            margin: 0 0 15px;
        }

        .card-type {
            margin: 4px 0;

            img {
                display: inline-block;
                vertical-align: top;
                padding-right: 10px;
            }

            i {
                padding: 1px 1px 1px 4px;
                border: 1px solid $base-color-primary;
                font-size: $base-font-size + 5;
                margin-left: 5px;
            }
        }

        p {
            margin: 0 0 2px;
        }
    }

    .cart-products .cart-item-quantity {
        input[type="text"] {
            width: 48px;
        }
    }

    .quote-products {
        table {
            background-color: #f7f7f7;
            border: 1px solid $border-bgcolor-default;
            margin-bottom: 0;

            tr td, tr th {
                border: 1px solid $border-bgcolor-default;
                vertical-align: middle;
                padding: 5px;
            }
        }
    }

    .order-history .table .z-podocument {
        display: none !important;
    }

    .product-search {
        .back-btn {
            margin-right: 5px;
        }

        .shipping-address-btn {
            overflow: hidden;
            padding-bottom: 10px;
        }

        .filter-component {
            .filter-csv-text {
                label {
                    height: 45px;
                    line-height: 45px;
                    font-size: $base-font-size + 4;
                }
            }
        }
    }

    .shipping-address-import {
        .import-control-label {
            width: 170px;
            display: inline-block;
            float: left;

            .sub {
                display: block;
            }
        }

        .import-input {
            display: inline-flex; /*width:70%;*/
            float: right;

            .shipping-uploader {
                display: inline-flex;

                .file-upload {
                    padding-right: 15px;
                }
            }
        }
    }

    .import-download-template {
        form {
            float: right;
        }
    }

    .available-ecertlist {
        .ecert-title {
            margin: 0;
        }

        .ecert-balance {
            font-size: $base-font-size + 5;
        }
    }

    .add-ecert-balance .ecert-control h4 {
        font-size: $base-font-size + 3;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .shipping-address-edit-block .address-book-block {
        display: flex;
        flex-wrap: wrap;
    }

    .approval-comment-section .title {
        font-size: $base-font-size + 3;
    }

    .user-approver-modal {
        text-align: center;
        padding: 0 !important;

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
    }
}

.eCertificateBalance{.text-ecert{width:100%;max-width:450px;} 
                      .btn-text{margin-left:0;}
}
.checkout-reciept .change-address {display: none;}

// Media Query.
@include screensize(x-small) {
    .account-dashboard {margin-top:0%;padding-top:0px;
        .tabs-left li{font-size:16px;}
        .tabs-left h4,.tabs-left .myaccount{font-size:18px;}
        .dashboard-content h3,.address-book h5,.address-book h3,.section-header{background-color:$footer-bgcolor;color:$base-color-black;}
        .tabs-left .myaccount{text-align:center;}
        .panel-title > a:before{display:none;}
        .shopping-cart .table-responsive .table tbody tr td{float:none;width:auto;}
        .tabs-left{margin-top:14px;}
        .mobile-width-100{width:100%;}
        .right-container {
            font-size:16px;
            padding-right: 0;
            padding-left: 0;
            .address-edit-form .form-group .padding-right-10{padding-right:0px;}
        }

        #DashboardOne {
                .panel-title > a {display: block;position: relative;pointer-events: auto;padding: 0px;
                                  h1{font-size:18px;text-transform:uppercase;font-family:$base-font-family-semibold;}
                }
            }
        .panel{margin-bottom:0px;border:none;}
        .panel-title > a:after {font-family: "znode-web-store";content: "\f107"; position: absolute;right: 15px;top:-9px;font-size:$base-font-size + 11;}
        .panel-title > a[aria-expanded="true"]:after {font-family: "znode-web-store";content: "\f105";}
        .collapse {display: none;}
        .collapse.in {display: block;}
        .mobile-collapse{position: absolute;z-index: 9;width: 100%;margin-top: -9px;}
        .padding-right-0{padding-right:15px;}

        .shipping-address-import {
            .import-control-label {
                width: auto;
            }

            .import-input {
                float: left;
            }

            .import-browse-button {
                padding: 10px 0;

                .error-msg, .import-name {
                    padding-left: 0;
                }

                .btn-text {
                    margin-left: 0;
                }
            }
        }

        .import-download-template {
            form {
                float: left;
            }

            .btn-text {
                margin-left: 0;
                margin-top: 0;
            }
        }

        .edit-address .address-edit-form .shipping-address-edit {
            padding-right: 0;
        }
    }

    .user-account {
        padding: 0px;

        .page-title {
            font-size: $base-heading-font-primary - 8;
        }
    }

    #poptreeview .dropdown-list-ul {
        right: auto;
        left: -30px;
    }
}
@include screensize(xl-small){
    .account-dashboard{
         .shipping-address-import{
           .import-control-label{width:170px;}
           .import-input{float:left;}
           .import-browse-button{padding:0;
                .error-msg,.import-name{padding-left:6px;}
                .btn-text{margin-left:5px;}
           }
        }
        .import-download-template{form{float:right;}
              .btn-text{margin-left:5px;margin-top:0;}
        }
    }    
}
@include screensize(small) { 
.account-dashboard{padding-top:15px;
    .tabs-left li{font-size:18px;}
    .tabs-left h4,.tabs-left .myaccount{font-size:22px;}
    .dashboard-content h3,.address-book h5,.address-book h3,.section-header{background-color:$base-color-black;color:$base-color-white;}
    .tabs-left .myaccount{text-align:left;}
    .mobile-width-100{width:100%;}
    .right-container{padding-left:0px;font-size:18px;
        .address-edit-form .form-group .padding-right-10{padding-right:15px;}
    }
    .tabs-left li a{}
    .cart-item-details{
        .cart-image{
            img{max-width:80px;}
        }
    }
    .shipping-address-import{
        .import-control-label{width:170px;}
        .import-input{float:left;}
        .import-browse-button{padding:0;
            .error-msg,.import-name{padding-left:6px;}
            .btn-text{margin-left:5px;}
        }
    }
    .import-download-template{
        form{float:right;}
        .btn-text{margin-left:5px;margin-top:15px;}
    }
     .edit-address .address-edit-form .shipping-address-edit {
            padding-right: 15px;
        }
}
.user-account{padding:0;
    .page-title{font-size:$base-heading-font-primary - 4;}
}
#poptreeview .dropdown-list-ul{right:0;left:auto;}
}
@include screensize(medium) { 
.account-dashboard{margin-top:3%;
    .tabs-left{margin-top:0px;}
    .collapse {display: block;}
    .collapse.in {display: none;} 
    .wishlist-item-image img{max-width:60%;}
    .address-list .address-blocks {min-height:235px;}
    .right-container{padding-left:50px;font-size:18px;
        .address-edit-form .form-group .padding-right-10{padding-right:15px;}
    }
}
.user-account .page-title{font-size:$base-heading-font-primary;}
}
@include screensize(desktop) { 
.account-dashboard{    
    .mobile-width-100{width:auto;}
     .right-container{padding-left:80px;font-size:18px;
        .address-edit-form .form-group .padding-right-10{padding-right:15px;}
    }
    .address-list .address-blocks {min-height:205px;}
    }
}

@media only screen and (min-width : 420px) {
    .account-dashboard .right-container .order-history-component #btnGenerateInvoice {
        margin-top: 0;
    }
}
// Print View
@media print{
header,footer,.account-container-menu,.receipt-print,.product-altimages,.product-extras,.product-variations,.highlight-container,.compare-print{display:none;}
a[href]:after {content: none !important;}
}



