﻿<div class="newsletter-widget">

    <div class="col-xs-12 col-sm-12 input-field">
        @using (Ajax.BeginForm("SignUpForNewsLetter", "Home", null, new { @id = "searchform" }))
        {
            <div class="col-lg-12 margin-top">
                <div class="input-group" id="newsletter">
                    <label class="hidden" for="txtNewsLetterSignUp">textbox</label>
                    @Html.TextBox("txtNewsLetterSignUp", "", new { placeholder = WebStore_Resources.LabelSenderMailId, @data_test_selector = "txtNewsLetterEmail", title = WebStore_Resources.LabelSenderMailId })

                </div>
            </div>
            <div class="col-lg-12 text-center margin-top">
                <span class="input-group-btn">
                    <button class="btn-default" id="btnNewsLetterSignUp" type="button" onclick="SignUp();" data-test-selector="btnNewsLetterSignUp" title="JOIN">JOIN</button>
                </span>
            </div>

        }
        <p id="newslettererrormessage" style="display:none" data-test-selector="lblnewslettererrmsg"></p>
    </div>
</div>
<script>
    function SignUp() {
        var Email = $("#txtNewsLetterSignUp").val();
        console.log(Email);
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "https://manage.kmail-lists.com/ajax/subscriptions/subscribe",
            "method": "POST",
            "headers": {
                "content-type": "application/x-www-form-urlencoded",
                "cache-control": "no-cache"
            },
            "data": {
                "g": "R2ddEb",
                "$fields": "$first_name,$last_name,Favorite Color,Favorite Book,$source",
                "email": "" + $("#txtNewsLetterSignUp").val() + "",
                "$first_name": "",
                "$last_name": "",
                "Favorite Color": "",
                "Favorite Book": "",
                "$source": "Custom Form"
            }
        };
        $.ajax(settings).done(function (response) {

            ZnodeBase.prototype.setCookie("KlaviyoEmail", Email, 100);
            console.log(response);
            console.log(Email);
        });
        Home.prototype.ValidationForEmailID();
        $('#txtNewsLetterSignUp').val('');
    };
</script>