﻿@using Znode.Libraries.ECommerce.Utilities
@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@{

    int productId = Model.ParentProductId > 0 ? Model.ParentProductId : !string.IsNullOrEmpty(Model.ProductId) ? Convert.ToInt32(Model.ProductId) : 0;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
    string[] CartDesc = Model.CartDescription.Replace("-", ":").Replace("<br>", ",").Replace("<br/>", "").Split(new string[] { "," }, StringSplitOptions.None);
    string cCartDesc = "";
    string Color = "", Size = "", Width = "";
    foreach (string att in CartDesc)
    {
        if (att.Contains("Color"))
        {
            Color = "<span>Color:" + att.Substring(att.IndexOf(':') + 1) + "</span><br />\t\t\t";
        }
        else if (att.Contains("Size"))
        {
            Size = "<span>Size:" + att.Substring(att.IndexOf(':') + 1) + "</span><br />\t\t\t";
        }
        else if (att.Contains("Width"))
        {
            Width = "<span>Width:" + att.Substring(att.IndexOf(':') + 1) + "</span><br />\t\t\t";
        }
    }
    cCartDesc = Color + " " + Size + " " + Width;
    var storename = string.Empty;
    if (Model.Custom2 == null)
    {
        Model.Custom2 = storename;
    }
    else if (Model.Custom2.ToString() == "\"\"")
    {
        Model.Custom2 = storename;
    }
}
<style>
    .single-page-checkout .review-order .cart-item-quantity input[type=text] {
        border: none;
        padding: 0 0 0 5px;
        margin-top: -15px
    }

    .styled-input input[type=radio] + label:before {
        margin-right: 0;
        left: 0
    }

    .OrderPayament .TotalBox .CartPricingSection {
        width: 100%
    }

    .ShoppingCart .TotalBox {
        border-bottom: none;
        border-top: none
    }

        .ShoppingCart .TotalBox .CartPricingSection {
            padding: 0 15px 0 15px
        }

            .ShoppingCart .TotalBox .CartPricingSection .Row {
                padding: 10px 0 10px 0
            }

    .Form .Row {
        padding-bottom: 0
    }

    .Form {
        margin-bottom: 0
    }
</style>

<div class="col-xs-12 col-sm-12 nopadding cart-item-details margin-bottom">
    @* Klaviyo Changes *@
    @Html.Hidden("hdnProductId", Model.ProductId, new { @class = "hdnProductId" })
    @Html.Hidden("hdnsku", Model.SKU, new { @class = "hdnsku" })
    @Html.Hidden("hdnProductName", Model.ProductName, new { @class = "hdnProductName" })
    @Html.Hidden("hdnQuantity", Model.Quantity, new { @class = "hdnQuantity" })
    @Html.Hidden("hdnUnitPrice", Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode), new { @class = "hdnUnitPrice" })
    @Html.Hidden("hdnProductURL", ZnodeWebstoreSettings.ZnodeWebStoreUri + Url.GetProductUrl(Model?.SeoPageName, Model.ProductId.ToString()), new { @class = "hdnProductURL" })
    @Html.Hidden("hdnImageURL", Model.ImagePath, new { @class = "hdnImageURL" })
    @* Klaviyo Changes *@
    <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
        <div class="col-xs-12 nopadding cart-image ProductImage">
            <a href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())"><img src="@Model.ImagePath" class="img-responsive" alt="@Html.RenderBlock(Model.ProductName)" title="@Html.RenderBlock(Model.ProductName)"></a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-9 col-lg-6 col-md-9 nopadding">
        <div class="col-xs-12 nopadding cart-description Description margin-bottom">
            <div class="ProductName checkoutname">
                <a href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title" title="@Html.RenderBlock(Model.ProductName)">@Html.RenderBlock(Model.ProductName)</a>
            </div>
        </div>
        <div class="col-xs-12 nopadding">
            <div class="ProductDesc">
                @if (Model?.PersonaliseValuesList?.Count > 0)
                {
                    foreach (var item in Model.PersonaliseValuesList)
                    {
                        if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                        {
                            <p><strong>@item.Key</strong> @item.Value</p>
                        }
                    }
                }
            </div>
            <div class="group-product-list">
                @if (Model?.GroupProducts?.Count > 0)
                {
                    foreach (var item in Model.GroupProducts)
                    {
                        <p>@Html.RenderBlock(item.ProductName)</p>
                    }
                }
            </div>
            <div class="cart-item-description"><p>Item: # @Html.RenderBlock(Model.SKU)</p></div>
            <div class="cart-item-description">@Html.RenderBlock(cCartDesc)</div>
            <div class="cart-item-quantity">
                <span class="qtycheckout" style="text-align: left;">QTY:&nbsp; @Html.Partial("_Quantity", Model, new ViewDataDictionary { { "ControlType", "span" } })</span>
            </div>
            <div class="cart-item-quantity-checkout">
                <span id="status_@Model.ProductId" style="display:none;padding: 0px;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span>
            </div>
            <div class="cart-item-quantity-checkout">
                <span class="remove-item hidden" style="@_displayRemoveLink">
                    @using (Html.BeginForm("RemoveCartItem", "Cart", new { guid = Model.ExternalId }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <a href="#" title="Update" class="Edit" onclick=''><span class="hidden">Update</span></a>
                    }
                </span>
            </div>

            @if (!Model.IsAllowedTerritories)
            {
                <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
            }
        </div>
    </div>
    <div class="col-xs-3 col-sm-6 col-lg-3 col-md-12 text-right margin-top-potrait mobile-nopadding">
        <div class="Price">
            @Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)
        </div>
    </div>
</div>
<tr class="Row hidden"></tr>


