﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <span class="hidden-xs"><img src="~/Views/Themes/RoganShoeNew/Images/signin.png" data-src="~/Views/Themes/RoganShoeNew/Images/signin.png" alt="User" /> @Html.ActionLink("Hi, User!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
    <span class="hidden-md hidden-lg hidden-sm"><a href="/user/dashboard" title="User"><img src="~/Views/Themes/RoganShoeNew/Images/signin.png" data-src="~/Views/Themes/RoganShoeNew/Images/signin.png" alt="User" /> </a></span>
}
else
{
    <a href="javascript:void(0)" onclick="User.prototype.LoginMethod()" id="loginLink" data-test-selector="linkLoginLink" title="Sign In"><img src="~/Views/Themes/RoganShoeNew/Images/signin.png" data-src="~/Views/Themes/RoganShoeNew/Images/signin.png" alt="Signin" /> <span class="hidden-xs">@WebStore_Resources.LabelLoginStatus</span></a>
}
