﻿@using Znode.Engine.Admin.ViewModels
@model  List<BundleProductViewModel>
@{
    Layout = null;
}
<div class="col-xs-12 nopadding product-bundles margin-top-bottom">
    <p class="sub" data-test-selector="paraTextFreePurchase">@Admin_Resources.TextFreePurchase</p>
    <div class="d-flex flex-wrap">
        @{
            foreach (var product in Model)
            {
                <div class="col-xs-6 col-sm-4 bundle-item margin-bottom-15">
                    <div class="bundle-item-image text-center margin-bottom"><img src="@product.ImageThumbNailPath" class="img-responsive bundle" data-bundlesku="@product.SKU" data-test-selector="imgProductImage" /></div>
                    <h5 class="bundle-item-title text-center" data-test-selector="hdgProductName">@product.Name</h5>
                </div>
            }
        }
    </div>
</div>

