﻿@model Znode.Engine.Admin.ViewModels.CartItemViewModel
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.Admin.Helpers;
@{
    //NIVI CODE FOR IMAGE
    //string imagePath = string.IsNullOrEmpty(Model?.ImagePath) ? ZnodeAdminSettings.DefaultImagePath : Model?.ImagePath;
    string imagePath = string.IsNullOrEmpty(Model?.Image) ? ZnodeAdminSettings.DefaultImagePath : "https://res.cloudinary.com/amla-commerce/t_97/"+ Model?.Image;
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    string priceRoundOff = DefaultSettingHelper.DefaultPriceRoundOff;
    string _displayPartialRefund = Model.IsOrderPartialRefund ? "display:block;" : "display:none;";
    string cultureCode = string.IsNullOrEmpty(Model?.CultureCode) ? DefaultSettingHelper.DefaultCulture : Model.CultureCode;
    string _displayLinks = Model.IsEditStatus ? "display:block;" : "display:none;";
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKUs) ? Model.SKU : Model.ConfigurableProductSKUs;
    string TrackingUrl = string.IsNullOrEmpty(Model.TrackingUrl) ? Model.TrackingNumber : $"<a target = _blank href ={Model.TrackingUrl + Model.TrackingNumber}>{Model.TrackingNumber}</a>";
    if (Model.OrderLineItemStatus.ToUpper() == ZnodeOrderStatusEnum.CANCELLED.ToString())
    {
        Model.ShippingStatusList.Add(new SelectListItem() { Text = Model.OrderLineItemStatus, Value = Model.OrderLineItemStatusId.ToString() });
    }
    bool isNotShipped = !(Model.OrderLineItemStatus.Equals(ZnodeOrderStatusEnum.SHIPPED.ToString(), StringComparison.InvariantCultureIgnoreCase ));
}


<li class="imageicon sp-image">
    <img src="@imagePath" class="grid-img" />
    @Html.Hidden("hdnCurrencySymbol_" + Model.ExternalId, (HelperMethods.FormatPriceWithCurrency(0.00M, cultureCode)).Replace("0.00", ""))
</li>
@if (Model.GroupProducts?.Count > 0)
{
    string mainProductName = Model.ProductName;
    foreach (var product in Model.GroupProducts)
    {
        <li class="sp-sku">
            @Html.DisplayTextFor(model => product.Sku)
        </li>
        <li class="sp-product-name">
            <div class="">@Html.RenderBlock(mainProductName)</div>
            @if (string.IsNullOrEmpty(Model.CartDescription))
            {
                <div><i class="zf-caret-right"></i>@Html.RenderBlock(product.ProductName)</div>
            }
            else
            { <div class="cart-item-description">@Html.RenderBlock(Model.CartDescription)</div>}

            @if (!Model.IsAllowedTerritories)
            {
                <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@Admin_Resources.AllowedTerritoriesProductError</div>
            }
        </li>
        <li class="sp-status">
            <span id="shippingstatus_@Model.ExternalId" data-orderstate="@Model.OrderLineItemStatusId" style="display:none" value="@Model.OrderLineItemStatus">@Model.OrderLineItemStatus</span>
            @if (!Equals(Model.ShippingStatusList, null))
            {
                @Html.DropDownListFor(model => model.OrderLineItemStatusId, Model.ShippingStatusList, new { @id = "shipping-status-" + Model.ExternalId, @data_test_selector = "drpOrderStatusList", @onchange = "Order.prototype.OnLineItemStatusChange('" + Model.ExternalId + "')" })

            }
        </li>
        <li class="sp-tracking-number">
            <span id="trackingnumber_@Model.ExternalId">@Html.RenderBlock(TrackingUrl)</span>
            @Html.TextBoxFor(model => model.TrackingNumber, new { @id = "tracking-number-" + Model.ExternalId, @style = "display:none" })
        </li>
        <li class="sp-shipping-status" style="display:none">
            <div class="col-sm-12 nopadding" style="display:none" id="returnShipping_@Model.ExternalId">
                <label for="IsShippingReturn">
                    <input type="checkbox" value="true" name="IsShippingReturn" id="IsShippingReturn_@Model.ExternalId">
                    <span class="lbl padding-8"></span><input type="hidden" value="false" name="IsShippingReturn">
                </label>
            </div>
        </li>
        <li class="sp-shipping-status" style="display:none" id="reason_@Model.ExternalId">
        </li>
        <li class="sp-unit-price">
            <span id="unitprice-@Model.ExternalId">@HelperMethods.FormatPriceWithCurrency(Model.UnitPrice, cultureCode)</span>
            @Html.TextBox("NULL", null, new { @id = "unit-price-" + Model.ExternalId, @style = "display:none", @class = "price-input" })
            <div id="unit_price_error_msg_@Model.ExternalId" style="color: #cc0000"></div>
        </li>
        <li class="sp-quantity">
            <span id="quantity-@Model.ExternalId" data-isactive="@Model.IsActive">@product.Quantity</span>
            @Html.TextBoxFor(model => product.Quantity, new { @id = "cartQuantity-" + Model.ExternalId, @data_inventoryRoundOff = inventoryRoundOff, @style = "display:none", @class = "price-input", @Value = product.Quantity, @data_cart_productid = product.ProductId, @data_cart_sku = product.Sku, @data_cart_externalid = Model.ExternalId, @data_cart_minquantity = Model.MinQuantity, @data_cart_maxquantity = Model.MaxQuantity, @data_cart_productName = product.ProductName })
            @if (isNotShipped || Model.ShipSeperately)
            {
                @Html.TextBoxFor(model => model.CustomQuantity, new { @id = "custom-quantity-" + Model.ExternalId, @class = "price-input", @style = "display:none" })
            }
                <div id="quantity_error_msg_@Model.ExternalId" style="color: #cc0000"></div>
            
            @if (Model.InsufficientQuantity)
            {
                <span class="error-msg">@Admin_Resources.ErrorOutOfStockMessage</span>
            }
        </li>
    }
}
else
{
    <li class="sp-sku">
        <label>@sku</label>
        @if (!string.IsNullOrEmpty(Model.DownloadableProductKey))
        {
            List<string> keys = Model?.DownloadableProductKey.Split(',').ToList();
            <h5>Product Keys</h5>
            foreach (string item in keys)
            {
                <div>@Html.RenderBlock(item)</div>
                @Html.Hidden("DownloadableProductKey_" + Model.ExternalId, true)
            }
        }
        else
        { @Html.Hidden("DownloadableProductKey_" + Model.ExternalId, false)}
    </li>
    <li class="sp-product-name">
        <p>@Html.RenderBlock(Model.ProductName)</p>

        @if (Model?.PersonaliseValuesDetail?.Count > 0)
        {
            foreach (var item in Model.PersonaliseValuesDetail)
            {
                if (!Equals(item.PersonalizeName, null) && !Equals(item.PersonalizeValue, string.Empty))
                {
                    <div class="cart-item-description">
                        <p> @item.PersonalizeName : @item.PersonalizeValue </p>
                    </div>
                }
            }
        }
        else if (Model?.PersonaliseValuesList?.Count > 0)
        {
            foreach (var item in Model.PersonaliseValuesList)
            {
                if (!Equals(item.Key, null) && !Equals(item.Value, string.Empty))
                {
                    <p> @item.Key : @item.Value </p>
                }
            }
        }

        @Html.RenderBlock(Model.CartDescription)

        @if (Model.InsufficientQuantity)
        {
            <span class="error-msg">@Admin_Resources.ErrorOutOfStockMessage</span>
        }
        @if (!Model.IsAllowedTerritories)
        {
            <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@Admin_Resources.AllowedTerritoriesProductError</div>
        }
    </li>
    <li class="sp-status">
        <span id="shippingstatus_@Model.ExternalId" data-orderstate="@Model.OrderLineItemStatusId" style="display:none" value="@Model.OrderLineItemStatus">@Model.OrderLineItemStatus</span>
        @if (!Equals(Model.ShippingStatusList, null))
        {
            @Html.DropDownListFor(model => model.OrderLineItemStatusId, Model.ShippingStatusList, new { @id = "shipping-status-" + Model.ExternalId, @data_test_selector = "drpOrderStatusList", @onchange = "Order.prototype.OnLineItemStatusChange('" + Model.ExternalId + "')" })

        }
    </li>
    <li class="sp-tracking-number">
        <span id="trackingnumber_@Model.ExternalId" data-shipSeperately="@Model.ShipSeperately">@Html.RenderBlock(TrackingUrl)</span>
        @Html.TextBoxFor(model => model.TrackingNumber, new { @id = "tracking-number-" + Model.ExternalId, @style = "display:none" })
    </li>
    <li class="sp-shipping-status" style="display:none">
        <div class="col-sm-12 nopadding" style="display:none" id="returnShipping_@Model.ExternalId">
            <label for="IsShippingReturn">
                <input type="checkbox" value="true" name="IsShippingReturn" id="IsShippingReturn_@Model.ExternalId">
                <span class="lbl padding-8"></span><input type="hidden" value="false" name="IsShippingReturn">
            </label>
        </div>
    </li>
    <li class="sp-returned-reason" id="reason_@Model.ExternalId" style="display:none">

    </li>
    <li class="sp-unit-price">
        <span id="unitprice-@Model.ExternalId">@HelperMethods.FormatPriceWithCurrency(Model.UnitPrice, cultureCode)</span>
        @Html.TextBox("NULL", null, new { @id = "unit-price-" + Model.ExternalId, @style = "display:none", @class = "price-input", @data_priceRoundOff = priceRoundOff })
        <div id="unit_price_error_msg_@Model.ExternalId" style="color: #cc0000"></div>
    </li>
    if (!string.IsNullOrEmpty(Model.ConfigurableProductSKUs))
    {
        <li class="sp-quantity">
            <span id="quantity-@Model.ExternalId" data-isactive="@Model.IsActive">@Model.Quantity</span>
            @Html.TextBoxFor(model => model.Quantity, new { @id = "cartQuantity-" + Model.ExternalId, @data_test_selector = "txtQuantity", @style = "display:none", @class = "price-input", @data_inventoryRoundOff = inventoryRoundOff, @Value = Model.Quantity, @data_cart_sku = Model.SKU, @data_cart_externalid = Model.ExternalId, @data_cart_minquantity = Model.MinQuantity, @data_cart_maxquantity = Model.MaxQuantity, @data_cart_productName = Model.ProductName })
            <div id="quantity_error_msg_@Model.ExternalId" style="color: #cc0000"></div>
            @if (isNotShipped || Model.ShipSeperately)
            {
                @Html.TextBoxFor(model => model.CustomQuantity, new { @id = "custom-quantity-" + Model.ExternalId, @data_test_selector = "txtCustomQuantity", @class = "price-input", @style = "display:none" })
            }
            @if (Model.InsufficientQuantity)
            {
                <span class="error-msg" data-test-selector="valOutOfStockMessage">@Admin_Resources.ErrorOutOfStockMessage</span>
            }
        </li>
    }
    else
    {
        <li class="sp-quantity">
            <span id="quantity-@Model.ExternalId" data-isactive="@Model.IsActive">@Model.Quantity</span>
            @Html.TextBoxFor(model => model.Quantity, new { @id = "cartQuantity-" + Model.ExternalId, @data_test_selector = "txtQuantity", @style = "display:none", @class = "price-input", @data_inventoryRoundOff = inventoryRoundOff, @Value = Model.Quantity, @data_cart_sku = Model.SKU, @data_cart_externalid = Model.ExternalId, @data_cart_minquantity = Model.MinQuantity, @data_cart_maxquantity = Model.MaxQuantity, @data_cart_productName = Model.ProductName })

            @if (isNotShipped || !Model.ShipSeperately)
            {
                @Html.TextBoxFor(model => model.CustomQuantity, new { @id = "custom-quantity-" + Model.ExternalId, @data_test_selector = "txtCustomQuantity", @class = "price-input", @style = "display:none" })
            }
            <div id="quantity_error_msg_@Model.ExternalId" data-test-selector="valOutOfStockMessage" style="color: #cc0000"></div>
        </li>
    }
}
<li class="sp-refundlist" style="@_displayPartialRefund">
    @if (Model.PartialRefundAmount > 0)
    {
        <div id="lblpartialRefund_@Model.ExternalId" class="sp-partial-refund">@HelperMethods.FormatPriceWithCurrency(Model.PartialRefundAmount, cultureCode)</div>
    }
    else
    {
        <div id="lblpartialRefund_@Model.ExternalId" class="sp-partial-refund" style="display:none">@HelperMethods.FormatPriceWithCurrency(Model.PartialRefundAmount, cultureCode)</div>
    }
    @Html.TextBox("NULL", null, new { @id = "partialRefund_" + Model.ExternalId, @data_test_selector = "txtPartialRefund", @class = "price-input sp-partial-refund", @style = "display:none", @data_priceRoundOff = priceRoundOff })
    <div id="partialRefund_error_msg_@Model.ExternalId" style="color: #cc0000"></div>
</li>
<li class="sp-shipping">
    <span id="shippingcost_@Model.ExternalId">@HelperMethods.FormatPriceWithCurrency(Model.ShippingCost, cultureCode)</span>
</li>
<li class="sp-total">
    <span id="extendedPrice_@Model.ExternalId"> @HelperMethods.FormatPriceWithCurrency(Model.ExtendedPrice, cultureCode)</span>
</li>
<li class="sp-actions">
    <div id="actionLinks_@Model.ExternalId" style="@_displayLinks">
        <a href="#" class="action-link dirtyignore"><i class="dg-manage font-20 light-grey-text-color" data-toggle="tooltip" data-placement="top" title="" data-original-title="Manage"></i></a>
        <ul class="action-ui">

            <li>
                <a class="z-delete dirtyignore" onclick="Order.prototype.DeleteCartItem(this)" Value=@Model.Quantity data_cart_productid=@Model.PublishProductId data_cart_externalid=@Model.ExternalId title="Delete"></a>
            </li>
            @if (Model.OrderLineItemStatus.ToUpper() == ZnodeOrderStatusEnum.SHIPPED.ToString())
            {
                <li>
                    <a class="z-print dirtyignore" onclick="Order.prototype.PrintOnPackageSlip(@Model.OmsOrderLineItemsId)" title="@Admin_Resources.TitlePrintPackagingSlip"></a>
                </li>
            }
            @if (Model.ShipSeperately)
            {
                <li>
                    <a class="z-resend-email dirtyignore" onclick="Order.prototype.ResendOrderLineItemConfirmMail(@Model.OmsOrderLineItemsId)" title="Resend Cart Line Item Mail"></a>
                </li>
            }
        </ul>
    </div>
</li>
@Html.Hidden("ShipSeperately_" + Model.ExternalId, Model.ShipSeperately)
@Html.HiddenFor(model => model.ProductType)
<script>
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
    $(document).ready(function () {
        Order.prototype.OnLineItemStatusChange('@Model.ExternalId');
    });
</script>