﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities;
@using System.Configuration
@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Models;
@{
    var CustomeFields = Model.Attributes?.Where(x => x.IsCustomField)?.ToList();
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    /*Nivi code start for write a review image change*/
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string BaseImage = "";
    if (Convert.ToString(Model.Attributes?.Value("BaseImage")) != null)
    {
        //BaseImage = BaseImagePath + @"t_170/" + Convert.ToString(Model.Attributes?.Value("BaseImage"));
        BaseImage = Convert.ToString(Model.Attributes?.Value("BaseImage"));
    }
    /*Nivi code end for write a review image change*/
}

@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    //string disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    string disable = "";
    if (Request.IsAuthenticated && SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey) != null)
    {
        // disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
        disable = "";
    }
    else
    {
        disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    }
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string IsMappedPrice = Model.Attributes?.Value("IsMappedPrice");
    bool bvalue = (IsMappedPrice == "true" ? true : false);
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    Model.CartParameter?.Add("IsRedirectToCart", "True");
    string obsoleteMessage = Model.IsQuickView ? string.Format(WebStore_Resources.QuickViewObsoleteMessage, HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())) : WebStore_Resources.ObsoleteMessage;
    string obsoleteClass = isObsolete ? "cut-price" : "";
    bool IsCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
}

<div class="col-lg-12 nopadding-mobile">
    <h1 class="ProductTitle product-name">@Html.RenderBlock(Model.Name)</h1>
</div>

<div class="col-xs-12 highlight-container nopadding-mobile">
    <div data-test-selector="divHighlight" class="col-xs-12 product-highlight nopadding">
        @{
            if (Model.PublishProductId > 0)
            {
                List<string> codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.Highlights)?.SelectValues?.Select(y => y.Code)?.ToList();
                if (codesList?.Count > 0)
                {
                    string highLightsCodes = string.Join(",", codesList);
                    int publishProductId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
                    string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                    Html.RenderAction("GetProductHighlights", "Product", new { productId = publishProductId, highLightsCodes = highLightsCodes, sku = sku });
                }
            }
        }
    </div>
</div>

<div class="col-xs-12 nopadding hidden-lg hidden-md visible-xs">
    <div class="col-lg-6 col-xs-6 nopadding-mobile">
        @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
        {
            <img src="/Views/Themes/RogansShoes/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse hidden-xs" />
        }


        @if (!IsCallForPricing && !isGroupProduct)
        {
            <div class="price" id="product_Detail_Price_Div">
                @if (IsCloudflareEnabled)
                {
                    <h3 class="dynamic-product-price @obsoleteClass">
                        <span class="cloudflareSpan" data-id="@Model.PublishProductId" data-type="simpleproduct" data-sku="@productSku">Loading..</span>
                    </h3>
                }
                else
                {
                    if (!IsCallForPricing && !isGroupProduct)
                    {
                        if (bvalue == true)
                        {
                            <div class="PriceContent">
                                <span class="Price">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)</span>
                            </div>
                        }
                        else
                        {
                            <div class="PriceContent">
                                <span class="SalePrice">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)</span>
                            </div>
                        }
                    }


                }
            </div>
        }

        @if (IsCallForPricing)
        {
            @*<div class="PriceContent"><span class="error-msg SalePrice">@callForPricingMessage</span></div>*@
            if (Request.IsAuthenticated && SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey) != null)
            {
                if (bvalue == true)
                {
                    <div class="PriceContent">
                        <span class="Price pull-left">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)</span>
                    </div>
                }
                else
                {
                    <div class="PriceContent">
                        <span class="SalePrice pull-left">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)</span>
                    </div>
                }
            }
            else
            {
                <div class="PriceContent pull-left"><span class="error-msg SalePrice">@callForPricingMessage</span></div>
            }
        }
    </div>
    <div class="col-lg-6 col-xs-6 nopadding text-right">
        <div>
            @Html.Hidden("sku", Model.SKU)
            @if (!string.IsNullOrEmpty(Model.SKU))
            {
                <span>@WebStore_Resources.LabelProductItem: #</span>
                string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                string instockmessage = !string.IsNullOrEmpty(Model.InStockMessage) ? Model.InStockMessage : "In Stock";
                string outstockmessage = !string.IsNullOrEmpty(Model.OutOfStockMessage) ? Model.OutOfStockMessage : "Out of Stock";
                @Html.RenderBlock(Model.SKU)
            }
        </div>
    </div>
</div>


<div class="col-xs-12 nopadding-mobile set-margin-top-10">
    <div class="product-number-details">
        <div class="product-rating">
            <spn href="#panel-2" onclick="scroll_to_div('panel-2')" style="cursor:pointer;">
                @Html.Partial("_StarRating", Model.Rating, new ViewDataDictionary { { "StarRatingTitle", @WebUtility.HtmlDecode(Model.Name) } })
                @{
                    int totalreviews = 0;
                    totalreviews = (Model?.ProductReviews?.Count).GetValueOrDefault();
                    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), totalreviews) : string.Empty;
                }
            </spn>
            <span href="#panel-2" onclick="scroll_to_div('panel-2')" style="cursor:pointer;">@ratingText &nbsp;</span>
            <a href="/Product/writereview?id=@productId&path=@BaseImage" title="@WebStore_Resources.LinkTextReadReviews">@WebStore_Resources.LinkTextReadReviews</a>

        </div>

        <div class="row">
            <div class="col-lg-12 col-xs-12 col-md-12 nopadding">
                <div class="col-lg-6 col-sm-4 col-md-4 col-xs-12 hidden-xs" style="display: inline-flex;">
                    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                    {
                        <img src="/Views/Themes/RogansShoes/Images/new-product-tag.png" alt="New Product" class="img-responsive margin-right-5 hvr-pulse" />
                    }


                    @if (!IsCallForPricing && !isGroupProduct)
                    {
                        <div class="price" id="product_Detail_Price_Div">
                            @if (IsCloudflareEnabled)
                            {
                                <h3 class="dynamic-product-price @obsoleteClass">
                                    <span class="cloudflareSpan" data-id="@Model.PublishProductId" data-type="simpleproduct" data-sku="@productSku">Loading..</span>
                                </h3>
                            }
                            else
                            {
                                if (!IsCallForPricing && !isGroupProduct)
                                {
                                    if (bvalue == true)
                                    {
                                        <div class="PriceContent">
                                            <span class="Price">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="PriceContent">
                                            <span class="SalePrice">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)</span>
                                        </div>
                                    }
                                }


                            }
                        </div>
                    }

                    @if (IsCallForPricing)
                    {
                        @*<div class="PriceContent"><span class="error-msg SalePrice">@callForPricingMessage</span></div>*@
                        if (Request.IsAuthenticated && SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey) != null)
                        {
                            if (bvalue == true)
                            {
                                <div class="PriceContent">
                                    <span class="Price pull-left">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)</span>
                                </div>
                            }
                            else
                            {
                                <div class="PriceContent">
                                    <span class="SalePrice pull-left">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)</span>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="PriceContent pull-left"><span class="error-msg SalePrice">@callForPricingMessage</span></div>
                        }
                    }

                </div>
                <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12 text-right hidden-xs">
                    <div class="ProductNumbStock">
                        @Html.Hidden("sku", Model.SKU)
                        <h2>
                            @if (!string.IsNullOrEmpty(Model.SKU))
                            {

                                <span>@WebStore_Resources.LabelProductItem: #</span>
                                string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                                string instockmessage = !string.IsNullOrEmpty(Model.InStockMessage) ? Model.InStockMessage : "In Stock";
                                string outstockmessage = !string.IsNullOrEmpty(Model.OutOfStockMessage) ? Model.OutOfStockMessage : "Out of Stock";
                                @Html.RenderBlock(Model.SKU)

                            }
                        </h2>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
@Html.Hidden("WebstoreURL", @ZnodeWebstoreSettings.ZnodeWebStoreUri)
@Html.Hidden("BaseImage", BaseImage)
@* Klaviyo Changes *@
@Html.Hidden("PName", Model.Name);
@Html.Hidden("Brand", Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand))
@Html.Hidden("ProductImage", ConfigurationManager.AppSettings["BaseImagePath"].ToString() + Convert.ToString(Model.Attributes?.Value("BaseImage")))
@Html.Hidden("Gender", Model.Attributes?.ValueFromSelectValue("Gender"))
@Html.Hidden("Category", Model.CategoryName)
@Html.Hidden("PUnitPrice", Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM))

