﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
 @{
     int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div class="col-xs-12 margin-top nopadding">
    <!--LinkProduct Widget-->
    <div class="RecentlyViewedProducts">
        <z-widget>@Html.WidgetPartial("LinkProductList", "LinkProducts", "1101", "PortalMapping", productId)</z-widget>
    </div>

    <!--Recently View Widget-->
    <div class="RecentlyViewedProducts">
        <z-widget>@Html.WidgetPartial("RecentlyViewProduct", "RecentlyViewProduct", "126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
    </div>
</div>
