﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel

<div id="layout-paging">
    <div class="search-paging col-xs-12 col-sm-8 nopadding">
        <div class="col-xs-8 nopadding search-pagination">
            <ul>
                <li class="search-more-nav arrow-left"><a data-test-selector="linkArrowLeft" class="prev-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button" title="Previous"><i class='zf-arrow-left-big'></i></a></li>
                <li class="search-more-nav arrow-right"><a data-test-selector="linkArrowRight" class="next-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button" title="Next"><i class='zf-arrow-right-big'></i></a></li>
            </ul>
            @Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
        </div>
        <div class="col-xs-4 nopadding">
            @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right" }))
        </div>
    </div>
</div>
<div id="layout-search">
    <div class="search-sorting col-xs-12 col-sm-4 nopadding pull-right">
        <div>
            @Html.Partial("../Search/_Sorting", new ViewDataDictionary(new { Id = "Sort2", @class = "pull-right" }))
        </div>
    </div>
</div>
