﻿@using Znode.Engine.WebStore.Agents
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
}

<div class="container-fluid">
    <!--Home Page Slider Widget-->
    <z-widget>@Html.WidgetPartial("BannerSlider", "Slider", "555", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
</div>

<div class="container Home-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h3>@Html.RenderMessage("TitleFeaturedCategories")</h3>
        </div>
        <!--BestSelling Widget-->
        <div data-test-selector="divBestSellCategoryList">
            <z-widget>
                @Html.WidgetPartial("CategoryList", "CategoryList", "1992", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
            </z-widget>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!--Rogan's Promise Widget-->
    <div class="row" id="Roganspromise">
        <div class="col-xs-12 col-lg-12 nopadding">
            <div class="col-lg-1 col-xs-1"></div>
            <div class="col-lg-10 col-xs-10 margin-top nopadding">
                <z-widget>@Html.WidgetPartial("TextEditor", "Rogans Promise", "5580", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            </div>
            <div class="col-lg-1 col-xs-1"></div>
        </div>
    </div>
</div>

<div class="container-fluid Home-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h3>@Html.RenderMessage("TitleNewArrivals")</h3>
        </div>
    </div>
    <div class="row">
        <!--NewArrival Widget-->
        <div data-test-selector="divNewArrivalWidget">
            <z-widget>
                @Html.WidgetPartial("ProductList", "NewArrival", "666", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
            </z-widget>
        </div>
    </div>
</div>

<div class="container Home-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h3 class="text-primary">@Html.RenderMessage("TitleBrands")</h3>
        </div>
        <!--Brand Widget-->
        <div data-test-selector="divBrandWidget">
            <z-widget>
                @Html.WidgetPartial("BrandList", "BrandList", "9657", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
            </z-widget>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-12 Welcome-Note">
            <!--Welcome Note For Rogans Shoe-->
            @Html.RenderMessage("HomePageWelcomeNoteForRogansShoe")
        </div>
    </div>
</div>

<div class="container-fluid border-top-grey">
    <div class="row">
        <div class="col-lg-12 col-xs-12 email-background">
            <div class="col-lg-4 col-xs-12 padding-30">
                <a href="#" title="Shoe Finder">
                    <img src="~/Views/Themes/Default/Images/shoe-finder.png" data-src="~/Views/Themes/Default/Images/shoe-finder.png" class="img-responsive" alt="Shoe Finder" />
                    <div class="col-xs-12 margin-top">
                        <p>@WebStore_Resources.TitleShoeFinder</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-xs-12 nopadding background-blue">
                <!--Welcome Note For Rogans Shoe-->
                @Html.RenderMessage("SignUpforEmailText")
                <div class="news-letter">
                    <div>
                        <div class="news-letter-container" itemscope itemtype="http://schema.org/WebPage">
                            <div class="col-xs-12 col-sm-12 nopadding newsletter-container">
                                <!--News Letter Widget-->
                                <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 padding-30">
                <a href="#" title="Store Locator">
                    <img src="~/Views/Themes/Default/Images/Layer.png" data-src="~/Views/Themes/Default/Images/Layer.png" class="img-responsive" alt="Store Locator" />
                    <div class="col-xs-12 margin-top">
                        <p>@WebStore_Resources.TitleStoreLocator</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
