﻿@using Znode.Engine.WebStore.ViewModels
@model WidgetBrandListViewModel

@if (Model?.Brands?.Count > 0)
{
    var ActiveBrandList= Model.Brands.Where(x => x.BrandViewModel?.IsActive == true).ToList().Take(8);
    <div class="col-xs-12 brand-list-widget nopadding">
        <ul id="view-option-category">
            @foreach (var brand in ActiveBrandList)
            {
                //if (!Equals(brand.BrandViewModel, null) && brand.BrandViewModel.IsActive)
                //{
                    <li>
                        <a href="/@brand.BrandViewModel.WebsiteLink" data-lightbox="enlarge" title="@brand.BrandViewModel.BrandName">
                            <img src="@brand.BrandViewModel.ImageThumbNailPath" class="img-responsive b-lazy" data-src="@brand.BrandViewModel.ImageThumbNailPath" alt="@brand.BrandViewModel.BrandName" />
                        </a>
                    </li>
               // }
            }
        </ul>
    </div>
}

