﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}
@model WidgetCategoryListViewModel
@if (!Equals(Model, null) && Model.CMSMode)
{
    if (Model.IsEmpty)
    {
       <img src="@_fileLocation/Images/category-list.png" alt="New Product" class="img-responsive cms-img-icon" />        
    }
    else
    {
        <div class="col-xs-12 nopadding cms-no-icon">
            <img src="@_fileLocation/Images/category-list.png" alt="New Product" class="img-responsive cms-img-icon" />
        </div>
    }
}
@if (Model?.Categories?.Count > 0)
{
    @*<h3 class="product-list-title">@Html.RenderMessage(WebStoreConstants.Category)</h3>*@
    <div class="col-xs-12 category-list-widget nopadding">
        <ul id="view-option-category">
            @foreach (var category in Model.Categories)
            {
                if (!Equals(category.CategoryViewModel, null))
                {
                    @Html.Partial("_CategoryList", category.CategoryViewModel)
                }
            }
        </ul>
    </div>
}
