﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}

<!--Footer Sign up Newsletter section-->
<div class="row border-top-grey">
    <div class="col-lg-12 col-xs-12 email-background mobile-nopadding">
        <div class="col-lg-4 col-xs-6 padding-30 mobile-border-right">
            <a href="/RSCustomizedForm/ShoeFinder" title="Shoe Finder"><img src="~/Views/Themes/RoganShoesNew/Images/shoe-finder.svg" data-src="~/Views/Themes/RoganShoesNew/Images/shoe-finder.svg" class="img-responsive" alt="Shoe Finder" /></a>
            <div class="col-xs-12 margin-top">
                <a href="/RSCustomizedForm/ShoeFinder" title="Shoe Finder"><p>@WebStore_Resources.TitleShoeFinder</p></a>
            </div>
        </div>
        <div class="col-lg-4 col-xs-6 padding-30 hidden-lg">
                <a href="/Home/storeLocator" title="Store Locator"><img src="../../Views/Themes/RoganShoesNew/Images/store-locator-hdr.svg" data-src="../../Views/Themes/RoganShoesNew/Images/store-locator-hdr.svg" class="img-responsive" alt="Store Locator" /></a>
                <div class="col-xs-12 margin-top">
                    <a href="/Home/storeLocator" title="Store Locator"><p>@WebStore_Resources.TitleStoreLocator</p></a>
                </div>
        </div>
        <div class="col-lg-4 col-xs-12 nopadding background-blue">
            <!--Welcome Note For Rogans Shoe-->
            @Html.RenderMessage("SignUpforEmailText")
            <div class="news-letter">
                <div>
                    <div class="news-letter-container" itemscope itemtype="http://schema.org/WebPage">
                        <div class="col-xs-12 col-sm-12 nopadding newsletter-container">
                            <!--News Letter Widget-->
                            <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xs-6 padding-30 hidden-xs hidden-md hidden-sm">
            <a href="/Home/storeLocator" title="Store Locator"><img src="../../Views/Themes/RoganShoesNew/Images/store-locator-hdr.svg" data-src="../../Views/Themes/RoganShoesNew/Images/store-locator-hdr.svg" class="img-responsive b-lazy" alt="Store Locator" /></a>
            <div class="col-xs-12 margin-top">
                <a href="/Home/storeLocator" title="Store Locator"><p>@WebStore_Resources.TitleStoreLocator</p></a>
            </div>
        </div>
    </div>
    <!--Social Media Mobile Links-->
    <div class="header hidden-lg hidden-md hidden-sm">
        <div class="col-xs-12 nopadding Social-follow-us nopadding">
            @Html.RenderMessage("TopHeaderSocialMedia")
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-lg-12 nopadding">
        <div class="footer-container">
            <div class="footer-information">
                <div class="container">
                    <div itemscope itemtype="http://schema.org/WebPage">
                        <div class="col-sm-12 footer-shop hidden-lg hidden-md">
                            <!--We Accept Widget-->
                            <div class="header-footer">
                                <h3 data-test-selector="lblFooterInfoHeading">@Html.RenderMessage("WeAccept")</h3>
                            </div>
                            <div class="footer-help-section-link">
                                <div data-test-selector="divFooterInfoWidget">
                                    <z-widget>
                                        @Html.WidgetPartial("LinkPanel", "We Accept", "2250", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                                    </z-widget>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-2 col-md-2 col-xs-12 footer-shop" data-test-selector="divFooterCategoryList">
                            <div class="header-footer">
                                <h3 data-test-selector="lblFooterCategoryHeading">@Html.RenderMessage("ShopNow")</h3>
                            </div>
                            <div class="footer-help-section-link">
                                <div data-test-selector="divFooterInfoWidget">
                                    <z-widget>
                                        @Html.WidgetPartial("LinkPanel", "Shop Now", "2249", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                                    </z-widget>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3 col-md-3 col-xs-12 footer-shop">
                            <!--Footer Customer Service Widget-->
                            <div class="header-footer">
                                <h3 data-test-selector="lblFooterHelpHeading">@Html.RenderMessage("CustomerService")</h3>
                            </div>

                            <div class="footer-help-section-link">
                                <div data-test-selector="divFooterHelpWidget">
                                    <z-widget>
                                        @Html.WidgetPartial("LinkPanel", "Customer Service", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                                    </z-widget>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-lg-3 col-md-3 col-xs-12 footer-shop">
                            <!--Special Feature Widget-->
                            <div class="header-footer">
                                <h3 data-test-selector="lblFooterInfoHeading">@Html.RenderMessage("SpecialFeature")</h3>
                            </div>

                            <div class="footer-help-section-link">
                                <div data-test-selector="divFooterInfoWidget">
                                    <z-widget>
                                        @Html.WidgetPartial("LinkPanel", "Special Fetaure", "2253", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                                    </z-widget>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-lg-2 col-md-2 col-xs-12 footer-shop">
                            <!--Company Info Widget-->
                            <div class="header-footer">
                                <h3 data-test-selector="lblFooterInfoHeading">@Html.RenderMessage("CompanyInfo")</h3>
                            </div>
                            <div class="footer-help-section-link">
                                <div data-test-selector="divFooterInfoWidget">
                                    <z-widget>
                                        @Html.WidgetPartial("LinkPanel", "Company Info", "2256", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                                    </z-widget>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-2 col-md-2 col-xs-12 footer-shop hidden-xs hidden-sm">
                            <!--We Accept Widget-->
                            <div class="header-footer">
                                <h3 data-test-selector="lblFooterInfoHeading">@Html.RenderMessage("WeAccept")</h3>
                            </div>
                            <div class="footer-help-section-link">
                                <div data-test-selector="divFooterInfoWidget">
                                    <z-widget>
                                        @Html.WidgetPartial("LinkPanel", "We Accept", "2250", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                                    </z-widget>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 nopadding footer-logo">
                            <img src="~/Views/Themes/RoganShoesNew/Images/homepage_rogans_promise_icon.svg" class="img-responsive" alt="Footer Logo" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 nopadding footer-copyright-text">
                            <p data-test-selector="lblFooterCopyRight">@Html.RenderMessage(WebStoreConstants.FooterCopyrightText)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#layout" class="back-to-top" data-test-selector="linkBackToTop" title="Back to top"><i class="zf-up"></i><span class="hidden">Top</span></a>
<script>$('[itemtype = "http://schema.org/WebPage"] a').attr("itemprop", "significantLinks");</script>