﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using System.Configuration
@model WidgetProductViewModel
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.ProductViewModel?.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.ProductViewModel?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = CallForPricing || !Model.ProductViewModel.ShowAddToCart ? "disabled" : "";
    string productType = Model.ProductViewModel?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string UOM = Attributes.ValueFromSelectValue(Model?.ProductViewModel.Attributes, "UOM");
    //string ratingText = Model.ProductViewModel?.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.ProductViewModel.Rating, 1), Model.ProductViewModel?.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    bool isObsolete = Convert.ToBoolean(Model.ProductViewModel?.Attributes?.Value(ZnodeConstant.IsObsolete));
    string obsoleteClass = isObsolete ? "cut-price" : "";
    string productUrl = domainurl + Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString());
    //Nivi Code//
    var Brand = "";
    var Gender = "";
    Brand = Model.ProductViewModel?.Attributes?.SelectAttributeList("Brand")?.FirstOrDefault()?.Value;
    Gender = Model.ProductViewModel?.Attributes?.Value("RSGender");

    // Cloudinary changes start
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string BaseImage = "";
    //if (Convert.ToString(Model.ProductViewModel?.Attributes?.Value("BaseGalleryImage2")) != null)
    //{
    //    BaseImage = BaseImagePath + @"t_460/" + Convert.ToString(Model.ProductViewModel?.Attributes?.Value("BaseGalleryImage2"));
    //}
    //else 
    if (!string.IsNullOrEmpty(Convert.ToString(Model.ProductViewModel?.Attributes?.Value("BaseImage"))))
    {
        BaseImage = BaseImagePath + @"t_460/" + Convert.ToString(Model.ProductViewModel?.Attributes?.Value("BaseImage"));
    }
    // Cloudinary changes end
    string IsMappedPrice = Model.ProductViewModel?.Attributes?.Value("IsMappedPrice");
    bool IsMappedPriceTrue = (IsMappedPrice == "true" || IsMappedPrice == "1" ? true : false);
    //NiVi Code//
}
<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img" data-test-selector="divProductImage">
                <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())" data-test-selector="linkImage" title="@WebUtility.HtmlDecode(Model.ProductViewModel.Name)">
                    @if (Convert.ToBoolean(Model.ProductViewModel.Attributes?.Value("NewProduct")))
                    {
                        <img data-test-selector="imgProductImage" src="~/Views/Themes/RoganShoesNew/Images/NewTag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
                    }
                    <div class="image" data-test-selector="divImage">
                        <img id="@Model.ProductViewModel.PublishProductId" class="img-responsive b-lazy" src="@BaseImage" data-src="@BaseImage" alt="Product Image" data-test-selector="imgProductImage" />
                    </div>
                </a>
            </div>

            @*NiVi Code*@
            <div class="product-details" data-test-selector="divProductDetails">
                <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())" data-test-selector="linkProductTitle" title="@WebUtility.HtmlDecode(Model.ProductViewModel.Name)">
                    <h4 class="title" data-test-selector="lblProductTitle">@Brand</h4>
                    <h5>@Gender</h5>
                    <h6>@WebUtility.HtmlDecode(Model.ProductViewModel.Name)</h6>
                </a>
                <div class="product-rating" data-test-selector="divProductRating">
                    @if (Model.ProductViewModel?.Rating > 0)
                    {
                    <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model.ProductViewModel.PublishProductId.ToString())#scrollReview" data-test-selector="linkReviewText" id="jumpto-readreviews-productTile" title="Rating">
                        @Html.Partial("_StarRating", Model.ProductViewModel.Rating)<span class="hidden">Rating</span>
                    </a>
                    }
                </div>
                @if (CallForPricing)
                {
                    <div class="price" data-test-selector="divProductPrice">
                        <label data-test-selector="lblPriceMsg">@callForPricingMessage</label>
                    </div>
                }
                else
                {
                    <div class="price" data-test-selector="divProductPrice" data-sku="@Model.ProductViewModel.SKU" data-type="@Model.ProductViewModel.ProductType">
                        @if (!Helper.IsAsyncPrice)
                        {
                            if (!string.IsNullOrEmpty(Model.ProductViewModel.GroupProductPriceMessage))
                            {
                                <label data-test-selector="lblGroupPrice">@Model.ProductViewModel.GroupProductPriceMessage</label>
                            }
                            else
                            {
                                if (IsMappedPriceTrue == true)
                                {
                                    //START
                                    if (!Equals(Model.ProductViewModel.SalesPrice, null))
                                    {
                                        <span data-test-selector="lblPrice" class="@obsoleteClass">
                                            @if (Model.ProductViewModel.PromotionalPrice > 0)
                                            {
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.PromotionalPrice, Model.CultureCode, UOM)
                                            }
                                            else
                                            {
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.SalesPrice, Model.CultureCode, UOM)
                                            }
                                        </span>

                                        if (Model.ProductViewModel.SalesPrice != @Model.ProductViewModel.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                        {
                                            <span class="cut-price hidden" data-test-selector="lblCutPrice">
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        if (Model.ProductViewModel.PromotionalPrice > 0)
                                        {
                                            <label class="@obsoleteClass">
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.PromotionalPrice, Model.CultureCode, UOM)
                                            </label>
                                            <span class="cut-price hidden" data-test-selector="lblCutPrice">
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }
                                        else
                                        {
                                            <span data-test-selector="lblPrice" class="@obsoleteClass">
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }

                                    }//END

                                }
                                else
                                {
                                    //START
                                    if (!Equals(Model.ProductViewModel.SalesPrice, null))
                                    {
                                        <span data-test-selector="lblPrice" class="SalePrice">
                                            @if (Model.ProductViewModel.PromotionalPrice > 0)
                                            {
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.PromotionalPrice, Model.CultureCode, UOM)
                                            }
                                            else
                                            {
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.SalesPrice, Model.CultureCode, UOM)
                                            }
                                        </span>

                                        if (Model.ProductViewModel.SalesPrice != @Model.ProductViewModel.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                        {
                                            <span class="cut-price hidden" data-test-selector="lblCutPrice">
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        if (Model.ProductViewModel.PromotionalPrice > 0)
                                        {
                                            <label class="SalePrice">
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.PromotionalPrice, Model.CultureCode, UOM)
                                            </label>
                                            <span class="cut-price hidden" data-test-selector="lblCutPrice">
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }
                                        else
                                        {
                                            <span data-test-selector="lblPrice" class="SalePrice">
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }

                                    }//END
                                }
                            }
                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.ProductViewModel.SKU" data-type="@productType">Loading...</label>
                        }

                    </div>
                    if (!string.IsNullOrEmpty(disable) && !isObsolete)
                    {
                        <div class="item-error-msg">
                            <p class="error-msg">@Model.ProductViewModel.InventoryMessage</p>
                        </div>
                    }
                }
                @if (isObsolete)
                {
                    <div class="product-inventory pb-2">
                        <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(string.Format(WebStore_Resources.PLPObsoleteMessage, productUrl)) </h4></div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
