﻿@model Znode.Engine.WebStore.ViewModels.WidgetSliderBannerViewModel
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}
@if (!Equals(Model, null) && Model.CMSMode)
{
    if (Model.IsEmpty)
    {
        <div class="col-xs-12 nopadding cms-icon-container">
            <img src="@_fileLocation/Images/banner-slideshow.png" alt="New Product" class="img-responsive cms-img-icon" />
        </div>
    }
}
<div class="row">
    <div data-test-selector="divTopSlider" id="top-slider" data-navigation="@Model.Navigation" class="owl-carousel slider Top-Slider @Model.Type">
        @{
            int counter = 0;
            string mediaUri = PortalAgent.CurrentPortal.MediaServerUrl;
            if (!Equals(Model.SliderBanners, null))
            {
                foreach (var item in Model.SliderBanners)
                {
                    string mediaPath = $"{mediaUri}{item.MediaPath}";
                    string _active = counter == 0 ? "item active" : "item";
                    <div class="@_active">
                        <a href="@item.ButtonLink" title="@item.ImageAlternateText">
                            <img src="@mediaPath" alt="@item.ImageAlternateText" data-test-selector="imgMediaPath" width="1920" height="700"/>
                            <div class="carousel-caption @item.TextAlignment">
                                @Html.RenderBlock(item.Description)
                            </div>
                        </a>
                    </div>
                    counter++;
                }
            }
        }
    </div>
</div>
<script>

    $(function () {        
        if(@Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Convert.ToString(Model.AutoPlay).ToLower())) == "true"){
            $(".Top-Slider").owlCarousel({
                navigation: true,
                singleItem: true,
                autoPlay:@Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Model.AutoplayTimeOut)),
                stopOnHover: @Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Convert.ToString(Model.AutoplayHoverPause).ToLower()))== "true" ? true : false,
                transitionStyle: @Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Model.TransactionStyle)),
                navigationText: [
                    "<i class='zf-arrow-left-big'></i>",
                    "<i class='zf-arrow-right-big'></i>"
                ],
            });
        }else{
            $(".Top-Slider").owlCarousel({
                navigation: true,
                singleItem: true,
                autoPlay: false,
                stopOnHover: @Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Convert.ToString(Model.AutoplayHoverPause).ToLower()))== "true" ? true : false,
                transitionStyle: @Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Model.TransactionStyle)),
                //transitionStyle: "fade",
                navigationText: [
                    "<i class='zf-arrow-left-big'></i>",
                    "<i class='zf-arrow-right-big'></i>"
                ],
            });
        }

        // For Navigation.
        var navigation = $(".Top-Slider").data("navigation");
        if(navigation === "Dots"){
            $(".Top-Slider .owl-pagination").css("display","block");
            $(".Top-Slider .owl-buttons").css("display","none");
        }else{
            $(".Top-Slider .owl-buttons").css("display","block");
            $(".Top-Slider .owl-pagination").css("display","none");
        }
    });
</script>
