﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents;
@{
    UserViewModel userViewModel = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey);
    var accountType = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.RoleName;
    string enableECert = PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableECertificate)?.AttributeValue;
    var approverDetails = SessionProxyHelper.GetApproverDetails(SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey).UserId);
    string enablePowerBIReportOnWebStore = userViewModel.UserGlobalAttributes?.FirstOrDefault(o => o.AttributeCode == WebStoreConstants.EnablePowerBIReportOnWebStore)?.AttributeValue;
}
<ul class="account-menu nav nav-tabs tabs-left">
    <li><a class="myaccount" href="@Url.Action("Dashboard", "User",null)" title="@WebStore_Resources.LinkTextYourAccount">@WebStore_Resources.LinkTextYourAccount</a></li>
    <h4>@WebStore_Resources.LabelMyProfile</h4>

    @if (string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase))
    {
        <li><a href="@Url.Action("AccountInformation", "User",null)" title="@WebStore_Resources.LinkTextAccountInformation">@WebStore_Resources.LinkTextAccountInformation</a></li>
    }

    <li class="hidden">
        <a href="@Url.Action("GetReturnList", "RMAReturn",null)" add-value="/RMAReturn/GetReturnDetails,/RMAReturn/ManageOrderReturn,/RMAReturn/GetOrderDetailsForReturn" data-test-selector="linkReturnHistory">
            @WebStore_Resources.LinkTextReturns
        </a>
    </li>
    <li class="hidden"><a href="@Url.Action("QuoteHistory", "Quote", null)" add-value="/Quote/QuoteHistory" data-test-selector="linkQuoteHistory">@WebStore_Resources.LabelQuoteHistory</a></li>
    <li><a href="@Url.Action("EditProfile", "User",null)" add-value="/user/editprofile" data-test-selector="linkEditProfile" title="@WebStore_Resources.LinkTextEditProfile">@WebStore_Resources.LinkTextEditProfile</a></li>
    <li><a href="/User/ChangePassword" add-value="/User/ChangePassword" data-test-selector="linkEditProfile" title="@WebStore_Resources.LinkTextChangePassword">@WebStore_Resources.LinkTextChangePassword</a></li>
    <li><a href="@Url.Action("AddressBook", "User",null)" data-test-selector="linkAddressBook" add-value="/User/Address" title="@WebStore_Resources.LinkTextAddressBook">@WebStore_Resources.LinkTextAddressBook</a></li>
    <h4>@WebStore_Resources.SubTitleMyOrders</h4>
    @if (userViewModel.PendingOrdersCount > 0)
    {
        <li><a href="@Url.Action("QuoteHistory", "User", null)" add-value="/User/QuoteView" data-test-selector="linkQuoteHistory">@WebStore_Resources.LinkTextPendingOrderHistory</a></li>
    }
    @if (approverDetails.IsApprover)
    {
        <li><a href="@Url.Action("QuoteApprovalHistory", "User", null)" add-value="/User/QuoteApprovalHistory" data-test-selector="linkQuoteApprovalHistory">@WebStore_Resources.TextPendingOrderApprovalHistory</a></li>
    }
    @if (userViewModel.PendingPaymentCount > 0)
    {
        <li><a href="@Url.Action("PaymentQuoteHistory", "User", null)" add-value="/User/PaymentQuoteHistory" data-test-selector="linkPaymentQuoteHistory">@WebStore_Resources.LinkTextPendingPaymentHistory</a></li>
    }
    <li><a href="@Url.Action("History", "User",null)" add-value="/User/OrderReceipt" data-test-selector="linkOrderHistory" title="@WebStore_Resources.LinkTextOrderHistory">@WebStore_Resources.LinkTextOrderHistory</a></li>
    <li><a href="@Url.Action("Wishlist", "User",null)" data-test-selector="linkWishlist" title="@WebStore_Resources.LinkTextWishlist">@WebStore_Resources.LinkTextWishlist</a></li>
    <li><a href="@Url.Action("Reviews", "User",null)" data-test-selector="linkReviews" title="@WebStore_Resources.LinkTextReview">@WebStore_Resources.TitleReviewHistory</a></li>
    <li class="hidden"><a href="@Url.Action("Vouchers", "User",null)" data-test-selector="linkVouchers" id="linkVouchersTab">@WebStore_Resources.LinkTextVouchers</a></li>

    <li class="hidden"><a href="@Url.Action("GetSavedCreditCards", "User",null)" add-value="/User/GetSavedCreditCard" data-test-selector="linkSavedCreditCards">@WebStore_Resources.LinkSavedCreditCard</a></li>
    <li class="hidden"><a href="@Url.Action("AffiliateInformation", "User",null)">@WebStore_Resources.LinkAffiliateInformation</a></li>
    @if (!string.IsNullOrEmpty(enablePowerBIReportOnWebStore) && string.Equals(enablePowerBIReportOnWebStore, ZnodeConstant.True, StringComparison.InvariantCultureIgnoreCase))
    {
        <li><a href="@Url.Action("PowerBIReport", "User", null)" data-test-selector="linkBIReports">@WebStore_Resources.LinkPowerBIReports</a></li>
    }
    @if (!string.IsNullOrEmpty(enableECert) && Convert.ToBoolean(enableECert))
    {
        <li><a href="@Url.Action("eCertificateBalance", "User", null)" add-value="/User/eCertificateBalance" data-test-selector="linkeCertificateBalance">@WebStore_Resources.ECertManageECertificateButtonLabel</a></li>
    }
    <li class="signout"><a href="/User/Logout" class="log-off" id="log-off" data-test-selector="linkLogOff" title="@WebStore_Resources.LabelLogOff">@WebStore_Resources.LabelLogOff</a></li>
</ul>

<script>
    // Account Tab Selection
    var selectedTabhref = ("/" + $("body").attr("id") + "/" + $("body").attr("class")).toLowerCase();
    $(".account-dashboard .account-menu a").each(function () {
        var arraySelectedTabs = $.trim($(this).attr("add-value")).toLowerCase().split(",");
        if ($.trim($(this).attr("href")).toLowerCase() === $.trim(selectedTabhref) || $.trim($(this).attr("add-value")).toLowerCase() === $.trim(selectedTabhref) || arraySelectedTabs[0] === $.trim(selectedTabhref) || arraySelectedTabs[1] === $.trim(selectedTabhref) || arraySelectedTabs[2] === $.trim(selectedTabhref)) {
            $(this).addClass("selected");
        }
    });
</script>
