﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.Api.Models
@{
    Layout = null;
}
@model PaymentMethodCCDetailsListModel

<div class="col-xs-12 nopadding order-history credit-card-content">
    <h3 class="section-header">Showing <span id="cardcount"></span> Credit Cards</h3>
    <div class="row">
        @foreach (var cardDetails in Model.PaymentMethodCCDetails)
        {
            string url = "";
            if (cardDetails.CardType == @WebStoreConstants.TitleMastercard)
            {
                url = "../../Content/images/MASTERCARD.png";
            }
            else if (cardDetails.CardType == @WebStoreConstants.TitleVisa)
            {
                url = "../../Content/images/VISA.png";
            }
            else if (cardDetails.CardType == @WebStoreConstants.TitleAmericanExpress)
            {
                url = "../../Content/images/AMEX.png";
            }
            else if (cardDetails.CardType == @WebStoreConstants.TitleDiscover)
            {
                url = "../../Content/images/DISCOVER.png";
            }

            <div class="col-sm-6 col-xs-12 credit-card-block">
                <div class="card-type">
                    <img src="@url" class="img-responsive" alt="Payment Options"/><strong>xxxx-xxxx-xxxx-@cardDetails.CreditCardLastFourDigit</strong>
                    <a href="@Url.Action("DeleteCardDetails", "user",new { paymentGUID = cardDetails.PaymentGUID})" class="edit-card-details pull-right"><i class="zf-delete" title="Delete Card Details" data-test-selector="spnDeleteCardDetails"></i></a>
                </div>
                <p data-test-selector="paraName"><strong>Name :</strong> @cardDetails.CardHolderFirstName  @cardDetails.CardHolderLastName </p>
                @if (cardDetails.AddressLine1 != null || cardDetails.City != null || cardDetails.State != null || cardDetails.Country != null)
                {
                    <p data-test-selector="paraAddress"><strong>Address :</strong> @cardDetails.AddressLine1 @cardDetails.City @cardDetails.State @cardDetails.Country</p>
                }
            </div>
        }
    </div>
</div>