﻿@using Znode.Engine.WebStore.ViewModels
@model AddressViewModel
@using Znode.Libraries.ECommerce.Utilities

<div class="address-block">
    <div class="address-change">
        <div class="pull-right">
            @if (!Equals(Model, null) && Model.AddressId > 0 && !string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
            {
                <a href="Address?id=@Model.AddressId" class="change-address" data-test-selector="linkTextEditAddress"><i class="zf-edit" title="@WebStore_Resources.LinkTextEditAddress"></i><span class="hidden">Edit</span></a>

                <a href="DeleteAddress?addressId=@Model.AddressId" id="delete-address" class="change-address" data-test-selector="linkTextDeleteAddress"><i class="zf-delete" title="@WebStore_Resources.LinkTextDeleteAddress"></i><span class="hidden">Delete</span></a>
            }
        </div>
    </div>
    <p class="address-title" data-test-selector="paraAddressTitle">@Model.DisplayName</p>
    <p class="address-title" data-test-selector="paraCompanyName">@Model.CompanyName</p>
    <p class="address-name" data-test-selector="paraFirstName">@Model.FirstName @Model.LastName</p>
    <p class="address-street" data-test-selector="paraAddress1">@Model.Address1<br />@Model.Address2</p>
    <p class="address-citystate" data-test-selector="paraCityName">@Model.CityName, @Model.StateName @Model.PostalCode</p>
    <p class="address-phonenumber" data-test-selector="paraPhoneNumber">Ph: @Model.PhoneNumber</p>
</div>