﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model RegisterViewModel

<p id="ExistingUserError" class="error-msg" />

<div class="form-group">
    <div class="col-xs-12 nopadding">
        <label class="hidden" for="UserName">@WebStore_Resources.ColumnUsername</label>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @data_test_selector = "txtUsername", @placeholder = @WebStore_Resources.ColumnUsername, @title = @WebStore_Resources.ColumnUsernameTitle })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @data_test_selector = "spnValidForUsername" })
    </div>
</div>
@if (Model.UserVerificationTypeCode != UserVerificationTypeEnum.EmailVerificationCode)
{
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <div class="col-xs-12 nopadding">
            <p class="sub">@WebStore_Resources.ValidPassword</p>
        </div>
        <div class="col-xs-12 nopadding">
            <label class="hidden" for="Password">@WebStore_Resources.ColumnCreatePassword</label>
            @Html.PasswordFor(m => m.Password, new { @placeholder = WebStore_Resources.ColumnCreatePassword, @title = WebStore_Resources.LabelNewPasswordTitle })
            @Html.ValidationMessageFor(m => m.Password, "", new { @data_test_selector = "spnValidForPassword" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <div class="col-xs-12 nopadding">
            <label class="hidden" for="ReTypePassword">@WebStore_Resources.ColumnReTypePassword</label>
            @Html.PasswordFor(m => m.ReTypePassword, new { @placeholder = WebStore_Resources.ColumnReTypePassword, @title = WebStore_Resources.LabelReTypeNewPasswordTitle })
            @Html.ValidationMessageFor(m => m.ReTypePassword, "", new { @data_test_selector = "spnValidForReTypePass" })
        </div>
    </div>
</div>
}
<div class="form-group">
    <div class="col-xs-12 styled-input nopadding">
        <input id="signup_optin" name="EmailOptIn" value="true" type="checkbox">
        <label for="signup_optin" title="Send Me Periodic Emails And Special Offers">Send Me Periodic Emails And Special Offers</label>
    </div>
</div>

<div class="form-group">
    <div class="pull-right">
        @{
        string _returnUrl = Convert.ToString(Request.QueryString["returnUrl"]);
        }
        @Html.Hidden("returnUrl", _returnUrl)
    </div>
</div>
@Html.HiddenFor(x => x.UserName)
@Html.HiddenFor(x => x.Email)
@Html.HiddenFor(x => x.UserVerificationTypeCode)


