﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Microsoft.AspNet.Identity
@model AddressListViewModel
<div id="layout-account-book" class="main-wrapper">
    <div class="container">
        <div class="user-account">
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 nopadding">
                    <div class="panel">
                        <div role="tab" id="DashboardOne">
                            <div class="panel-title mobile-padding-left-right">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h1 class="hidden-lg hidden-md">
                                        @if (Session["FirstName"] != null)
                                        {
                                            <span>@Html.ActionLink("Hi, " + Session["FirstName"].ToString() + "!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                        else
                                        {
                                            <span> @Html.ActionLink("Hi!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                            <nav class="account-container-menu">
                                @Html.Partial("_AccountMenu")
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 address-book right-container">
                    <div id="addressList">
                        <div class="col-xs-12 nopadding address-list address-list-primary dashboard-addresses">
                            <div class="col-xs-12 col-sm-6 nopadding margin-bottom">
                                <div class="col-xs-12 col-sm-11 nopadding">
                                    <h5 class="section-header-color margin-bottom" data-test-selector="hdgSubTitlePrimaryShipping">@WebStore_Resources.SubTitlePrimaryShipping</h5>
                                    <div class="mobile-padding-left-right col-xs-12 nopadding">
                                        @if (!Equals(Model?.ShippingAddress, null))
                                        {
                                            Model.ShippingAddress.RoleName = Model.RoleName;
                                            @Html.Partial("../User/_DisplayAddress", Model.ShippingAddress ?? new AddressViewModel())
                                        }
                                        else
                                        {
                                            <p>@WebStore_Resources.ErrorNoPrimaryAddress</p>
                                        }
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 nopadding margin-bottom">
                                <div class="col-sm-offset-1">
                                    <h5 class="section-header-color margin-bottom" data-test-selector="hdgSubTitlePrimaryBilling">@WebStore_Resources.SubTitlePrimaryBilling</h5>
                                    <div class="mobile-padding-left-right col-xs-12 nopadding">
                                        @if (!Equals(Model?.BillingAddress, null))
                                        {
                                            Model.BillingAddress.RoleName = Model.RoleName;
                                            @Html.Partial("../User/_DisplayAddress", Model.BillingAddress ?? new AddressViewModel())
                                        }
                                        else
                                        {
                                            <p>@WebStore_Resources.ErrorNoPrimaryAddress</p>
                                        }
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (!string.Equals(Model?.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model?.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                    {
                        <div class="col-xs-12 nopadding mobile-padding-left-right">
                            @Html.ActionLink(@WebStore_Resources.LinkAddNewAddress, "Address", "User", new { @class = "pull-right",@title= @WebStore_Resources.LinkAddNewAddress })
                        </div>
                    }
                    <div class="col-xs-12 nopadding">
                        @if (!Equals(Model?.AddressList, null))
                        {
                            if (Model.AddressList.Any())
                            {
                                if (Model.AccountId > 0)
                                {
                                    <h3 class="section-header">@WebStore_Resources.HeaderAccountAddress</h3>
                                    <div class="col-xs-12 nopadding address-list mobile-padding-left-right">
                                        @{
                                            int counter = 1;
                                        }
                                        @foreach (var item in Model.AddressList)
                                        {
                                            if (counter % 2 == 0)
                                            {
                                                <div class="col-xs-12 col-md-6 nopadding margin-top address-blocks dashboard-addresses">
                                                    <div class="col-md-offset-1">
                                                        <div class="address-change">
                                                            <div class="pull-right">
                                                                @if (!string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                                                {
                                                                    <a href="Address?id=@item.AddressId" class="change-address" data-test-selector="linkEditAddress"><i class="zf-edit" title="@WebStore_Resources.LinkTextEditAddress"></i></a>
                                                                }
                                                                @if (!string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                                                {
                                                                    <a href="DeleteAddress?addressId=@item.AddressId" id="delete-address" class="change-address" data-test-selector="linkDeleteAddress"><i class="zf-delete" title="@WebStore_Resources.LinkTextDeleteAddress"></i></a>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="address-block">
                                                            <div class="address-title" data-test-selector="divDisplayName">@item.DisplayName</div>
                                                            <div class="address-title" data-test-selector="divCompanyName">@item.CompanyName</div>
                                                            <div class="address-name" data-test-selector="divFirstName">@item.FirstName @item.LastName</div>
                                                            <div class="address-street" data-test-selector="divAddress1">@item.Address1<br />@item.Address2</div>
                                                            <div class="address-citystate" data-test-selector="divCityName">@item.CityName, @item.StateName, @item.CountryName @item.PostalCode</div>
                                                            <div class="address-phonenumber" data-test-selector="divPhoneNumber">Ph: @item.PhoneNumber</div>
                                                        </div>
                                                        <div class="pull-left action-links">
                                                            <form method="POST" class="form">
                                                                @if (!string.Equals(Model?.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model?.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && item.IsDefaultShipping != true)
                                                                {
                                                                    @Html.AntiForgeryToken()
                                                                    <button type="submit" class="margin-top" data-test-selector="btnPrimaryShipping">@WebStore_Resources.LinkTextPrimaryShipping</button>
                                                                }
                                                                <input type="hidden" value="@item.AddressId" name="id" />
                                                                <input type="hidden" value="false" name="isDefaultBillingAddress" />
                                                            </form>
                                                            <form method="POST" class="form">
                                                                @if (!string.Equals(Model?.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model?.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && item.IsDefaultBilling != true)
                                                                {
                                                                    @Html.AntiForgeryToken()
                                                                    <button type="submit" class="margin-top border-left" data-test-selector="btnPrimaryBilling">@WebStore_Resources.LinkTextPrimaryBilling</button>
                                                                }
                                                                <input type="hidden" value="@item.AddressId" name="id" />
                                                                <input type="hidden" value="true" name="isDefaultBillingAddress" />
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-xs-12 col-md-6 nopadding margin-top address-blocks dashboard-addresses">
                                                    <div class="col-xs-12 col-md-11 nopadding">
                                                        <div class="address-change">
                                                            <div class="pull-right">
                                                                @if (!string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                                                {
                                                                    <a href="Address?id=@item.AddressId" class="change-address" data-test-selector="linkEditAddress"><i class="zf-edit" title="@WebStore_Resources.LinkTextEditAddress"></i></a>
                                                                }
                                                                @if (!string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                                                {
                                                                    <a href="DeleteAddress?addressId=@item.AddressId" id="delete-address" class="change-address" data-test-selector="divDeleteAddress"><i class="zf-delete" title="@WebStore_Resources.LinkTextDeleteAddress"></i></a>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="address-block">
                                                            <div class="address-title" data-test-selector="divDisplayName">@item.DisplayName</div>
                                                            <div class="address-title" data-test-selector="divCompanyName">@item.CompanyName</div>
                                                            <div class="address-name" data-test-selector="divFirstName">@item.FirstName @item.LastName</div>
                                                            <div class="address-street" data-test-selector="divAddress1">@item.Address1<br />@item.Address2</div>
                                                            <div class="address-citystate" data-test-selector="divCityName">@item.CityName, @item.StateName, @item.CountryName @item.PostalCode</div>
                                                            <div class="address-phonenumber" data-test-selector="divPhoneNumber">Ph: @item.PhoneNumber</div>
                                                        </div>
                                                        <div class="pull-left action-links">
                                                            <form method="POST" class="form">
                                                                @if (!string.Equals(Model?.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model?.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && item.IsDefaultShipping != true)
                                                                {
                                                                    @Html.AntiForgeryToken()
                                                                    <button type="submit" class="margin-top" data-test-selector="btnPrimaryShipping">@WebStore_Resources.LinkTextPrimaryShipping</button>
                                                                }
                                                                <input type="hidden" value="@item.AddressId" name="id" />
                                                                <input type="hidden" value="false" name="isDefaultBillingAddress" />
                                                            </form>
                                                            <form method="POST" class="form">
                                                                @if (!string.Equals(Model?.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model?.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && item.IsDefaultBilling != true)
                                                                {
                                                                    @Html.AntiForgeryToken()
                                                                    <button type="submit" class="margin-top border-left" data-test-selector="btnPrimaryBilling">@WebStore_Resources.LinkTextPrimaryBilling</button>
                                                                }
                                                                <input type="hidden" value="@item.AddressId" name="id" />
                                                                <input type="hidden" value="true" name="isDefaultBillingAddress" />
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            counter++;
                                        }
                                    </div>
                                }
                                if (Model?.AccountId <= 0)
                                {
                                    <div class="col-xs-12 nopadding margin-top-bottom">
                                        <h3 class="section-header" data-test-selector="hdgAllAddress">@WebStore_Resources.TitleAllAddress</h3>
                                        <div class="col-xs-12 nopadding address-list dashboard-addresses mobile-padding-left-right">
                                            @{
                                                int counter = 1;
                                            }
                                            @foreach (var address in Model?.AddressList)
                                            {
                                                address.RoleName = Model?.RoleName;
                                                if (counter % 2 == 0)
                                                {
                                                    <div class="col-xs-12 col-md-6 nopadding margin-top address-blocks">
                                                        <div class="col-md-offset-1">
                                                            @Html.Partial("../User/_DisplayAddress", address)
                                                            <div class="pull-left action-links">
                                                                <form method="POST" class="form">
                                                                    @if (address.IsDefaultShipping != true)
                                                                    {
                                                                        @Html.AntiForgeryToken()
                                                                        <button type="submit" data-test-selector="btnPrimaryShipping" title="@WebStore_Resources.LinkTextPrimaryShipping">@WebStore_Resources.LinkTextPrimaryShipping</button>
                                                                    }
                                                                    <input type="hidden" value="@address.AddressId" name="id" />
                                                                    <input type="hidden" value="false" name="isDefaultBillingAddress" />
                                                                </form>
                                                                <form method="POST" class="form">
                                                                    @if (address.IsDefaultBilling != true)
                                                                    {
                                                                        @Html.AntiForgeryToken()
                                                                        <button type="submit" class="border-left" data-test-selector="btnPrimaryBilling" title="@WebStore_Resources.LinkTextPrimaryBilling">@WebStore_Resources.LinkTextPrimaryBilling</button>
                                                                    }
                                                                    <input type="hidden" value="@address.AddressId" name="id" />
                                                                    <input type="hidden" value="true" name="isDefaultBillingAddress" />
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-xs-12 col-md-6 nopadding margin-top address-blocks">
                                                        <div class="col-xs-12 col-md-11 nopadding">
                                                            @Html.Partial("../User/_DisplayAddress", address)
                                                            <div class="pull-left action-links">
                                                                <form method="POST" class="form">
                                                                    @if (!string.Equals(Model?.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model?.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && address.IsDefaultShipping != true)
                                                                    {
                                                                        @Html.AntiForgeryToken()
                                                                        <button type="submit" data-test-selector="btnPrimaryShipping" title="@WebStore_Resources.LinkTextPrimaryShipping">@WebStore_Resources.LinkTextPrimaryShipping</button>
                                                                    }
                                                                    <input type="hidden" value="@address.AddressId" name="id" />
                                                                    <input type="hidden" value="false" name="isDefaultBillingAddress" />
                                                                </form>
                                                                <form method="POST" class="form">
                                                                    @if (!string.Equals(Model?.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model?.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && address.IsDefaultBilling != true)
                                                                    {
                                                                        @Html.AntiForgeryToken()
                                                                        <button type="submit" class="border-left" data-test-selector="btnPrimaryBilling" title="@WebStore_Resources.LinkTextPrimaryBilling">@WebStore_Resources.LinkTextPrimaryBilling</button>
                                                                    }
                                                                    <input type="hidden" value="@address.AddressId" name="id" />
                                                                    <input type="hidden" value="true" name="isDefaultBillingAddress" />
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                counter++;
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
