﻿@using Znode.Engine.WebStore.ViewModels
@using Microsoft.AspNet.Identity
@model ChangePasswordViewModel
@{

}
<div id="layout-account-editprofile" class="main-wrapper">
    <div class="container">
        <div class="user-account">

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 nopadding">
                    <div class="panel">
                        <div role="tab" id="DashboardOne">
                            <div class="panel-title mobile-padding-left-right">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h1 class="hidden-lg hidden-md">
                                        @if (Session["FirstName"] != null)
                                        {
                                            <span>@Html.ActionLink("Hi, " + Session["FirstName"].ToString() + "!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                        else
                                        {
                                            <span> @Html.ActionLink("Hi!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                            <nav class="account-container-menu">
                                @Html.Partial("_AccountMenu")
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 edit-profile margin-top right-container mobile-padding-left-right">
                    <div class="col-xs-12 nopadding margin-bottom mobile-padding-left-right">
                        <p>@WebStore_Resources.SubTextChangePassword</p>
                    </div>
                    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="loginForm" class="col-xs-12 col-sm-8 col-lg-6 nopadding mobile-padding-left-right">
                            @Html.ValidationSummary(true, "")
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <label class="hidden" for="OldPassword">@WebStore_Resources.LabelCurrentPassword</label>
                                    @Html.PasswordFor(m => m.OldPassword, new { @placeholder = WebStore_Resources.LabelCurrentPassword, @title = WebStore_Resources.LabelCurrentPasswordTitle })
                                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @data_test_selector = "spnOldPassword" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <p class="sub">@WebStore_Resources.ValidPassword</p>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <label class="hidden" for="NewPassword">@WebStore_Resources.LabelNewPassword</label>
                                    @Html.PasswordFor(m => m.NewPassword, new { @placeholder = WebStore_Resources.LabelNewPassword, @title = WebStore_Resources.LabelNewPasswordTitle })
                                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @data_test_selector = "spnNewPassword" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <label class="hidden" for="ReTypeNewPassword">@WebStore_Resources.LabelReTypeNewPassword</label>
                                    @Html.PasswordFor(m => m.ReTypeNewPassword, new { @placeholder = WebStore_Resources.LabelReTypeNewPassword, @title = WebStore_Resources.LabelReTypeNewPasswordTitle })
                                    @Html.ValidationMessageFor(m => m.ReTypeNewPassword, "", new { @data_test_selector = "spnErrorReTypeNewPassword" })
                                </div>
                            </div>
                            @Html.HiddenFor(x => x.UserName)
                            <div class="col-xs-12 nopadding">
                                <div class="pull-right">
                                    <button type="submit" class="btn-text btn-bg-primary" data-test-selector="btnReset" title="@WebStore_Resources.ResetPasswordButtonText">@WebStore_Resources.ResetPasswordButtonText</button>
                                    <button type="button" class="btn-text btn-bg-secondary hidden-xs" data-test-selector="btnCancel" onclick="javascript: location.href = '/User/Dashboard';" title="@WebStore_Resources.ButtonCancel">@WebStore_Resources.ButtonCancel</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


