﻿@using Znode.Engine.WebStore.ViewModels
@using Microsoft.AspNet.Identity
@model UserViewModel
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents;
@{
                var currentPortal = PortalAgent.CurrentPortal;
                string enableECert = currentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableECertificate)?.AttributeValue;

                var paymentSettingId = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.PaymentSettingId;

                var CustomerPaymentGUID = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.CustomerPaymentGUID;
                List<string> urls = Model.ReferralCommissionData.Url?.Split(',')?.ToList();
                bool isApprovalRouting = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableApprovalManagement)?.AttributeValue);
}

<div id="layout-account-dashboard" class="main-wrapper">
    <div class="container">
        <div class="user-account">
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 nopadding">
                    <div class="panel">
                        <div role="tab" id="DashboardOne">
                            <div class="panel-title mobile-padding-left-right">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h1 class="hidden-lg hidden-md">
                                        @if (Session["FirstName"] != null)
                                        {
                                        <span>@Html.ActionLink("Hi, " + Session["FirstName"].ToString() + "!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                        else
                                        {
                                        <span> @Html.ActionLink("Hi!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                            <nav class="account-container-menu">
                                @Html.Partial("_AccountMenu")
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 right-container">
                    @if (!Equals(Model, null))
                    {

                        <div class="col-xs-12 nopadding margin-top-bottom dashboard-content">
                            <h3 class="section-header">@WebStore_Resources.TitleAccountProfile</h3>
                            <div class="col-xs-12 nopadding mobile-padding-left-right">
                                Username :
                                <a href="/User/EditProfile" class="dashboard-profile">
                                    @User.Identity.GetUserName()<br />
                                </a>
                                @WebStore_Resources.LabelEmail :
                                <a href="/User/EditProfile" class="dashboard-profile">
                                    @Model.Email<br />
                                </a>
                                @if (!string.IsNullOrEmpty(enableECert) && Convert.ToBoolean(enableECert))
                                {
                                    <z-widget>
                                        @Ajax.AjaxWidgetPartial("ECertUsertProfileDashboardTotal", "ECertUsertProfileDashboardTotal", "101", "PortalMapping")
                                    </z-widget>
                                }
                                <div class="col-xs-12 margin-top nopadding">
                                    <div class="pull-right action-links">
                                        <a href="/User/EditProfile" title="@WebStore_Resources.LinkTextEditProfile">@WebStore_Resources.LinkTextEditProfile</a>
                                        <a href="/User/ChangePassword" class="border-left" title="@WebStore_Resources.LinkTextChangePassword">@WebStore_Resources.LinkTextChangePassword</a>
                                        @if (!string.IsNullOrEmpty(enableECert) && Convert.ToBoolean(enableECert))
                                        {
                                            <a href="/User/eCertificateBalance" class="border-left" title="@WebStore_Resources.ECertManageECertificateButtonLabel">@WebStore_Resources.ECertManageECertificateButtonLabel</a>
                                        }
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-xs-12 nopadding margin-bottom dashboard-content">
                            <h3 class="section-header">@WebStore_Resources.TitleAddressBook</h3>
                            <div class="col-xs-12 nopadding dashboard-addresses">
                                <div class="col-xs-12 col-sm-6 nopadding margin-bottom mobile-padding-left-right">
                                    <h5>@WebStore_Resources.SubTitlePrimaryShipping</h5>
                                    @if (!Equals(Model.ShippingAddress, null))
                                    {
                                        Model.ShippingAddress.RoleName = Model.RoleName;
                                        <div class="col-xs-12 col-sm-11 nopadding">
                                            @Html.Partial("../User/_DisplayAddress", Model.ShippingAddress ?? new AddressViewModel())
                                        </div>
                                    }
                                    else
                                    {
                                        <p>@WebStore_Resources.ErrorNoPrimaryAddress</p>
                                    }
                                </div>
                                <div class="col-xs-12 col-sm-6 nopadding margin-bottom mobile-padding-left-right">
                                    @if (!Equals(Model.BillingAddress, null))
                                    {
                                        Model.BillingAddress.RoleName = Model.RoleName;
                                        <div class="col-sm-offset-1">
                                            <h5>@WebStore_Resources.SubTitlePrimaryBilling</h5>
                                            @Html.Partial("../User/_DisplayAddress", Model.BillingAddress ?? new AddressViewModel())
                                        </div>
                                    }
                                    else
                                    {
                                        <h5>@WebStore_Resources.SubTitlePrimaryBilling</h5>
                                        <p>@WebStore_Resources.ErrorNoPrimaryAddress</p>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 margin-top nopadding mobile-padding-left-right">
                                <div class="pull-right action-links">
                                    <a href="/User/AddressBook" data-test-selector="linkTextViewAddressBook" title="@WebStore_Resources.LinkTextViewAddressBook">@WebStore_Resources.LinkTextViewAddressBook</a>
                                    @if (Model.Permission)
                                    {
                                        <a href="/User/Address" class="border-left" data-test-selector="linkAddNewAddress" title="@WebStore_Resources.LinkAddNewAddress">@WebStore_Resources.LinkAddNewAddress</a>
                                    }
                                </div>
                            </div>
                        </div>
                        if (Model.PendingOrdersCount > 0)
                        {
                            <div class="col-xs-12 nopadding dashboard-content">
                                <div>
                                    <h3 class="section-header">@WebStore_Resources.LinkTextPendingOrderHistory</h3>
                                    <div class="col-xs-12 nopadding mobile-padding-left-right">
                                        <p>
                                            @WebStore_Resources.LinkTextPendingOrderHistory
                                        </p>
                                    </div>
                                    
                                </div>
                                <div class="pull-right action-links mobile-padding-left-right">
                                    <a href="/User/QuoteHistory" class="pull-right" title="@WebStore_Resources.LinkTextPendingOrderHistory">@WebStore_Resources.LinkTextPendingOrderHistory</a>
                                </div>
                            </div>
                        }
                        if (Model.IsApprover)
                        {
                            <div class="col-xs-12 nopadding dashboard-content">
                                <div>
                                    <h3 class="section-header">@WebStore_Resources.TextPendingOrderApprovalHistory</h3>
                                    <p>
                                        @WebStore_Resources.TextPendingOrderApprovalHistory
                                    </p>
                                </div>
                                <div class="pull-right action-links">
                                    <a href="/User/QuoteApprovalHistory" class="pull-right" title="@WebStore_Resources.TextViewPendingOrderApprovalHistory">@WebStore_Resources.TextViewPendingOrderApprovalHistory</a>
                                </div>
                            </div>
                        }
                        if (Model.PendingPaymentCount > 0)
                        {
                            <div class="col-xs-12 nopadding dashboard-content">
                                <div>
                                    <h3 class="section-header">@WebStore_Resources.LinkTextPendingPaymentHistory</h3>
                                    <p>
                                        @WebStore_Resources.LinkTextPendingPaymentHistory
                                    </p>
                                </div>
                                <div class="pull-right action-links">
                                    <a href="/User/PaymentQuoteHistory" class="pull-right" title="@WebStore_Resources.LinkTextViewPendingPaymentHistory">@WebStore_Resources.LinkTextViewPendingPaymentHistory</a>
                                </div>
                            </div>
                        }

                        <div class="col-xs-12 nopadding margin-bottom dashboard-content">
                            <h3 class="section-header">@WebStore_Resources.LinkTextOrderHistory</h3>
                            <div class="col-xs-12 margin-top nopadding mobile-padding-left-right">
                                @Html.Partial("_OrderHistory", Model.OrderList)
                                @if (!Equals(Model.OrderList, null) && Model.OrderList.Any())
                                {
                                    <a href="/User/History" class="pull-right" data-test-selector="linkTextCompleteOrderHistory" title="@WebStore_Resources.LinkTextCompleteOrderHistory">@WebStore_Resources.LinkTextCompleteOrderHistory</a>
                                }
                            </div>
                        </div>

                        <div class="col-xs-12 nopadding margin-bottom dashboard-content">
                            <h3 class="section-header">@WebStore_Resources.LinkTextWishlist</h3>
                            <div class="col-xs-12 nopadding mobile-padding-left-right">
                                <p>
                                    @string.Format(WebStore_Resources.SubTextWishlistItems, (Model?.WishList != null ? Model.WishList.Count : 0))
                                </p>
                                <div class="col-xs-12 margin-top nopadding">
                                    <a href="/User/Wishlist" class="pull-right" title="@WebStore_Resources.LinkTextViewWishList">@WebStore_Resources.LinkTextViewWishList</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 nopadding margin-bottom dashboard-content">
                            <h3 class="section-header">@WebStore_Resources.LinkTextReview</h3>
                            <div class="col-xs-12 nopadding mobile-padding-left-right">
                                <p>@string.Format(WebStore_Resources.SubTextReviewItems, Model.ReviewCount)</p>
                            </div>
                            
                            <div class="col-xs-12 nopadding margin-top mobile-padding-left-right">
                                <a href="/User/Reviews" class="pull-right" data-test-selector="linkTextViewReviews" title="@WebStore_Resources.LinkTextViewReviews">@WebStore_Resources.LinkTextViewReviews</a>
                            </div>
                        </div>



                        //Comment below code to hide functionality of profile based catalog
                        @*if (Model.ProfileList?.Count > 0)
            {
                <div class="col-xs-12 nopadding">
                    <h3 class="section-header">@WebStore_Resources.ColumnUserprofile</h3>
                    <div class="col-xs-12 nopadding">
                        @Html.DropDownListFor(model => Model.ProfileId, Model.ProfileList ?? new List<SelectListItem>(), new { @id = "ddlUserProfile", @OnChange = "User.prototype.OnUserProfileSelection();" })
                    </div>
                </div>
            }*@

                        @*@Html.Partial("../User/_AffiliateInformation", Model.ReferralCommissionData)*@

                        if (Model.HasApprovers)
                        {
                            <div class="col-xs-12 nopadding dashboard-content">
                                <div>
                                    <h3 class="section-header">@WebStore_Resources.TextApprovalList</h3>
                                    <p>
                                        @WebStore_Resources.TextApprovalList
                                    </p>
                                </div>
                                <div class="pull-right action-links">
                                    <a href="/User/UserApprovalList" class="pull-right" title="@WebStore_Resources.TextApprovalList">@WebStore_Resources.TextApprovalList</a>
                                </div>
                            </div>
                        }

                    }
                </div>
                    </div>
        </div>
        @Html.Hidden("hdnCustomerGUID")
        @Html.Hidden("hdnGatwayName")
        @Html.Hidden("paymentProfileId")
        @Html.Hidden("hdnPaymentCode")
    </div>
</div>
<script>$(document).ready(function () { User.prototype.ShowCardPaymentOptions("@CustomerPaymentGUID"); });</script>