﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Microsoft.AspNet.Identity
@model UserViewModel
@{
    string budgetAmount = @Helper.FormatPriceWithCurrency(Model?.BudgetAmount.GetValueOrDefault(), DefaultSettingHelper.DefaultCulture);
}
<div id="layout-account-editprofile" class="main-wrapper">

    <div class="container">
        <div class="user-account">
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 nopadding">
                    <div class="panel">
                        <div role="tab" id="DashboardOne">
                            <div class="panel-title mobile-padding-left-right">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h1 class="hidden-lg hidden-md">
                                        @if (Session["FirstName"] != null)
                                        {
                                            <span>@Html.ActionLink("Hi, " + Session["FirstName"].ToString() + "!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                        else
                                        {
                                            <span> @Html.ActionLink("Hi!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                            <nav class="account-container-menu">
                                @Html.Partial("_AccountMenu")
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 edit-profile right-container">

                    <div class="col-xs-12 col-sm-8 nopadding margin-top">

                        @using (Html.BeginForm("EditProfile", "User", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="col-xs-12 nopadding mobile-padding-left-right">
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label class="hidden" for="UserName">User Name</label>
                                            @Html.TextBoxFor(model => model.UserName, new { @Value = User.Identity.GetUserName(), @readonly = "readonly", @placeholder = "Username" })
                                        </div>
                                        @Html.HiddenFor(m => m.UserName)
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label class="hidden" for="profile_Firstname">@WebStore_Resources.ColumnFirstName</label>
                                            @Html.TextBoxFor(model => model.FirstName, new { @id = "profile_Firstname", @placeholder = @WebStore_Resources.ColumnFirstName, @title = @WebStore_Resources.LabelFirstNameTitle })
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.FirstName, "", new { @id = "valFirstName" })</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label class="hidden" for="profile_Lastname">@WebStore_Resources.ColumnLastName</label>
                                            @Html.TextBoxFor(model => model.LastName, new { @id = "profile_Lastname", @placeholder = @WebStore_Resources.ColumnLastName, @title = @WebStore_Resources.LabelLastNameTitle })
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.LastName, "", new { @id = "valLastName" })</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label class="hidden" for="profile_PhoneNumber">@WebStore_Resources.ColumnPhoneNo</label>
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @id = "profile_PhoneNumber", @placeholder = "Phone Number", @title = @WebStore_Resources.LabelPhoneNumberTitle, @maxlength = "12" })
                                            @*<p class="error-msg">@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @id = "valPhoneNumber" })</p>*@
                                            <p id="phonenumbererror" class="error-msg"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label class="hidden" for="profile_email">@WebStore_Resources.ColumnEmailAddress</label>
                                            @Html.TextBoxFor(model => model.Email, new { @id = "profile_email", @placeholder = @WebStore_Resources.ColumnEmailAddress, @title = @WebStore_Resources.LabelSubscriptionMailTittle })
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.Email, "", new { @id = "valEmail" })</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <a href="/User/ChangePassword" class="pull-right" data-test-selector="linkChangePassword" title="@WebStore_Resources.TitleChangePassword">@WebStore_Resources.TitleChangePassword</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding styled-input">
                                            <input type="checkbox" id="signup_optin" name="EmailOptIn" value="true" @(Model.EmailOptIn ? "checked='checked'" : "") /><label for="signup_optin" data-test-selector="lblTextNewsLetter" title="@WebStore_Resources.CheckBoxTextNewsLetter">@WebStore_Resources.CheckBoxTextNewsLetter</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <div class="pull-right">
                                                <button type="submit" class="btn-text btn-bg-primary" data-test-selector="btnUpdate" title="Update Profile">Update Profile</button>
                                                <a href="Dashboard" class="btn-text btn-bg-secondary hidden-xs" data-test-selector="btnButtonCancel" title="@WebStore_Resources.ButtonCancel">@WebStore_Resources.ButtonCancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#profile_PhoneNumber").keypress(function (e) {
        //alert("called");
        var keyCode = e.keyCode || e.which;

        $("#phonenumbererror").html("");
        //alert($("#profile_PhoneNumber").val().length);
        if ($("#profile_PhoneNumber").val().length == 3 || $("#profile_PhoneNumber").val().length == 7) {
            $("#profile_PhoneNumber").val($("#profile_PhoneNumber").val() + '-');
        }
        //Regex for Valid Characters i.e. Numbers.
        var regex = /^[0-9]+$/;

        //Validate TextBox value against the Regex.
        var isValid = regex.test(String.fromCharCode(keyCode));
        if (!isValid) {
            $("#phonenumbererror").html("Only Numbers allowed.");
        }

        return isValid;
    });
        
</script>