﻿@using Znode.Engine.WebStore.ViewModels
@using Microsoft.AspNet.Identity
@{
    ViewBag.HideEmail = true;
    ViewBag.IsAddAddress = true;
    if (Model != null)
    {
        Model.AddressType = String.IsNullOrEmpty(Model.AddressType) ? WebStore_Resources.BillingAddressType : Model.AddressType;
    }
}
@model AddressViewModel
<div id="layout-account-editaddress" class="main-wrapper">

    <div class="container">
        <div class="user-account">
            
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 nopadding">
                    <div class="panel">
                        <div role="tab" id="DashboardOne">
                            <div class="panel-title mobile-padding-left-right">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h1 class="hidden-lg hidden-md">
                                        @if (Session["FirstName"] != null)
                                        {
                                            <span>@Html.ActionLink("Hi, " + Session["FirstName"].ToString() + "!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                        else
                                        {
                                            <span> @Html.ActionLink("Hi!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                            <nav class="account-container-menu">
                                @Html.Partial("_AccountMenu")
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 address-book edit-address right-container">
                    <form class="form" method="POST" action="" id="frmEditAddress_billing">
                        @Html.AntiForgeryToken()
                        @Html.Partial("_EditAddress", Model)
                        @if (Model != null && Model.AddressId > 0)
                        {
                            <div class="col-xs-12 margin-bottom nopadding mobile-padding-left-right">
                                <div class="pull-right mobile-width-100">
                                    <button type="button" data-url="/User/DeleteCurrentAddress" id="deleteCurrentAddress" onclick="User.prototype.DeleteCurrentAddress()" class="btn-text btn-bg-secondary btn-width-100" title="@WebStore_Resources.LinkTextDeleteAddress">@WebStore_Resources.LinkTextDeleteAddress</button>
                                    <input type="hidden" name="addressId" value="@Model.AddressId" />
                                    @if (Model.AccountAddressId > 0)
                                    {
                                        <input type="hidden" name="addressId" value="@Model.AccountAddressId" />
                                    }
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("_ModalPopUp", new ViewDataDictionary { { "modal-title", WebStore_Resources.LabelConfirmAddress } })
<script>
    $(document).ready(function () {
        $('#IsDefaultShipping').rules('remove');
        $('#IsDefaultBilling').rules('remove');
    })
</script>
