﻿@using Znode.Engine.WebStore.ViewModels
@model UserViewModel
@{


    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

}
<div class="main-wrapper">
    <div class="container">
        <div class="mobile-padding-left-right">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title" data-test-selector="hdgResetPassword">@WebStore_Resources.ButtonResetPassword.ToUpper()</h1>
            </div>
            <div class="col-xs-12 nopadding margin-bottom">
                <p>@WebStore_Resources.SubTextResetPassword</p>
            </div>
            <div class="col-xs-12 col-sm-6 nopadding">
                @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "", role = "form", @id = "frmForgotPassword" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label class="hidden" for="UserName">@WebStore_Resources.LabelUsername</label>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @data_test_selector = "txtUserName", @placeholder = @WebStore_Resources.LabelUsername, @title = @WebStore_Resources.LabelUsername })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @data_test_selector = "spnValidForUsername" })
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="pull-right">
                            <button type="submit" class="btn-text btn-bg-primary" data-test-selector="btnForgetSubmit" title="@WebStore_Resources.ButtonSubmitRequest">@WebStore_Resources.ButtonSubmitRequest</button>
                            <button type="button" class="btn-text btn-bg-secondary hidden" onclick="javascript: location.href = '/User/Login';" data-test-selector="btnForgetCancel">@WebStore_Resources.ButtonCancel</button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>