﻿@model Znode.Engine.WebStore.ViewModels.LoginViewModel
@{
    string rememberMeStatus = (!Equals(Model, null) && Model.RememberMe) ? "checked='checked'" : string.Empty;
    string _isDisplayGuestcheckout = Convert.ToString(Request.QueryString["returnUrl"])?.ToLower() == "~/checkout" ? "checkout-guest" : "checkout-new";
}
<div class="container container-small">
    <div class="col-xs-12 nopadding login-container">
        <div class="col-xs-12 nopadding">
            <div class="col-xs-12"><h1 data-test-selector="lblLoginHeading">@WebStore_Resources.TitleCustomerLogin</h1></div>
            <div class="col-xs-12 nopadding inner-container">
                <div class="col-xs-12 col-sm-6 col-md-6 login-modal mobil-nopadding">
                    <form method="POST" class="login-form form">
                        @Html.AntiForgeryToken()
                        <div class="col-xs-12 col-sm-12 col-md-12 paddingright70">
                            <h2>@WebStore_Resources.TextAlreadyHaveAccount</h2>
                            <div class="form-group margin-top">
                                <div class="col-xs-12 nopadding mobile-padding-left-right">
                                    <label class="hidden" for="login_username">@WebStore_Resources.ColumnUsername</label>
                                    @Html.TextBoxFor(model => model.Username, new { @id = "login_username", @data_test_selector = "txtUserName", @placeholder = @WebStore_Resources.ColumnUsername, @title = @WebStore_Resources.ColumnUsernameTitle })
                                    <p class="error-msg" data-test-selector="lblUserNameErrMsg">@Html.ValidationMessageFor(m => m.Username, "", new { @data_test_selector = "spnErrUsername" })</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 nopadding mobile-padding-left-right">
                                    <label class="hidden" for="login_password">@WebStore_Resources.ColumnPassword</label>
                                    @Html.PasswordFor(model => model.Password, new { @id = "login_password", @data_test_selector = "txtLoginPassword", @placeholder = @WebStore_Resources.ColumnPassword, @title = @WebStore_Resources.ColumnPasswordTitle })
                                    <p class="error-msg" data-test-selector="lblPasswordErrMsg">@Html.ValidationMessageFor(m => m.Password, "", new { @data_test_selector = "spnErrPassword" })</p>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding mobile-padding-left-right">
                                <div class="col-xs-12 col-sm-12 nopadding styled-input remember-me">
                                    <input @rememberMeStatus type="checkbox" value="true" name="RememberMe" id="RememberMe" data-val-required="The Remember Me field is required." data-val="true">
                                    <label data-test-selector="lblRememberMe" for="RememberMe" title="@WebStore_Resources.RememberMe">@WebStore_Resources.RememberMe</label>
                                    <input type="hidden" value="false" name="RememberMe">
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding mobile-padding-left-right">
                                <button data-test-selector="btnLoginButton" type="submit" class="btn-text btn-bg-secondary" onclick="User.prototype.AppendLoaderOnSubmit()" id="loginButton" title="@WebStore_Resources.ButtonLogin">@WebStore_Resources.ButtonLogin</button>
                            </div>
                            <div class="col-xs-12 margin-top-bottom nopadding mobile-padding-left-right">
                                <div class="col-xs-12 col-sm-12 nopadding">
                                    @if (ViewBag.CheckoutLogin != null)
                                    {
                                        @Html.Hidden("returnUrl", "~/Checkout")
                                    }
                                    <a data-test-selector="linkForgetPassword" href="/user/forgotpassword" class="login-form-forgotpassword" title="@WebStore_Resources.LinkTextForgetPassword">@WebStore_Resources.LinkTextForgetPassword</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-11 col-md-8 hidden">
                        @Html.Partial("_ExternalLoginsListPartial")
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 nopadding account-signup-container @_isDisplayGuestcheckout">
                    <div id="layout-account-login">
                        <div class="col-xs-12 col-sm-12 new-account paddingleft70">
                            <h3>@WebStore_Resources.TitleNewCustomer</h3>
                            <p class="margin-top-bottom mobile-padding-left-right">
                                @Html.RenderMessage("TextNewCustomer")
                            </p>
                            <div class="mobile-padding-left-right">
                                <a href="/User/Signup/@(!string.IsNullOrEmpty(Request.QueryString["returnUrl"]) ? "?returnUrl=" + Request.QueryString["returnUrl"] : "")" class="btn-text btn-bg-secondary account-signup-link margin-top" data-test-selector="btnGetAnAccount" title="@WebStore_Resources.LinkTextGetAnAccount"> @WebStore_Resources.LinkTextGetAnAccount</a>
                            </div>
                            
                        </div>
                        @if (!Convert.ToBoolean(new AuthenticationHelper().IsAuthorizationMandatory()))
                        {
                        <div class="col-xs-12 col-sm-12 checkout-guest-container paddingleft70">
                            <h3>@WebStore_Resources.LinkTextGuestCheckout</h3>
                            <p class="margin-top-bottom mobile-padding-left-right">@Html.RenderMessage(WebStoreConstants.CheckoutAsAGuestMessage)</p>
                            <div class="mobile-padding-left-right">
                                <a href="/Checkout?mode=guest" class="btn-text btn-bg-secondary checkout-login-asguest margin-top-30" data-test-selector="linkCheckoutGuest" title="@WebStore_Resources.LinkTextGuestCheckout">@WebStore_Resources.LinkTextGuestCheckout</a>
                            </div>
                            
                        </div>
                        }
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
