﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@using Microsoft.AspNet.Identity
@model OrdersViewModel
@{
    int shippingId = 0;
    int count = 1;
    string orderDate = Model != null ? @Model.OrderDate.ToDateTimeFormat() : string.Empty;
    string disableButton = Model.IsOrderEligibleForReturn ? "" : "disabled";
    string PickUpHtml = "";
}

<div id="layout-account-receipt" class="main-wrapper">
    <div class="container">
        <div class="user-account">
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 nopadding">
                    <div class="panel">
                        <div role="tab" id="DashboardOne">
                            <div class="panel-title mobile-padding-left-right">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h1 class="hidden-lg hidden-md">
                                        @if (Session["FirstName"] != null)
                                        {
                                            <span>@Html.ActionLink("Hi, " + Session["FirstName"].ToString() + "!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                        else
                                        {
                                            <span> @Html.ActionLink("Hi!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                            <nav class="account-container-menu">
                                @Html.Partial("_AccountMenu")
                            </nav>
                        </div>
                    </div>
                </div>

                @if (Model != null)
                {
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 order-receipt right-container">

                        <div class="col-xs-12 margin-top-bottom nopadding">
                            <div class="col-xs-12 col-sm-4 nopadding receipt-info">
                                <h3 class="section-header-color">@WebStore_Resources.TextDetails:</h3>
                                <div><strong>@WebStore_Resources.TitleDate:</strong> @Model.OrderDate.ToDateTimeFormat()</div>
                                <div><strong>@WebStore_Resources.TitleOrder:</strong> @Model.OrderNumber</div>
                                <div><strong>@WebStore_Resources.TitlePayment:</strong> @Model.PaymentDisplayName</div>
                                @if (HelperUtility.IsNotNull(Model.GiftCardNumber))
                                {
                                    <div><strong>@WebStore_Resources.LinkTextVouchers:</strong> @Html.RenderBlock(Model.GiftCardNumber?.Replace(ZnodeConstant.CouponCodeSeparator, ", "))</div>
                                }

                                @if (Model.PaymentType == ZnodeConstant.PurchaseOrder)
                                {<div><strong>@Admin_Resources.LabelPurchaseOrderNumber:</strong> @Model.PurchaseOrderNumber</div>}
                                <div><strong>@WebStore_Resources.TitleTracking:</strong> @Html.RenderBlock(Model.TrackingNumber)</div>
                                @if (HelperUtility.IsNotNull(Model.CouponCode))
                                {
                                    <div><strong>@WebStore_Resources.LabelCouponCode:</strong> @Html.RenderBlock(Model.CouponCode)</div>
                                }
                                @if (HelperUtility.IsNotNull(Model?.AccountNumber))
                                {
                                    <div class="p-0 pb-3"><strong>@WebStore_Resources.LabelAccountNumber:</strong> @Html.RenderBlock(Convert.ToString(Model?.AccountNumber))</div>
                                }
                                @if (HelperUtility.IsNotNull(Model?.ShippingMethod))
                                {
                                    <div class="p-0 pb-3"><strong>@WebStore_Resources.LabelShippingMethod:</strong> @Html.RenderBlock(Convert.ToString(Model?.ShippingMethod))</div>
                                }
                            </div>
                            <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                                <h3 class="section-header-color">&nbsp;</h3>
                            </div>
                            <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                                <h3 class="section-header-color">@WebStore_Resources.TitleBillingTo</h3>
                                @Html.RenderBlock(Model.BillingAddressHtml)
                            </div>
                        </div>

                        @if (Model?.OrderLineItems?.Where(x => !string.Equals(x.OrderLineItemState, ZnodeOrderStatusEnum.RETURNED.ToString(), StringComparison.InvariantCultureIgnoreCase))?.Count() > 0)
                        {
                            <div class="col-xs-12 margin-top-bottom nopadding receipt-item-list shopping-cart">
                                <div class="table-responsive">
                                    <table class="table table-tr">

                                        @foreach (var items in Model?.OrderLineItems?.AsEnumerable().Reverse() ?? new List<OrderLineItemViewModel>())
                                        {
                                            if (!string.Equals(items.OrderLineItemState, ZnodeOrderStatusEnum.RETURNED.ToString(), StringComparison.InvariantCultureIgnoreCase))
                                            {
                                                bool headerFlag = false;
                                                if (!Equals(shippingId, items.OmsOrderShipmentId))
                                                {
                                                    //PICKUP SECTION
                                                    if (items.Custom4 == "PICKUP")
                                                    {
                                                        <tr class="shipment-address">
                                                            <td colspan="9">
                                                                <div class="col-xs-12 nopadding margin-top-bottom recepit-container">
                                                                    <div class="user-receipt">
                                                                        <h3>Pick Up Details</h3>
                                                                        <div class="col-md-8">

                                                                            @if (Model.Custom1 != null)
                                                                            {
                                                                                PickUpHtml = "<b>Store: </b>" + items.Custom2 + "<br /><b>Address: </b>" + items.Custom3 + "<br /><b>Pick Up By: </b>" + Model.Custom1 + "<br /><b>Phone Number:</b> " + Model.Custom3 + "<br /><b>Email:</b> " + Model.Custom2;

                                                                            }
                                                                            else
                                                                            {
                                                                                //"Site Admin<br /><br />527 Pleasant Hill Road Lot B<br />Jena<br />LA<br />71342<br />US<br />Phone Number : 1234567890<br />Email * : admin@znode.com"
                                                                                string St = items.ShippingAddressHtml;

                                                                                int nameEnd = St.IndexOf("<");
                                                                                string name = St.Substring(0, nameEnd);

                                                                                int emailStart = St.IndexOf("Email * :") + "Email * :".Length;
                                                                                string email = St.Split(' ').Last();
                                                                                //string email= St.Substring(emailStart, St.Length);

                                                                                int pFrom = St.IndexOf("Number :") + "Number :".Length;
                                                                                int pTo = St.LastIndexOf("<");
                                                                                string phoneNumber = St.Substring(pFrom, pTo - pFrom);

                                                                                PickUpHtml = "<b>Store: </b>" + items.Custom2 + "<br /><b>Address: </b>" + items.Custom3 + "<br /><b>Pick Up By: </b>" + name + "<br /><b>Phone Number:</b>"+ phoneNumber + " <br /><b>Email:</b> " + email;
                                                                            }
                                                                            @Html.RenderBlock(PickUpHtml)
                                                                        </div>
                                                                        <div class="col-md-4 nopadding">
                                                                            <div class="p-0 pb-3"><strong>@WebStore_Resources.InHandsDate:</strong> @(Model.InHandDate.HasValue ? Model.InHandDate.Value.ToDateTimeFormat() : string.Empty)</div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr class="shipment-address">
                                                            <td colspan="9">
                                                                <div class="col-xs-12 nopadding margin-top-bottom recepit-container">
                                                                    <div class="user-receipt">
                                                                        <h3>@WebStore_Resources.TitleShippingTo</h3>
                                                                        <div class="col-md-8">
                                                                            @Html.RenderBlock(items.ShippingAddressHtml)
                                                                        </div>
                                                                        <div class="col-md-4 nopadding">
                                                                            <div class="p-0 pb-3"><strong>@WebStore_Resources.InHandsDate:</strong> @(Model.InHandDate.HasValue ? Model.InHandDate.Value.ToDateTimeFormat() : string.Empty)</div>
                                                                            <div class="p-0 pb-3"><strong>@WebStore_Resources.LabelShippingConstraintsCode:</strong> @(string.IsNullOrWhiteSpace(Model.ShippingConstraintCode) ? string.Empty : HelperUtility.GetEnumDescriptionValue((ShippingConstraintsEnum)Enum.Parse(typeof(ShippingConstraintsEnum), Model.ShippingConstraintCode)))</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }


                                                    shippingId = items.OmsOrderShipmentId;
                                                    count++;
                                                    headerFlag = true;
                                                }
                                                if (headerFlag)
                                                {

                                                    <tr class="table-heading" style="border-bottom:1px solid #c3c3c3;">
                                                        <th class="table-td receipt-column-item">@WebStore_Resources.ColumnTitleItem</th>
                                                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelDescription</th>
                                                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelStatus</th>
                                                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelTrackingNumber</th>
                                                        <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                                        <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                                        <th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>
                                                        <th class="table-td receipt-column-action"></th>
                                                    </tr>
                                                }

                                                <tr class="receipt-item table-tr">
                                                    <td class="table-td receipt-column-item">
                                                        @Html.RenderBlock(items.ProductName)
                                                        @if (!string.IsNullOrEmpty(items.DownloadableProductKey))
                                                        {
                                                            List<string> keys = items.DownloadableProductKey.Split(',').ToList();
                                                            <h5 style="color:red">Product Keys</h5>
                                                            foreach (string item in keys)
                                                            {
                                                                <div>@Html.RenderBlock(item)</div>
                                                            }
                                                        }
                                                        <br />
                                                        <div class="cart-item-description">
                                                            @if (items?.PersonaliseValuesDetail?.Count > 0)
                                                            {
                                                                foreach (var item in items?.PersonaliseValuesDetail)
                                                                {
                                                                    if (!Equals(item.PersonalizeValue, null) && !Equals(item.PersonalizeValue, string.Empty))
                                                                    {
                                                                        <p>
                                                                            @item.PersonalizeName: @item.PersonalizeValue
                                                                        </p>
                                                                    }

                                                                }
                                                            }
                                                        </div>

                                                    </td>
                                                    <td class="table-td">
                                                        <div>@Html.RenderBlock(@items.Description)</div>
                                                    </td>
                                                    <td class="table-td">
                                                        <div>@items.OrderLineItemState</div>
                                                    </td>
                                                    <td class="table-td">
                                                        <div>@Html.RenderBlock(items.TrackingNumber)</div>
                                                    </td>
                                                    <td class="table-td receipt-column-quantity">
                                                        @if ((items.Quantity) % 1 == 0)
                                                        {
                                                            @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                                        }
                                                        else
                                                        {
                                                            var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                            @orderedQuantity
                                                        }
                                                    </td>
                                                    <td class="table-td receipt-column-price">
                                                        @Helper.FormatPriceWithCurrency(items.Price, Model.CultureCode, items.UOM)
                                                    </td>
                                                    <td class="table-td receipt-column-total">
                                                        @Helper.FormatPriceWithCurrency(items.Quantity * items.Price, Model.CultureCode)
                                                    </td>

                                                    <td class="table-td receipt-column-action">
                                                        @if (items.OrderLineItemRelationshipTypeId != Convert.ToInt32(ZnodeCartItemRelationshipTypeEnum.AddOns))
                                                        {
                                                            <a href="/user/ReorderOrderLineItem/@items.OmsOrderLineItemsId" class="print-none">@WebStore_Resources.TextReorder</a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                                @Html.Partial("_ReceiptCalculation", Model)
                            </div>
                        }
                        <div class="col-xs-12 margin-top-bottom nopadding return-item-list shopping-cart">
                            @if (Model?.ReturnItemList?.ReturnItemList?.Count > 0)
                            {
                                <h3>@WebStore_Resources.LabelReturnItemList</h3>
                                <div class="table-responsive">
                                    <table class="table table-tr">
                                        <tr class="table-heading" style="border-bottom:1px solid #c3c3c3;">
                                            <th class="table-td receipt-column-item">@WebStore_Resources.TitleReturnNumber</th>
                                            <th class="table-td receipt-column-item">Product SKU</th>
                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelProductName</th>
                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelStatus</th>
                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelReason</th>
                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelTrackingNumber</th>
                                            <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                            <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                            <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTax</th>
                                            <th class="table-td receipt-column-price">@WebStore_Resources.ColumnShipping</th>
                                            <th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>
                                        </tr>

                                        @foreach (var items in Model?.ReturnItemList?.ReturnItemList)
                                        {
                                            <tr>
                                                <td>
                                                    <span><a href="/RMAReturn/GetReturnDetails?ReturnNumber=@items.ReturnNumber" target="_blank">@items.ReturnNumber</a></span>
                                                </td>
                                                @if (items?.GroupProducts?.Count > 0)
                                                {
                                                    string mainProductName = items.ProductName;
                                                    foreach (var product in items.GroupProducts)
                                                    {
                                                        <td>
                                                            @product.Sku
                                                        </td>
                                                        <td>
                                                            <div class="">@Html.RenderBlock(mainProductName)</div>
                                                            <div>@Html.DisplayTextFor(model => product.ProductName)</div>
                                                            <div class="cart-item-description">@Html.RenderBlock(items.CartDescription)</div>
                                                        </td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(items.RmaReturnLineItemStatus))
                                                            {
                                                                @items.RmaReturnLineItemStatus
                                                            }
                                                            else
                                                            {
                                                                @items.OrderLineItemStatus
                                                            }
                                                        </td>
                                                        <td>
                                                            @items.ReasonForReturn
                                                        </td>
                                                        <td>
                                                            @items.TrackingNumber
                                                        </td>
                                                        <td class="table-td receipt-column-quantity">
                                                            @if ((items.Quantity) % 1 == 0)
                                                            {
                                                                @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                                            }
                                                            else
                                                            {
                                                                var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                                @orderedQuantity
                                                            }
                                                        </td>
                                                        <td class="table-td receipt-column-price">
                                                            @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CultureCode, items.UOM)
                                                        </td>
                                                        <td class="table-td receipt-column-price">
                                                            @Helper.FormatPriceWithCurrency(items.TaxCost, Model.CultureCode)
                                                        </td>
                                                        <td class="table-td receipt-column-price">
                                                            @Helper.FormatPriceWithCurrency((items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                        </td>
                                                        <td class="table-td receipt-column-total">
                                                            @Helper.FormatPriceWithCurrency(items.ExtendedPrice + items.TaxCost - items.DiscountAmount + (items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(items?.ConfigurableProductSKUs))
                                                        {
                                                            <span>@items.ConfigurableProductSKUs</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@items.SKU</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        <span>@Html.RenderBlock(items.ProductName)</span>
                                                        <div class="cart-item-description">
                                                            @if (items?.PersonaliseValuesList?.Count > 0)
                                                            {
                                                                foreach (var item in items.PersonaliseValuesList)
                                                                {
                                                                    if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                                                                    {
                                                                        <p> @item.Key : @item.Value </p>
                                                                    }
                                                                }
                                                            }
                                                        </div>
                                                        @Html.RenderBlock(items.CartDescription)
                                                    </td>
                                                    <td>
                                                        <span>
                                                            @if (!string.IsNullOrEmpty(items.RmaReturnLineItemStatus))
                                                            {
                                                                @items.RmaReturnLineItemStatus
                                                            }
                                                            else
                                                            {
                                                                @items.OrderLineItemStatus
                                                            }
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span>@items.ReasonForReturn</span>
                                                    </td>
                                                    <td>
                                                        <span>@items.TrackingNumber</span>
                                                    </td>
                                                    <td class="table-td receipt-column-quantity">
                                                        @if ((items.Quantity) % 1 == 0)
                                                        {
                                                            @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                                        }
                                                        else
                                                        {
                                                            var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                            @orderedQuantity
                                                        }
                                                    </td>
                                                    <td class="table-td receipt-column-price">
                                                        @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CultureCode, items.UOM)
                                                    </td>
                                                    <td class="table-td receipt-column-price">
                                                        @Helper.FormatPriceWithCurrency(items.TaxCost, Model.CultureCode)
                                                    </td>
                                                    <td class="table-td receipt-column-price">
                                                        @Helper.FormatPriceWithCurrency((items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                    </td>
                                                    <td class="table-td receipt-column-total">
                                                        @Helper.FormatPriceWithCurrency(items.ExtendedPrice + items.TaxCost - items.DiscountAmount + (items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <p class="text-center">@WebStore_Resources.NoResult</p>
                }
            </div>
        </div>
    </div>
</div>
