﻿@using Znode.Engine.WebStore.ViewModels
@using Microsoft.AspNet.Identity
@model UserViewModel

<div id="layout-account-orderhistory" class="main-wrapper">
    <div class="container">
        <div class="user-account">
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 nopadding">
                    <div class="panel">
                        <div role="tab" id="DashboardOne">
                            <div class="panel-title mobile-padding-left-right">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h1 class="hidden-lg hidden-md">
                                        @if (Session["FirstName"] != null)
                                        {
                                            <span>@Html.ActionLink("Hi, " + Session["FirstName"].ToString() + "!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                        else
                                        {
                                            <span> @Html.ActionLink("Hi!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                            <nav class="account-container-menu">
                                @Html.Partial("_AccountMenu")
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 order-history right-container">
                    <h3 class="section-header" data-test-selector="hdgTextOrderHistory">@string.Format(WebStore_Resources.TextOrderHistory, Model.OrderList.Count)</h3>
                    <p data-test-selector="hdgSubTextOrderHistory">
                        @WebStore_Resources.SubTextOrderHistory
                    </p>
                    @Html.Partial("_OrderHistory", Model.OrderList)
                </div>
            </div>
        </div>
    </div>
</div>