﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Models
@using Microsoft.AspNet.Identity
@model OrdersListViewModel

<div id=@Model.GridModel.FrontObjectName>
    <div id="layout-account-orderhistory" class="main-wrapper">
        <div class="container">
            <div class="user-account">
                <div class="col-xs-12 account-dashboard nopadding">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 nopadding">
                        <div class="panel">
                            <div role="tab" id="DashboardOne">
                                <div class="panel-title mobile-padding-left-right">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <h1 class="hidden-lg hidden-md">
                                            @if (Session["FirstName"] != null)
                                            {
                                                <span>@Html.ActionLink("Hi, " + Session["FirstName"].ToString() + "!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                            }
                                            else
                                            {
                                                <span> @Html.ActionLink("Hi!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                            }
                                        </h1>
                                    </a>
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                                <nav class="account-container-menu">
                                    @Html.Partial("_AccountMenu")
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 order-history right-container">
                        <div class="col-xs-12 nopadding">
                            <div class="col-xs-12 product-search nopadding">
                                <h3 class="section-header">@WebStore_Resources.LabelOrderList</h3>
                                <div class="col-xs-12 filter-component order-history-component">
                                    @using (Ajax.BeginForm("History", "User", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                    {
                                        <div id="filterComponent">
                                            @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                        </div>
                                    }
                                    @using (Html.BeginForm("DownloadPDF", "User", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" id="orderIds" name="orderIds" />
                                        <div id="divInvoice" class="hidden">
                                            <button type="submit" id="btnGenerateInvoice" onclick="return User.prototype.GenerateInvoice();" class="btn-text btn-bg-primary" @((Model.List.Count > 0) ? "" : "disabled")>@WebStore_Resources.ButtonGenerateInvoice</button>
                                        </div>
                                    }
                                </div>

                                <div class="col-xs-12 list-container margin-top nopadding">
                                    <div class="col-xs-12 nopadding">
                                        @Html.Partial("_DynamicGrid", Model.GridModel)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".zf-manage").attr('title', "Reorder");
    $(".zf-manage").attr('class', "zf-cart");
    $(window).on("load", function () {
        $(".zf-return").each(function () { $(this).hide(); });
        User.prototype.HideGridColumnForPODocument();
    });
</script>