﻿@using Znode.Engine.WebStore.ViewModels
@using Microsoft.AspNet.Identity
@model  List<ProductReviewViewModel>
<div id="layout-account-reviewhistory" class="main-wrapper">

    <div class="container">
        <div class="user-account">
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 nopadding">
                    <div class="panel">
                        <div role="tab" id="DashboardOne">
                            <div class="panel-title mobile-padding-left-right">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h1 class="hidden-lg hidden-md">
                                        @if (Session["FirstName"] != null)
                                        {
                                            <span>@Html.ActionLink("Hi, " + Session["FirstName"].ToString() + "!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                        else
                                        {
                                            <span> @Html.ActionLink("Hi!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                            <nav class="account-container-menu">
                                @Html.Partial("_AccountMenu")
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 review-history right-container">

                    <h3 class="section-header">@string.Format(WebStore_Resources.SubTextReviewProducts, (Model?.Count > 0 ? Model.Count : 0))</h3>

                    @if (Model?.Count > 0)
                    {
                        <p>
                            @WebStore_Resources.SubTextReviewHistory
                        </p>
                        <ul class="review-item">
                            @foreach (var item in Model)
                            {

                                <li class="review-item-detail">
                                    <a href="@Url.GetProductUrl(item.SEOUrl, item.PublishProductId.ToString())" class="review-item-title underline">
                                        @WebUtility.HtmlDecode(item.ProductName)
                                    </a>
                                    @Html.Partial("../Product/_ReviewRow", item)
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <div class="col-xs-12 nopadding">
                            <p class="text-center">@WebStore_Resources.ErrorNoReviewsFound</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
