﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Microsoft.AspNet.Identity
@using System.Configuration
@model WishListListViewModel

<div id="layout-account-wishlist" class="main-wrapper">
    <div class="container">
        <div class="user-account">
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 nopadding">
                    <div class="panel">
                        <div role="tab" id="DashboardOne">
                            <div class="panel-title mobile-padding-left-right">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h1 class="hidden-lg hidden-md">
                                        @if (Session["FirstName"] != null)
                                        {
                                            <span>@Html.ActionLink("Hi, " + Session["FirstName"].ToString() + "!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                        else
                                        {
                                            <span> @Html.ActionLink("Hi!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" }) </span>
                                        }
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                            <nav class="account-container-menu">
                                @Html.Partial("_AccountMenu")
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 wishlist-container right-container">
                    <h3 class="section-header">
                        @Html.RenderBlock(string.Format(WebStore_Resources.SubTextWishlistCount, (!Equals(Model.WishList, null) ? Model.WishList.Count : 0)))
                    </h3>
                    @if (!Equals(Model.WishList, null))
                    {
                        <p id="subTextWishList" class="margin-bottom">
                            @WebStore_Resources.SubTextWishList
                        </p>
                        <div class="col-xs-12  nopadding table-responsive">
                            <table class="table">
                                <tbody>
                                    @foreach (var item in Model.WishList)
                                    {
                                        string UOM = Attributes.ValueFromSelectValue(item?.Product?.Attributes, "UOM");
                                        if (item.Product != null)
                                        {
                                            string productType = item.Product?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
                                            string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
                                            bool CallForPricing = Convert.ToBoolean(item.Product.Attributes?.Value(ZnodeConstant.CallForPricing));
                                            ProductPromotionViewModel promotionCallForPricing = item.Product?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
                                            if (HelperUtility.IsNotNull(promotionCallForPricing))
                                            {
                                                CallForPricing = true;
                                                callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
                                            }

                                            string disable = CallForPricing || !item.Product.ShowAddToCart ? "disabled" : "";
                                            <tr class="wishlist-item">
                                                <td class="wishlist-item-detail">
                                                    @if (Convert.ToBoolean(item.Product?.Attributes?.Value("IsActive")))
                                                    {
                                                        <a href="@Url.GetProductUrl(item.Product.SEOUrl, item.Product.PublishProductId.ToString())">
                                                            <div class="col-xs-4 col-sm-2 wishlist-item-image">
                                                                @{
                                                                    //string imageSrc = string.IsNullOrEmpty(item.Product.ImageSmallPath) ? "/no-image.png" : item.Product.ImageSmallPath;
                                                                    /*Nivi code start for image change*/
                                                                    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
                                                                    //string imageSrc = string.IsNullOrEmpty(item.Product.ImageSmallPath) ? "/no-image.png" : item.Product.ImageSmallPath;

                                                                    string BaseImage = "";
                                                                    if (!string.IsNullOrEmpty(Convert.ToString(item.Product.Attributes?.Value("BaseGalleryImage2"))))
                                                                    {
                                                                        BaseImage = BaseImagePath + @"t_460/" + Convert.ToString(item.Product.Attributes?.Value("BaseGalleryImage2"));
                                                                    }
                                                                    else if (!string.IsNullOrEmpty(Convert.ToString(item.Product.Attributes?.Value("BaseImage"))))
                                                                    {
                                                                        BaseImage = BaseImagePath + @"t_460/" + Convert.ToString(item.Product.Attributes?.Value("BaseImage"));
                                                                    }
                                                                    /*Nivi code end for image change*/
                                                                }
                                                                <img id="@item.Product.PublishProductId" src="@BaseImage" class="img-responsive" data-src="@BaseImage" alt="Product" data-test-selector="imgSmallPath" />
                                                            </div>

                                                            <div class="col-xs-12 col-sm-10 nopadding">
                                                                <div class="wishlist-item-title" data-test-selector="divProductName">@WebUtility.HtmlDecode(@item.Product.Name)</div>
                                                                <div class="wishlist-item-date">@WebStore_Resources.ColumnTextAdded @item.WishListAddedDate.ToDateTimeFormat()</div>
                                                            </div>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="/ErrorPage/PageNotFound">
                                                            <div class="col-xs-2 wishlist-item-image">
                                                                @{
                                                                    string imageSrc = string.IsNullOrEmpty(item.Product.ImageSmallPath) ? "/no-image.png" : item.Product.ImageSmallPath;
                                                                }
                                                                <img id="@item.Product.PublishProductId" src="@imageSrc" class="img-responsive" data-src="@imageSrc" alt="Product" data-test-selector="imgSmallPath" />
                                                            </div>

                                                            <div class="col-xs-10 nopadding">
                                                                <div class="wishlist-item-title" data-test-selector="divProductName">@WebUtility.HtmlDecode(@item.Product.Name)</div>
                                                                <div class="wishlist-item-date">@WebStore_Resources.ColumnTextAdded @item.WishListAddedDate.ToDateTimeFormat()</div>
                                                            </div>
                                                        </a>
                                                    }

                                                </td>
                                                <td class="wishlist-item-price">
                                                    @if (CallForPricing)
                                                    {
                                                        <label data-test-selector="lblcallForPricingMessage">@callForPricingMessage</label>
                                                    }
                                                    else if ((!Equals(item.Product.ProductType, ZnodeConstant.GroupedProduct)) && !Equals(item.Product.ProductType, ZnodeConstant.ConfigurableProduct) && HelperUtility.IsNull(item.Product.ProductPrice))
                                                    {
                                                        <label data-test-selector="lblErrorPriceNotAssociate">@WebStore_Resources.ErrorPriceNotAssociate</label>
                                                    }

                                                    else
                                                    {
                                                        if (!Equals(item.Product.ProductType, ZnodeConstant.GroupedProduct))
                                                        {
                                                            if (HelperUtility.IsNotNull(item.Product.ProductPrice))
                                                            {
                                                                <label data-test-selector="lblProductPrice">@Helper.FormatPriceWithCurrency(item.Product.ProductPrice, item.Product.CultureCode, UOM)</label>
                                                                if (item.Product.ProductPrice != item.Product.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                                                {
                                                                    <span class="cut-price hidden">
                                                                        @Helper.FormatPriceWithCurrency(item.Product.RetailPrice, item.Product.CultureCode, UOM)
                                                                    </span>
                                                                }
                                                            }
                                                            else if (HelperUtility.IsNotNull(item.Product.SalesPrice))
                                                            {
                                                                <label data-test-selector="lblSalesPrice">@Helper.FormatPriceWithCurrency(item.Product.SalesPrice, item.Product.CultureCode, UOM)</label>
                                                                if (item.Product.SalesPrice != item.Product.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                                                {
                                                                    <span class="cut-price hidden">
                                                                        @Helper.FormatPriceWithCurrency(item.Product.RetailPrice, item.Product.CultureCode, UOM)
                                                                    </span>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (item.Product.PromotionalPrice > 0)
                                                                {
                                                                    @Helper.FormatPriceWithCurrency(item.Product.PromotionalPrice, item.Product.CultureCode, UOM)
                                                                    <span class="cut-price hidden">
                                                                        @Helper.FormatPriceWithCurrency(item.Product.RetailPrice, item.Product.CultureCode, UOM)
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span>
                                                                        @Helper.FormatPriceWithCurrency(item.Product.RetailPrice, item.Product.CultureCode, UOM)
                                                                    </span>
                                                                }
                                                            }
                                                        }
                                                    }
                                                </td>
                                                <td class="wishlist-item-tocart">
                                                    @if (Equals(productType, ZnodeConstant.GroupedProduct) || Equals(productType, ZnodeConstant.ConfigurableProduct) && Convert.ToBoolean(item.Product?.Attributes?.Value("IsActive")))
                                                    {
                                                        <a onclick="javascript: location.href = '@Url.GetProductUrl(item.Product.SEOUrl, item.Product.PublishProductId.ToString())'" id="Model.PublishProductId">@WebStore_Resources.ButtonViewDetails</a>
                                                    }
                                                    else if (item.Product.Attributes.Where(x => x.IsPersonalizable == true).Any())
                                                    {
                                                        <a onclick="javascript: location.href = '@Url.GetProductUrl(item.Product.SEOUrl, item.Product.PublishProductId.ToString())'" id="Model.PublishProductId">@WebStore_Resources.ButtonViewDetails</a>
                                                    }
                                                    else if (CallForPricing || Convert.ToBoolean(item.Product.Attributes.Value(ZnodeConstant.IsObsolete)) || !item.Product.ShowAddToCart)
                                                    {
                                                        @Html.AddToCartLink(@WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", item.Product.CartParameter, "btn-card btn-bg-primary", "Product.prototype.GetProductOutOfStockDetails(this, event)", "disabled")
                                                    }
                                                    else if (Convert.ToBoolean(item.Product?.Attributes?.Value("IsActive")))
                                                    {
                                                        @Html.AddToCartLink(@WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", item.Product.CartParameter, "btn-card btn-bg-primary", "Product.prototype.GetProductOutOfStockDetails(this, event)", "")
                                                    }

                                                    else
                                                    {
                                                        @Html.AddToCartLink(@WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", item.Product.CartParameter, "btn-card btn-bg-primary", "Product.prototype.GetProductOutOfStockDetails(this, event)", "disabled")
                                                    }
                                                    <span id="wishlist-error-msg"></span>
                                                </td>

                                                <td class="wishlist-item-remove">
                                                    <a href="#" data-id="@item.UserWishListId" title="@WebStore_Resources.LinkTextRemove" data-test-selector="linkTextRemove"><i class="zf-close"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    <p id="noWishList" @(!Equals(Model.WishList, null) ? "style=display:none" : "") class="text-center">
                        @WebStore_Resources.ErrorNoWishlist
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>