﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryViewModel
@{ 
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<li>
    <article class="product-item">
        <div class="view-item category-item">
            <div class="category-img">
                <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails.SEOUrl, null, Model.CategoryId)" title="@WebUtility.HtmlDecode(Model.CategoryName)">
                    <div class="image">
                        <img id="@Model.CategoryId" src="@Model.ImageMediumPath" class="img-responsive" data-src="@Model.ImageMediumPath" alt="@WebUtility.HtmlDecode(Model.CategoryName)"/>
                    </div>
                </a>
            </div>

            <div class="col-lg-12 col-xs-12 margin-top-30 margin-bottom text-center">
                <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails.SEOUrl, null,Model.CategoryId)" title="@WebUtility.HtmlDecode(Model.CategoryName)" class="Btn-link">@WebUtility.HtmlDecode(Model.CategoryName)</a>
            </div>
        </div>
    </article>
</li>
