﻿@using Znode.Engine.WebStore.ViewModels
@using System.Configuration
@model CategoryHeaderListViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    string BaseImagePath = ConfigurationManager.AppSettings["CategoryImagePath"].ToString();
    string apiURL = ConfigurationManager.AppSettings["ZnodeApiRootUri"].ToString();
}

<ul class="nav navbar-nav" style="height:20px;">
    @{
        foreach (var category in Model.Categories)
        {
            //if (category.CategoryName == "Shop by Brand") { continue; }
            var bannerImage = apiURL + BaseImagePath + category.Attributes.FirstOrDefault(x => x.AttributeCode == "CategoryImage")?.AttributeValues;
            string visibleInNav = category.Attributes.FirstOrDefault(w => w.AttributeCode == "IsUsedInNavigation")?.AttributeValues;
            if (visibleInNav == "true" || visibleInNav == "1")
            {
                string catname = category.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;

                <li class="dropdown yamm-fw">
                    <a href="@domainurl@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" data-test-selector="linkCategoryItem" title="@Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))">@Html.RenderBlock(WebUtility.HtmlDecode(catname))</a>
                    @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
                    {
                        <div class="dropdown-menu list-unstyled fadeInUp animated">
                            <div class="col-lg-12 nopadding">
                                <div class="col-lg-1 nopadding hidden-md hidden-xs">
                                    <div class="rotate"><span>@Html.RenderBlock(WebUtility.HtmlDecode(catname))</span></div>
                                </div>
                                <div class="col-lg-8">
                                    <ul class="margin-top-30 set-4">
                                        @foreach (var subCategory in category.SubCategoryItems)
                                        {
                                            string subcatname = subCategory.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
                                            <li>

                                                <a href="@domainurl@Url.GetCategoryUrl(subCategory.SEOPageName, null, subCategory.CategoryId)" data-test-selector="linkSubCategoryItemList" title="@WebUtility.HtmlDecode(subCategory.CategoryName)">@WebUtility.HtmlDecode(subcatname)</a>
                                                @if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
                                                {
                                                    <ul class="sub-menu-child">
                                                        @Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)
                                                    </ul>
                                                }
                                            </li>
                                        }
                                        @*<li><a href="@domainurl@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" data-test-selector="linkCategoryItem" title="View All @Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))">View All @Html.RenderBlock(WebUtility.HtmlDecode(catname))</a></li>*@
                                    </ul>
                                </div>
                                <div class="col-lg-3 hidden-md hidden-xs">
                                    <div class="pull-right margin-top-30"><a href="@domainurl@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" title="Sale"><img src=@bannerImage alt="Sale" class="img-responsive" /></a></div>
                                </div>
                            </div>
                        </div>
                    }
                </li>
            }
        }
    }
</ul>
<script>$('[itemtype = "https://schema.org/SiteNavigationElement"] a').attr("itemprop", "url");</script>
