﻿@using Znode.Engine.WebStore.ViewModels;
@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities;
@model  CategoryViewModel
@{
    var _rq = Request.QueryString;
    string pageSize = !string.IsNullOrEmpty(Convert.ToString(Request.QueryString[WebStoreConstants.PageSize])) ? Request.QueryString[WebStoreConstants.PageSize] : !string.IsNullOrEmpty(Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue))) ? Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue)) : null;

    Dictionary<string, object> searchProperties = new Dictionary<string, object>();

    searchProperties.Add(WebStoreConstants.PageSize, pageSize);
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div id="layout-category" data-category="@Model.CategoryName" data-categoryId="@Model.CategoryId" class="main-wrapper">

    <!-- Breadcrumb -->
    <div class="col-lg-12 col-xs-12">
        <h1 data-test-selector="lblCategoryName">Browse @Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>
    </div>
    @*<div id="breadCrumb" class="breadcrumb-container" data-test-selector="lblBreadcrumb">
        @if (!string.IsNullOrEmpty(Model.BreadCrumbHtml))
        {
            @Html.RenderBlock(Model.BreadCrumbHtml)
        }
    </div>*@
    <div class="container-fluid">
        <div class="PLP-Container">
            <aside class="col-xs-12 col-sm-2 side-bar">
               @{Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);}
                <div class="col-xs-12 nopadding">
                    <div id="compareProductList">
                    </div>
                </div>
            </aside>
            <div class="col-xs-12 col-sm-10 category-landing-container">
                <z-widget>@Html.WidgetPartial("CategoryGrid", "CategoryList", "123", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Model.CategoryId)</z-widget>
                <div class="col-xs-12 nopadding brand-banner">
                    <p>@Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))</p>
                </div>
                @{Html.RenderPartial("_ProductGrid", Model.ProductListViewModel);}
            </div>
            @if (Convert.ToInt32(searchProperties[WebStoreConstants.PageSize]) != -1 && (Convert.ToInt32(TempData[WebStoreConstants.ProductCount]) > 0))
          {
            if (!Helper.InfinityLoading && (Convert.ToInt32(TempData[WebStoreConstants.TotalProductCount]) > Convert.ToInt32(searchProperties[WebStoreConstants.PageSize])))
            {
        <div class="col-xs-12 nopadding">
            <div class="category-more text-center margin-top-bottom">
                <a href="@domainurl@Url.Action("Index","Category", new { category = Model.CategoryName, categoryId = Model.CategoryId, viewAll = true })" class="btn-text btn-bg-primary">
                    @*@WebStore_Resources.LabelViewAll @Html.RenderBlock(Model.CategoryName)*@
                    View All
                </a>
            </div>
        </div>
            }
        }
            
        </div>
    </div>
    <input type="hidden" value="@Model.CategoryId" id="categoryId" />
    <input type="hidden" value="0" id="parentCategoryId" />
</div> 