﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@using System.Web.Configuration;
@using Znode.Engine.WebStore.Agents;
@using System.Configuration
@model ProductViewModel
@{
    /*For Color Code*/
    string colorlist = "";
    if (Convert.ToString(Model.Attributes?.Value("Color")) != null)
    {
        List<AttributesViewModel> lst = Model.ConfigurableData.ConfigurableAttributes.Where(x => x.AttributeCode == "Color")?.ToList();
        colorlist = string.Join(",", lst.FirstOrDefault().ConfigurableAttribute.Select(y => y.AttributeValue));
    }
    /*For Size*/
    string sizelist = "";
    if (Convert.ToString(Model.Attributes?.Value("Size")) != null)
    {
        List<AttributesViewModel> lst = Model.ConfigurableData.ConfigurableAttributes.Where(x => x.AttributeCode == "Size")?.ToList();
        sizelist = string.Join(",", lst.FirstOrDefault().ConfigurableAttribute.Select(y => y.AttributeValue));
    }
    /*For Width*/
    string widthlist = "";
    if (Convert.ToString(Model.Attributes?.Value("ShoeWidth")) != null)
    {
        List<AttributesViewModel> lst = Model.ConfigurableData.ConfigurableAttributes.Where(x => x.AttributeCode == "ShoeWidth")?.ToList();
        widthlist = string.Join(",", lst.FirstOrDefault().ConfigurableAttribute.Select(y => y.AttributeValue));
    }
    var _portal = PortalAgent.CurrentPortal;
    var brand = Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand);
    string sch_name = Model?.Name;
    string sch_image = Model?.OriginalImagepath;
    string sch_url = WebConfigurationManager.AppSettings["ZnodeWebStoreUri"] + "/" + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString());
    string sch_desc = Model?.SEODescription;
    string SKU = Model.SKU;
    SKU = SKU.Substring(3, SKU.Length - 3);
    ////Image Changes
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string BaseImageAtt = Convert.ToString(Model.Attributes?.Value("BaseImage"));
    string BaseImage = "";
    if (BaseImageAtt != null)
    {
        BaseImage = BaseImagePath + @"t_1000/" + BaseImageAtt;
    }
    string @sch_currencycode = Model?.CurrencyCode;
    string sch_price = Convert.ToString(Model?.ProductPrice);

    var PDPVideoURL = Model.Attributes?.Value("VideoURL");
    var rotating360VideoUrl = Model.Attributes?.Value("videourl360");


}
@{Boolean IsProductRated = false;
    if (Convert.ToDecimal(@Model.Rating) > 0)
    {
        IsProductRated = true;

    }

}


<!--Add code by Nivi team for videos-->
@if (PDPVideoURL != null || rotating360VideoUrl != null)
{
    if (PDPVideoURL != null)
    {
        <!--Video URL-->
        <script type="application/ld+json">
            {
            "@@context": "https://schema.org",
            "@@type": "VideoObject",
            "name": "@sch_name",
            "description": "Video Description",
            "thumbnailUrl": [
            "https://stage921.rogansshoes.com/Views/Themes/RoganShoesNew/Images/PDPVideo.png"
            ],
            "uploadDate": "2020-05-30T08:00:00+08:00",
            "duration": "PT1M54S",
            "contentUrl": "@PDPVideoURL",
            "embedUrl": "https://www.youtube.com/embed/",
            "interactionStatistic": {
            "@@type": "InteractionCounter",
            "interactionType": { "@@type": "http://schema.org/WatchAction" },
            "userInteractionCount": 5647018
            },
            "regionsAllowed": "NL"
            }
        </script>
    }
    if (rotating360VideoUrl != null)
    {
        <!--360 Video URL-->
        <script type="application/ld+json">
            {
            "@@context": "https://schema.org",
            "@@type": "VideoObject",
            "name": "@sch_name",
            "description": "360 Video Description",
            "thumbnailUrl": [
            "https://stage921.rogansshoes.com/Views/Themes/RoganShoesNew/Images/PDP360Video.png"
            ],
            "uploadDate": "2020-05-30T08:00:00+08:00",
            "duration": "PT1M54S",
            "contentUrl": "@rotating360VideoUrl",
            "embedUrl": "https://www.youtube.com/embed/",
            "interactionStatistic": {
            "@@type": "InteractionCounter",
            "interactionType": { "@@type": "http://schema.org/WatchAction" },
            "userInteractionCount": 5647018
            },
            "regionsAllowed": "NL"
            }
        </script>
    }
}

<!--Add Code by Nivi team for Structured Data-->
@if (IsProductRated)
{
    <div id="PDPSchema" style="display:none;">
        <script type="application/ld+json">
            {
            "@@context": "http://schema.org/",
            "@@type": "Product",
            "name": "@sch_name",
            "image": "@Html.RenderBlock(BaseImage)",
            "url": "@sch_url",
            "description": "@sch_desc",
            "color": "@colorlist",
            "size": "@sizelist",
            "width": "@widthlist",
            "sku": "@Html.RenderBlock(Model.SKU)",
            "brand": {
            "@@type": "Thing",
            "name": "@brand"
            },
            "mpn" : "@SKU",
            "review": {
            "@@type": "Review",
            "reviewRating": {
            "@@type": "Rating",
            "ratingValue": "@Model.ProductReviews.Count"
            },
            "author": {
            "@@type": "Person",
            "name": "@TempData["Username"]"
            },
            "reviewBody": "@TempData["Comments"]"
            },
            "aggregateRating": {
            "@@type": "AggregateRating",
            "ratingValue": "@Model.Rating",
            "reviewCount": "@Model.ProductReviews.Count"
            },
            "offers": {
            "@@type": "AggregateOffer",
            "priceCurrency":  "@sch_currencycode",
            "lowprice":  "@sch_price",
            "highprice": "@sch_price" ,
            "price":"@sch_price",
            "offerCount": "1",
            "itemCondition": "http://schema.org/NewCondition",
            "availability": "http://schema.org/InStock",
            "seller": {
            "@@type": "Organization",
            "name": "@_portal.Name"
            }
            }
            }
        </script>

    </div>
}
else
{
    <div id="PDPSchema" style="display:none;">
        <script type="application/ld+json">
            {
            "@@context": "http://schema.org/",
            "@@type": "Product",
            "name": "@sch_name",
            "image": "@Html.RenderBlock(BaseImage)",
            "url": "@sch_url",
            "description": "@sch_desc",
            "color": "@colorlist",
            "size": "@sizelist",
            "width": "@widthlist",
            "sku": "@Html.RenderBlock(Model.SKU)",
            "brand": {
            "@@type": "Thing",
            "name": "@brand"
            },
            "mpn" : "@SKU",
            "review": {
            "@@type": "Review",
            "reviewRating": {
            "@@type": "Rating",
            "ratingValue": "1"
            },
            "author": {
            "@@type": "Person",
            "name": "NA"
            },
            "reviewBody": "NA"
            },
            "aggregateRating": {
            "@@type": "AggregateRating",
            "ratingValue": "1",
            "reviewCount": "1"
            },
            "offers": {
            "@@type": "AggregateOffer",
            "priceCurrency":  "@sch_currencycode",
            "lowprice":  "@sch_price",
            "highprice": "@sch_price" ,
            "price":"@sch_price",
            "offerCount": "1",
            "itemCondition": "http://schema.org/NewCondition",
            "availability": "http://schema.org/InStock",
            "seller": {
            "@@type": "Organization",
            "name": "@_portal.Name"
            }
            }
            }
        </script>
    </div>
}
<script id="dynamicPDPSchema" type="application/ld+json"></script>
