﻿@using Znode.WebStore.Custom.ViewModel

@model ScheduleATruckViewModel
@{
    ViewBag.Title = "Schedule A Truck | Rogan’s Shoes";
    ViewBag.Description = "Schedule a Mobile Shoe Truck for your company from Rogan’s Shoes";
}
<div id="layout-Application" class="main-wrapper">
    <div class="container container-small">
        <div class="margin-top-8-percent mobile-padding-left-right all-form-group">
            <div class="PageTitle">
                <h1 class="page-title">@Html.RenderMessage("TitleScheduleATruck")</h1>
            </div>
            <div class="col-xs-12 nopadding">
                <div>
                    @Html.RenderMessage("FooterScheduleATruck")
                </div>
                <div class="Form LableForm col-xs-12 col-md-6 col-lg-5 margin-bottom margin-top nopadding">
                    @using (Html.BeginForm("ScheduleATruck", "RSCustomizedForm", FormMethod.Post, new { @id = "frmScheduleATruck" }))
                    {

                        <div class="col-xs-12 col-lg-12 nopadding">
                            <div class="form-group">
                                <label for="idCompanyName" class="hidden">@WebStore_Resources.ColumnCompanyNameNew</label>
                                @Html.TextBoxFor(model => model.CompanyName, new { @alt = @WebStore_Resources.ColumnCompanyNameAlt, @id = "idCompanyName", @maxlength = 100, @required = "required", @title = @WebStore_Resources.ColumnCompanyNameTitle, @placeholder = @WebStore_Resources.ColumnCompanyNameNew })
                                <p class="error-msg">@Html.ValidationMessage("idCompanyNameErr", "", new { @id = "idCompanyNameErr" })</p>
                            </div>
                            <div class="form-group">
                                <label for="valueAddres" class="hidden">@WebStore_Resources.ColumnAddress</label>
                                @Html.TextBoxFor(model => model.Address, new { alt = @WebStore_Resources.ColumnAddress, @id = "valueAddres", @required = "required", @title = @WebStore_Resources.ColumnAddressTitle, @placeholder = @WebStore_Resources.ColumnAddress })
                                <p class="error-msg">@Html.ValidationMessage("AddressErr", "", new { @id = "AddressErr" })</p>
                            </div>
                            <div class="form-group">
                                <label for="valPhoneNum" class="hidden">@WebStore_Resources.LabelPhoneNumber</label>
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @alt = @WebStore_Resources.LabelPhoneNumberAlt, @maxlength = 20, @id = "valPhoneNum", @required = "required", @title = @WebStore_Resources.LabelPhoneNumberTitle, @placeholder = @WebStore_Resources.LabelPhoneNumber })
                                <p class="error-msg">@Html.ValidationMessage("valPhoneNumErr", "", new { @id = "valPhoneNumErr" })</p>
                            </div>
                            <div class="form-group">
                                <label for="valFirstName" class="hidden">@WebStore_Resources.LabelContactTitle</label>
                                @Html.TextBoxFor(model => model.FirstName, new { @alt = @WebStore_Resources.LabelContactTitle, @maxlength = 100, @id = "valFirstName", @required = "required", @title = @WebStore_Resources.LabelContactTitle, @placeholder = @WebStore_Resources.LabelContactTitle })
                                <p class="error-msg">@Html.ValidationMessage("valFirstNameErr", "", new { @id = "valFirstNameErr" })</p>
                            </div>

                            <div class="form-group">
                                <label for="valEmail" class="hidden">@WebStore_Resources.LabelEmailAddress</label>
                                @Html.TextBoxFor(model => model.EmailID, new { @alt = @WebStore_Resources.LabelEmailAddressAlt, @maxlength = 200, @id = "valEmail", @required = "required", @title = @WebStore_Resources.LabelEmailAddressTitle, @placeholder = @WebStore_Resources.LabelEmailAddress })
                                <p class="error-msg">@Html.ValidationMessage("ErrEmailVal", "", new { @id = "ErrEmailVal" })</p>
                            </div>
                            <div class="form-group">
                                <label for="NumberEmployee" class="hidden">@WebStore_Resources.TextNoOfEmployee</label>
                                @Html.TextBoxFor(model => model.NoOfEmployee, new { @alt = @WebStore_Resources.TextNoOfEmployeeAlt, @id = "NumberEmployee", @maxlength = 100, @required = "required", @title = @WebStore_Resources.TextNoOfEmployeeTitle, @placeholder = @WebStore_Resources.TextNoOfEmployee })
                                <p class="error-msg">@Html.ValidationMessage("ErrNumberEmployee", "", new { @id = "ErrNumberEmployee" })</p>
                            </div>
                            <div class="form-group">
                                <label for="valSteelRequired" class="hidden">@WebStore_Resources.LabelFootwearRequirmentTitle</label>
                                @Html.TextBoxFor(model => model.Steeltorequired, new { @alt = @WebStore_Resources.LabelFootwearRequirmentTitle, @id = "valSteelRequired", @required = "required", @title = @WebStore_Resources.LabelFootwearRequirmentTitle, @placeholder = @WebStore_Resources.LabelFootwearRequirmentTitle })
                                <p class="error-msg">@Html.ValidationMessage("ErrorSteelRequired", "", new { @id = "ErrorSteelRequired" })</p>
                            </div>
                            <div class="form-group">
                                <label for="ValPosterNeeded" class="hidden">@WebStore_Resources.ColuTextPosterNeeded</label>
                                @Html.TextBoxFor(model => model.PosterNeeded, new { @alt = @WebStore_Resources.ColuTextPosterNeededAlt, @maxlength = 100, @id = "ValPosterNeeded", @required = "required", @title = @WebStore_Resources.ColuTextPosterNeededTitle, @placeholder = @WebStore_Resources.ColuTextPosterNeeded })
                                <p class="error-msg">@Html.ValidationMessage("ErrPosterNeed", "", new { @id = "ErrPosterNeed" })</p>
                            </div>
                            <div class="form-group">
                                <label for="valComment" class="hidden">@WebStore_Resources.TextNote</label>
                                @Html.TextAreaFor(model => model.Description, new { @id = "valComment", rows = "10", cols = "50", @required = "required", @class = "TextBoxrogan", @title = @WebStore_Resources.TextNote, @alt = @WebStore_Resources.TextNote, @placeholder = @WebStore_Resources.TextNote })
                            </div>
                            <div class="form-group">
                                <div id="div-captcha">
                                    @Html.ZnodeCaptcha()
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12 col-xs-12 nopadding margin-top">
                            <button type="submit" class="btn-text btn-bg-secondary" onclick="return CaseRequest.prototype.ValidationForScheduleATruckForm();">@WebStore_Resources.ButtonSubmit</button>
                        </div>
                        @*<div class="col-lg-12 nopadding margin-top">
                            <button type="submit" class="btn btn-primary" id="ScheduleATruck" data-test-selector="btnSubmit" alt="Submit">@WebStore_Resources.ButtonSubmit</button>
                        </div>*@
                        @*if (Model?.HasError ?? false && Model?.CaseRequestID > 0)
                        {
                            <div class="col-xs-12 nopadding">
                                @Html.Label("", WebStore_Resources.SuccessMessageContactUs)
                            </div>
                        }
                        else if (Model?.HasError ?? false)
                        {
                            <div class="col-xs-12 nopadding">
                                @Html.Label("", WebStore_Resources.MessageFailedToSendRequest)
                            </div>
                        }*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script async>
    $("#frmScheduleATruck").submit(function (event) {
        $("#Schedule-ATruck").prop("disabled", true).addClass("disabled");
    });
    //$(function () { $("#DatesRequested").datepicker({ format: "yyyy-mm-dd" }), $("#DatesRequested").on("change", function () { var e = Date.parse($(this).val()), t = new Date; t.setDate(t.getDate() - 1), e < t ? ($("#valDatesRequestedErr").text("Requested Date must be greater than Current Date."), $(this).val("")) : $("#valDatesRequestedErr").text("") }), $("#frmScheduleATruck").validate(), $("#idCompanyName").rules("add", { required: !1 }), $("#DatesRequested").rules("add", { required: !1 }), $("#TimeRequested").rules("add", { required: !1 }), $("#valueAddres").rules("add", { required: !1 }), $("#valPhoneNum").rules("add", { required: !1 }), $("#valFirstName").rules("add", { required: !1 }), $("#valLastName").rules("add", { required: !1 }), $("#NumberEmployee").rules("add", { required: !1 }), $("#valMaleFemale").rules("add", { required: !1 }), $("#valSteelRequired").rules("add", { required: !1 }), $("#ValContriAmount").rules("add", { required: !1 }), $("#ValPayroll").rules("add", { required: !1 }), $("#valEmail").rules("add", { required: !1 }), $("#ValPosterNeeded").rules("add", { required: !1 }), $("#valComment").rules("add", { required: !1 }) });
    //called when key is pressed in textbox
    $("#valPhoneNum").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });
    $(document).ready(function () {
        var arr = $("#div-captcha").html().split("<br>");
        var string = '<label for="CaptchaInputText">' + arr[3] + ' *</label>';
        $("#div-captcha").html($("#div-captcha").html().replace(arr[3], string));
    });
</script>

  
<script>
    $(document).ready(function () {
        $("#frmScheduleATruck").validate();
        $('#valComment').rules('add', {
            required: false   // overwrite an existing rule
        });

    });
</script>


