﻿@using Znode.WebStore.Custom.ViewModel
@using Znode.Libraries.ECommerce.Utilities
@model ShoesFinderViewModel
@{
    ViewBag.Title = "Shoe Finder | Rogan’s Shoes";
    ViewBag.Description = "Find your favorite shoes from Rogan’s Shoes Shoe Finder";
}

<div class="main-wrapper">
    <div class="container container-small">
        <div class="margin-top-8-percent ShoeFinder">
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 nopadding mobile-padding-left-right">
                    <div class="PageTitle">
                        <h1 class="page-title">@Html.RenderMessage("TitleShoeFinder")</h1>
                    </div>
                    <div>
                        @Html.RenderMessage("FooterShoeFinder")
                    </div>
                </div>
                
                <div class="Form LableForm col-xs-12 col-md-12 col-lg-12 nopadding margin-top margin-bottom all-form-group">

                    @using (Html.BeginForm("ShoeFinder", "RSCustomizedForm", FormMethod.Post, new { @id = "frmShoeFinder" }))
                    {
                    <div class="Form col-xs-12 col-md-6 col-lg-6 LeftContent nopadding">
                        <div class="col-lg-12 col-xs-12 nopadding">
                            <h2 class="FormTitle">@WebStore_Resources.TitleContactInformation</h2>
                        </div>
                        <div class="col-lg-12 col-xs-12 nopadding mobile-padding-left-right">
                            <div class="form-group">
                                <label class="hidden" for="valFirstName">@WebStore_Resources.LabelFirstName</label>
                                @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName", @required = "required", @title = @WebStore_Resources.LabelFirstNameTitle, @alt = @WebStore_Resources.LabelFirstNameAlt, @placeholder = @WebStore_Resources.LabelFirstName })
                                <span id="valFirstNameErr" class="field-validation-error"></span>
                            </div>
                            <div class="form-group">
                                <label class="hidden" for="valLastName">@WebStore_Resources.LabelLastName</label>
                                @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName", @required = "required", @title = @WebStore_Resources.LabelLastNameTitle, @alt = @WebStore_Resources.LabelLastNameAlt, @placeholder = @WebStore_Resources.LabelLastName })
                                <span id="valLastNameErr" class="field-validation-error"></span>
                            </div>
                            <div class="form-group">
                                <label class="hidden" for="valEmail">@WebStore_Resources.LabelEmailAddress</label>
                                @Html.TextBoxFor(model => model.EmailID, new { @maxlength = 200, @id = "valEmail", @required = "required", @title = @WebStore_Resources.LabelEmailAddressTitle, @alt = @WebStore_Resources.LabelEmailAddressAlt, @placeholder = @WebStore_Resources.LabelEmailAddress })
                                <span id="valEmailErr" class="field-validation-error"></span>
                            </div>
                        </div>

                        <div class="col-lg-12 col-xs-12 nopadding">
                            <div class="FormTitle">@WebStore_Resources.TitleOtherOptionalInform</div>
                        </div>
                        <div class="col-lg-12 col-xs-12 nopadding mobile-padding-left-right">
                            <div class="form-group">
                                <label class="hidden" for="idType">@WebStore_Resources.TextType</label>
                                @Html.TextBoxFor(model => model.Type, new { @id = "idType", @required = "required", @title = @WebStore_Resources.TextType, @alt = @WebStore_Resources.TextType, @placeholder = @WebStore_Resources.TextType })
                                <span id="valTypeErr" class="field-validation-error"></span>
                            </div>
                            <div class="form-group">
                                <label class="hidden" for="valStockNumber">@WebStore_Resources.TextStockNumber</label>
                                @Html.TextBoxFor(model => model.StockNumber, new { @id = "valStockNumber", @required = "required", @title = @WebStore_Resources.TextStockNumber, @alt = @WebStore_Resources.TextStockNumber, @placeholder = @WebStore_Resources.TextStockNumber })
                                <span id="valStockNumberErr" class="field-validation-error"></span>
                            </div>
                            <div class="form-group">
                                <label class="hidden" for="ddlLikeSite">@WebStore_Resources.TextLikeSite</label>
                                <select id="ddlLikeSite" onchange="" title="@WebStore_Resources.TextLikeSite">
                                    <option value="">@WebStore_Resources.TextLikeSite</option>
                                    <option value="">@WebStore_Resources.TextSFLikeSiteYuck</option>
                                    <option value="">@WebStore_Resources.TextSFLikeSIteItsok</option>
                                    <option value="">@WebStore_Resources.TextSFLikeSIteAverage</option>
                                    <option value="">@WebStore_Resources.TextSFLikeSIteNiceSite</option>
                                </select>
                                @Html.HiddenFor(model => model.LikeOurSite, new { @id = "LikeOurSite"})
                                @*<input type="hidden" name="LikeOurSite" id="LikeOurSite" value="" />*@
                            </div>
                            <div class="form-group">
                                <label class="hidden" for="valComment">@WebStore_Resources.LabelShoeFinderComments</label>
                                @Html.TextAreaFor(model => model.Description, new { rows = "10", cols = "50", @id = "valComment", @required = "required", @data_test_selector = "txtDescription", @class = "TextBoxrogan", @title = @WebStore_Resources.LabelShoeFinderComments, @alt = @WebStore_Resources.LabelShoeFinderComments, @placeholder = @WebStore_Resources.LabelShoeFinderComments })
                                <span id="valCommentErr" class="field-validation-error" data-test-selector="lblValDescriptionErrMsg"></span>
                            </div>
                        </div>
                    </div>

                    <div class="Form col-xs-12 col-md-6 col-lg-6 RightContent nopadding">
                        <div class="col-lg-12 col-xs-12 nopadding">
                            <div class="FormTitle">@WebStore_Resources.TitleShoeInformation</div>
                        </div>
                        <div class="col-lg-12 col-xs-12 nopadding mobile-padding-left-right">
                            <div class="form-group">
                                <label class="hidden" for="ddlBrand">@WebStore_Resources.TextSelectBrand</label>
                                <select id="ddlBrand" onchange="" title="@WebStore_Resources.TextSelectBrand">
                                    <option value="0">@WebStore_Resources.TextSelectBrand</option>
                                </select>
                            </div>
                            @Html.HiddenFor(model => model.SelectBrand, new { @id = "SelectBrand" })

                            <div class="form-group">
                                <label class="hidden" for="valShoeName">@WebStore_Resources.TextShoeName</label>
                                @Html.TextBoxFor(model => model.ShoeName, new { @id = "valShoeName", @required = "required", @maxlength = 100, @title = @WebStore_Resources.TextShoeName, @alt = @WebStore_Resources.TextShoeName, @placeholder = @WebStore_Resources.TextShoeName })
                            </div>
                            <div class="form-group">
                                <label class="hidden" for="valColor">@WebStore_Resources.TextColor</label>
                                @Html.TextBoxFor(model => model.Color, new { @id = "valColor", @required = "required", @title = @WebStore_Resources.TextColor, @alt = @WebStore_Resources.TextColor, @placeholder = @WebStore_Resources.TextColor })
                            </div>
                            <div class="form-group">
                                <label class="hidden" for="valSteeltorequired">@WebStore_Resources.TextSize</label>
                                @Html.TextBoxFor(model => model.Size, new { @id = "valSteeltorequired", @required = "required", @title = @WebStore_Resources.TextSize, @alt = @WebStore_Resources.TextSize, @placeholder = @WebStore_Resources.TextSize })
                            </div>
                            <div class="form-group">
                                <label for="ddlSFGender" class="hidden">@WebStore_Resources.TextSelectGender</label>
                                <select id="ddlSFGender" onchange="" title="@WebStore_Resources.TextSelectGender">
                                    <option value="">@WebStore_Resources.TextSelectGender</option>
                                    <option value="">@WebStore_Resources.TextSelectOptionMen</option>
                                    <option value="">@WebStore_Resources.TextSelectOptionWomen</option>
                                    <option value="">@WebStore_Resources.TextSelectOptionChildren</option>
                                    <option value="">@WebStore_Resources.TextSelectOptionInfants</option>
                                </select>
                            </div>
                            @Html.HiddenFor(model => model.Gender, new { @id = "Gender" })
                            <div class="form-group">
                                <label for="ddlSFWidth" class="hidden">@WebStore_Resources.TextSFSelectWidth</label>
                                <select id="ddlSFWidth" onchange="" title="@WebStore_Resources.TextSFSelectWidth">
                                    <option value="">@WebStore_Resources.TextSFSelectWidth</option>
                                    <option value="">@WebStore_Resources.TextSFSelectNarrow</option>
                                    <option value="">@WebStore_Resources.TextSFSelectWide</option>
                                    <option value="">@WebStore_Resources.TextSFSelectMedium</option>
                                </select>
                            </div>
                            @Html.HiddenFor(model => model.width, new { @id = "width" })
                            <div class="form-group">
                                <label for="ddlLocation" class="hidden">@WebStore_Resources.TextSelectLocation</label>
                                <select id="ddlLocation" onchange="" title="@WebStore_Resources.TextSelectLocation">
                                    <option value="0">@WebStore_Resources.TextSelectLocation</option>
                                </select>
                            </div>
                            @Html.HiddenFor(model => model.location, new { @id = "location" })
                            <div class="form-group">
                                <div id="div-captcha">
                                    @Html.ZnodeCaptcha()
                                </div>
                            </div>
                            <div class="col-lg-12 col-xs-12 nopadding margin-top">
                                <button type="submit" class="btn-text btn-bg-secondary" id="Shoe-Finder" onclick="return CaseRequest.prototype.ValidationForShoeFinderForm();" title="@WebStore_Resources.ButtonSubmit">@WebStore_Resources.ButtonSubmit</button>
                            </div>
                            </div>
                        </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)

        <script async>
          /* NIVI Code starts For Shoe Finder */
            $("#ddlBrand").change(function () { var e = $("#ddlBrand option:selected").text(); return "Select Brand" == e ? $("#SelectBrand").val() : $("#SelectBrand").val(e), !1 }), $("#ddlLocation").change(function () { var e = $("#ddlLocation option:selected").text(); return "Select Location" == e ? $("#location").val("") : $("#location").val(e), !1 }), $("#ddlSFGender").change(function () { var e = $("#ddlSFGender option:selected").text(); return "Select Gender" == e ? $("#Gender").val("") : $("#Gender").val(e), !1 }), $("#ddlSFWidth").change(function () { var e = $("#ddlSFWidth option:selected").text(); return "Select Width" == e ? $("#width").val("") : $("#width").val(e), !1 }), $("#ddlLikeSite").change(function () { var e = $("#ddlLikeSite option:selected").text(); return "Like Our Site" == e ? $("#LikeOurSite").val("") : $("#LikeOurSite").val(e), !1 }), $(document).ready(function () { InStorePickUp.prototype.FillBrandsDropdown(), InStorePickUp.prototype.FillLocationDropdown(), $("#frmShoeFinder").validate(), $("#valFirstName").rules("add", { required: !1 }), $("#valLastName").rules("add", { required: !1 }), $("#valEmail").rules("add", { required: !1 }), $("#idType").rules("add", { required: !1 }), $("#valStockNumber").rules("add", { required: !1 }), $("#valComment").rules("add", { required: !1 }), $("#valShoeName").rules("add", { required: !1 }), $("#valSteeltorequired").rules("add", { required: !1 }), $("#valColor").rules("add", { required: !1 }); });
            /* NIVI Code ends For Shoe Finder */
             $(document).ready(function () {
                var arr = $("#div-captcha").html().split("<br>");
                var string = '<label for="CaptchaInputText">' + arr[3] + ' *</label>';
                $("#div-captcha").html($("#div-captcha").html().replace(arr[3], string));
            });
        </script>
        <!-- <script>
            $("button[type=submit]").click(function () {
                //  console.log("test")
                var errorElements = document.querySelectorAll(".field-validation-error");
                for (var index = 0; index < errorElements.length; index++) {
                    const element = errorElements[index];
                    //  console.log(element);
                    $('html, body').animate({
                        scrollTop: $(errorElements[0]).focus().offset().top - 60
                    }, 1000);
                    return false;
                }
            });
        </script>-->
