﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
<div class="row footer-container">
    <div class="news-letter hidden">
        <div class="container">
            <div class="row news-letter-container" itemscope itemtype="http://schema.org/WebPage">
                <div class="col-xs-12 col-sm-6 nopadding newsletter-container">
                    <!--News Letter Widget-->
                    <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-information">
        <div class="container">
            <div class="row" itemscope itemtype="http://schema.org/WebPage">
                @*<div class="col-sm-3 footer-shop" data-test-selector="divFooterCategoryList">
                        <div class="header-footer">
                            <h3 data-test-selector="lblFooterCategoryHeading">@WebStore_Resources.LabelShop</h3>
                        </div>
                        @{ Html.RenderAction("TopLevelList", "Category", new { profileId = Helper.GetProfileId(), portalId, localeId = Helper.GetLocaleId(), accountId = Helper.GetUserAccountId() }); }
                    </div>*@
                <div class="col-sm-3 footer-shop">
                    <!--Footer Customer Service Widget-->
                    <div class="header-footer">
                        <h3 data-test-selector="lblFooterHelpHeading">@WebStore_Resources.TitleCustomerService</h3>
                    </div>

                    <div class="footer-help-section-link">
                        <div data-test-selector="divFooterHelpWidget">
                            <z-widget>
                                @Html.WidgetPartial("LinkPanel", "Customer Service", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                            </z-widget>
                        </div>
                    </div>

                </div>
                <div class="col-sm-3 footer-shop">
                    <!--Special Feature Widget-->
                    <div class="header-footer">
                        <h3 data-test-selector="lblFooterInfoHeading">@WebStore_Resources.TitleSpecialFeature</h3>
                    </div>

                    <div class="footer-help-section-link">
                        <div data-test-selector="divFooterInfoWidget">
                            <z-widget>
                                @Html.WidgetPartial("LinkPanel", "Special Fetaure", "2253", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                            </z-widget>
                        </div>
                    </div>

                </div>
                <div class="col-sm-3 footer-shop">
                    <!--Company Info Widget-->
                    <div class="header-footer">
                        <h3 data-test-selector="lblFooterInfoHeading">@WebStore_Resources.TitleCompanyInfo</h3>
                    </div>
                    <div class="footer-help-section-link">
                        <div data-test-selector="divFooterInfoWidget">
                            <z-widget>
                                @Html.WidgetPartial("LinkPanel", "Company Info", "2256", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                            </z-widget>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 footer-shop">
                    <!--We Accept Widget-->
                    <div class="header-footer">
                        <h3 data-test-selector="lblFooterInfoHeading">@WebStore_Resources.TitleWeAccept</h3>
                    </div>
                    <div class="footer-help-section-link">
                        <div data-test-selector="divFooterInfoWidget">
                            <z-widget>
                                @Html.WidgetPartial("LinkPanel", "We Accept", "2250", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                            </z-widget>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 nopadding footer-logo">
                    <img src="~/Views/Themes/Default/Images/footericon.png" class="img-responsive" alt="Footer Logo" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 nopadding footer-copyright-text">
                    <p data-test-selector="lblFooterCopyRight">@Html.RenderMessage(WebStoreConstants.FooterCopyrightText)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#layout" class="back-to-top" data-test-selector="linkBackToTop"><i class="zf-up"></i></a>
<script>$('[itemtype = "http://schema.org/WebPage"] a').attr("itemprop", "significantLinks");</script>