﻿@import "../_base.scss";

// Category List Widget.

.category-list-widget{
    ul{width:100%;display:flex;flex-wrap:wrap;padding:0;margin:0;
        li{width:calc(50% - 10px);display:inline-block;margin:0 5px 10px;text-align:center;
           a{display:block;width:100%;margin:0 auto;padding:0px;width:100%;font-family:$base-font-family-bold;letter-spacing:1.66px;font-size:16px;
             img{width:100%;margin:auto;}
           }
           label{font-weight:normal;color:$text-fgcolor-default;cursor:pointer;
                 &:hover{color:$base-color-primary;}
           }
        }
    }
}
// Media Query.
@include screensize(x-small) { 
    .category-list-widget ul li{width:calc(100% - 10px);padding:0px;}
    
}
@include screensize(small) { 
    .category-list-widget ul li{width:calc(33% - 10px);padding:40px;}
}