﻿@import "../_base.scss";

// Subscribe Widget.
.newsletter-widget{
    label {float: left; color:$base-color-white; padding-right: 10px; line-height: 34px; margin-bottom: 0;}
    .input-group{width:100%;
                 input[type="text"],.input-field button {background-color: transparent; color:$base-color-white;border-bottom: 1px solid $base-color-white;}       
    }
    .input-group-btn>.btn-default{margin-top: 10px;margin-bottom: 10px;width:30%;font-weight:600;}
}
.email-background {
    .padding-30{padding-top: 30px;
                p{color:$base-color-black;text-align:center;text-transform:uppercase;font-family:$base-font-family-bold;}
    }
    img{width:40%;margin-left:auto;margin-right:auto;}
    .background-blue{background-color:$background-secondary;padding:30px;color:$base-color-white;text-align:center;
        h3{text-transform:uppercase;color:$base-color-white;text-align:center;font-family:$base-font-family-bold;font-size:30px;}
        p{color:$base-color-white;text-align:center;font-size:16px;}
    }
}
.border-top-grey{border-top: 1px solid #F5F5F5;}
@include screensize(x-large) {
    .email-background {
    .padding-30{padding-top: 30px;
                p{color:$base-color-black;text-align:center;text-transform:uppercase;font-size:18px;font-family:$base-font-family-bold;}
    }
    img{width:22%;margin-left:auto;margin-right:auto;margin-bottom:20px;}
    .background-blue{background-color:$background-secondary;padding:30px;color:$base-color-white;text-align:center;
        h3{text-transform:uppercase;color:$base-color-white;text-align:center;font-size:30px;font-family:$base-font-family-bold;}
        p{color:$base-color-white;text-align:center;font-size:16px;}
    }
}
}