﻿@import "../_base.scss";

footer{position:relative;clear:both;}

.footer-container {background:$footer-bgcolor;padding-top:65px;
    .footer-information {padding:15px 0;font-size:$base-font-size;color:$footer-fgtext-color;
        .container{padding: 0px 150px 0px 150px;}
        .nav-home {display:none;}
        a {color:$footer-fgtext-color;text-decoration:none;line-height:26px;
            /*&:hover {color:$base-color-white;}
            &:focus, &:active {background-color:transparent;color:$base-color-white;}*/
        }
        li i {color:#959595;padding:5px;display:none;}
    }
    .header-footer {
        h3 {margin:10px 0;text-transform:uppercase;color:$base-color-black;font-family:$base-font-family;font-size:$base-font-size + 5;padding-left:5px;background:none;font-weight:600;}
    }
    .footer-contact p,.footer-contact a{padding-left:5px;}
    .news-letter-container{padding-left:5px;padding-right:5px;}
    .footer-shop{padding-left:5px; padding-right:5px;
         ul li {width:100%;display: inline-block;list-style:none;background-color:transparent;padding:0;vertical-align:top;padding-left: 5px;
                    a {padding:0;float:left;text-transform:capitalize;font-size:$base-font-size + 1;
                        &:hover {background-color: transparent;}
                    }
                    .sub-menu{display: none;}
                    i{float: left;}
                    .dropdown-menu{display:none;}
                }
         .navbar-nav{height:auto !important;margin:0;}
    }
    .footer-copyright{background-color:$footer-bgcolor;padding:15px 0;text-align:center;
        .footer-logo{
            img{margin-left: auto;margin-right: auto;margin-bottom: 15px;margin-top: 15px;}
        }
        p{color:$footer-fgtext-color; display:inline-block; vertical-align:middle; line-height:28px;}
        ul{text-align:center;padding-left:0;margin-bottom:0;
             li {list-style:none;display:inline-block; vertical-align:middle; padding:0 4px;
                  i {font-size:26px;color:#828282;
                      &:hover {color:$base-color-white;}
                  }
             }
        }  
        .footer-copyright-text {display:inline-block; vertical-align:middle;}
        .footer-copyright-links {display:inline-block; vertical-align:middle;}      
    }
    .news-letter{background-color:$news-letter-bgcolor;padding:20px 0;border-bottom:1px solid $base-color-primary;}
}

// Media Query.
@include screensize(x-small) {
    .footer-container{
        .footer-copyright{
            p{text-align:center;display:block;margin-bottom:10px;}
            img{margin:0 auto;}
            ul{float:left;width:100%;text-align:center;}
        }
        .newsletter-widget{margin-bottom:10px;float:left;width:100%;
            .input-field{padding-left:0;padding-right:0;}
         }       
    } 
    .footer-container .footer-information .container {
        padding: 0px 0px 0px 0px;
    }
}
@include screensize(small) {
    .footer-container{
        .footer-copyright{
            p{text-align:left;display:inline-block;margin-bottom:0;}
            img{margin:0;} 
            ul{float:right;width:auto;}
        }
        .newsletter-widget .input-field{padding-left:15px;padding-right:15px;}        
    }
}
@include screensize(large){
    .footer-container .footer-information .container {
        padding: 0px 150px 0px 150px;
        
    }
}