﻿@import "../_base.scss";

.header{position:relative;top:0;left:0;width:100%;transition:height 500ms, background 500ms;z-index:999;background-color:$base-color-white; 
    .header-logo{float:left;width:100%;max-height:95px;padding-right:5px;color:$base-color-primary;
        img{max-height:95px;display:block;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;font-size:22px;}
        h1{color:$base-color-primary;font-size:22px;}
    }
    .contact-details{font-family:$base-font-family-medium;}
    .header-link-contain{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s; 
        .header-link ul{float:right;padding-left:0;
            li{display:inline;list-style:none;padding:0 20px;line-height:34px;position: relative;
                &:hover {color:$base-color-primary;}
                &:last-child {border: none;padding-right:0px;}
                a{padding-left:0px;font-family:$base-font-family-bold;letter-spacing:1.3px;color:$base-color-black;}
                
                a.user-icon{padding:0;
                    &:hover{padding-left:0;color:$base-color-primary;}
                }
                .log-off{border-left:1px solid $border-bgcolor-default;}
                .header-toolbar-cart{color:$base-color-primary;font-size: 24px;}
                form{display:inline;}
            } 
            .cart-icon{border-right: none !important;}
        }
    }
    .header-nav-container{background-color:$base-color-white;height:65px;border-bottom: 1px solid #ddd;        
        .zf-caret-right{display:none;}
        .navbar-toggle{float:left;margin:8px 0 8px 10px;background-color:$base-color-white;
            .icon-bar{background-color:$base-color-primary;}
        }        
    }    
    .header-local-container{background-color:$base-bgcolor-grey;height:30px;text-align:center;text-transform:uppercase;line-height:25px;}
    .background-primary{background-color:$background-primary;color:$base-color-white;height:60px;text-align:center;padding-top:10px;line-height:19px;width: 59.6%;
                        span{font-size:26px;}
        }
    .background-secondary{background-color:$background-secondary;color:$base-color-white;height:60px;text-align:center;padding-top:10px;width:20%;font-size:16px;
                          b{font-family:$base-font-family-semibold;}
    }
    .background-secondary-image{background-image: url("/Views/Themes/Default/Images/curbside_pickup.png");background-repeat: no-repeat;background-position-y: 10px;}
    .background-primary a,.background-secondary a{color:$base-color-white;}
    .Social-follow-us{
        ul{list-style:none;display:inline-flex;color:$base-color-primary;
           li{padding-right:20px;}
        }
    }
    .header-login{text-transform: uppercase;font-weight: 600;
                  li img{margin-top:-5px;margin-right:5px;}
    }
}
.proxy-login-section{background:$base-bgcolor-grey;
                         .proxy-login{display:flex;justify-content:center;align-items:center;padding:2px;}
                         span{font-weight:bold;color:$success-msg-fgcolor;}
                         .log-off{background:$success-msg-fgcolor;color:$nav-bgcolor;padding:0 10px;margin:4px 4px 4px 7px;border-radius:2px;font-weight:bold;}
    }
.hide-show {display: none;}
.header-checkout{border-bottom:1px solid $border-bgcolor-default;}
.Contact-info {
    .social-media, strong {
        width:100%;
        .link-panel-widget li{margin-left: 21px;}
    }

    .display-content {
        display: contents;
    }
}
// Media Query.
@include screensize(x-small) {
    .mobile-padding-20{padding-top:20px;}
    .header {
        .header-nav-container{background-color:$base-color-white;height:auto;border-bottom: none;        
        .zf-caret-right{display:none;}
            .navbar-toggle{float:left;margin:-5px 7px 0px -5px;background-color:$base-color-white;
                .icon-bar{background-color:$base-color-black;}
            }        
        }    
        .background-primary{width: 100%;height:auto;padding-bottom:12px;
                            span{font-size:15px;}
        }
        .mobile-login{ padding-right:0px; ul{list-style:none;display:inline-flex;padding:0px;width:100%;
                         li{left:-10px;position:relative;margin-left:16px;
                            .cartcount{margin-left:5px;}
                         }
        }}
        .header-logo {
            font-size: 40px;
            min-height: 25px;
            max-height: 25px;
            padding-right: 0;
            margin-bottom: 2px;

            img {
                margin: 0 auto;
                width: 100%;
                max-height: 70px;
            }

            h1 {
                font-size: 40px;
                text-align: center;
            }
        }

        .header-link-contain {
            padding: 0px 0px;

            .header-link ul {
                padding-right: 5px;
                padding-top: 12px;
                margin-bottom: 0;

                .username {
                    display: none;
                }
            }
        }

        .header-local-container {
            height: 40px;

            .mobile-view-head {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                line-height: 20px;
                width: 70%;
            }
        }
    }
}
@include screensize(small) {
    .header{
        .header-logo{min-height:70px;padding-right:5px;margin-bottom:0;padding-top:22px;
            img{margin:0px;width:100%;max-height:95px;}
            h1{font-size:56px;text-align:left;}
        } 
        .header-link-contain{margin-top:25px;padding:0;
            .searchbox{left:36px;margin-top:-6px;}
            .header-link ul{padding-top:0;padding-right:10px;
                            li{padding:0px 10px;}
                .username{display:inline-block;}
                }
        }
        .background-primary{background-color:$background-primary;color:$base-color-white;height:60px;text-align:center;padding-top:12px;line-height:19px;width: 100%;
                        span{font-size:26px;}
        }
        
    } 
    
}
@include screensize(medium) {     
    .mobile-padding-20{padding-top:0px;}
    .header{
        .header-logo{padding-top:22px;} 
        .header-link-contain{
            .header-link ul{padding-right:0;padding-top:5px;
                            li{padding:0px 10px;}
            }
        }
         .header-local-container{height:30px;
           .mobile-view-head{line-height: 25px;width: 100%;}
        }
    }  
    
}
@include screensize(large){
    .header{
        .header-logo{min-height:70px;padding-right:5px;margin-bottom:0;padding-top:12px;
            img{margin:0px;width:100%;max-height:95px;}
            h1{font-size:56px;text-align:left;}
        } 
        .header-link-contain{margin-top:25px;padding:0;
            .searchbox{left:36px;margin-top:-6px;}
            .header-link ul{padding-top:0;padding-right:10px;
                            li{padding:0px 20px;}
                .username{display:inline-block;}
                }
        }
        .background-primary{background-color:$background-primary;color:$base-color-white;height:60px;text-align:center;padding-top:10px;line-height:19px;width: 59.6%;
                        span{font-size:26px;}
        }
        .background-secondary{font-size:13px;}
        
    } 
}
@include screensize(x-large){
    .header{
        .header-logo{min-height:80px;padding-right:5px;margin-bottom:0;padding-top:0px;
            img{margin:0px;width:100%;max-height:95px;}
            h1{font-size:56px;text-align:left;}
        }
        .header-link-contain{
            .searchbox{left:110px;margin-top:-6px;}
        }
       .background-secondary{font-size:16px;}
    } 
}