﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string disable = CallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.IsObsolete));
    string obsoleteClass = isObsolete ? "cut-price" : "";
    string productUrl = domainurl + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString());
    string productOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "SendEcommerceData(this,'" + Model.SKU + "')" : "";
}
<div class="view-item">
    <div class="product-img">
        @if (Model.EnableProductCompare)
        {<div class="compare-link">
                <a data-test-selector="linkProductImage" href="#" class="button-compare" onclick="return Category.prototype.AddToCompare(@Model.PublishProductId,@Model.CategoryId)" title="@WebStore_Resources.LabelCompareLink"><i data-test-selector="linkCompareAdd" class="zf-random"></i></a>
            </div>
        }

        <a data-test-selector="linkProductURL" href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())" onclick=@productOnClickEvent>
            @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
            {
                <img data-test-selector="imgProductImage" src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
            }
            <div class="image">
                @{
                    string imageSrc = string.IsNullOrEmpty(Model.ImageSmallPath) ? "/no-image.png" : Model.ImageSmallPath;
                }
                <img data-test-selector="imgProductImage" id="@Model.PublishProductId" class="img-responsive b-lazy" data-src="@imageSrc" alt="Product" />
            </div>
        </a>
    </div>
    <div class="product-details">
        <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())" data-test-selector="linkProductTitle" onclick=@productOnClickEvent title="@Html.RenderBlock(Model.Name)">
            <h4 class="title" data-test-selector="lblProductTitle">Brand Name</h4>
            <h5>Womens</h5>
            <h6>@Html.RenderBlock(Model.Name)</h6>
        </a>
        <div id="SwatchImageSection">
            <ul class="nav">
                <li class=""><img src="~/Views/Themes/RoganShoeNew/Images/NK_CK2576_0011_30.jpg" class="img-responsive setswatch" data-src="~/Views/Themes/RoganShoeNew/Images/NK_CK2576_0011_30.jpg" alt="Nike Shoe" title="Nike Shoe"></li>
                <li class=""><img src="~/Views/Themes/RoganShoeNew/Images/NK_CK2576_0011_30.jpg" class="img-responsive setswatch" data-src="~/Views/Themes/RoganShoeNew/Images/NK_CK2576_0011_30.jpg" alt="Nike Shoe" title="Nike Shoe"></li>
                <li class=""><img src="~/Views/Themes/RoganShoeNew/Images/NK_CK2576_0011_30.jpg" class="img-responsive setswatch" data-src="~/Views/Themes/RoganShoeNew/Images/NK_CK2576_0011_30.jpg" alt="Nike Shoe" title="Nike Shoe"></li>
                <li class=""><img src="~/Views/Themes/RoganShoeNew/Images/NK_CK2576_0011_30.jpg" class="img-responsive setswatch" data-src="~/Views/Themes/RoganShoeNew/Images/NK_CK2576_0011_30.jpg" alt="Nike Shoe" title="Nike Shoe"></li>
            </ul>
        </div>
        <div class="product-rating">
            <a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())#scrollReview" data-test-selector="linkReviewText" id="jumpto-readreviews-productTile" title="Rating" onclick=@productOnClickEvent>
                @Html.Partial("_StarRating", Model.Rating)
            </a>
        </div>
        @if (CallForPricing)
        {
            <div data-test-selector="divPrice" class="price"><label>@callForPricingMessage</label></div>
        }
        else
        {
            <div data-test-selector="divPrice" class="price" data-sku="@Model.SKU" data-type="@Model.ProductType">
                @if (!Helper.IsAsyncPrice)
                {
                    if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                    {
                        <label>@Model.GroupProductPriceMessage</label>
                    }
                    else
                    {
                        if (!Equals(Model.SalesPrice, null))
                        {
                            <span data-test-selector="spanPrice" class="@obsoleteClass">
                                @if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                {
                                    @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)
                                }
                                else
                                {
                                    @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                }
                            </span>
                            if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                            {
                                <span data-test-selector="spanCutPrice" class="cut-price">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                </span>
                            }
                        }
                        else
                        {
                            if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                            {
                                <label class="@obsoleteClass">
                                    @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)
                                </label>
                                <span data-test-selector="spanCutPrice" class="cut-price">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                </span>
                            }
                            else
                            {
                                <span data-test-selector="spanPrice" class="@obsoleteClass">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                </span>
                            }
                        }

                    }

                }
                else
                {
                    <label class="price-span" data-sku="@Model.SKU" data-type="@productType">Loading...</label>
                }

            </div>
            if (!string.IsNullOrEmpty(disable) && !isObsolete)
            {
                <div class="item-error-msg">
                    <p class="error-msg">@Model.InventoryMessage</p>
                </div>
            }
        }
        @if (isObsolete)
        {
            <div class="product-inventory pb-2">
                <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(string.Format(WebStore_Resources.PLPObsoleteMessage, productUrl))</h4></div>
            </div>
        }

    </div>

</div>