﻿@using Znode.Engine.WebStore.ViewModels
@model  List<BrandViewModel>
@{
    ViewBag.title = "Shop By Brand | Rogan’s Shoes";
    ViewBag.description = "Shop Rogan’s Shoes for the top name brands in shoes and footwear for the entire family";
    //NIVI CODE ADDED FOR BRAND FILTER MENU BAR BY ALPHABETES
    var brandList = Model.OrderBy(x => x.BrandName).ToList();
    //NIVI CODE

}
<div id="Brands" class="main-wrapper">
    <div class="container container-small">
        <div class="brand-container">
            <div class="col-xs-12 nopadding margin-bottom">
                <h1 class="page-title">@WebStore_Resources.TitleShopByBrand</h1>
            </div>
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 nopadding margin-bottom">
                    <ul class="brand-filter">
                        <li class="pull-left">
                            <a href="/Brand/List">All</a>
                        </li>
                        <li class="pull-left">
                            <a href="/Brand/BrandList?brandName=num">0-9</a>
                        </li>
                        @for (char character = 'A'; character <= 'Z'; character++)
                        {
                            <li class="pull-left">
                                <a href='@string.Format("/Brand/BrandList?brandName={0}", character)'>@character</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-xs-12 nopadding">
                    <ul class="brand-list">
                        @foreach (var brand in brandList)
                        {
                            if (brand.MediaId > 0)
                            {
                                <li>
                                    <a href="/@brand.WebsiteLink" data-lightbox="enlarge" title="@brand.BrandName">
                                        <label>@brand.BrandName</label>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/@brand.WebsiteLink" data-lightbox="enlarge" title="@brand.BrandName">
                                        <label>@brand.BrandName</label>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>