﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
<div class="col-xs-12 product-wishlist nopadding">
    <div class="col-xs-12 col-sm-12 col-md-12 nopadding">
        <button data-test-selector="btnWishList" type="button" data-id="@Model.PublishProductId" data-sku="@Model.SKU" class="btn-wishlist button-wishlist" onclick="Product.prototype.AddToWishList(this)" title="@WebStore_Resources.ButtonAddToWishlist"><i class="zf-heart"></i> @WebStore_Resources.ButtonAddToWishlist</button>
        <a data-toggle="modal" data-target="#modelEmailToFriend" class="btn-wishlist button-wishlist" title="Email A Friend"><i data-test-selector="linkMail" class="zf-envelope"></i> Email</a>
    </div>
</div>
@Html.Action("EmailToFriend", "Product")
<script>
    jQuery(document).ready(function (e) {
        $("#ProductName").val($(".product-name").html());
        jQuery('#modelEmailToFriend').trigger('click');
    });
</script>

