﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model  ConfigurableAttributeViewModel
@{
    Layout = null;
    var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
    var fitGuideLink = Model?.Custom1;
    if (fitGuideLink != null)
    {
        fitGuideLink = "../" + fitGuideLink;
    }
    List<ProductAttributesViewModel> _SizeListWithDO = new List<ProductAttributesViewModel>();
    bool havewidth = false;
    bool havesize = false;
    foreach (var att in attributes)
    {
        if (att.AttributeCode == "Color")
        {
            att.DisplayOrder = 10;
            att.IsSwatch = "true";
        }
        if (att.AttributeCode == "Size")
        {
            _SizeListWithDO = att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder).ToList();
            att.DisplayOrder = 20;
            havesize = true;
        }
        if (att.AttributeCode == "ShoeWidth")
        {

            att.DisplayOrder = 30;
            havewidth = true;
        }

    }
    attributes = attributes.OrderBy(x => x.DisplayOrder).ToList();

    HttpCookie cookie = Request.Cookies["defaultstore"];

    if ((cookie != null) && (cookie.Value != ""))
    {
        Response.Write(cookie.Values["dep_name"].ToString() + "---" +
        cookie.Values["cat_name"].ToString() + "---" + cookie.Values["brand"].ToString());
    }
    else
    {

    }
    string _attrvaluelist = "";
}

<div id="loaderId"> </div>

<div class="col-xs-12 nopadding">
    <div id="WidthError" class="error-msg pdp-error-msg alert-danger text-center" style="display:none">Please select a width</div>
    <div id="SizeError" class="error-msg pdp-error-msg alert-danger text-center" style="display:none">Please select a size</div>
</div>

@if (attributes?.Count > 0)
{
    foreach (var att in attributes)
    {
        if (att.AttributeCode == "ShoeWidth")
        {

            foreach (var text in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
            {
                _attrvaluelist = _attrvaluelist + "," + text.AttributeValue;
            }
        }

        switch (att.AttributeCode)
        {
            case "Color":
                <div class="nopadding setDDLview1">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label class="d-inline-flex">@att.AttributeName</label>
                            <p id="colorname" class="text-black" title="@att.SelectedAttributeValue[0]">@att.SelectedAttributeValue[0]</p>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ul class="swatch-img size-swatch">                               
                                @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                {
                                    var imagepath = Model.SwatchImages?.Where(x => x.AttributeCode == "Color" && x.AttributeValues == image.AttributeValue).Select(x => x.ImagePath).FirstOrDefault();
                                    var galleryImages = Model.SwatchImages?.Where(x => x.AttributeCode == "Color" && x.AttributeValues == image.AttributeValue).Select(x => x.Custom3).FirstOrDefault();
                                    var baseimage = Model.SwatchImages?.Where(x => x.AttributeCode == "Color" && x.AttributeValues == image.AttributeValue).Select(x => x.Custom2).FirstOrDefault();
                                    // SwatchImageViewModel svmsize = Model.SwatchImages?.FirstOrDefault(x => x.AttributeValues == image.AttributeValue);
                                    string colorsizeList = Model.SwatchImages?.Where(x => x.AttributeCode == "ColorSize" && Convert.ToString(x.Custom1) == image.AttributeValue)?.Select(x => x.AttributeValues).FirstOrDefault();
                                    string colorname = colorsizeList.Split(',')[0];
                                    string sizeList = "";
                                    foreach (var item in _SizeListWithDO)
                                    {
                                        if (colorsizeList.Contains("," + item.AttributeValue + ","))
                                        {
                                            if (sizeList == "")
                                            {
                                                sizeList = colorname;
                                            }
                                            sizeList = sizeList + "," + item.AttributeValue;
                                        }
                                    }
                                    <li class="scratch-attribute-img ">
                                        <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="Product.prototype.OnColorChangeDDL(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" data-gallery="@galleryImages" data-sizes="@sizeList" data-image="@baseimage" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-text @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")">
                                            @if (att.SelectedAttributeValue[0] == image.AttributeValue)
                                            {
                                                // SwatchImageViewModel svm = Model.SwatchImages?.FirstOrDefault(x => x.ImagePath == imagepath);
                                                SwatchImageViewModel colorsize = Model.SwatchImages?.FirstOrDefault(x => x.AttributeCode == "ColorSize" && Convert.ToString(x.Custom1) == image.AttributeValue);
                                                colorsize.IsSelected = true;
                                            }
                                            <img src="@imagepath" data-src="@imagepath" class="SwatchImage img-responsive b-lazy" title="@image.AttributeValue" alt="@image.AttributeValue" />
                                        </label>

                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                break;
            case "ShoeWidth":
                <div class="nopadding setDDLview">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label>@att.AttributeName</label>
                            <p class="text-black-1">
                                <span id="widthname" title="@att.SelectedAttributeValue[0]"></span>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12 nopadding">
                            @{List<string> _widthattrvaluelist = new List<string>();
                                _widthattrvaluelist.Add("Select");
                                SelectList widthlist = new SelectList(_widthattrvaluelist); }
                            @Html.DropDownList("ShoeWidth", new SelectList(widthlist, "text", "text", "Select"), new { @class = "ConfigurableAttribute AttributeDropDown SelectBoxSize", code = att.AttributeCode, type = "Dropdown", @onchange = "Product.prototype.OnWidthChangeDDL(this);" })  @*onchange= "Product.prototype.OnSizeChange(this,"+ Model.ColorSizeWidthList+")",@onchange = "Product.prototype.OnAttributeSelect(this);",*@
                        </div>
                    </div>
                </div>
                break;
            case "Size":
                <div class="nopadding setDDLview">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label>@att.AttributeName</label>
                            <p class="text-black-1">
                            <span id="sizename" title="@att.SelectedAttributeValue[0]"></span>
                            </p>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12 nopadding">
                            @{
                                string colorSizeList = Model.SwatchImages?.Where(x => x.AttributeCode == "ColorSize" && x.IsSelected == true)?.Select(x => x.AttributeValues).FirstOrDefault();
                                string color = Convert.ToString(Model.SwatchImages?.Where(x => x.AttributeCode == "ColorSize" && x.IsSelected == true)?.Select(x => x.Custom1).FirstOrDefault()) + "-,";
                                colorSizeList = colorSizeList.Replace(color, "Select,");
                                string[] sizes = colorSizeList.Split(',');
                                List<SelectListItem> selectListItems = new List<SelectListItem>();
                                SelectListItem firstitem = new SelectListItem();
                                firstitem.Text = "Select";
                                firstitem.Value = "Select";
                                selectListItems.Add(firstitem);
                                List<ProductAttributesViewModel> SizeListForColor = att.ConfigurableAttribute?.Where(x => sizes.Contains(x.AttributeValue)).ToList();
                                foreach (var image in SizeListForColor?.OrderBy(x => x.DisplayOrder))
                                {
                                    SelectListItem item = new SelectListItem();
                                    item.Text = image.AttributeValue;
                                    item.Value = image.AttributeValue;
                                    selectListItems.Add(item);
                                }

                            }                            
                            @Html.DropDownList("Size", new SelectList(selectListItems, "Value", "Text", "Select"), new { @class = "ConfigurableAttribute AttributeDropDown SelectBoxSize", code = att.AttributeCode, type = "Dropdown", @onchange = "Product.prototype.OnSizeChangeDDL(this);" })
                        </div>
                    </div>
                </div>
                break;
        }
    }

}
<!--Fit Guid Link-->
@if (fitGuideLink != null)
{
    <div class="col-xs-12 nopadding fitguid-link">
        <a class="szchartClass" title="@WebStore_Resources.TitleFitGuide" href="#" onClick="InStorePickUp.prototype.FitGuide('@fitGuideLink');">@Html.RenderMessage("FitGuide")</a>
    </div>
}
    @Html.Hidden("LayoutType", "DDL")
    <label id="CombinationErrorMessage" class="error-msg"><span class="hidden">Error Msg</span></label>
    @Html.Hidden("HaveWidth", @havewidth)
    @Html.Hidden("HaveSize", @havesize)
    @Html.Hidden("ColorSizeWidthList", Json.Encode(Model.Custom4))
    @Html.Hidden("ShoeWidthValues", Json.Encode(_attrvaluelist))
    @if (!string.IsNullOrEmpty(Model.CombinationErrorMessage))
    {
        <div class="col-xs-12 nopadding">
            <span class="error-msg">
                @*@Model.CombinationErrorMessage*@
            </span>
        </div>
    }

    <script>
        $(document).ready(function () {

            try {
                var selectedtext = $('#Size :selected').text();
                if (selectedtext == "Select") {

                }
            }
            catch (err) {

            }

        });
    </script>

