﻿@using Znode.Engine.WebStore.ViewModels
@model EmailAFriendViewModel
@{
    Layout = null;
}
<div id="modelEmailToFriend" class="modal fade" role="dialog">
    <div class="compare-product-popup">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 data-test-selector="hdgEmailHeading" class="modal-title">@Admin_Resources.EmailAFriend</h4>
                    <a class="close pull-right" data-dismiss="modal" aria-label="Close" title="Close"> &#x2715 </a>
                </div>
                @using (Ajax.BeginForm("SendMailToFriend", "Product", new AjaxOptions { OnBegin = "Product.prototype.EmailToFriendBegin();", OnSuccess = "Product.prototype.EmailToFriendSuccess();", OnFailure = "Product.prototype.EmailToFriendFailure();", HttpMethod = "Post" }))
                {
                    <div class="modal-body">

                        <div class="margin-bottom">
                            <div>
                                <label class="hidden" for="YourMailId">Your Mail ID</label>
                                @Html.HiddenFor(model => model.ProductName)
                                @Html.TextBoxFor(model => model.YourMailId, new { @class = "" , @data_test_selector="txtYourMailID", @placeholder= @WebStore_Resources.LabelSenderMailId })
                                @Html.ValidationMessageFor(model => model.YourMailId)
                            </div>
                        </div>
                        <div class="margin-bottom">
                            <div>
                                <label class="hidden" for="FriendMailId">Friend Mail ID</label>
                                @Html.TextBoxFor(model => model.FriendMailId, new { @class = "", @data_test_selector = "txtRecieverMailID", @placeholder = @WebStore_Resources.LabelReceiverMailId })
                                @Html.ValidationMessageFor(model => model.FriendMailId)
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button data-test-selector="btnSendMail" id="btnSendMail" class="btn-text btn-bg-primary pull-right" type="submit">Send Mail</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {        
        $.validator.unobtrusive.parse($("#btnSendMail").closest("form"));
    });
</script>