﻿@using Znode.Engine.WebStore.ViewModels
@model SearchResultViewModel

@*<a data-toggle="collapse" data-parent="#accordion" href="#accordion" class="toggle narrow-results active" aria-expanded="true" aria-controls="collapseOne">Filters</a>*@
<div class="panel-group narrow-results-pane collapse" id="accordion">
    <div class="product-grid">
        @if (Model?.Categories?.Count > 0)
        {
            @Html.Partial("../Search/_SearchCategoryList", Model)
        }

        @if (Model?.FacetFilters?.Count > 0)
        {
            @Html.Partial("../Search/_FilterAddedList", Model)
        }
        @Html.Partial("../Search/_Facet", Model)
    </div>

</div>

