﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@using Znode.Engine.WebStore.Agents
@using System.Configuration
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string salesPrice = Equals(productType, ZnodeConstant.GroupedProduct) && (!Equals(Model.SalesPrice, null) || !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, string.Empty);
    string retailPrice = (Equals(productType, ZnodeConstant.GroupedProduct) && !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, string.Empty);
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    //string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    bool isObsolete = Convert.ToBoolean(Model?.Attributes?.Value(ZnodeConstant.IsObsolete));
    string obsoleteClass = isObsolete ? "cut-price" : "";
    string productUrl = domainurl + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString());
    //Nivi Code//
    var Brand = "";
    var Gender = "";
    Brand = Model.Attributes?.SelectAttributeList("Brand")?.FirstOrDefault()?.Value;
    Gender = Model.Attributes?.Value("RSGender");
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string BaseImage = "";
    //if (!string.IsNullOrEmpty(Convert.ToString(Model.Attributes?.Value("BaseGalleryImage2"))))
    //{
    //    BaseImage = BaseImagePath + @"t_460/" + Convert.ToString(Model.Attributes?.Value("BaseGalleryImage2"));
    //}
    //else 
    if (!string.IsNullOrEmpty(Convert.ToString(Model.Attributes?.Value("BaseImage"))))
    {
        BaseImage = BaseImagePath + @"t_460/" + Convert.ToString(Model.Attributes?.Value("BaseImage"));
    }
    string IsMappedPrice = Model.Attributes?.Value("IsMappedPrice");
    bool IsMappedPriceTrue = (IsMappedPrice == "true" || IsMappedPrice == "1" ? true : false);
    //NiVi Code//
}
<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img">
                <a onclick="location.href='@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())'">
                    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                    {
                        <img src="@_fileLocation/Images/NewTag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
                    }
                    <div class="image">
                        @{
                            string imageSrc = string.IsNullOrEmpty(BaseImage) ? "/no-image.png" : BaseImage;
                        }
                        <img id="@Model.PublishProductId" class="img-responsive b-lazy" data-src="@imageSrc" src="@imageSrc" alt="Product" data-test-selector="imgProductImage" />
                    </div>
                </a>

            </div>
            <div class="product-details">
                <a onclick="location.href='@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())'">
                    <h4 class="title" data-test-selector="lblProductTitle">@Brand</h4>
                    <h5>@Gender</h5>
                    <h6 class="title" data-test-selector="hdgProductTitle">@WebUtility.HtmlDecode(Model.Name)</h6>
                </a>
                <div class="product-rating">
                    @if (Model.Rating > 0)
                    {
                    <a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile" data-test-selector="linkReviewText">@Html.Partial("_StarRating", Model.Rating)<span class="hidden">Rating</span></a>
                    }
                </div>
                @if (CallForPricing)
                {
                    <div class="price"><label>@callForPricingMessage</label></div>
                }
                else
                {
                    <div class="price" data-sku="@Model.SKU" data-type="@Model.ProductType">
                        @if (!Helper.IsAsyncPrice)
                        {
                            if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                            {
                                <label>@Model.GroupProductPriceMessage</label>
                            }
                            else
                            {
                                if (IsMappedPriceTrue == true)
                                {

                                    //Region start
                                    if (!Equals(Model.SalesPrice, null))
                                    {
                                        <span class="@obsoleteClass" data-test-selector="spnSalesPrice">
                                            @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                        </span>

                                        if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                        {
                                            <span class="cut-price hidden" data-test-selector="spnCutPrice">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        if (Model.PromotionalPrice > 0)
                                        {

                                            <label class="@obsoleteClass">@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)</label>
                                            <span class="cut-price hidden" data-test-selector="spnCutPrice">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                            </span>

                                        }
                                        else
                                        {
                                            <span class="@obsoleteClass" data-test-selector="spnPromotionalPrice">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }

                                    }
                                    //region end
                                }
                                else
                                {
                                    //Region start
                                    if (!Equals(Model.SalesPrice, null))
                                    {
                                        <span class="SalePrice" data-test-selector="spnSalesPrice">
                                            @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                        </span>

                                        if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                        {
                                            <span class="cut-price hidden" data-test-selector="spnCutPrice">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        if (Model.PromotionalPrice > 0)
                                        {

                                            <label class="SalePrice">@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)</label>
                                            <span class="cut-price hidden" data-test-selector="spnCutPrice">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                            </span>

                                        }
                                        else
                                        {
                                            <span class="SalePrice" data-test-selector="spnPromotionalPrice">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }

                                    }
                                    //region end
                                }
                            }
                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.SKU" data-type="@productType">Loading...</label>
                        }
                    </div>
                }
                @if (isObsolete)
                {
                    <div class="product-inventory pb-2">
                        <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(string.Format(WebStore_Resources.PLPObsoleteMessage, productUrl)) </h4></div>
                    </div>
                }
            </div>
        </div>
        @* Klaviyo Changes *@
        <div class="product-item-hidden">
            @Html.Hidden("hdnlnksku", Model.SKU, new { @class = "hdnlnksku" })
            @Html.Hidden("hdnlnkProductName", Model.Name, new { @class = "hdnlnkProductName" })
            @Html.Hidden("hdnlnkUnitPrice", Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, Model.UOM), new { @class = "hdnlnkUnitPrice" })
            @Html.Hidden("hdnlnkProductURL", ZnodeWebstoreSettings.ZnodeWebStoreUri + @Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString()), new { @class = "hdnlnkProductURL" })
            @Html.Hidden("hdnlnkImageURL", BaseImage, new { @class = "hdnlnkImageURL" })
        </div>
    </div>
</div>
