﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities

@{
    var CustomeFields = Model.Attributes?.Where(x => x.IsCustomField)?. OrderBy(x => x.DisplayOrder)?.ToList();
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    
}
<div class="col-xs-12 nopadding margin-top-30 product-details-tab-mobile" id="product-content">
    <!--Mobile Description-->
    <div class="col-xs-12 nopadding">
        <div class="col-xs-12 nopadding">
            <h3><span>@WebStore_Resources.TextProductDetails</span></h3>
        </div>
        <div class="col-xs-12 nopadding">
            <div class="product-number-details">
                <div class="product-number" data-test-selector="divProductNumber">
                    @if (!string.IsNullOrEmpty(Model.SKU))
                    {
                        <span data-test-selector="spnProductItemLabel">@WebStore_Resources.LabelProductItem: #</span>
                        //string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                        string sku = Model.SKU;
                        <span>@Html.RenderBlock(sku)</span>
                    }
                </div>
            </div>
        </div>
        <div data-test-selector="divDetailsDescription" id="product-longdetail-container">
            <div class="product-description" data-test-selector="divLongDescription">@Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes.Value("LongDescription")))</div>
        </div>
    </div>
    <!--Mobile Specification-->
    <div class="col-xs-12 nopadding">
        <div class="col-xs-12 nopadding">
            <h3><span>@WebStore_Resources.TextProductSpecifications</span></h3>
        </div>
        <div class="col-xs-12 nopadding">
            <div data-test-selector="divSpecificationDescription" id="product-specification-container">
                @Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes?.Value("ProductSpecification")))
            </div>
        </div>
    </div>

    <!--Mobile Reviews-->
    @if (Model.ProductReviews?.Count > 0)
    {
        <div class="col-xs-12 nopadding">
            <div class="col-xs-12 nopadding">
                <h3><span>@WebStore_Resources.TextCustomerReviews</span></h3>
            </div>
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 nopadding text-center">
                    <div data-test-selector="divReviewDescription" id="product-review-container">
                        @Html.Partial("_ProductReviews", Model.ProductReviews)
                    </div>
                </div>
                <div class="col-xs-12 nopadding">
                    <a data-test-selector="linkWriteReview" href="/Product/writereview?id=@productId&name=@Model.Name" id="button-writeReview" class="btn-text btn-bg-primary pull-right">@WebStore_Resources.LinkTextWriteReview</a>
                </div>
            </div>
        </div>
    }
</div>
