﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities;
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    //ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    //if (HelperUtility.IsNotNull(promotionCallForPricing))
    //{
    //    IsCallForPricing = true;
    //    callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    //}
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    string disable = isObsolete || IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    //Model.CartParameter?.Add("IsRedirectToCart", "True");
    string obsoleteMessage = Model.IsQuickView ? string.Format(WebStore_Resources.QuickViewObsoleteMessage, HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())) : WebStore_Resources.ObsoleteMessage;
    string obsoleteClass = isObsolete ? "cut-price" : "";
    bool IsCloudflareEnabled = false;//GlobalAttributeHelper.IsCloudflareEnabled();
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string typicalLeadTime = Convert.ToString(Model.Attributes?.FirstOrDefault(x => x.AttributeCode.Equals(ZnodeConstant.TypicalLeadTime, StringComparison.InvariantCultureIgnoreCase))?.AttributeValues);
    bool isDownloadable = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode.Equals(ZnodeConstant.IsDownloadable, StringComparison.InvariantCultureIgnoreCase))?.AttributeValues);

    //NiVi Code//
    var Brand = "";
    var PDPBrandSEOUrl = "";
    Brand = Model.Attributes?.SelectAttributeList("Brand")?.FirstOrDefault()?.Value;
    PDPBrandSEOUrl = Model.Attributes?.Value("PDPBrandSEOUrl");
    if (PDPBrandSEOUrl == null)
    {
        PDPBrandSEOUrl = "#";
    }
    string IsMappedPrice = Model.Attributes?.Value("IsMappedPrice");
    bool IsMappedPriceTrue = (IsMappedPrice == "true" ? true : false);
    //NiVi Code//
}
<div class="col-lg-12 col-xs-12 boder-bottom-pdp padding-right-PDP">

    <!--Brand Link-->
    <div class="col-xs-12 nopadding hidden-xs hidden-sm">
        <div class="col-xs-12 col-lg-12 nopadding shopallbrand"><a href="@PDPBrandSEOUrl" title="Shop All @Brand">Shop All @Brand</a></div>
    </div>
    <!--Product Name-->
    <div class="col-xs-12 nopadding hidden-xs hidden-sm">
        <h1 data-test-selector="hdgProductName" class="product-name">@Html.RenderBlock(Model.Name)</h1>
    </div>
    <!--Product heightlights-->
    <div class="col-xs-12 highlight-container nopadding">
        <div data-test-selector="divHighlight" class="col-xs-12 product-highlight nopadding">
            @{
                if (Model.PublishProductId > 0)
                {
                    List<string> codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.Highlights)?.SelectValues?.Select(y => y.Code)?.ToList();
                    if (codesList?.Count > 0)
                    {
                        string highLightsCodes = string.Join(",", codesList);
                        int publishProductId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
                        string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                        Html.RenderAction("GetProductHighlights", "Product", new { productId = publishProductId, highLightsCodes = highLightsCodes, sku = sku });
                    }
                }
            }
        </div>
    </div>
    <!--Product Price-->
    <div class="col-xs-12 nopadding your-pricing">
        <div class="col-xs-6 col-sm-5 col-md-4 nopadding">
            @if (!IsCallForPricing && !isGroupProduct)
            {
                <div class="price" id="product_Detail_Price_Div">

                    @if (IsCloudflareEnabled)
                    {
                        <h3 class="dynamic-product-price @obsoleteClass">
                            <span class="cloudflareSpan" data-id="@Model.PublishProductId" data-type="simpleproduct" data-sku="@productSku">Loading..</span>
                        </h3>
                    }
                    else
                    {
                        if (IsMappedPriceTrue == true)
                        {
                            //START
                            if (!Equals(Model.SalesPrice, null))
                            {
                                <h3 class="dynamic-product-price @obsoleteClass" data-test-selector="hdgProductPrice" id="spnProductPrice">
                                    @if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                    {
                                        @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)
                                    }
                                    else
                                    {
                                        @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                    }
                                </h3>
                                if (Model.SalesPrice != @Model.RetailPrice)
                                {
                                    <span class="cut-price hidden" data-test-selector="spnCutPrice">
                                        @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                    </span>
                                }
                            }
                            else
                            {
                                if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                {
                                    <h3 data-test-selector="lblPriceCut" id="spnProductPrice" class="dynamic-product-price @obsoleteClass">@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)</h3>
                                    <span data-test-selector="spnCutPrice" class="cut-price hidden">
                                        @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                    </span>
                                }
                                else
                                {
                                    <h3 data-test-selector="hdgProductPrice" id="spnProductPrice" class="dynamic-product-price @obsoleteClass">@Helper.FormatPriceWithCurrency(Model.ProductPrice, Model.CultureCode, UOM)</h3>
                                }
                            }
                            //END
                        }
                        else
                        {
                            //START
                            if (!Equals(Model.SalesPrice, null))
                            {
                                <h2 class="dynamic-product-price SalePrice" data-test-selector="hdgProductPrice" id="spnProductPrice">
                                    @if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                    {
                                        @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)
                                    }
                                    else
                                    {
                                        @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                    }
                                </h2>
                                if (Model.SalesPrice != @Model.RetailPrice)
                                {
                                    <span class="cut-price hidden" data-test-selector="spnCutPrice">
                                        @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                    </span>
                                }
                            }
                            else
                            {
                                if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                {
                                    <h2 data-test-selector="lblPriceCut" id="spnProductPrice" class="dynamic-product-price SalePrice">@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)</h2>
                                    <span data-test-selector="spnCutPrice" class="cut-price hidden">
                                        @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                    </span>
                                }
                                else
                                {
                                    <h2 data-test-selector="hdgProductPrice" id="spnProductPrice" class="dynamic-product-price SalePrice">@Helper.FormatPriceWithCurrency(Model.ProductPrice, Model.CultureCode, UOM)</h2>
                                }
                            }
                            //END
                        }
                    }
                </div>
            }
            @if (IsCallForPricing)
            {
                <div class="price"><h4 class="error-msg call-for-pricing">@callForPricingMessage</h4></div>
            }
        </div>
        <div class="col-xs-6 col-sm-7 col-md-8 nopadding">
            <div class="product-rating">
                <a data-test-selector="linkReadReviewLabel" href="/Product/writereview?id=@productId&name=@Model.Name" title="@WebStore_Resources.LinkTextWriteReview" class="hidden-xs">@WebStore_Resources.LinkTextWriteReview &nbsp;</a>
                @Html.Partial("_StarRating", Model.Rating)
                @{
                    int totalreviews = 0;
                    totalreviews = (Model?.ProductReviews?.Count).GetValueOrDefault();
                    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), totalreviews) : string.Empty;
                }
                @*@ratingText*@
            </div>
        </div>
    </div>
</div>

@* Klaviyo Changes *@
@using System.Configuration
@Html.Hidden("PName", Model.Name)
@Html.Hidden("Brand", Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand))
@Html.Hidden("ProductImage", ConfigurationManager.AppSettings["BaseImagePath"].ToString() + Convert.ToString(Model.Attributes?.Value("BaseImage")))
@Html.Hidden("Gender", Model.Attributes?.ValueFromSelectValue("Gender"))
@Html.Hidden("PUnitPrice", Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM))