﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
 @{
     int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div class="col-xs-12 margin-top nopadding">
    <z-widget>@Html.WidgetPartialAjax("LinkProductList", "LinkProducts", "1101", "PortalMapping", productId)</z-widget>
    <z-widget>@Html.WidgetPartialAjax("RecentlyViewProduct", "RecentlyViewProduct", "126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
</div>
