﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@using System.Configuration
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    bool isLiteVersion = false;
    if (ViewBag.IsLite != null) { isLiteVersion = (bool)ViewBag.IsLite; }
    // Nivi code image changes start
    string PDPVideoURL = "";
    string NewPDPVideoURL = "";
    PDPVideoURL = Model.Attributes?.Value("VideoURL");
    string rotating360VideoUrl = Model.Attributes?.Value("videourl360");
    if (PDPVideoURL != null)
    {
        PDPVideoURL = Model.Attributes?.Value("VideoURL");

        string s2 = "https://";
        string s1 = "http://";

        bool str1 = PDPVideoURL.Contains(s2);
        bool str2 = PDPVideoURL.Contains(s1);

        if (str1 == false)
        {
            if (str2 == true)
            {
                NewPDPVideoURL = PDPVideoURL.Replace("http", "https");
            }
            else
            {
                NewPDPVideoURL = String.Concat(s2, PDPVideoURL);
            }
        }
        else
        {
            NewPDPVideoURL = PDPVideoURL;
        }
    }

    bool IsMobile = false;
    string GallaryfolderName = @"t_250/";
    if (Request.Browser.IsMobileDevice)
    {
        IsMobile = true;
        GallaryfolderName = @"t_1000/";
    }
    //if(@ViewBag.IsMobile==true)
    //   {
    //       IsMobile = true;
    //       GallaryfolderName = @"t_1000/";
    //   }
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string BaseImage = "", BaseImageAtt = "",
    BaseGalleryImage1 = "", BaseGalleryImage2 = "", BaseGalleryImage3 = "", BaseGalleryImage4 = "",
    BaseGalleryZoomImage1 = "", BaseGalleryZoomImage2 = "", BaseGalleryZoomImage3 = "", BaseGalleryZoomImage4 = "";
    //if (!string.IsNullOrEmpty(Convert.ToString(Model.Attributes?.Value("BaseGalleryImage2"))))
    //{
    //    BaseImageAtt = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage2"));

    //}
    //else 
    if (!string.IsNullOrEmpty(Convert.ToString(Model.Attributes?.Value("BaseImage"))))
    {
        BaseImageAtt = Convert.ToString(Model.Attributes?.Value("BaseImage"));
    }
    //BaseImageAtt = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage2"));
    string BaseGalleryAttImage1 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage1"));
    string BaseGalleryAttImage2 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage2"));
    string BaseGalleryAttImage3 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage3"));
    string BaseGalleryAttImage4 = Convert.ToString(Model.Attributes?.Value("BaseGalleryImage4"));

    string BaseGalleryAltAttText1 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText1"));
    string BaseGalleryAltAttText2 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText2"));
    string BaseGalleryAltAttText3 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText3"));
    string BaseGalleryAltAttText4 = Convert.ToString(Model.Attributes?.Value("BaseGalleryAltText4"));
    bool IsAvailableGallery1 = false, IsAvailableGallery2 = false,
     IsAvailableGallery3 = false, IsAvailableGallery4 = false;
    if (BaseImageAtt != null)
    {
        BaseImage = BaseImagePath + @"t_1000/" + BaseImageAtt;
    }
    if (BaseGalleryAttImage1 != "")
    {
        BaseGalleryImage1 = BaseImagePath + GallaryfolderName + BaseGalleryAttImage1;
        BaseGalleryZoomImage1 = BaseImagePath + @"t_1000/" + (BaseGalleryAttImage1 == null ? "sample.jpg" : BaseGalleryAttImage1);
        IsAvailableGallery1 = true;
    }
    if (BaseGalleryAttImage2 != "")
    {
        BaseGalleryImage2 = BaseImagePath + GallaryfolderName + BaseGalleryAttImage2;
        BaseGalleryZoomImage2 = BaseImagePath + @"t_1000/" + (BaseGalleryAttImage2 == null ? "sample.jpg" : BaseGalleryAttImage2);
        IsAvailableGallery2 = true;
    }
    if (BaseGalleryAttImage3 != "")
    {
        BaseGalleryImage3 = BaseImagePath + GallaryfolderName + BaseGalleryAttImage3;
        BaseGalleryZoomImage3 = BaseImagePath + @"t_1000/" + (BaseGalleryAttImage3 == null ? "sample.jpg" : BaseGalleryAttImage3);
        IsAvailableGallery3 = true;
    }
    if (BaseGalleryAttImage4 != "")
    {
        BaseGalleryImage4 = BaseImagePath + GallaryfolderName + BaseGalleryAttImage4;
        BaseGalleryZoomImage4 = BaseImagePath + @"t_1000/" + (BaseGalleryAttImage4 == null ? "sample.jpg" : BaseGalleryAttImage4);
        IsAvailableGallery4 = true;
    }
    // Nivi code image changes end
}
<script type="text/javascript">
if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
        @IsMobile =true;
}
else{
    @IsMobile = false;
    }
</script>
<input type="hidden" name="NewPDPVideoURL" id="NewPDPVideoURL" value="@NewPDPVideoURL" />
<input type="hidden" name="rotating360VideoUrl" id="rotating360VideoUrl" value="@rotating360VideoUrl" />
<div class="col-xs-12 nopadding simpleLens-gallery-container">
    <div class="col-sm-10 col-lg-9 col-md-9 col-xs-12 nopadding image-view nopadding-right order1 nopadding-potrait mobile-hidden hidden-xs hidden-sm">
        @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
        {
            <img src="@_fileLocation/Images/NewTagPDP.png" alt="New Product" class="img-responsive new-product-tag" />
        }
        <div class="col-xs-12 nopadding" id="slider">
            <!-- Right side slider -->
            <div>
                <div class="col-sm-12 mobile-no-padding nopadding" id="carousel-bounding-box">
                    <div class="carousel slide" id="myCarousel">
                        <!-- Image Call-->
                        <div class="active item" id="ImageZoom" data-slide-number="0" data-toggle="modal" data-target="#myModal">
                            <div class="simpleLens-container">
                                <div class="simpleLens-big-image-container image-view">
                                    <div class="ex1 abc" id="image-1">
                                        <a href="@BaseImage" class="easyzoom-img">
                                            <img id="product-image" src="~/Views/Themes/RoganShoesNew/Images/loading.gif" data-src="@BaseImage" class="img-responsive b-lazy fixed-image" alt="'@(Model.Attributes?.Value("ImageAltText"))" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        @if (PDPVideoURL != null)
                        {
                            <!--Video Call-->
                            <div class="VideoURL text-center youtubevideodivdesktop">
                                <center>
                                    <iframe width="100%" height="382" class="YouTubeFrame" src="" alt="Video" title="Video"></iframe>
                                </center>
                            </div>
                        }
                        @if (rotating360VideoUrl != null)
                        {
                            <!--360 Video Call-->
                            <div class="VideoURL360 text-center youtubevideo360divdesktop">
                                <center>
                                    <iframe width="100%" height="382" class="YouTube360Frame" src="" alt="Video" title="Video"></iframe>
                                </center>
                            </div>

                        }
                    </div>

                    <div class="PDP-video-code hidden-xs">
                        <!-- Code by Nivi for VideoURL-->
                        @if (PDPVideoURL != null)
                        {
                            <div class="item1 youtubevideodivmobile">
                                <a href="javascript:void(0)" class="thumbnail video-image liVideoHide" onclick="setVisibility('VideoURL', 'inline');" title="Play Video">
                                    <img src="~/Views/Themes/RoganShoesNew/Images/loading.gif" data-src=@BaseGalleryImage1 alt="Video" class="b-lazy" />
                                </a>
                            </div>
                        }
                        @if (rotating360VideoUrl != null)
                        {
                            <div class="item1 youtubevideo360divmobile">
                                <a href="javascript:void(0)" class="thumbnail video360-image liVideoHide" onclick="setVisibility('VideoURL', 'inline');" title="Play 360 Video">
                                    <img src="~/Views/Themes/RoganShoesNew/Images/loading.gif" data-src=@BaseGalleryImage1 alt="Video 360" class="b-lazy" />
                                </a>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 item nopadding order2" id="slider-thumbs">
        <div class="col-xs-12 nopadding product-altimages ProductGallarymain">
            <div id="mobilegallaryvideo">
                @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                {
                    <img src="@_fileLocation/Images/NewTagPDP.png" alt="New Product" class="img-responsive new-product-tag" />
                }
            </div>
            <div id="alt-images" class="owl-carousel alternate-img simpleLens-thumbnails-container Product_Altimages owl-themepdp owl-theme">

                <!--Nivi code Gallary Image Call-->
                @if (IsAvailableGallery1 == true)
                {
                    <div class="item" id="image-1" onclick="setVisibility('VideoURL', 'none');">
                        <a onclick="ChangeImage('@BaseGalleryZoomImage1')" href="#">
                            @if (!string.IsNullOrEmpty(BaseGalleryAttImage1))
                            {
                                <img data-src=@BaseGalleryImage1 src=@BaseGalleryImage1 class="img-responsive thumbnail fixedbottomimg b-lazy" alt="@BaseGalleryAltAttText1" title="@BaseGalleryAltAttText1">
                            }
                            else
                            {
                                if (IsMobile)
                                {
                                    <img src="http://images.rogansshoes.com/t_1000/sample.jpg" class="img-responsive thumbnail fixedbottomimg" alt="No Image" title="No Image">
                                }
                                else
                                {
                                    <img src="http://images.rogansshoes.com/t_250/sample.jpg" class="img-responsive thumbnail fixedbottomimg" alt="No Image" title="No Image">
                                }
                            }

                        </a>
                    </div>
                }
                @if (IsAvailableGallery2 == true)
                {
                    <div class="item" id="image-2" onclick="setVisibility('VideoURL', 'none');">
                        <a onclick="ChangeImage('@BaseGalleryZoomImage2')" href="#">
                            @if (!string.IsNullOrEmpty(BaseGalleryAttImage2))
                            {
                                <img data-src=@BaseGalleryImage2 src=@BaseGalleryImage2 class="img-responsive thumbnail fixedbottomimg b-lazy" alt="@BaseGalleryAltAttText2" title="@BaseGalleryAltAttText2">
                            }
                            else
                            {
                                if (IsMobile)
                                {
                                    <img src="http://images.rogansshoes.com/t_1000/sample.jpg" class="img-responsive thumbnail fixedbottomimg" alt="No Image" title="No Image">
                                }
                                else
                                {
                                    <img src="http://images.rogansshoes.com/t_250/sample.jpg" class="img-responsive thumbnail fixedbottomimg" alt="No Image" title="No Image">
                                }
                            }

                        </a>
                    </div>
                }
                @if (IsAvailableGallery3 == true)
                {
                    <div class="item" id="image-3" onclick="setVisibility('VideoURL', 'none');">
                        <a onclick="ChangeImage('@BaseGalleryZoomImage3')" href="#">
                            @if (!string.IsNullOrEmpty(BaseGalleryAttImage3))
                            {
                                <img data-src=@BaseGalleryImage3 src=@BaseGalleryImage3 class="img-responsive thumbnail fixedbottomimg b-lazy" alt="@BaseGalleryAltAttText3" title="@BaseGalleryAltAttText3">
                            }
                            else
                            {
                                if (IsMobile)
                                {
                                    <img src="http://images.rogansshoes.com/t_1000/sample.jpg" class="img-responsive thumbnail fixedbottomimg" alt="No Image" title="No Image">
                                }
                                else
                                {
                                    <img src="http://images.rogansshoes.com/t_250/sample.jpg" class="img-responsive thumbnail fixedbottomimg" alt="No Image" title="No Image">
                                }
                            }

                        </a>
                    </div>
                }
                @if (IsAvailableGallery4 == true)
                {
                    <div class="item" id="image-4" onclick="setVisibility('VideoURL', 'none');">
                        <a onclick="ChangeImage('@BaseGalleryZoomImage4')" href="#">
                            @if (!string.IsNullOrEmpty(BaseGalleryAttImage4))
                            {
                                <img data-src=@BaseGalleryImage4 src=@BaseGalleryImage4 class="img-responsive thumbnail fixedbottomimg b-lazy" alt="@BaseGalleryAltAttText4" title="@BaseGalleryAltAttText4">
                            }
                            else
                            {
                                if (IsMobile)
                                {
                                    <img src="http://images.rogansshoes.com/t_1000/sample.jpg" class="img-responsive thumbnail fixedbottomimg" alt="No Image" title="No Image">
                                }
                                else
                                {
                                    <img src="http://images.rogansshoes.com/t_250/sample.jpg" class="img-responsive thumbnail fixedbottomimg" alt="No Image" title="No Image">
                                }
                            }

                        </a>
                    </div>
                }
                
                @if (rotating360VideoUrl != null)
                {
                    <div class="itemmobile">
                        <!--360 Video Call-->
                        <div class="VideoURL360 text-center youtubevideo360divdesktop mobilevediopdp" id="mobilegallary360video">
                            <center>
                                <iframe width="100%" class="YouTube360Frame" src="" alt="360 Video" title="360 Video"></iframe>
                            </center>
                        </div>
                    </div>
                }
                @if (PDPVideoURL != null)
                {
                    <div class="itemmobile">
                        <!--Video Call-->
                        <div class="VideoURL text-center youtubevideodivdesktop mobilevediopdp" id="mobilegallaryvideo">
                            <center>
                                <iframe width="100%" class="YouTubeFrame" src="" alt="Video" title="Video"></iframe>
                            </center>
                        </div>
                    </div>
                }
            </div>
            <div class="customNavigation hidden-lg hidden-md visible-xs hidden-sm">
                <a class="prev"></a>
                <a class="next"></a>
            </div>
        </div>
    </div>
</div>

@*Image Modal View*@
<div id="myModal" class="modal fade mobile-top modal-image-pdp" role="dialog">
    <div class="modal-dialog modal-lg modal-fullscreen">
        <div class="modal-content mobile-modal-heightfit">
            <div class="modal-body">
                <a class="close pull-right" data-dismiss="modal" aria-label="Close" title="Close"> &#x2715 </a>
                <div>
                    <div id="owl-demoImage">
                        @if (IsAvailableGallery1)
                        {
                            if (!string.IsNullOrEmpty(BaseGalleryAttImage1))
                            {
                                <div class="item">
                                    <a class='zoom' id='ex2'>
                                        <img data-src="@BaseGalleryZoomImage1" src="@BaseGalleryZoomImage1" class="b-lazy img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText1" title="@BaseGalleryAltAttText1">
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="item">
                                    <a class='zoom' id='ex2'>
                                        <img src="http://images.rogansshoes.com/t_1000/sample.jpg" class="img-responsive thumbnail fixedbottomimg" alt="No Image" title="No Image">
                                    </a>
                                </div>


                            }
                        }
                        @if (IsAvailableGallery2)
                        {
                            if (!string.IsNullOrEmpty(BaseGalleryAttImage2))
                            {
                                <div class="item">
                                    <a class='zoom' id='ex3'>
                                        <img data-src="@BaseGalleryZoomImage2" src="@BaseGalleryZoomImage2" class="b-lazy img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText2" title="@BaseGalleryAltAttText1">
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="item">
                                    <a class='zoom' id='ex3'>
                                        <img src="http://images.rogansshoes.com/t_1000/sample.jpg" class="img-responsive thumbnail fixedbottomimg" alt="No Image" title="No Image">
                                    </a>
                                </div>

                            }
                        }
                        @if (IsAvailableGallery3)
                        {
                            if (!string.IsNullOrEmpty(BaseGalleryAttImage3))
                            {
                                <div class="item">
                                    <a class='zoom' id='ex4'>
                                        <img data-src="@BaseGalleryZoomImage3" src="@BaseGalleryZoomImage3" class="b-lazy img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText3" title="@BaseGalleryAltAttText1">
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="item">
                                    <a class='zoom' id='ex4'>
                                        <img src="http://images.rogansshoes.com/t_1000/sample.jpg" class="img-responsive thumbnail fixedbottomimg" alt="No Image" title="No Image">
                                    </a>
                                </div>

                            }
                        }
                        @if (IsAvailableGallery4)
                        {
                            if (!string.IsNullOrEmpty(BaseGalleryAttImage4))
                            {
                                <div class="item">
                                    <a class='zoom' id='ex5'>
                                        <img data-src="@BaseGalleryZoomImage4" src="@BaseGalleryZoomImage4" class="b-lazy img-responsive thumbnail fixedbottomimg" alt="@BaseGalleryAltAttText4" title="@BaseGalleryAltAttText1">
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="item">
                                    <a class='zoom' id='ex5'>
                                        <img src="http://images.rogansshoes.com/t_1000/sample.jpg" class="img-responsive thumbnail fixedbottomimg" alt="No Image" title="No Image">
                                    </a>
                                </div>

                            }
                        }

                    </div>
                </div>
            </div>
            <div class="modal-footer hidden">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@Html.Hidden("IsMobileCase", @IsMobile)

<!--Nivi Code Video/360 Video URL call-->
<script language="JavaScript">
    $(document).ready(function () {
        $(".VideoURL").hide();
    });

    $(".item").click(function () {
        $(".VideoURL").hide(); $(".simpleLens-container").show(); $("iframe").each(function () {
            var src = $(this).attr('src');
            $(this).attr('src', src);
        });
    })
    $(".video-image").click(function () { $(".VideoURL").show(); $(".simpleLens-container").hide(); $(".VideoURL360").hide() })
    //360 video URL
    $(document).ready(function () {
        $(".VideoURL360").hide();
    });
    $(".item").click(function () {
        $(".VideoURL360").hide(); $(".simpleLens-container").show(); $("iframe").each(function () {
            var src = $(this).attr('src');
            $(this).attr('src', src);

        });
    })
    $(".video360-image").click(function () { $(".VideoURL360").show(); $(".simpleLens-container").hide(); $(".VideoURL").hide() })
</script>


<script>
    $(".prev").removeAttr("style");
</script>
<script>
    $(document).ready(function () {
        try {
            $('#ex2').zoom({ on: 'grab' });
            $('#ex3').zoom({ on: 'grab' });
            $('#ex4').zoom({ on: 'grab' });
            $('#ex5').zoom({ on: 'grab' });
        }
        catch (err) {}
    });
</script>

<script>
    $(document).ready(function () {
        //$('.owl-carousel').owlCarousel({ loop: !0, margin: 10, navigation: !1, itemsCustom: [[0, 1], [320, 1], [480, 1], [600, 1], [768, 1], [992, 5], [1200, 6]], responsive: { 0: { items: 1 }, 600: { items: 3 }, 1000: { items: 5 } } })
        $("#owl-demoImage").owlCarousel({
            autoPlay: false, navigation: true, pagination: true, mouseDrag: false, touchDrag: false, rewindNav: false, itemsCustom: [[0, 1], [320, 1], [480, 1], [600, 1], [768, 1], [992, 1]], navigationText: [
                "<img src='../Views/Themes/RoganShoesNew/Images/mobilepdpimagescrollleft.svg' alt='Previous'/>",
                "<img src='../Views/Themes/RoganShoesNew/Images/mobilepdpimagescrollright.svg' alt='Next'/>"
            ]
        });
        // Custom Navigation Events
        $(".next").click(function () {
            owl.trigger('owl.next');
        })
        $(".prev").click(function () {
            owl.trigger('owl.prev');
        })
    })
</script>
<script>
    $(document).ready(function () {
        var owl = $(".owl-carousel");
        owl.owlCarousel({
            rewindNav: false,
            pagination: true,
            //Mouse Events
            mouseDrag: false,
            touchDrag: false,
            items: 1,
            itemsCustom: [[0, 1], [320, 1], [480, 1], [600, 1], [768, 1], [992, 1]],
            margin: 10,
            loop: false,
            navigation: true,
            navigationText: [
                "<img src='../Views/Themes/RoganShoesNew/Images/mobilepdpimagescrollleft.svg' class='hidden-lg hidden-md' alt='Previous'/>",
                "<img src='../Views/Themes/RoganShoesNew/Images/mobilepdpimagescrollright.svg' class='hidden-lg hidden-md' alt='Next'/>"
            ]
        });
        // Custom Navigation Events
        $(".next").click(function () {
            owl.trigger('owl.next');
        })


        $(".prev").click(function () {
            owl.trigger('owl.prev');
        });

        var NewPDPVideoURL = $("#NewPDPVideoURL").val();
        var PDP360VideoURL = $("#rotating360VideoUrl").val();
        setTimeout(function () {
            $(".youtubevideodivmobile .YouTubeFrame").attr("src", NewPDPVideoURL);
            $(".youtubevideodivdesktop .YouTubeFrame").attr("src", NewPDPVideoURL);

            $(".youtubevideo360divmobile .YouTube360Frame").attr("src", PDP360VideoURL);
            $(".youtubevideo360divdesktop .YouTube360Frame").attr("src", PDP360VideoURL);
        }, 3000);
    });
</script>
