﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities

@{
    var CustomeFields = Model.Attributes?.Where(x => x.IsCustomField)?. OrderBy(x => x.DisplayOrder)?.ToList();
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    
}
<div class="col-xs-12 nopadding margin-top-30" id="product-content">
    <div class="product-details-tab">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a data-test-selector="linkPanel1" href="#panel-1" data-toggle="tab" class="tabs">@WebStore_Resources.TextProductDetails</a></li>
            <li><a data-test-selector="linkPanel2" href="#panel-2" data-toggle="tab" class="tabs">@WebStore_Resources.TextProductSpecifications</a></li>
            @if (Model.ProductReviews?.Count > 0)
            {
                <li><a data-test-selector="linkPanel3" href="#scrollReview" onclick="javascript: $('#tab-reviews').click();" class="tabs">@WebStore_Resources.TextCustomerReviews</a></li>
            }
        </ul>
        <div id="myTabContent" class="tab-content scroll-default">
            <!--Panels 1-->
            <div class="tab-pane fade in active padding-right-PDP" id="panel-1">
                <div class="col-xs-12 nopadding">
                    <div class="product-number-details">
                        <div class="product-number" data-test-selector="divProductNumber">
                            @if (!string.IsNullOrEmpty(Model.SKU))
                            {
                                <span data-test-selector="spnProductItemLabel">@WebStore_Resources.LabelProductItem: #</span>
                                //string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                                string sku = Model.SKU;
                                <span>@Html.RenderBlock(sku)</span> 
                            }
                        </div>
                    </div>
                </div>
                <div data-test-selector="divDetailsDescription" id="product-longdetail-container">
                    <div class="product-description" data-test-selector="divLongDescription">@Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes.Value("LongDescription")))</div>
                </div>
            </div>
            <!--Panels 2-->
            <div class="tab-pane fade" id="panel-2">
                <div data-test-selector="divSpecificationDescription" id="product-specification-container">
                    @Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes?.Value("ProductSpecification")))
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-xs-12 margin-top nopadding">
        <!--Recommended Products Widget, will be displayed on PDP page-->
        <div data-test-selector="divRecommendedProductList">
            <z-widget>
                @Html.WidgetPartial("PDPRecommendations", "RecommendedProducts", "6611", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())
            </z-widget>
        </div>
    </div>
</div>
