﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model RecentViewModel
@using System.Configuration
@using Znode.Engine.WebStore.Agents
@{
    /**/

    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();

    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }

    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";

    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string salesPrice = Equals(productType, ZnodeConstant.GroupedProduct) && (!Equals(Model.SalesPrice, null) || !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, string.Empty);
    string retailPrice = (Equals(productType, ZnodeConstant.GroupedProduct) && !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, string.Empty);
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    //string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    //Nivi Code//
    var Brand = "";
    var Gender = "";
    Brand = Model.Attributes?.SelectAttributeList("Brand")?.FirstOrDefault()?.Value;
    Gender = Model.Attributes?.SelectAttributeList("Gender")?.FirstOrDefault()?.Value;
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string BaseImage = "";
    if (Convert.ToString(Model.Attributes?.Value("BaseImage")) != null)
    {
        BaseImage = BaseImagePath + @"t_460/" + Convert.ToString(Model.Attributes?.Value("BaseImage"));
    }
    string IsMappedPrice = Model.Attributes?.Value("IsMappedPrice");
    bool IsMappedPriceTrue = (IsMappedPrice == "true" || IsMappedPrice == "1" ? true : false);
    //NiVi Code//
}
<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img">
                <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
                    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                    {
                        <img src="@_fileLocation/Images/NewTag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
                    }

                    <div class="image">
                        @{
                            //string imageSrc = string.IsNullOrEmpty(Model.ImageSmallPath) ? "/no-image.png" : Model.ImageSmallPath;
                            string imageSrc = string.IsNullOrEmpty(BaseImage) ? "/no-image.png" : BaseImage;
                        }
                        <img id="@Model.PublishProductId" class="img-responsive" data-src="@imageSrc" src="@imageSrc" alt="Product" />
                    </div>
                </a>

            </div>
            <div class="product-details">
                <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
                    <h4 class="title" data-test-selector="lblProductTitle">@Brand</h4>
                    <h5>@Gender</h5>
                    <h6 class="title">@WebUtility.HtmlDecode(Model.Name)</h6>
                </a>
                <div class="product-rating">
                    @if (Model.Rating > 0)
                    {
                    <a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile" data-test-selector="linkReviewText">@Html.Partial("_StarRating", Model.Rating)<span class="hidden">Rating</span></a>
                    }
                </div>

                @if (CallForPricing)
                {
                    <div class="price"><label>@callForPricingMessage</label></div>
                }
                else
                {
                    <div class="price" data-sku="@Model.SKU" data-type="@Model.ProductType">
                        @if (!Helper.IsAsyncPrice)
                        {
                            if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                            {
                                <label>@Model.GroupProductPriceMessage</label>
                            }
                            else
                            {
                                if (IsMappedPriceTrue == true)
                                {
                                    //Region start
                                    if (!Equals(Model.SalesPrice, null))
                                    {
                                        <span>
                                            @if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                            {
                                                @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)
                                            }
                                            else
                                            {
                                                @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                            }
                                        </span>

                                        if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                        {
                                            <span class="cut-price hidden">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        if (Model.PromotionalPrice > 0)
                                        {

                                            <label>@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)</label>
                                            <span class="cut-price hidden">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                            </span>

                                        }
                                        else
                                        {
                                            <span>
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }

                                    }//Region End

                                }
                                else
                                {
                                    //Region start
                                    if (!Equals(Model.SalesPrice, null))
                                    {
                                        <span class="SalePrice" data-test-selector="spnSalesPrice">
                                            @if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                            {
                                                @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)
                                            }
                                            else
                                            {
                                                @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                            }
                                        </span>

                                        if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                        {
                                            <span class="cut-price hidden">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        if (Model.PromotionalPrice > 0)
                                        {

                                            <label class="SalePrice">@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)</label>
                                            <span class="cut-price hidden">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                            </span>

                                        }
                                        else
                                        {
                                            <span  class="SalePrice" data-test-selector="spnPromotionalPrice">
                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                            </span>
                                        }

                                    }//Region End
                                }
                            }
                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.SKU" data-type="@productType">Loading...</label>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>





