﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    string disable = isObsolete || IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    Model.CartParameter?.Add("IsRedirectToCart", "True");
    string obsoleteMessage = Model.IsQuickView ? string.Format(WebStore_Resources.QuickViewObsoleteMessage, HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())) : WebStore_Resources.ObsoleteMessage;
    string obsoleteClass = isObsolete ? "cut-price" : "";
    bool IsCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string typicalLeadTime = Convert.ToString(Model.Attributes?.FirstOrDefault(x => x.AttributeCode.Equals(ZnodeConstant.TypicalLeadTime, StringComparison.InvariantCultureIgnoreCase))?.AttributeValues);
    bool isDownloadable = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode.Equals(ZnodeConstant.IsDownloadable, StringComparison.InvariantCultureIgnoreCase))?.AttributeValues);
}
<div class="col-xs-12 product-info">
    <div class="col-xs-12 product-price nopadding">
        @if (isObsolete)
        {
            <div class="col-12 product-price p-0">
                <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(obsoleteMessage)</h4></div>
            </div>
        }
        @if (isGroupProduct && !IsCallForPricing)
        {
            <h2>
                <span id="groupproductmessage"></span>
            </h2>
            if (!string.IsNullOrEmpty(typicalLeadTime) && !isDownloadable)
            {
                <div id="divTypicalLeadTime" class="typical-time padding-bottom"><span>@WebStore_Resources.LabelTypicalLeadTime: </span>@typicalLeadTime @WebStore_Resources.LabelDays </div>
            }
        }
    </div>
    <span data-test-selector="lblMainQuantityErrMsg" id="QuickViewQuantiyErrorMessage" class="error-msg"></span>
    <div class="col-xs-12 nopadding">
        @{
            if (string.Equals(Model.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.BundleProduct, StringComparison.OrdinalIgnoreCase))
            {
                Html.RenderAction("GetBundleProduct", "Product", new { productId = Model?.PublishProductId });
            }
        }
    </div>

    <div class="col-xs-12 product-variations nopadding">
        <div class="col-xs-12 product-customize nopadding">
            <div class="col-xs-12 nopadding">
                @if (PersonliseValues?.Count > 0)
                {
                    Dictionary<string, string>
                        PersonliseCodeValue = new Dictionary<string, string>
                            ();
                    PersonliseValues.ForEach(x => PersonliseCodeValue.Add(x.AttributeCode, x.AttributeValues));
                    Html.RenderAction("GetPersonalisedAttributes", "Product", new { productId = Model.PublishProductId, PersonliseValues = PersonliseCodeValue });
                }
            </div>
                
            <div class="col-xs-12 addons-attributs">
                @if (isGroupProduct)
                {
                    var attributes = Model?.Attributes?.Where(x => x.IsConfigurable)?.ToList();
                    <div id="groupProductList">
                        @{Html.RenderAction("GetGroupProductList", "Product", new { productId = Model?.PublishProductId, IsCallForPricing = Model?.IsCallForPricing, isObsolete = isObsolete });}
                    </div>
                    @Html.HiddenFor(m => m.ShowAddToCart)
                }
                else
                {
                    <div class="col-xs-12 nopadding" id="dynamic-product-variations">
                        @Html.Partial("_ProductAttributes")
                    </div>
                }
                <div class="col-xs-12 nopadding" id="dynamic-product-addons">
                    @Html.Partial("_AddOns")
                </div>
            </div>
        </div>
       
    </div>
</div>
<script>
    $(document).ready(function () {
        var IsCloudflareEnabled = '@IsCloudflareEnabled'
        if (IsCloudflareEnabled == 'True') {
            Product.prototype.GetPrice('@obsoleteClass', '@(!string.IsNullOrEmpty(Model.MinQuantity) ? Model.MinQuantity: "1")');
        }
    })
    </script>
