﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities
@{
    decimal quantity = string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse success-msg" : "error-msg";
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    bool addToCartDisabled = isObsolete || Model.IsCallForPricing || Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    string maxQty = Model.Attributes?.Value(ZnodeConstant.MaximumQuantity);
    string minQty = Model.Attributes?.Value(ZnodeConstant.MinimumQuantity);
    bool IsCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string typicalLeadTime = Convert.ToString(Model.Attributes?.FirstOrDefault(x => x.AttributeCode.Equals(ZnodeConstant.TypicalLeadTime, StringComparison.InvariantCultureIgnoreCase))?.AttributeValues);
    bool isDownloadable = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode.Equals(ZnodeConstant.IsDownloadable, StringComparison.InvariantCultureIgnoreCase))?.AttributeValues);
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    string disable = isObsolete || IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    string FitGuideLink = Model.Attributes?.Value("FitGuideLink");
    Model.ConfigurableData.Custom1 = FitGuideLink;
    string PDPDesignView = Attributes.ValueFromSelectValue(Model?.Attributes, "PDPDesignTemplate");
    string IsProductShipOnly = Model.Attributes.FirstOrDefault(y => y.AttributeCode == "IsAvailableOnlineOnly")?.AttributeValues;
    bool IsProductAvailableInStoreOnly = false;
    List<string> codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.Highlights)?.SelectValues?.Select(y => y.Code)?.ToList();
    if (codesList?.Count > 0 && codesList.Contains("In Store Only"))
    {
        IsProductAvailableInStoreOnly = true;
    }
    <!--Start Pickup store-->
    if (Model.Custom1 != null && Model.Custom1.ToString() != "")
    {
        Model.CartParameter.Add("Custom1", Model.Custom1.ToString());
        Model.CartParameter.Add("Custom2", Model.Custom2.ToString());
        Model.CartParameter.Add("Custom3", Model.Custom3.ToString());
    }
    else
    {
        Model.CartParameter.Add("Custom1", "");
        Model.CartParameter.Add("Custom2", "");
        Model.CartParameter.Add("Custom3", "");
    }
    if (IsProductShipOnly == "true")
    {
        Model.CartParameter.Add("Custom5", "ShipOnly");
    }
    else if(IsProductAvailableInStoreOnly==true)
    {
        Model.CartParameter.Add("Custom5", "InStoreOnly");
    }
    <!--End Pickup store-->
}

@if (Model.IsConfigurable)
{
    <!--Size/Color/Width Div-->
    @*<div class="col-lg-12 col-xs-12 nopadding boder-bottom-pdp-black padding-right-PDP">
            @Html.Partial("_ConfigurableAttribute", Model.ConfigurableData)
        </div>*@
    Model.ConfigurableData.Custom5 = Model.Custom5;
    Model.ConfigurableData.Custom4 = Model.Custom4;
    //  @Html.Partial("_ConfigurableAttributeDDL", Model.ConfigurableData)
    if (PDPDesignView == "SwatchView" || PDPDesignView == null)
    {
        <div class="col-lg-12 col-xs-12 nopadding boder-bottom-pdp-black padding-right-PDP">
            @Html.Partial("_ConfigurableAttribute", Model.ConfigurableData)
        </div>
    }
    else
    {
        <div class="col-lg-12 col-xs-12 nopadding boder-bottom-pdp-black padding-right-PDP">
            @Html.Partial("_ConfigurableAttributeDDL", Model.ConfigurableData)
        </div>
    }

}
@{
    @Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)

    <!--Start Pickup store-->
    <input type="hidden" id="SelectedWarehouseId">
    <input type="hidden" id="SelectedWarehouseName">
    <input type="hidden" id="SelectedWarehouseAddress">
    <input type="hidden" id="SelectedWarehouseStock">
    @Html.Hidden("IsProductShipOnly", IsProductShipOnly)
    @Html.Hidden("IsProductAvailableInStoreOnly", IsProductAvailableInStoreOnly)    
    <div class="col-xs-12 nopadding margin-top padding-right-PDP">
        <div class="col-xs-12 col-lg-12 nopadding mobile-padding-left-right margin-bottom-30">
            <div class="col-xs-12 nopadding">
                <!--Cart Notification Msg -->
                <p id="InstoreWarning" class="notification-msg message-box alert-danger" style="display:none;">Entire order must be SHIP or PICK UP in store</p>
                <div class="change-store-link">
                    <a onclick="InStorePickUp.prototype.ChangeStore();" href='JavaScript:Void(0);' title="Change Store" class="Tablet-view-changestore">Change Store</a>
                </div>
            </div>

            <div class="col-lg-12 col-xs-12 nopadding margin-bottom">
                @if (IsProductShipOnly == "true")
                {
                    @Html.RenderMessage("OnlineExclusiveImage")
                }
                @if (IsProductAvailableInStoreOnly)
                {
                    @Html.RenderMessage("InstoreExclusiveImage")
                }
            </div>
            @if (IsProductAvailableInStoreOnly)
            {
                <div class="form-group styled-input">
                    <input type="radio" id="Ship" name="radio123" value="1" disabled />
                    <label class="set-radio-btn" for="Ship" title="Ship to an Address">Ship to an Address(Not Available)</label>
                    <p class="free-msg">@Html.RenderMessage("PDPFreeShipMessage")</p>
                </div>
                <br />
                <div class="form-group styled-input">
                    @if (Model.Custom1 != null && Model.Custom1.ToString() != "")
                    {
                        <input type="radio" id="Pickup" name="radio123" value="2" onclick="InStorePickUp.prototype.AssignStoreDetails('@Model.Custom1','@Model.Custom2','@Model.Custom3');" />
                        <label class="set-radio-btn" for="Pickup" title="In Store Pick Up">In Store Pick Up</label>
                        <div id="defaultstorename">
                            @if (Model.Custom1 != null && Model.Custom1.ToString() != "")
                            {
                                <p class="storename location">@Model.Custom2.ToString()</p>
                                <p class="pickup-msg">@Html.RenderMessage("PDPCurbsidePickupMessage")</p>
                                <p><span id="status" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p>

                            }
                            else
                            {
                                <p class="storename location"></p>
                                <p class="pickup-msg" style="display:none">@Html.RenderMessage("PDPCurbsidePickupMessage")</p>
                                <p><span id="status" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p>

                            }
                        </div>

                    }
                    else
                    {
                        <input type="radio" id="Pickup" name="radio123" value="2" onclick="InStorePickUp.prototype.ShowPopUp();" />
                        <label class="set-radio-btn" for="Pickup" title="In Store Pick Up">In Store Pick Up</label>
                        <div id="defaultstorename">
                            @if (Model.Custom1 != null && Model.Custom1.ToString() != "")
                            {
                                <p class="storename location">@Model.Custom2.ToString()</p>
                                <p class="pickup-msg">@Html.RenderMessage("PDPCurbsidePickupMessage")</p>
                                <p><span id="status" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p>

                            }
                            else
                            {
                                <p class="storename location"></p>
                                <p class="pickup-msg" style="display:none">@Html.RenderMessage("PDPCurbsidePickupMessage")</p>
                                <p><span id="status" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p>

                            }
                        </div>
                        @*<p class="pickup-msg" style="display:none">@Html.RenderMessage("PDPCurbsidePickupMessage")</p>*@
                    }

                </div>
            }
            else if (IsProductShipOnly == "false" || IsProductShipOnly == null)
            {
                <div class="form-group styled-input">
                    <input type="radio" id="Ship" name="radio123" value="1" checked data-dismiss="modal" onclick="InStorePickUp.prototype.RemoveStoreDetails();" />
                    <label class="set-radio-btn" for="Ship" title="Ship to an Address">Ship to an Address</label>
                    <p class="free-msg">@Html.RenderMessage("PDPFreeShipMessage")</p>
                </div>
                <br />
                <div class="form-group styled-input">
                    @if (Model.Custom1 != null && Model.Custom1.ToString() != "")
                    {
                        <input type="radio" id="Pickup" name="radio123" value="2" onclick="InStorePickUp.prototype.AssignStoreDetails('@Model.Custom1','@Model.Custom2','@Model.Custom3');" />
                        <label class="set-radio-btn" for="Pickup" title="In Store Pick Up">In Store Pick Up</label>
                        <div id="defaultstorename">
                            @if (Model.Custom1 != null && Model.Custom1.ToString() != "")
                            {
                                <p class="storename location">@Model.Custom2.ToString()</p>
                                <p class="pickup-msg">@Html.RenderMessage("PDPCurbsidePickupMessage")</p>
                                <p><span id="status" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p>

                            }
                            else
                            {
                                <p class="storename location"></p>
                                <p class="pickup-msg" style="display:none">@Html.RenderMessage("PDPCurbsidePickupMessage")</p>
                                <p><span id="status" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p>

                            }
                        </div>

                    }
                    else
                    {
                        <input type="radio" id="Pickup" name="radio123" value="2" onclick="InStorePickUp.prototype.ShowPopUp();" />
                        <label class="set-radio-btn" for="Pickup" title="In Store Pick Up">In Store Pick Up</label>
                        <div id="defaultstorename">
                            @if (Model.Custom1 != null && Model.Custom1.ToString() != "")
                            {
                                <p class="storename location">@Model.Custom2.ToString()</p>
                                <p class="pickup-msg">@Html.RenderMessage("PDPCurbsidePickupMessage")</p>
                                <p><span id="status" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p>

                            }
                            else
                            {
                                <p class="storename location"></p>
                                <p class="pickup-msg" style="display:none">@Html.RenderMessage("PDPCurbsidePickupMessage")</p>
                                <p><span id="status" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p>

                            }
                        </div>
                        @*<p class="pickup-msg" style="display:none">@Html.RenderMessage("PDPCurbsidePickupMessage")</p>*@
                    }

                </div>

            }
            else
            {
                <div class="col-xs-12 nopadding margin-top">
                    <div class="form-group styled-input">
                        <input type="radio" id="Ship" name="radio123" value="1" checked data-dismiss="modal" onclick="InStorePickUp.prototype.RemoveStoreDetails();" />
                        <label class="set-radio-btn" for="Ship" title="Ship to an Address">Ship to an Address</label>
                        <p class="free-msg">@Html.RenderMessage("PDPFreeShipMessage")</p>
                    </div>
                    <br />
                    <div class=" form-group styled-input GreyOut">
                        <input type="radio" id="Pickup" name="radio123" value="2" onclick="" disabled />
                        <label class="set-radio-btn" for="Pickup" style="cursor: not-allowed;" title="In Store Pick Up(Not Available)">In Store Pick Up (Not Available)</label>
                        <div id="defaultstorename">
                            @if (Model.Custom1 != null && Model.Custom1.ToString() != "")
                            {
                                <p class="storename location">@Model.Custom2.ToString()</p>
                                <p class="pickup-msg">@Html.RenderMessage("PDPCurbsidePickupMessage")</p>
                                <p><span id="status" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p>
                            }
                            else
                            {
                                <p class="storename location"></p>
                                <p class="pickup-msg">@Html.RenderMessage("PDPCurbsidePickupMessage")</p>
                                <p><span id="status" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p>
                            }
                        </div>

                    </div>
                </div>
            }
        </div>

        <!-- Start Pickup Store Modal-->
        <div id="searchstore" hidden="hidden" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchstore" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Select a store</h4>
                        <a class="close pull-right" data-dismiss="modal" aria-label="Close" title="Close"> &#x2715 </a>
                    </div>
                    <div class="modal-header">
                        <div class="Form col-xs-12 col-sm-12 col-lg-12 nopadding">
                            <div class="col-xs-12 nopadding LableForm">
                                <input type="text" id="txtzipcitystate" required="required" title="@WebStore_Resources.LabelCity, @WebStore_Resources.LabelState, @WebStore_Resources.LabelPostalZipCode" placeholder="@WebStore_Resources.LabelCity, @WebStore_Resources.LabelState, @WebStore_Resources.LabelPostalZipCode" />
                                <label id="error" class="text-danger"><span class="hidden">Error</span></label>
                            </div>
                            <div class="col-lg-12 col-xs-12 text-center margin-top two-btn-inline">
                                <button id="btnSubmit" title="@WebStore_Resources.ButtonSubmit" type="button" value="submit" class="btn-text btn-bg-secondary" onclick="InStorePickUp.prototype.GetLatLng('pdp');" data-test-selector="btnSubmitLocateStore">@WebStore_Resources.ButtonSubmit</button>
                                <img src="~/Views/Themes/RoganShoesNew/Images/Or.svg" alt="Or" class="or" />
                                <button title="@WebStore_Resources.ButtonUseMyCurrentLocation" type="button" class="btn-text btn-bg-secondary btn-width-100" onclick="InStorePickUp.prototype.GetLocation('pdp')"><img src="~/Views/Themes/RoganShoesNew/Images/Places.svg" alt="Location" /> @WebStore_Resources.ButtonUseMyCurrentLocation</button>
                            </div>
                            <div class="col-lg-12 col-xs-12 nopadding margin-top-25">
                                <label id="responseerror" class="text-danger"><span class="hidden">ResponseError</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" style="overflow-x:scroll;">
                        <div>
                            <div class="col-lg-12 col-xs-12 col-md-12">
                                <div id="address"></div>
                            </div>
                            <div id="storedetails" hidden="hidden"></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--End Pickup store-->
        <!-- Confirm Store Modal -->
        <div class="modal" id="Confirmstore">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Change Pickup Location</h4>
                        <a class="close pull-right" data-dismiss="modal" aria-label="Close" title="Close"> &#x2715 </a>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12 margin-bottom">
                                @Html.RenderMessage("ChangeStorePopUp")
                            </div>
                            <div class="col-lg-12 text-center margin-top-25">
                                <button type="button" class="btn-text btn-bg-secondary" data-dismiss="modal" onclick="InStorePickUp.prototype.ShowStatus();" title="Proceed">PROCEED</button>
                                <div class="cancel margin-top">
                                    <a href="#" data-dismiss="modal" title="cancel" class="">CANCEL</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!--Qty/Add to cart Btn-->
        <div class="col-xs-12 col-lg-5 col-sm-6 col-md-12 nopadding">
            <div class="form-group">
                <div class="col-xs-12 nopadding product-details-qty d-flex" id="product-details-quantity">
                    <input data-test-selector="txtQuantity" type="text" maxlength="3" name='Quantity' value="@quantity" data-sku="@sku" data-maxQuantity="@maxQty" data-minQuantity="@minQty" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" class="quantity" @(addToCartDisabled ? "disabled" : "" ) id="Quantity" title="Quantity">
                    @*<input type="text" maxlength="3" data-test-selector="txtQuantity" name='Quantity' value="@quantity" data-sku="@sku" data-maxQuantity="@maxQty" data-minQuantity="@minQty" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" title="Quantity" class="quantity" disabled id="Quantity" style="margin-top:0px;">*@


                    @*@Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn-text btn-bg-primary btn-addtocart", "Product.prototype.BindAddOnProductSKU(this,event)", disable, "Product.prototype.DisplayAddToCartMessage(data)")*@
                    @if (PDPDesignView == "SwatchView" || PDPDesignView == null)
                    {
                        @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn-text btn-bg-primary btn-addtocart", "Product.prototype.ValidateSwatch(this,event)", disable, "InStorePickUp.prototype.RedirectToCart()")
                    }
                    else
                    {
                        @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn-text btn-bg-primary btn-addtocart", "Product.prototype.Validate(this,event)", disable, "InStorePickUp.prototype.RedirectToCart()")
                    }
                </div>
            </div>
            <div class="form-group">
                <div data-test-selector="lblQuantityErrMsg" id="quantity-error-msg" class="error-msg alert-danger"></div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-7 col-sm-6 col-md-12 nopadding">
            @Html.Partial("_AddToWishList", Model)
            <div class="col-xs-12 nopadding wishlist-status text-right"><a id="accountWishList" href="" class=""><span class="hidden">wishlist</span></a></div>
        </div>
    </div>
    <button class="btn btn-primary btn-lg" style="display:none;" id="btnTrigger" data-toggle="modal" data-target="#searchstore"><span class="hidden">Button</span></button>
    <button class="btn btn-primary btn-lg" style="display:none;" id="btnGetStock" onclick="InStorePickUp.prototype.ResetSKUAndStock();"><span class="hidden">Button</span></button>
    <button class="btn btn-primary btn-lg" style="display:none;" id="btnConfirmStorePopUp" data-toggle="modal" data-target="#Confirmstore"><span class="hidden">Button</span></button>
    @Html.Hidden("WebstoreURL", @ZnodeWebstoreSettings.ZnodeWebStoreUri);
    @Html.Hidden("AssociatedProducts", Json.Encode(Model.AssociatedProducts))
}
<script>
    $(document).ready(function () {
        var IsCloudflareEnabled = '@IsCloudflareEnabled'
        if (IsCloudflareEnabled == 'True') {
            Product.prototype.GetInventory('');
        }
    })

    $("#txtzipcitystate").keypress(function (event) {
        if (event.keyCode == 13) {
            $("#btnSubmit").click();
            event.preventDefault();
        }

    });

</script>
