﻿@model Znode.Engine.WebStore.ViewModels.ProductReviewViewModel

@{
    string[] UsernameArray = Convert.ToString(Model.UserName).ToString().Split('/');
    string Username = "";
    try
    {
        Username = UsernameArray[0];
    }
    catch { Username = ""; }
}

<div class="col-xs-12 nopadding product-review">
    <div class="col-xs-12 nopadding review-title">
        <h5>@Html.Partial("_StarRating", Model.Rating)<span class="hidden">rating</span></h5>
        <h6>@Html.RenderBlock(Model.Headline)</h6>
        <h6>@Html.RenderBlock(Model.CreatedDate)</h6>
    </div>
    <div class="col-xs-12 nopadding review-body">
        @Html.RenderBlock(Model.Comments)
    </div>
    <div class="col-xs-12 nopadding review-meta">
       - By @Model.UserName From @Model.UserLocation
    </div>
</div>

<!--Schema org data for reviews-->
@{
    TempData["Username"] = Model.UserName;
    TempData["Comments"] = Model.Comments;
}



