﻿@model Znode.Engine.WebStore.ViewModels.ProductCompareViewModel

@{
    Layout = null;
    bool? compare = ViewBag.IsCompare;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="compare-product-popup">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@WebStore_Resources.ButtonCancel"><i data-test-selector="linkClose" class="zf-close-circle"></i><span class="hidden">close</span></button>
                <h4 data-test-selector="hdgPopUPEmail" class="modal-title">@WebStore_Resources.HeaderProductCompare</h4>
            </div>
            @using (Ajax.BeginForm(actionName, controllerName, new AjaxOptions()
            {
                OnBegin = "Product.prototype.OnClickSendMail",
                HttpMethod = "post",
                OnSuccess = "Product.prototype.SendMailResult",
            }, new { @id = "editAssociatedPriceListPrecedenceForm" }))
            {
                @Html.AntiForgeryToken();
                <div id="customFieldModel">
                    <div class="modal-body">
                        <div class="col-sm-12 nopadding">
                            <div class="form-group">
                                <div class="col-sm-12 nopadding">
                                    @Html.Label(@WebStore_Resources.LabelSenderMailId, new { @class = "required",@data_test_selector="lblYourMail"})
                                </div>
                                <div class="col-sm-12 nopadding">
                                    @Html.TextBoxFor(model => model.SenderEmailAddress, new { @id = "txtSenderEmail" , @data_test_selector = "txtYourMail" })
                                    @Html.ValidationMessageFor(model => model.SenderEmailAddress, null, new { @id = "valSenderEmail" , @data_test_selector = "lblValidationYourMail" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 nopadding">
                                    @Html.Label(@WebStore_Resources.LabelReceiverMailId, new { @class = "required" , @data_test_selector = "lblRecieverMail" })
                                </div>
                                <div class="col-sm-12 nopadding">
                                    @Html.TextBoxFor(model => model.ReceiverEmailAddress, new { @id = "txtReceiverEmail" , @data_test_selector = "txtReciverMail" })
                                    @Html.ValidationMessageFor(model => model.ReceiverEmailAddress, null, new { @id = "valReceiverEmail" , @data_test_selector = "lblValidationReciverMail" })
                                </div>
                            </div>
                            @Html.Hidden("dynamic-iscompare", compare)
                            @Html.HiddenFor(model => model.ProductId)
                            @Html.HiddenFor(model => model.ProductName)
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12 nopadding">
                            <div class="pull-right">
                                <button data-test-selector="btnSendMail" id="btnSendMail" class="btn-text btn-bg-primary pull-right" type="submit">@WebStore_Resources.LabelSendMail</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>


