﻿@using Znode.Engine.WebStore.ViewModels
@using System.Configuration
@model ProductReviewViewModel
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string imageSrc = BaseImagePath + @"t_170/" + Model.Image;
    string Image = string.IsNullOrEmpty(imageSrc) ? "/no-image.png" : imageSrc;

    //Geting domainName;
    var headers = HttpContext.Current.Request.Headers;
    const string domainHeader = "Znode-DomainName";
    string domain = string.IsNullOrEmpty(headers[domainHeader]) ? HttpContext.Current.Request.ServerVariables.Get("HTTP_HOST").Trim() : headers[domainHeader].ToString();
    ViewBag.URLdomain = domain;
    string success = Convert.ToString(TempData["Notifications"]);
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    //SEO Set
    ViewBag.Title = "Review | " + @Model.SEOTitle;
    ViewBag.Description = @Model.SEODescription + "| Review";
    ViewBag.keywords = @Model.SEOKeywords + "| Review";
}

<div id="layout-writereview" class="main-wrapper">
    <div class="container">
        <div class="row write-review">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title" data-test-selector="hdgReviewTitle">@WebStore_Resources.TitleProductReview</h1>
            </div>
            <div class="col-xs-12 col-sm-7 col-lg-6 nopadding">
                <form method="POST" action="/Product/WriteReview/@Model.PublishProductId" class="form">
                    @Html.AntiForgeryToken()
                    <div class="col-xs-12 nopadding">
                        <div class="form-group">
                            <div class="col-xs-12 nopadding"><label>@WebStore_Resources.ColumnReviewFor</label></div>                            
                            <div class="col-xs-12 nopadding" data-test-selector="divReviewProdName"><a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())" class="cart-item-title" title="@Html.RenderBlock(Model.ProductName)">@Html.RenderBlock(Model.ProductName)</a></div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 nopadding"><label class="required">@WebStore_Resources.ColumnRating</label></div>
                            <div class="col-xs-12 nopadding star-rating setrating">
                                <label data-test-selector="lblSetRating1" for="set-rating1" class="zf-star-full-fill star1 @(Model.Rating >= 1 ? "full" : "empty")" data-stars="1"></label>
                                <label data-test-selector="lblSetRating2" for="set-rating2" class="zf-star-full-fill star2 @(Model.Rating >= 2 ? "full" : "empty")" data-stars="2"></label>
                                <label data-test-selector="lblSetRating3" for="set-rating3" class="zf-star-full-fill star3 @(Model.Rating >= 3 ? "full" : "empty")" data-stars="3"></label>
                                <label data-test-selector="lblSetRating4" for="set-rating4" class="zf-star-full-fill star4 @(Model.Rating >= 4 ? "full" : "empty")" data-stars="4"></label>
                                <label data-test-selector="lblSetRating5" for="set-rating5" class="zf-star-full-fill star5 @(Model.Rating >= 5 ? "full" : "empty")" data-stars="5"></label>
                                @Html.HiddenFor(model => model.Rating)
                            </div>
                            <p class="error-msg">@Html.ValidationMessageFor(m => m.Rating)</p>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                @Html.TextBoxFor(m => m.Headline, new { @id = "review_subject", @class = "form-input-long", @data_test_selector = "txtReviewHeadline", @placeholder = @WebStore_Resources.ColumnReviewHeadline })
                                <p data-test-selector="txtReviewHeadlineValidation" class="error-msg">@Html.ValidationMessageFor(m => m.Headline, "", new { @data_test_selector = "spnReviewHeadline" })</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                @Html.TextAreaFor(m => m.Comments, new { @id = "review_text", rows = "8", cols = "45", @data_test_selector = "txtReviewTextArea", @placeholder = @WebStore_Resources.ColumnReview })
                                <p data-test-selector="paraReviewValidation" class="error-msg">@Html.ValidationMessageFor(m => m.Comments, "", new { @data_test_selector = "spnReviewComments" })</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                @Html.TextBoxFor(m => m.UserName, new { @id = "review_name", @data_test_selector = "txtYourName", @placeholder = @WebStore_Resources.ColumnReviewName })
                                <p class="form-error" data-test-selector="paraUserNameValidation">@Html.ValidationMessageFor(m => m.UserName, "", new { @data_test_selector = "spnReviewUserName" })</p>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                @Html.TextBoxFor(m => m.UserLocation, new { @id = "review_location", @data_test_selector = "txtLocation", @placeholder = @WebStore_Resources.ColumnReviewLocation })
                                <p class="error-msg" data-test-selector="paraUserLocationValidation">@Html.ValidationMessageFor(m => m.UserLocation, "", new { @data_test_selector = "spnReviewLocation" })</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 nopadding">
                        <p class="sub">@WebStore_Resources.TextReviews</p>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="pull-right margin-top-bottom">
                            <button data-test-selector="btnSubmit" type="submit" class="btn-text btn-bg-primary" title="@WebStore_Resources.ButtonSubmitReview">@WebStore_Resources.ButtonSubmitReview</button>
                            <a data-test-selector="linkCancel" href="@Url.GetProductUrl(Model.SEOUrl, Convert.ToString(Model.PublishProductId))" class="btn-text btn-bg-secondary hidden-xs" title="@WebStore_Resources.ButtonCancel">@WebStore_Resources.ButtonCancel</a>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.PublishProductId)
                    @Html.HiddenFor(m => m.ProductName)
                    @Html.HiddenFor(m => m.SKU)
                </form>
            </div>
        </div>
    </div>
</div>