﻿@import "../_base.scss";

.panel-heading .accordion-toggle:after {font-family: $znode-icon-font;content: "\f107";float: right;color:$base-color-black;font-size:20px;margin-top:-2px;padding-right:25px;}
.panel-heading .accordion-toggle.collapsed:after {content: "\f105";color:$base-color-black;font-size:20px;}
.panel-heading .accordion-toggle.collapsed{background-color:#fff; border-left:none;color:$base-color-black;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.panel-default {border-color: #fff;}
.panel{box-shadow: none;border-radius: 0px;-webkit-box-shadow: none;}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #fff;
}
.side-bar {
    .panel-heading{padding:0;
           h4{background-color:$base-color-white;color:$base-color-black;font-size:18px;padding:8px 0px;cursor:pointer; border-left:none;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;font-family:$base-font-family-bold;text-transform:uppercase;border-bottom:1px solid $base-color-black;}
    }
    .panel-body{overflow-y:auto;max-height:450px;}
    .filter-list{padding:0;margin:0;list-style:none;
        li{
           h4{font-size:16px;font-family:$base-font-family-semibold;}
            label{width:90%;
                  span{color:#65666C}
            }
        }
        li.filter-item{padding:0 5px;border-radius:4px;color:$base-color-secondary;cursor:pointer;margin-top:5px;list-style:none;
                &:hover label{text-decoration:line-through !important;color:$base-color-primary;}
                i{font-size:10px;margin:5px;color:$base-color-primary;display:inline-block;vertical-align:top;}
                label{font-weight:normal;max-width:88%;vertical-align:top;line-height:18px;cursor:pointer;}
        }
    }
    .clear-filter{cursor:pointer;display:block;text-align:right;margin-top:-10px;}
}

//Media Query.
@include screensize(x-small) {
    .side-bar .narrow-results{display:block;padding:6px 0;font-size:16px;color:$base-color-white;position:absolute;top:-70px;right:15px;z-index:999;
           &:after{content:"\f107";float:right;font-family:$znode-icon-font;padding-left:5px;line-height:24px;}
           &.collapsed:after{content:"\f105";}
    }
    .side-bar{padding-left:15px;}
}
@include screensize(small) {
    .side-bar .narrow-results{display:none;}
    .side-bar{padding-left:0;padding-right:0;
         .filter-list li.filter-item label{max-width:85%;}
    }
}
@include screensize(medium) {
    .side-bar{padding-right:15px;
        .filter-list li.filter-item label{max-width:88%;}
    }
}