﻿@import "../_base.scss";

.product-grid .products-modes-setting {border-bottom:5px solid $base-color-primary;
    h1{margin-top:0;}
    .view-mode{font-size:13px;line-height:50px;
        a{padding-left:5px;display:inline-block;text-align:center;}
        i{font-size:20px;padding:5px;border:1px solid $border-bgcolor-default;border-radius:4px;color:#bababa;
            &:hover{background-color:$base-color-primary;color:$base-color-white;border-color:$base-color-primary;}
        }
        a.grid-view-opt-active > i,a.list-view-opt-active > i,a.text-view-opt-active > i{background-color:$base-color-primary;color:$base-color-white;border:1px solid $base-color-primary;}
    }
}
.category-list .grid-view > li {
        width: 33%;
        margin-bottom:20px;
    }
.category-list .product-view .product-item .view-item{border:2px solid $base-color-white;padding: 0px 0px;
         &:hover{border:2px solid $base-color-white!important;z-index:99;}
         a.Btn-link{display: block;width: 100%;margin: 0 auto;padding: 0px;width: 100%;font-family: $base-font-family-bold;letter-spacing: 1.66px;font-size: 16px;}

}
.product-grid-border{border-top: 1px solid #161622;margin-top: 0px;padding-top: 10px;}
.product-grid .product-view{
    .product-item{margin: 0px auto;max-width: 85%;position: relative;
        .swatch-img-container{position:absolute;right:5px;bottom:110px;
            ul{margin:0; padding:0;
                li{display:block;cursor:pointer;width:25px;height:25px;margin-bottom:5px;}
            }
        }
        .view-item{border:2px solid $base-color-white;padding: 0px 0px;
            &:hover{border:2px solid $base-color-primary;z-index:99;
                .compare-link{opacity: 1;pointer-events:auto;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;transition: all 0.5s;left:6px;z-index:99;}
                .item-error-msg{background:rgba(0,0,0,0.2);}                
            } 
            .item-error-msg{background:rgba(0,0,0,0.3);position:absolute;width:83%;top:90px;left:21px;right:0;text-align:center;vertical-align:middle;display:inline-block;
                p{color:#fff;position:relative;font-size:18px;text-shadow: 2px 4px 3px rgba(0,0,0,0.3);}
            }          
        }
        .product-img{
            .image{min-height:220px;width:100%;background-color:$footer-bgcolor;}
            .new-product-tag{position:absolute;top:2px;left:10px;z-index:99;width:40px;height:44px;}
            img{margin:0 auto;max-height:220px;}
            .btn-quick-view{display:none;position:absolute;top:210px;left:34%;font-size:11px;text-transform:uppercase;line-height:27px;z-index:99;padding:0 10px;font-family:$base-font-family-semibold;border-radius:2px;}  
        } 
        .product-details{margin-top:10px;padding:0px 15px;
            h4{font-size:13px;color:$base-color-black;line-height:18px;font-family:$base-font-family-semibold;margin-top: 18px;text-transform:uppercase;} 
            h5{font-size:13px;color:$base-color-primary;line-height:6px;font-family:$base-font-family-semibold;margin-top:15px;text-transform:uppercase;}
            h6{font-size:13px;color:$base-color-black;line-height:18px;font-family:$base-font-family;text-decoration: none;min-height: 38px;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;margin-bottom:5px;}                     
            .price{margin:5px 0;font-family:$base-font-family-semibold;font-size:16px;
                   label{font-size:13px;margin:0;}
            }
                .cut-price{font-size:13px;}
                a{font-size:12px;}  
        }
    }        
    .category-item{
        .short-description p{height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px;}
        .btn-card{width:100%;}
        .category-img img{margin:0 auto;}
        h4{font-size:14px;font-weight:bold;overflow:hidden;line-height:18px;}
    } 
    .text-view .product-item{
        .swatch-img-container{display:none;}  
        .view-item:hover .compare-link{opacity:1;pointer-events:auto;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;transition: all 0.5s;right:6px !important;left:auto;z-index:99;}
    } 

    // Product View Changes.   
    .list-view > li,.text-view > li{width: 100%;}
    .list-view li .product-item,.text-view li .product-item{max-width:100% !important;}
    .list-view li{
        .product-item .view-item{float:left;width:100%;border-bottom:1px solid $border-bgcolor-default;
            .item-error-msg{width:26%;left:24px;}
        }
        .product-img{float:left;width:30%;padding:0 10px;            
            .btn-quick-view{left:11%;} 
        }
        .product-details{float:left;width:70%;margin-top:0;
            .title{margin:0 0 6px 0;} 
        }
    }
    .text-view li{    
        .product-item{margin:5px auto;
            .view-item{border-bottom:1px solid $border-bgcolor-default;
                .item-error-msg{width:100%;left:0;top:70px;background-color:transparent;text-align:left;left:10px;
                    p{color:$text-fgcolor-default;font-size:14px;text-shadow:none;}
                }
                .new-product-tag{right:55px;}
            }
        }
        .product-img{
            .image{display:none;}
            .compare-link{position:absolute;top:15px;right:-8px !important;bottom:65px;left:auto;opacity:0;pointer-events:none;}
            .btn-quick-view{top:45px;left:43%;}  
        }   
        .product-details{margin-top:0;
              .title{margin:0 0 6px 0;} 
        } 
    } 
    .text-view li .product-details .text-center,.list-view li .product-details .text-center{text-align:left !important;}
}

//Swatch Image css
#SwatchImageSection {
    ul{
        li{margin: 0px;border:1px solid $base-color-white;border-radius:50px;width:18%;cursor:pointer;
           &:hover{border:1px solid rgba(0,0,0,0.3);}
            img{width: 40px;margin:auto;border-radius: 50px;
                &:hover{width: 40px;margin:auto;padding:1px;}
            }
        }
    }
}
// Product View Changes.
.product-grid-ul{margin:0;padding:0;display:flex;flex-wrap:wrap;
    li{list-style:none;padding:0;margin:0;display:inline-block;}
}

.search-paging{
    .search-pagination{padding:0 5px 0 0; 
        ul{text-align:center;float:right;margin:0;padding:0;
            li{display:inline-block;list-style:none;
                a{padding:8px;}
                a.disabled{opacity:0.3;cursor:not-allowed;}
            }
            .arrow-right{float:left;width:32px;height:32px;line-height:32px;border:1px solid $border-bgcolor-default;border-radius:0px;color:$base-color-primary;}
            .arrow-left{@extend .arrow-right;margin-right:5px;}
        }
    }
}

// Compare Product Vertical Center.
.compare-product-popup{position:fixed;top:50%;transform:translate(0, -50%) !important;-webkit-transform:translate(0, -50%) !important;-moz-transform:translate(0, -50%) !important;left:0;right:0;}

// Compare Link On Product View.
.compare-link{position:absolute;top:15px;left:-30px;opacity:0;pointer-events:none;
    a{color:$base-color-primary;border:1px solid $base-color-primary;padding:10px;background-color:$base-color-white;}
    i{vertical-align:middle; text-align:center;font-size:22px;}
}

// Category Landing.
.category-list h1{border-bottom:5px solid $base-color-primary;margin-top:0;padding-bottom:10px;}

// Media Query.
@include screensize(x-small) {
    .grid-view > li{width: 100%;}
    .search-paging{padding:0;}
    .product-list-widget .view-item:hover .btn-quick-view,.product-grid .product-view .view-item:hover .btn-quick-view{display:none;}
    .product-grid .product-view{
        .list-view li .product-img{
            .image{min-height:70px;}
        }
     }
    .compare-link{left:6px;top:210px;opacity:1;
        a{padding:5px;
            i{font-size:15px;}
        }
    }
    .list-view li{
        .compare-link{left:6px;top:10px;opacity:1;}        
    }
}
@include screensize(xl-small) {
    .grid-view > li{width: 50%;}
}
@include screensize(small) {
    .product-grid .product-view{
        .list-view li .product-img{
            .image{min-height:150px;}
            .btn-quick-view{top:150px;left:8%}
        }
    }
    .search-paging{padding:0 10px;}    
    .compare-link{opacity:0;left:-30px;top:15px;
        a{padding:10px;
            i{font-size:22px;}
        }
    } 
    .list-view li{
        .compare-link{left:-30px;top:15px;opacity:0;}        
    }
}
@include screensize(medium) {
    .grid-view > li{width:33.33%;margin-top: 30px;}
    .product-grid .product-view{
        .list-view li .product-img{
            .image{min-height:220px;}
            .btn-quick-view{top:210px;left:11%;}
        }
    }
    .product-grid .product-item{
        .btn-quick-view i,.btn-add-cart i{font-size:12px;}
        .btn-quick-view,.btn-add-cart{padding:0 12px 0 7px;font-size:12px;}
    }    
}
@include screensize(desktop) { 
    .product-grid .product-item{
        .btn-quick-view i,.btn-add-cart i{font-size:16px;}
        .btn-quick-view,.btn-add-cart{padding:0 15px 0 10px;font-size:13px;}
    }
    .product-list-widget .view-item:hover .btn-quick-view,.product-grid .product-view .view-item:hover .btn-quick-view{display:inline-table;}
    .category-list .product-view .product-item .view-item{
         a.Btn-link{font-size: 13px;}
    }
}
@include screensize(large) {
    .grid-view > li {
        width: 25%;
    }
}
@include screensize(xx-large) {
    .grid-view > li {
        width: 20%;
    }
    .category-list .product-view .product-item .view-item{
         a.Btn-link{font-size: 16px;}
    }
}