﻿@import "../_base.scss";

.product-list-widget{margin-top: 50px;margin-bottom:50px;
    .product-item{margin:5px auto 10px;max-width:263px;position:relative;}
    .view-item{border:2px solid $base-color-white;
        &:hover{border:2px solid $border-bgcolor-primary;z-index:99;
            .item-error-msg{background:rgba(0,0,0,0.2);}
            .btn-quick-view{display:inline-table;}
        }
        .item-error-msg{background:rgba(0,0,0,0.3);position:absolute;width:83%;top:90px;left:21px;right:0;text-align:center;vertical-align:middle;display:inline-block;
                p{color:#fff;font-weight:600;position:relative;font-size:18px;text-shadow: 2px 4px 3px rgba(0,0,0,0.3);}
        }
    }
    .product-img{
        .image{height:220px;width:100%;background-color:$footer-bgcolor;}
        img{margin:0 auto;max-height:220px;}
        .new-product-tag{position:absolute;top:2px;left:10px;z-index:99;width:40px;height:44px;}
        .btn-quick-view{position:absolute;top:210px;left:34%;font-size:11px;text-transform:uppercase;line-height:27px;display:none;z-index:99;padding:0 10px;font-family:$base-font-family-semibold;border-radius:2px;}  
    } 
    .product-details{margin-top:10px;padding:0px 15px;
            h4{font-size:13px;color:$base-color-black;line-height:18px;font-family:$base-font-family-semibold;margin-top: 18px;text-transform:uppercase;} 
            h5{font-size:13px;color:$base-color-primary;line-height:6px;font-family:$base-font-family-semibold;margin-top:15px;text-transform:uppercase;}
            h6{font-size:13px;color:$base-color-black;line-height:18px;font-family:$base-font-family;text-decoration: none;min-height: 38px;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;margin-bottom:5px;}                     
            .price{margin:5px 0;font-family:$base-font-family-semibold;font-size:16px;
                   label{font-size:13px;margin:0;}
            }
            .cut-price{font-size:13px;}
            a{font-size:12px;}            
    }
    .owl-theme .owl-controls{position:absolute;right:0;text-align:center;top:-56px;
        .owl-buttons .owl-prev,.owl-buttons .owl-next{background-color:transparent;color:$base-color-primary;height:28px;width:28px;margin:0;line-height:26px;opacity:1;font-family:$znode-icon-font !important;font-size:26px;
                &:hover{background-color:transparent;color:$base-color-primary}
        }
        .owl-buttons .owl-prev{margin-right:5px;}
    }
    .recent-view-items{float:left;width:100%;}
    .recommended-view-items{float:left;width:100%;}     // TODO - refactor to not just duplicate .recent-view-items class?
}
// Media Query
@include screensize(x-small) {
.product-list-widget .owl-theme .owl-controls{display:block !important;}
#layout-home .product-list-widget {padding:0 5px;}
}

@include screensize(small) {
.product-list-widget .owl-theme .owl-controls{display:block !important;}
#layout-home .product-list-widget {padding:0;}
}

@include screensize(large) {
    .product-list-widget .owl-theme .owl-controls .owl-buttons .owl-prev {
        margin-right: 1265px;
    }

    .product-list-widget .owl-theme .owl-controls .owl-buttons .owl-next {
        margin-right: 30px;
    }

    .product-list-widget .owl-theme .owl-controls {
        display: block !important;
        position: absolute;
        right: 0;
        text-align: center;
        top: 40%;
    }
}

@include screensize(x-large) {
    .product-list-widget .owl-theme .owl-controls .owl-buttons .owl-prev {
        margin-right: 1385px;
    }

    .product-list-widget .owl-theme .owl-controls .owl-buttons .owl-next {
        margin-right: 40px;
    }

    .product-list-widget .owl-theme .owl-controls {
        display: block !important;
        position: absolute;
        right: 0;
        text-align: center;
        top: 45%;
    }
}
@include screensize(xx-large) {
    .product-list-widget .owl-theme .owl-controls .owl-buttons .owl-prev {
        margin-right: 1785px;
    }

    .product-list-widget .owl-theme .owl-controls .owl-buttons .owl-next {
        margin-right: 40px;
    }

    .product-list-widget .owl-theme .owl-controls {
        display: block !important;
        position: absolute;
        right: 0;
        text-align: center;
        top: 45%;
    }
}

