﻿@import "../_base.scss";

// Subscribe Widget.
.newsletter-widget{
    label {float: left; color:$base-color-white; padding-right: 10px; line-height: 34px; margin-bottom: 0;}
    .input-group{width:100%;
                 input[type="text"],.input-field button {background-color: transparent; color:$base-color-white;border-bottom: 1px solid $base-color-white;}    
    }
    input#txtNewsLetterSignUp::placeholder{color:$base-color-white;}
    .input-group-btn>.btn-default{margin-top: 10px;margin-bottom: 10px;width: 30%;font-family:$base-font-family-semibold;height: 40px;border-radius: 50px;border-color: initial;background-color: none;border: 1px solid;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;}
}
.email-background {
    .padding-30{padding-top: 30px;
                p{color:$base-color-black;text-align:center;text-transform:uppercase;font-family:$base-font-family-bold;}
    }
    img{width:40%;margin-left:auto;margin-right:auto;}
    .background-blue{background-color:$background-secondary;padding:30px;color:$base-color-white;text-align:center;
        h3{text-transform:uppercase;color:$base-color-white;text-align:center;font-family:$base-font-family-bold;font-size:30px;}
        p{color:$base-color-white;text-align:center;font-size:16px;}
    }
}
.border-top-grey{border-top: 1px solid #F5F5F5;}
@include screensize(x-large) {
    .email-background {
    .padding-30{padding-top: 30px;
                p{color:$base-color-black;text-align:center;text-transform:uppercase;font-size:18px;font-family:$base-font-family-bold;}
    }
    img{width:22%;margin-left:auto;margin-right:auto;margin-bottom:20px;}
    .background-blue{background-color:$background-secondary;padding:30px;color:$base-color-white;text-align:center;
        h3{text-transform:uppercase;color:$base-color-white;text-align:center;font-size:30px;font-family:$base-font-family-bold;}
        p{color:$base-color-white;text-align:center;font-size:16px;}
    }
}
}