﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Models
@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@{

    int productId = Model.ParentProductId > 0 ? Model.ParentProductId : !string.IsNullOrEmpty(Model.ProductId) ? Convert.ToInt32(Model.ProductId) : 0;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
    string removeItemOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "SendEcommerceDataForRemoveSingleCartItem(this,'" + Url.Encode(Model.SKU) + "')" : "GetModifiedValuesBeforeBeginDelete(this)";
    //PICKUP IN STORE
    var storename = string.Empty;
    if (Model.Custom1 == null)
    {
        Model.Custom1 = "";
    }
    if (Model.Custom2 == null)
    {
        Model.Custom2 = storename;
    }
    else if (Model.Custom2.ToString() == "\"\"")
    {
        Model.Custom2 = storename;
    }
}
<tr>
    <td class="cart-item-details">
        <div class="col-xs-12 col-sm-3 col-md-2 cart-image nopadding">
            @* Klaviyo Changes *@
            @Html.Hidden("hdnProductId", Model.ProductId, new { @class = "hdnProductId" })
            @Html.Hidden("hdnsku", Model.SKU, new { @class = "hdnsku" })
            @Html.Hidden("hdnProductName", Model.ProductName, new { @class = "hdnProductName" })
            @Html.Hidden("hdnQuantity", Model.Quantity, new { @class = "hdnQuantity" })
            @Html.Hidden("hdnUnitPrice", Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode), new { @class = "hdnUnitPrice" })
            @Html.Hidden("hdnProductURL", ZnodeWebstoreSettings.ZnodeWebStoreUri + Url.GetProductUrl(Model?.SeoPageName, Model.ProductId.ToString()), new { @class = "hdnProductURL" })
            @Html.Hidden("hdnImageURL", Model.ImagePath, new { @class = "hdnImageURL" })
            @* Klaviyo Changes *@

            <!--Product Image-->
            <a data-test-selector="linkCartItemDetails" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())"><img src="@Model.ImagePath" data-src="@Model.ImagePath" class="img-responsive b-lazy" alt="Product Image"></a>


            <!--Start Pickup store-->
            <input type="hidden" id="sku" value="@Model.SKU">
            @Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)
            @Html.Hidden("ProductId", Model.ProductId)
            @if (Model.Control != "Checkout")
            {
                if (Model.Custom5 == "InStoreOnly")
                {
                    <div class="col-xs-12 col-lg-12 nopadding pickup-store GreyOut">
                        <div class="form-group styled-input mobile-margin-right-20">
                            <input type="radio" data-ship="ship" id="Ship-@Model.ProductId" name=@Model.ProductId value="1" data-dismiss="modal" class="rdlShip" checked onclick="" disabled />
                            <label class="set-radio-btn" title="Ship to an Address" for="Ship-@Model.ProductId" style="cursor: not-allowed;">Ship to an Address<br />(Not Available)</label>
                        </div>
                        <div class="form-group styled-input GreyOut">
                            <input type="radio" data-pickup="pickup" id="Pickup-@Model.ProductId" name=@Model.ProductId value="2" onclick="InStorePickUp.prototype.AssignStoreDetailsForCart('@Model.Custom1','@Model.Custom2','@Model.Custom3','@Model.ProductId','@Model.ConfigurableProductSKUs');" checked class="rdlPick_@Model.ProductId" data-sku="@Model.ConfigurableProductSKUs" />
                            <label class="set-radio-btn" title="In Store Pick Up" for="Pickup-@Model.ProductId">In Store Pick Up</label>
                            <div id="defaultstorename">
                                <p class='storename location'>@Model.Custom2</p>
                                <p><span id="status_@Model.ProductId" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p>
                                <p class='select-store'><a class="Tablet-view-changestore" href='javascript:void(0)' data-pickupTarget="rdlPick_@Model.ProductId" data-sku="@Model.ConfigurableProductSKUs" data-product="@Model.ProductId" onclick="return InStorePickUp.prototype.OnCartChangeStoreClick(this);" title="Change Store">Change Store</a></p>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Custom5 == "ShipOnly")
                {
                    <div class="col-xs-12 col-lg-12 nopadding pickup-store">
                        <div class="form-group styled-input mobile-margin-right-20">
                            <input type="radio" data-ship="ship" id="Ship-@Model.ProductId" name=@Model.ProductId value="1" data-dismiss="modal" class="rdlShip" checked onclick="" disabled />
                            <label class="set-radio-btn" title="Ship to an Address" for="Ship-@Model.ProductId" style="cursor: not-allowed;">Ship to an Address</label>
                        </div>
                        <div class="form-group styled-input">
                            <input type="radio" data-pickup="pickup" id="Pickup-@Model.ProductId" name=@Model.ProductId value="2" onclick="" disabled class="rdlPick_@Model.ProductId" />
                            <label class="set-radio-btn" title="In Store Pick Up(Not Available)" for="Pickup-@Model.ProductId" style="cursor: not-allowed;">In Store Pick Up<br />(Not Available)</label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-lg-12 nopadding pickup-store">
                        <div class="form-group styled-input mobile-margin-right-20">
                            <input type="radio" data-ship="ship" id="Ship-@Model.ProductId" name=@Model.ProductId value="1" data-dismiss="modal" class="rdlShip" onclick="InStorePickUp.prototype.RemoveStoreDetailsForCartOnShipClick('@Model.ProductId')" @( Model.Custom1 != "" ? "" : "checked") />
                            <label class="set-radio-btn" title="Ship to an Address" for="Ship-@Model.ProductId">Ship to an Address</label>
                        </div>
                        <div class="form-group styled-input">
                            @if (Model.Custom1 != "")/*Pick up in store selected in PDP and carry forwarded to Cart*/
                            {
                                <input type="radio" data-pickup="pickup" id="Pickup-@Model.ProductId" name=@Model.ProductId value="2" onclick="InStorePickUp.prototype.AssignStoreDetailsForCart('@Model.Custom1','@Model.Custom2','@Model.Custom3','@Model.ProductId','@Model.ConfigurableProductSKUs');" checked class="rdlPick_@Model.ProductId" data-sku="@Model.ConfigurableProductSKUs" />
                                <label class="set-radio-btn" title="In Store Pick Up" for="Pickup-@Model.ProductId">In Store Pick Up</label>
                                <div id="defaultstorename">
                                    <p class='storename location'>@Model.Custom2</p>
                                    <p><span id="status_@Model.ProductId" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p>
                                    <p class='select-store'><a class="Tablet-view-changestore" href='javascript:void(0)' data-pickupTarget="rdlPick_@Model.ProductId" data-sku="@Model.ConfigurableProductSKUs" data-product="@Model.ProductId" onclick="return InStorePickUp.prototype.OnCartChangeStoreClick(this);" title="Change Store">Change Store</a></p>
                                </div>

                            }
                            else/*Ship is selected in PDP and carry forwarded to Cart*/
                            {
                                if (Model.Custom2 != string.Empty)/*Case Default Store is displayed for customer*/
                                {
                                    <input type="radio" data-pickup="pickup" id="Pickup-@Model.ProductId" name=@Model.ProductId value="2" onclick="InStorePickUp.prototype.AssignStoreDetailsForCart('@Model.Custom1','@Model.Custom2','@Model.Custom3','@Model.ProductId','@Model.ConfigurableProductSKUs');" data-sku="@Model.ConfigurableProductSKUs" />
                                    <label class="set-radio-btn" for="Pickup-@Model.ProductId" title="In Store Pick Up">In Store Pick Up</label>

                                    <div id="defaultstorename">
                                        <p class='storename location'>@Model.Custom2</p>
                                        <p><span id="status_@Model.ProductId" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p>
                                        <p class='select-store'><a class="Tablet-view-changestore" href='javascript:void(0)' data-pickupTarget="rdlPick_@Model.ProductId" data-product="@Model.ProductId" data-sku="@Model.ConfigurableProductSKUs" onclick="return InStorePickUp.prototype.OnCartChangeStoreClick(this);" title="Change Store">Change Store</a></p>

                                    </div>
                                }
                                else/*Case first time customer is setting Default Store*/
                                {

                                    <input type="radio" data-pickup="pickup" id="Pickup-@Model.ProductId" name=@Model.ProductId value="2" onclick="InStorePickUp.prototype.ShowPopUpCart('@Model.ConfigurableProductSKUs','@Model.ProductId')" class="rdlPick_@Model.ProductId" data-sku="@Model.ConfigurableProductSKUs" />
                                    <label class="set-radio-btn" for="Pickup-@Model.ProductId" title="In Store Pick Up">In Store Pick Up</label>
                                    <div id="defaultstorename">

                                        <p class='storename location'>@Model.Custom2</p>
                                        <p><span id="status_@Model.ProductId" style="display:none;" class="error-msg pdp-error-msg">(NOT AVAILABLE)</span></p>
                                        <p class='select-store'><a class="Tablet-view-changestore" href='#' data-pickupTarget="rdlPick_@Model.ProductId" data-product="@Model.ProductId" data-sku="@Model.ConfigurableProductSKUs" onclick="return InStorePickUp.prototype.OnCartChangeStoreClick(this);" title="Change Store">Change Store</a></p>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div id="loaderId"> </div>
                }
            }
            <button class="btn btn-primary btn-lg" style="display:none;" id="btnTrigger" data-toggle="modal" data-target="#searchstore"><span class="hidden">Button</span></button>
            <button class="btn btn-primary btn-lg" style="display:none;" id="btnConfirmStorePopUp" data-toggle="modal" data-target="#Confirmstore"><span class="hidden">Button</span></button>
            @Html.HiddenFor(x => x.Custom1, new { id = "SelectedWarehouseId" })
            @Html.HiddenFor(x => x.Custom2, new { id = "SelectedWarehouseName" })
            @Html.HiddenFor(x => x.Custom3, new { id = "SelectedWarehouseAddress" })
            @Html.HiddenFor(x => x.ProductId, new { id = "hdnProductID" })
            <input type="hidden" id="SelectedWarehouseStock">
            <!--End Pickup store-->
        </div>
        <div class="col-xs-12 col-sm-9 col-md-8 nopadding cart-description">
            <!--Product Name-->
            <a data-test-selector="linkCartItemName" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title" title="@Html.RenderBlock(Model.ProductName)">@Html.RenderBlock(Model.ProductName)</a>

            <!--Product SKU-->
            <div class="cart-item-sku"><p>Item: #@Html.RenderBlock(Model.SKU)</p></div>

            <!--Product Description-->
            <div class="group-product-list">
                @if (Model?.GroupProducts?.Count > 0)
                {
                    foreach (var item in Model.GroupProducts)
                    {
                        <p>@Html.RenderBlock(item.ProductName)</p>
                    }
                }
            </div>
            <div class="cart-item-description" data-test-selector="divCartItemDescription">
                @Html.RenderBlock(Model.CartDescription.Replace(" -", ": "))
                @if (Request.IsAuthenticated && SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey) != null && Model.Control != "Checkout")
                {                   
                    <span>Price: </span> @Html.TextBoxFor(x => x.UnitPrice, "", new { @data_cart_externalid = Model.ExternalId, @data_cart_priceproductid = Model.ProductId })
                    <a href="javascript:void(0)" id=@Model.ProductId title="Update" class="Edit" onclick="Cart.prototype.UpdatePrice(this)">Update</a>
                    
                }
                else
                {
                    <span> Price: </span> @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode)
                   
                }
                <!--Product Qty for Checkout Page-->
                @if (Model.Control == "Checkout")
                {
                    <div class="cart-item-checkout">
                        <span>Quantity:</span> @Html.Partial("_Quantity", Model)
                    </div>
                    <div class="cart-item-quantity-checkout">
                        <span id="status_@Model.ProductId" style="display:none;" class="error-msg pdp-error-msg stock-checkout">(NOT AVAILABLE)</span>
                    </div>
                }
            </div>




            @if (!Model.IsAllowedTerritories)
            {
                <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
            }

            <div class="col-xs-12 col-lg-12 nopadding">
                <div class="col-lg-7 col-xs-12 nopadding">
                    <!--Product Qty-->
                    <div class="cart-item-quantity" data-test-selector="colCartItemQuantity">
                        <div class="col-xs-12 nopadding d-flex">
                            <span>Quantity:</span> @Html.Partial("_Quantity", Model)
                        </div>
                        <div class="col-xs-12 nopadding">
                            <!--Edit / Delete Product-->
                            @using (Html.BeginForm("RemoveCartItem", "Cart", new { guid = Model.ExternalId, @class = "mobile-right" }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <p class="remove-item" style="@_displayRemoveLink">
                                    <div class="col-xs-12 nopadding edit-delete">
                                        <a href="javascript:void(0)" title="Update" class="Edit" onclick="Cart.prototype.UpdateCartQauntity($(this).closest('tr').find('#cart-quantity'))">Update</a>
                                        <a href="javascript:void(0)" title="Delete" class="Delete" onclick="javascript:$($(this).closest('form').submit());">Delete</a>
                                    </div>
                                </p>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xs-12 nopadding">
                    <!--Product Total-->
                    <div class="cart-item-total" data-test-selector="colCartItemTotal">
                        <div class="col-xs-12 nopadding cart-result">
                            <p data-test-selector="spnCartRowPrice_@Model.ProductId">@Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-2 product-price-checkout">
            <div class="col-xs-12 nopadding cart-result">
                <p data-test-selector="spnCartRowPrice_@Model.ProductId">@Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)</p>
            </div>
        </div>
    </td>
    <!-- Start Pickup Store Modal-->
    <div id="searchstore" hidden="hidden" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchstore" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Select a store</h4>
                    <a class="close pull-right" data-dismiss="modal" aria-label="Close" title="Close"> &#x2715 </a>
                </div>
                <div class="modal-header">
                    <div class="Form col-xs-12 col-sm-12 col-lg-12 nopadding">
                        <div class="col-xs-12 nopadding LableForm">
                            <input type="text" id="txtzipcitystate" required="required" title="@WebStore_Resources.LabelCity, @WebStore_Resources.LabelState, @WebStore_Resources.LabelPostalZipCode" placeholder="@WebStore_Resources.LabelCity, @WebStore_Resources.LabelState, @WebStore_Resources.LabelPostalZipCode" />
                            <label id="error" class="text-danger"><span class="hidden">Error</span></label>
                        </div>
                        <div class="col-lg-12 col-xs-12 text-center margin-top two-btn-inline">
                            <button id="btnSubmit" title="@WebStore_Resources.ButtonSubmit" type="button" value="submit" class="btn-text btn-bg-secondary" onclick="InStorePickUp.prototype.GetLatLng('cart');" data-test-selector="btnSubmitLocateStore">@WebStore_Resources.ButtonSubmit</button>
                            <img src="~/Views/Themes/RoganShoesNew/Images/Or.svg" alt="Or" class="or" />
                            <button id="UseMyCurrentLocation" title="@WebStore_Resources.ButtonUseMyCurrentLocation" type="button" class="btn-text btn-bg-secondary btn-width-100" onclick="InStorePickUp.prototype.GetLocation('cart')"><img src="~/Views/Themes/RoganShoesNew/Images/Places.svg" alt="Location" /> @WebStore_Resources.ButtonUseMyCurrentLocation</button>
                        </div>
                        <div class="col-lg-12 col-xs-12 nopadding margin-top-25">
                            <label id="responseerror" class="text-danger"><span class="hidden">ResponseError</span></label>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="overflow-x:scroll;">
                    <div>
                        <div class="col-lg-12 col-xs-12 col-md-12">
                            <div id="address"></div>
                        </div>
                        <!--Store Location Code Start Here-->
                        @*<div class="col-lg-12 col-xs-12 col-md-12 nopadding Store-location-popup">
                                <div class="col-lg-3 col-xs-12 nopadding text-capitalize store-intsock">
                                    <h5>RACINE SOUTH Rogans Shoes</h5>
                                    <hr />
                                    <h6>IN STOCK</h6>
                                    <p>Only 1 Left</p>
                                </div>
                                <div class="col-lg-7 col-xs-12 text-center store-address">
                                    <p>5415 Washington Ave. Racine, WI 53406</p>
                                    <p>262-632-8281</p>
                                    <a href="#" class="btn-bg-white" title="Pick Up Here">Pick Up Here</a>
                                </div>
                                <div class="col-lg-2 col-xs-12 text-center text-capitalize store-miles">
                                    <h3>1</h3>
                                    <p>Miles Away</p>
                                </div>
                            </div>

                            <div class="col-lg-12 col-xs-12 col-md-12 nopadding Store-location-popup">
                                <div class="col-lg-3 col-xs-12 nopadding text-capitalize outofstock">
                                    <h5>RACINE SOUTH Rogans Shoes</h5>
                                    <hr />
                                    <h6>OUT OF STOCK</h6>
                                </div>
                                <div class="col-lg-7 col-xs-12 text-center store-address">
                                    <p>5415 Washington Ave. Racine, WI 53406</p>
                                    <p>262-632-8281</p>
                                </div>
                                <div class="col-lg-2 col-xs-12 text-center text-capitalize store-miles">
                                    <h3>2</h3>
                                    <p>Miles Away</p>
                                </div>
                            </div>*@

                        <div id="storedetails" hidden="hidden"></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--End Pickup store-->
    <!-- Confirm Store Modal -->
    <div class="modal" id="Confirmstore">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Change Pickup Location</h4>
                    <a class="close pull-right" data-dismiss="modal" aria-label="Close" title="Close"> &#x2715 </a>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 margin-bottom">
                            @Html.RenderMessage("ChangeStorePopUp")
                        </div>
                        <div class="col-lg-12 text-center margin-top-25">
                            <button type="button" class="btn-text btn-bg-secondary" data-dismiss="modal" onclick="InStorePickUp.prototype.OnConfirmationProceedClick();" title="Proceed">PROCEED</button>
                            <div class="cancel margin-top">
                                <a href="#" data-dismiss="modal" title="cancel" class="">CANCEL</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</tr>
<script>
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>
<script>
    $("#txtzipcitystate").keypress(function (event) {
        if (event.keyCode == 13) {
            $("#btnSubmit").click();
            event.preventDefault();
        }

    });
    function GetModifiedValuesBeforeBeginDelete(obj) {
        //alert("called");
        $("div.cart-products table tbody tr").each(function () {
            let qtyTextbox = $(this).find('input[name="Quantity"]');
            var prodId = parseInt($(qtyTextbox).attr("data-cart-productId"));
            var deletedProductId = parseInt($(obj).attr("data-cart-productId"));
            // alert("prodId=" + prodId + ",deletedProductId=" + deletedProductId);
            if (deletedProductId != prodId) {
                //alert("inside");
                var radioValue = $("input[id='Pickup-" + prodId + "']:checked").val();
                cartShipPickValuesBeforeUpdate.push(prodId + "/" + radioValue);
            }
        });
        javascript: $($(obj).closest('form').submit());

        $(document).ready(function () {
            //  alert("after submit on document.ready");
            $.each(cartShipPickValuesBeforeUpdate, function (index, value) {
                try {
                    var r = value.split("/");
                    if (r[1] == "2") {
                        $("#Pickup-" + r[0]).prop('checked', true);
                        $("#avl_quantity_error_msg_" + r[0]).text('');
                        $(".checkout").each(function () {
                            $(".checkout").removeClass('disable-anchor');
                        });
                    }
                    else {
                        $("#Ship-" + r[0]).prop('checked', true);
                        $("#status_" + r[0]).text('');
                        $("#PickUpStockError").text('');
                        $("#showmsgpickup_" + r[0]).text('');
                        /*exceeding qty error check*/
                        $(".qty").each(function () {

                            var prdid = $(this).attr('data-cart-productid');
                            //alert("prdid="+prdid+",r[0]="+r[0]);
                            if (prdid == r[0]) {
                                //alert('inside');
                                var stockinmainstore = $(this).attr('data-ship-inventory');
                                var selectedqty = $(this).val();
                                //alert("stockinmainstore=" + stockinmainstore + ",selectedqty=" + selectedqty);
                                if (parseInt(selectedqty) > parseInt(stockinmainstore)) {
                                    if ($("#avl_quantity_error_msg_" + prdid).html() == "") {
                                        $("#div_" + prdid).html("<span id='avl_quantity_error_msg_" + prdid + "' class='error-msg quantity-msg-error'>Exceeding the available quantity(" + stockinmainstore + ")</span>");
                                        $("#div_" + prdid).show();
                                    }
                                    // $("#avl_quantity_error_msg_" + r[0]).text('Exceeding the available quantity(' + stockinmainstore + ')');
                                }
                                else {
                                    $("#div_" + prdid).hide();
                                }
                            }
                        });
                    }
                }
                catch (err) {
                    console.log(err.message);
                }
            });
        });
    }

    function SendEcommerceDataForRemoveSingleCartItem(control, sku) {
        var dec = decodeURI(sku);
        $.each(data, function (v, e) {
            if (dec == e.SKU) {
                GoogleAnalytics.prototype.SendRemoveFromCartsForSingleCartItem(e);
            }
        });
        GetModifiedValuesBeforeBeginDelete(control);
        $(control).closest('form').submit();
    }
</script>