﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
    var cultureCode = string.IsNullOrEmpty(Model?.CultureCode) ? DefaultSettingHelper.DefaultCulture : Model.CultureCode;
    decimal cartCount = (Model?.ShoppingCartItems?.Any() ?? false) ?  (Model?.ShoppingCartItems?.Sum(x => x.Quantity)).GetValueOrDefault(): 0M;
    bool isQuoteRequestEnabled = GlobalAttributeHelper.IsQuoteRequestEnabled();
    string removeItemOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "SendEcommerceDataForRemoveAllCartItems(this)" : "javascript:$($(this).closest('form').submit());";
    string checkoutButtonOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "ValidateAndSendCheckoutData();" : "Cart.prototype.ValidateProductQuantity();";
}

@if (Model?.ShoppingCartItems?.Any() ?? false)
{

<div class="col-xs-12 nopadding">
    <div class="col-xs-12 nopadding">
        <p class="notification-msg message-box alert-danger" style="display:none;" id="PickUpStockError"></p>
    </div>
    <div class="col-xs-12 nopadding">
        <a href="/" title="Back to Shopping"><i class="zf-arrow-left-big leftarrow"></i> @Html.RenderMessage("CartBacktoshopping")</a>
    </div>
    <div class="col-xs-12 col-md-12 nopadding margin-top cart-heading">
        <h1 data-test-selector="hdgShoppingCartHeading" class="page-title">@Html.RenderMessage("TitleMyBag") &nbsp;<span>@Helper.GetRoundOffQuantity(cartCount) items</span></h1>
    </div>
    
    <div class="col-xs-12 col-md-8 nopadding cart-product-details">
        <div class="col-lg-12 col-md-12 nopadding text-right remove-all-item">
            @using (Ajax.BeginForm("RemoveAllCartItem", "Cart", new AjaxOptions() { UpdateTargetId = "Cart", OnBegin = "ZnodeBase.prototype.ShowLoader()", OnComplete = "QuickOrder.prototype.ShowHideQuickOrderPopUp();global.bind.ResetTopCategory();Cart.prototype.EnableDisableMenuIcon();" }))
            {
                @Html.AntiForgeryToken()
                <a data-test-selector="linkRemoveAllCartItem" href="#" class="cart-item-remove-all" title="@Html.RenderMessage("TextRemoveAllCartItems")" onclick=@removeItemOnClickEvent> @Html.RenderMessage("TextRemoveAllCartItems")</a>
            }
        </div>
        <div class="col-xs-12 table-responsive cart-products nopadding">
            <table class="table">
                <thead>
                    <tr>
                        <th data-test-selector="lblItem">@WebStore_Resources.LabelItem</th>
                    </tr>
                </thead>
                <tbody>
                    @*To show the recently added product on the top of cart.*@
                    @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                    {
                        @Html.Partial("_CartRow", cartItem)
                    }
                </tbody>
            </table>
            @Html.HiddenFor(x => insufficientQuantity, new { id = "hdnInsufficientQuantity" })

        </div>

    </div>
    <div class="col-xs-12 col-md-4 cart-summary nopadding">
        <div class="col-xs-12 nopadding cart-total order-summary" id="CartOrdersummary">
            <div class="col-lg-12 nopadding">
                <div class="head-text"><h2 data-test-selector="hdnOrderSummaryTitle">@WebStore_Resources.HeadingOrderSummary</h2></div>
                <div class="carttotalcontentarea" id="summary-details"> <img src="../Content/Images/throbber.gif" alt="Loading" class="dashboard-loader"> </div>
                <script>
                    $.get("/cart/CalculateCart", { "_": $.now() }, function (res) { res = res.replace('Order Total', 'Order Total*'); $(".carttotalcontentarea").html(res); if ($('#dynamic-order-total')) $('#dynamic-cart-order-total').html($('#dynamic-order-total')[0].innerText); $('#cartbuttontotal').html($('#dynamic-order-total')[0].innerText); });
                </script>
            </div>
        </div>
        <div class="col-lg-12 nopadding cart-total">
            <div class="cart-buttons">
                <a data-test-selector="linkCheckout" href="/Checkout/Index" class="btn-text btn-bg-secondary checkout" id="checkOut-link" onclick="return @checkoutButtonOnClickEvent" title="@WebStore_Resources.ButtonCheckout"><span> @WebStore_Resources.ButtonCheckout <span class="checkout-price-show" id="cartbuttontotal"></span> </span></a>
            </div>
            <div class="margin-top-20">
                @Html.RenderMessage("ShippingAndTaxesInfo")
            </div>
        </div>
        
        <div class="col-xs-12 nopadding margin-top-50-set">
            <div class="col-xs-12 nopadding">
                @Html.Partial("../_ApplyCoupon", Model)
            </div>
        </div>
    </div>
</div>
    <!--promotion & shipping bar-->
    @*<div class="cart-promotion-bar col-xs-12 nopadding"></div>
    <script>$.get("/cart/CartPromotionBar", function (res) { $(".cart-promotion-bar").html(res); });</script>*@
}
else
{
    <div class="col-xs-12 col-md-8 nopadding cart-heading">
        <h1 data-test-selector="hdgShoppingCartHeading" class="page-title">@Html.RenderMessage("ShoppingBagText")</h1>
    </div>
    <div class="col-xs-12 nopadding cart-summary">
        <p class="text-center margin-top-bottom">@Html.RenderMessage("EmptyCartText")</p>
    </div>
}

<script>
    $(".cartcount").html(@cartCount)
</script>

<script async>
    $(".checkout").click(function () {
        if ($("#PickUpStockError").is(":visible")) {
            $('html, body').animate({
                scrollTop: $("#PickUpStockError").offset().top
            }, 1000);
        }
    });
</script>

@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        var data = @Html.RenderBlock(Json.Encode(Model.GetEcommerceCartItemsData()));
        function SendEcommerceDataForRemoveAllCartItems(control) {
            GoogleAnalytics.prototype.SendRemoveFromCartsForAllCartItems(data);
            $(control).closest('form').submit();
        }
        function SendEcommerceDataForRemoveSingleCartItem(control, sku) {
            var dec = decodeURI(sku);
            $.each(data, function (v, e) {
                if (dec == e.SKU) {
                    GoogleAnalytics.prototype.SendRemoveFromCartsForSingleCartItem(e);
                }
            });
            $(control).closest('form').submit();
        }
        function ValidateAndSendCheckoutData() {
            var isValid = new Boolean(Cart.prototype.ValidateProductQuantity());
            if (isValid) {
                GoogleAnalytics.prototype.SendEcommerceCheckoutData(data);
            }
            return isValid;
        }
    </script>
}




