﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CartViewModel

@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
}

<div class="main-wrapper">
    <div class="container container-small">
        <div class="row">
            <div class="col-xs-12 nopadding shopping-cart margin-top-50">
                <div id="divShoppingCart">
                    @Html.Partial("_shoppingCart", Model)
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 margin-top nopadding">
        <!--Recommended Products Widget, will be displayed on cart page-->
        <div data-test-selector="divRecommendedProductList">
            <z-widget>
                @Html.WidgetPartialAjax("CartRecommendations", "RecommendedProducts", "6611", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())
            </z-widget>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("input[data-pickup='pickup']:checked").each(function () {
            var productid = $(this).attr('name');
            var sku = $(this).attr('data-sku');
            //alert(sku);
            InStorePickUp.prototype.GetStockForSelectedStoreCart(sku, productid);
        });
    });
    window.onload = function () {
        if ('@insufficientQuantity' == 'True') {
            $("#checkOut-link").addClass('disable-anchor');
            $("#requestQuote-link").addClass('disable-anchor');
            $("#btnCompleteCheckout").addClass('disable-anchor');
            $("#paypal-express-checkout").addClass('disable-anchor');
        }
    }
</script>

