﻿@model Znode.Engine.Admin.ViewModels.StoreListViewModel
@using Znode.Engine.Admin.Models
@{
    ViewBag.Title = PIM_Resources.TitlePIM + " | " + Admin_Resources.Multifront;
}
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel" class="panel-container dirtyignore">
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.TitleStoresList</h1>
            <div class="pull-right">
                <button type="button" class="btn-text-icon margin-bottom-8" onclick="ZnodeBase.prototype.CancelUpload('divStorePopupPanel')" data-test-selector="linkBack"><i class='z-back'></i>@Admin_Resources.ButtonBack</button>
            </div>
        </div>
        <section class="col-sm-12 page-container">
            @using (Ajax.BeginForm("GetPortalList", "StoreLocator", new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </section>
    </div>
</div>
<script>
    Store.prototype.GetPortalDetail();
</script>




