﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CategoryViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    var homeimage = Model.Attributes.FirstOrDefault(x => x.AttributeCode == "HomePageImage")?.AttributeValues;
    var mobilehomeimage = Model.Attributes.FirstOrDefault(x => x.AttributeCode == "MobilePageImage")?.AttributeValues;
    var path = PortalAgent.CurrentPortal.MediaServerUrl;
    var imageSource = "";
    if (Request.Browser.IsMobileDevice)
    {
        imageSource = (mobilehomeimage == null || mobilehomeimage == "") ? imageSource = Model.ImageMediumPath : path + mobilehomeimage;
    }
    else
    {
        imageSource = (homeimage == null || homeimage == "") ? imageSource = Model.ImageMediumPath : path + homeimage;
    }
}
<li id="@Model.Custom1">
    <article class="product-item">
        <div class="view-item category-item">
            <div class="category-img">
                <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails.SEOUrl, null, Model.CategoryId)" title="@WebUtility.HtmlDecode(Model.CategoryName)">
                    <div class="image">
                        <img id="@Model.CategoryId" src="@imageSource" class="img-responsive" data-src="@imageSource" alt="@WebUtility.HtmlDecode(Model.CategoryName)" />
                    </div>
                </a>
            </div>

            <div class="col-lg-12 col-xs-12 margin-top-30 margin-bottom text-center">
                <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails.SEOUrl, null,Model.CategoryId)" title="@WebUtility.HtmlDecode(Model.CategoryName)" class="Btn-link">@WebUtility.HtmlDecode(Model.CategoryName)</a>
            </div>
        </div>
    </article>
</li>
