﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CategoryViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    var homeimage = Model.Attributes.FirstOrDefault(x => x.AttributeCode == "HomePageImage")?.AttributeValues;
    var mobilehomeimage = Model.Attributes.FirstOrDefault(x => x.AttributeCode == "MobilePageImage")?.AttributeValues;
    var path = PortalAgent.CurrentPortal.MediaServerUrl;
    var imageSource = "";
    if (Request.Browser.IsMobileDevice)
    {
        imageSource = (mobilehomeimage == null || mobilehomeimage == "") ? imageSource = Model.ImageMediumPath : path + mobilehomeimage;
    }
    else
    {
        imageSource = (homeimage == null || homeimage == "") ? imageSource = Model.ImageMediumPath : path + homeimage;
    }   
}
<li>
    <article>
        <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)" title="@WebUtility.HtmlDecode(Model.CategoryName)">
            <img data-test-selector="imgCategoryImage" id="@Model.CategoryId" class="img-responsive b-lazy" data-src="@imageSource" alt="@WebUtility.HtmlDecode(Model.CategoryName)" />
        </a>
        <div class="col-lg-12 col-xs-12 margin-top-30 margin-bottom">
            <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)" title="@WebUtility.HtmlDecode(Model.CategoryName)" class="Btn-link">
                @WebUtility.HtmlDecode(Model.CategoryName)
            </a>
        </div>
    </article>
</li>

