﻿@using Znode.Engine.WebStore.ViewModels
@using System.Configuration
@model CategoryHeaderListViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    string BaseImagePath = ConfigurationManager.AppSettings["CategoryImagePath"].ToString();
    string apiURL = ConfigurationManager.AppSettings["ZnodeApiRootUri"].ToString();
    string brandbannername = Model.Categories?.FirstOrDefault(x => x.CategoryName == "Shop by Brand")?.Attributes?.FirstOrDefault(w => w.AttributeCode == "CatNavDropDownName")?.AttributeValues;
    if (brandbannername == null)
    {
        brandbannername = "Brands";
    }
}
<!--Desktop Navigation Menu Code here-->
<ul class="nav navbar-nav hidden-xs hidden-sm" style="height:20px;">
    @{
        //Brand Link
        @*if (Model?.BrandList?.Count > 0)
        {
            <li class="dropdown yamm-fw" onClick="location.href = '/Brand/List'">
                <a href="/Brand/List" data-test-selector="linkBrand" title="@WebUtility.HtmlDecode(WebStore_Resources.LabelBrands)">@</a>
                <div class="dropdown-menu list-unstyled fadeInUp animated">
                    <div class="col-lg-12 nopadding">
                        <div class="col-lg-1 nopadding hidden-md hidden-xs">
                            <div class="rotate"><span>@</span></div>
                        </div>
                        <div class="col-lg-11">
                            <ul class="margin-top-30 set-4">
                                @foreach (var brand in Model.BrandList.OrderBy(x => x.DisplayOrder).ToList().Take(59))
                                {
                                    <li class="brand-name">
                                        <a data-test-selector="linkBrandItems" itemprop="url" data-testing="@brand.WebsiteLink" href="/@brand.WebsiteLink " title="@WebUtility.HtmlDecode(brand.BrandName)">@</a>
                                    </li>
                                }
                                <li class="brand-name"><a class="see-all" data-test-selector="linkBrandViewAll" itemprop="url" href="/Brand/List" title="@WebStore_Resources.LabelViewAllBrands">@ </a></li>
                            </ul>
                        </div>                       
                    </div>
                </div>
            </li>
        }*@

        //Category Link
        foreach (var category in Model.Categories)
        {
            List<CategorySubHeaderViewModel> subcategoryitems = new List<CategorySubHeaderViewModel>();
            if (category.CategoryName == "Shop by Brand")
            {
                var bannerImage = apiURL + BaseImagePath + category.Attributes.FirstOrDefault(x => x.AttributeCode == "CategoryImage")?.AttributeValues;
                string visibleInNav = category.Attributes.FirstOrDefault(w => w.AttributeCode == "IsUsedInNavigation")?.AttributeValues;
                if (visibleInNav == "true" || visibleInNav == "1")
                {
                    string catname = category.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
                    string catbannername = category.Attributes.FirstOrDefault(w => w.AttributeCode == "CatNavDropDownName")?.AttributeValues;
                    if (catbannername == null)
                    {
                        catbannername = catname;
                    }

                    <li class="dropdown yamm-fw"  data-name="Brands">
                        <a href="/Brand/List" data-test-selector="linkBrand" title="@Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))">@Html.RenderBlock(WebUtility.HtmlDecode(catname))</a>
                        @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
                        {
                           
                            subcategoryitems = category.SubCategoryItems.Take(71).ToList();
                            <div class="dropdown-menu list-unstyled fadeInUp animated">
                                <div class="col-lg-12 nopadding">
                                    <div class="col-lg-1 nopadding hidden-md hidden-xs">
                                        <div class="rotate"><span>@catbannername</span></div>
                                    </div>
                                    <div class="col-lg-8">
                                        <ul class="margin-top-30 set-4">
                                            @foreach (var subCategory in subcategoryitems)
                                            {
                                                string subcatname = subCategory.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
                                                <li class="brand-name">

                                                    <a href="@domainurl@Url.GetCategoryUrl(subCategory.SEOPageName, null, subCategory.CategoryId)" data-test-selector="linkSubCategoryItemList" title="@WebUtility.HtmlDecode(subCategory.CategoryName)">@WebUtility.HtmlDecode(subcatname)</a>
                                                    @if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
                                                    {
                                                        <ul class="sub-menu-child">
                                                            @Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)
                                                        </ul>
                                                    }
                                                </li>
                                            }
                                            <li class="brand-name"><a class="see-all" data-test-selector="linkBrandViewAll" itemprop="url" href="/Brand/List" title="@WebStore_Resources.LabelViewAllBrands">@WebStore_Resources.LabelViewAllBrands </a></li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                        }
                    </li>
                }
            }
            else
            {
                var bannerImage = apiURL + BaseImagePath + category.Attributes.FirstOrDefault(x => x.AttributeCode == "CategoryImage")?.AttributeValues;
                string visibleInNav = category.Attributes.FirstOrDefault(w => w.AttributeCode == "IsUsedInNavigation")?.AttributeValues;
                if (visibleInNav == "true" || visibleInNav == "1")
                {
                    string catname = category.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
                    string catbannername = category.Attributes.FirstOrDefault(w => w.AttributeCode == "CatNavDropDownName")?.AttributeValues;
                    if (catbannername == null)
                    {
                        catbannername = catname;
                    }

                    <li class="dropdown yamm-fw" data-name="@catname">
                        <a href="@domainurl@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" data-test-selector="linkCategoryItem" itemprop="url" title="@Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))" class="link-set-a">@Html.RenderBlock(WebUtility.HtmlDecode(catname))</a>
                        @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
                        {
                            subcategoryitems = category.SubCategoryItems?.Where(x=>x.Attributes.FirstOrDefault(w => w.AttributeCode == "IsUsedInNavigation")?.AttributeValues == "true")?.ToList() ;
                            <div class="dropdown-menu list-unstyled fadeInUp animated">
                                <div class="col-lg-12 nopadding">
                                    <div class="col-lg-1 nopadding hidden-md hidden-xs">
                                        <div class="rotate"><span>@catbannername</span></div>
                                    </div>
                                    <div class="col-lg-8">
                                        <ul class="margin-top-30 set-4">
                                            @foreach (var subCategory in subcategoryitems)
                                            {
                                                string subcatname = subCategory.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
                                                <li>

                                                    <a href="@domainurl@Url.GetCategoryUrl(subCategory.SEOPageName, null, subCategory.CategoryId)" data-test-selector="linkSubCategoryItemList" title="@WebUtility.HtmlDecode(subCategory.CategoryName)">@WebUtility.HtmlDecode(subcatname)</a>
                                                    @if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
                                                    {
                                                    <ul class="sub-menu-child">
                                                        @Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)
                                                    </ul>
                                                    }
                                                </li>
                                            }

                                        </ul>
                                    </div>
                                    <div class="col-lg-3 hidden-md hidden-xs">
                                        <div class="pull-right margin-top-30"><a href="@domainurl@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" title="Sale"><img src=@bannerImage data-src=@bannerImage alt="Sale" class="img-responsive b-lazy" /></a></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </li>
                }
            }

        }
    }
</ul>


<!--Mobile Navigation Menu Code here-->
<span class="hidden-lg hidden-md">
    @{Html.RenderPartial("_MobileNav");}
</span>

<script>$('[itemtype = "https://schema.org/SiteNavigationElement"] a').attr("itemprop", "url");</script>
<script>
    var delay = 1500, setTimeoutConst,
        delay2 = 500, setTimeoutConst2;
    $(".navbar-nav .yamm-fw").mouseover(function () {       
        var title = $(this).attr('data-name');        
            setTimeoutConst = setTimeout(function () {
                $('.dropdown-menu').each(function () {
                    if ($(this).parent().attr('data-name') == title) {
                        $(this).show();
                        console.log("show1 " + title);
                    }
                });

            }, delay2);       
    }).mouseout(function () {
        clearTimeout(setTimeoutConst);
        setTimeoutConst2 = setTimeout(function () {            
            var isHovered = !!$('.navbar-nav .yamm-fw').
                filter(function () { return $(this).is(":hover"); }).length; 
            if (isHovered !== true) {
                $('.dropdown-menu').hide();
                console.log("Hide");
            }
        }, delay2);
    });
</script>

