﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@using Znode.WebStore.Custom.Helper;
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
    WebstoreHelper helper = new WebstoreHelper();
    UserViewModel currentUser = helper.GetUserViewModelFromSession();
    //string storename = RSWidgetHelper.GetDefaultStoreDetailsFromCookie();
    //if(storename!="" && currentUser != null)
    // {
    //     currentUser.Custom2 = storename;
    // }
}
@model CategoryHeaderListViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}




<ul class="nav navbar-nav">
    <li class="shopbybrand-mobile">@Html.RenderMessage("MobileShopByDepartment")</li>
    @{

        int countRow = 0;
        <span class="pull-right"><button type="button" onclick="Openclosemenu()" class="navbar-toggle mobile-close" data-toggle="collapse" title="Close" data-target="#navbar-collapse-nav"><span>X</span></button></span>
        foreach (var category in Model.Categories)
        {
            if (category.CategoryName == "Shop by Brand") { continue; }
            string catname = category.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
            string visibleInNav = category.Attributes.FirstOrDefault(w => w.AttributeCode == "IsUsedInNavigation")?.AttributeValues;
            //string CategoryName =  catname;
            countRow += 1;
            string Id = "Submenumobile" + countRow.ToString();
            if (visibleInNav == "true" || visibleInNav == "1")
            {
                <li>
                    <a href="@domainurl@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" class="dbclickopen" id="myBtn" onclick="return expanddiv('@Id',$(this));" title="@Html.RenderBlock(WebUtility.HtmlDecode(catname))"> @Html.RenderBlock(WebUtility.HtmlDecode(catname)) <span class="pull-right"><i class="zf-arrow-right-big leftarrow"></i></span></a>
                    <!-- The SubMenuNavbar Modal -->
                    <div id="@Id" class="modal mobile-menu-popup Submenumobile">

                        <div class="modal-content">
                            @*<div class="col-xs-12 nopadding" onclick="ShowMainMenu()"><span class="close close1"><span class="mobileexit" title="Back To Menu"><i class="zf-arrow-left-big leftarrow"></i> Back To Menu</span></span></div>
                            <div class="col-xs-12 nopadding"><h3 class="close2title mobileexit" title="@catname">@Convert.ToString(@catname).Replace("&amp;", "&")</h3></div>*@
                            <div class="col-xs-12 nopadding">
                                @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
                                {
                                    <ul class="submenu-ul">
                                        @Html.Partial("_MobileSubNav", category.SubCategoryItems, new ViewDataDictionary { { "CategoryName", catname } })
                                    </ul>
                                }
                                @*<div class="col-xs-12 nopadding margin-top-8"><a href="@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" class="mobileViewall" title="VIEW ALL"><i class="fa fa-plus"></i> VIEW ALL</a></div>*@
                            </div>

                        </div>

                    </div>

                </li>
            }

        }
        if (Model?.BrandList?.Count > 0)
        {
            <li>
                <a href="/Brand/List" title="@WebUtility.HtmlDecode(WebStore_Resources.LabelBrands)"> @Html.RenderMessage("MobileShopByBrand") <span class="pull-right"><i class="zf-arrow-right-big leftarrow"></i></span></a>
            </li>
        }
    }

</ul>


<script>
    var touchtime = 0;
    $('.dbclickopen').click(function () {
        if (touchtime == 0) {
            //set first click
            touchtime = new Date().getTime();
        } else {
            //compare first click to this click and see if they occurred within double click threshold
            if (((new Date().getTime()) - touchtime) < 800) {
                //double click occurred
                touchtime = 0;
                window.location = this.href;
            } else {
                //not a double click so set as a new first click
                touchtime = new Date().getTime();
            }
        }
        return false;
    });

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    //span.onclick = function () {
    //    modal.style.display = "none";
    //}
    function expanddiv(id, obj) {
        var alreadyopen = false;
        if ($("#" + id)[0].style.display == "block" || $(obj).attr('title') == 'Clearance') {
            alreadyopen = true;
        }

        $(".Submenumobile").each(function () {
            $(this)[0].style.display = "none";
        });
        if (alreadyopen == true) {
            $("#" + id)[0].style.display = "none";
        }
        else {
            $("#" + id)[0].style.display = "block";
        }

    }
    
    function Openclosemenu() {
        $(".mainmenu").show();
        $(".Submenumobile").hide();

    }
</script>




