﻿@using Znode.Engine.WebStore.ViewModels;
@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities;
@model  CategoryViewModel
@{
    var _rq = Request.QueryString;
    string pageSize = !string.IsNullOrEmpty(Convert.ToString(Request.QueryString[WebStoreConstants.PageSize])) ? Request.QueryString[WebStoreConstants.PageSize] : !string.IsNullOrEmpty(Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue))) ? Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue)) : null;

    Dictionary<string, object> searchProperties = new Dictionary<string, object>();

    searchProperties.Add(WebStoreConstants.PageSize, pageSize);
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    /*NIVI CODE*/
    string NavigationLevel = Model.Attributes?.Value("NavigationLevel");
}
<div id="layout-category" data-category="@Model.CategoryName" data-categoryId="@Model.CategoryId" class="main-wrapper">

    <!-- Breadcrumb -->
    <div class="col-lg-12 col-xs-12 nopadding">
        <h1 data-test-selector="lblCategoryName">Browse @Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>
    </div>
    @*<div id="breadCrumb" class="breadcrumb-container" data-test-selector="lblBreadcrumb">
            @if (!string.IsNullOrEmpty(Model.BreadCrumbHtml))
            {
                @Html.RenderBlock(Model.BreadCrumbHtml)
            }
        </div>*@
    <div class="container-fluid">
        @if (NavigationLevel != "Top")
        {
            <input type="hidden" value="No" id="NavigationLevelTop" />
            <div class="PLP-Container">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 nopadding category-bottom-line">
                        <z-widget>@Html.WidgetPartial("CategoryGrid", "CategoryList", "123", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Model.CategoryId)</z-widget>
                    </div>
                </div>

                <aside class="col-xs-12 col-sm-3 col-md-3 col-lg-2 side-bar">
                    <!--Mobile View Facet Calling Code-->
                    <div class="col-xs-12 nopadding side-bar hidden-lg hidden-md visible-xs">
                        <a href="#" class="toggle narrow-results active" data-toggle="modal" data-target="#FacetModal">Filters</a>
                        <!-- Modal -->

                        <div id="FacetModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Filters</h4>
                                        <a class="close pull-right" data-dismiss="modal" aria-label="Close" title="Close"> &#x2715 </a>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-xs-12 nopadding">
                                            <div class="facets-content-area">
                                                <span id="Facetmobile"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="Facetdesktop">
                        <div id="Facetdesktopmain" class="facets-content-area">
                            @{Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);}
                        </div>
                    </div>
                </aside>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 category-landing-container">
                    @{Html.RenderPartial("_ProductGrid", Model.ProductListViewModel);}
                    <div class="col-xs-12 nopadding brand-banner margin-top">
                        @Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))
                        @*<div class="short-text textshowlessmob DescriptionShow">
                            @Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))
                        </div>
                        <div class="show-more">
                            <a href="javascript:void(0);" class="lessMoreText">Show more ></a>
                        </div>*@
                    </div>
                </div>
                @if (Convert.ToInt32(searchProperties[WebStoreConstants.PageSize]) != -1 && (Convert.ToInt32(TempData[WebStoreConstants.ProductCount]) > 0))
                {
                    if (!Helper.InfinityLoading && (Convert.ToInt32(TempData[WebStoreConstants.TotalProductCount]) > Convert.ToInt32(searchProperties[WebStoreConstants.PageSize])))
                    {
                        <div class="col-xs-12 nopadding">
                            <div class="category-more text-center margin-top-bottom">
                                <a href="@domainurl@Url.Action("Index", "Category", new { category = Model.CategoryName, categoryId = Model.CategoryId, viewAll = true })" class="btn-text btn-bg-primary">
                                    @*@WebStore_Resources.LabelViewAll @Html.RenderBlock(Model.CategoryName)*@
                                    View All
                                </a>
                            </div>
                        </div>
                    }
                }

            </div>
        }
        else
        {
            <input type="hidden" value="Yes" id="NavigationLevelTop" />
            <div class="PLP-Container margin-bottom simple-category-list">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 nopadding">
                        <z-widget>@Html.WidgetPartial("CategoryGrid", "CategoryList", "123", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Model.CategoryId)</z-widget>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="col-xs-12 nopadding brand-banner margin-top">
                            @Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))
                            @*<div class="short-text textshowlessmob DescriptionShow">
                                @Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))
                            </div>
                            <div class="show-more">
                                <a href="javascript:void(0);" class="lessMoreText">Show more ></a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <input type="hidden" value="@Model.CategoryId" id="categoryId" />
    <input type="hidden" value="0" id="parentCategoryId" />
</div>
<script async>
    $(document).ready(function () {
        try {
            var isnavigationleveltop = $("#NavigationLevelTop").val();
            //console.log("isnavigationleveltop=" + isnavigationleveltop);
            if (isnavigationleveltop == "No") {
                $("#view-option-category li").each(function () {
                    if ($(this).attr("id") > 4) {
                        $(this).remove();
                    }
                });
            }
        }
        catch (err) {
            console.log("Error!=" + err.message);
        }
    })
</script>

<script async>
    $(document).ready(function () { screen.width > 600 ? $("#Facetdesktop").append($("#Facetdesktopmain")) : $("#Facetmobile").append($("#Facetdesktopmain")) });
</script>

<!--Facet call in Modal in Mobile View-->
<script async>
    $(document).ready(function () {
        function togglePanel() { var w = $(window).width(); if (w <= 600) { $("#FacetModal").add() } else { $("#FacetModal").remove() } }
        $(window).resize(function () { togglePanel() }); togglePanel()
    })
</script>