﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model CartViewModel
@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
    ViewBag.Title = "Shopping Bag";
    ViewBag.description = "Rogan’s Shoes Shopping Bag";
}
<div class="main-wrapper">
    <div class="container">
            <div class="col-xs-12 nopadding shopping-cart">
                <div id="divShoppingCart">
                    @Html.Partial("_shoppingCart", Model)
                </div>
            </div>
        </div>
    <div class="col-xs-12 margin-top nopadding">
        <!--Recommended Products Widget, will be displayed on cart page-->
        <div data-test-selector="divRecommendedProductList">
            <z-widget>
                @Html.WidgetPartialAjax("CartRecommendations", "RecommendedProducts", "6611", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())
            </z-widget>
        </div>
    </div>
</div>
@Html.Hidden("gocoderGoogleAPI", ZnodeWebstoreSettings.ZnodeGocoderGoogleAPI)
@Html.Hidden("gocoderGoogleAPIKey", ZnodeWebstoreSettings.ZnodeGoogleMapKey)
<script async defer src="@ZnodeWebstoreSettings.ZnodeGoogleAPIDomainKey/maps/api/js?key=@(ZnodeWebstoreSettings.ZnodeGoogleMapKey)&v=3&libraries=geometry" type="text/javascript"></script>
<script>
    window.onload = function () {
        if ('@insufficientQuantity' == 'True') {
            //$("#checkOut-link").addClass('disable-anchor');
            /*nivi code start*/
            $(".checkout").each(function () {
                $(".checkout").addClass('disable-anchor');
            });
             /*nivi code end*/
            $("#btnCompleteCheckout").addClass('disable-anchor');
            $("#paypal-express-checkout").addClass('disable-anchor');
        }
    }
</script>
<script>
    $(document).ready(function () {
            $("input[data-pickup='pickup']:checked").each(function () {
                var productid = $(this).attr('name');
                var sku = $(this).attr('data-sku');
                //alert(sku);
                InStorePickUp.prototype.GetStockForSelectedStoreCart(sku, productid);
        });      
});
</script>
@*<script src="~/Views/Themes/RogansShoes/Scripts/lib/PickUpInStore.js"></script>*@

