﻿@using Znode.WebStore.Custom.ViewModel
@using Znode.Libraries.ECommerce.Utilities
@model ShoesFinderViewModel
@{
    ViewBag.Title = "Shoe Finder | Rogan’s Shoes";
    ViewBag.Description = "Find your favorite shoes from Rogan’s Shoes Shoe Finder";
}

<div class="main-wrapper">
    <div class="container">
        <div class="contain-pages">
            <div class="col-xs-12 nopadding">
                <div class="PageTitle">
                    <h1>Shoe Finder</h1>
                </div>
                <div>
                    @Html.RenderMessage("ShoeFinderFormMsg")
                </div>
                <div class="Form LableForm col-xs-12 col-md-12 col-lg-12 nopadding margin-top margin-bottom">

                    @using (Html.BeginForm("ShoeFinder", "RSCustomizedForm", FormMethod.Post, new { @id = "frmShoeFinder" }))
                    {
                        <div class="Form col-xs-12 col-md-6 col-lg-6 LeftContent nopadding">

                            <div>
                                <div>
                                    <h2 class="FormTitle">@WebStore_Resources.TitleContactInformation</h2>
                                </div>
                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName", @required = "required", @title = @WebStore_Resources.LabelFirstNameTitle, @alt = @WebStore_Resources.LabelFirstNameAlt })
                                    <label for="valFirstName" placeholder="@WebStore_Resources.LabelFirstName"><span>@WebStore_Resources.LabelFirstName</span></label>
                                    <span id="valFirstNameErr" class="field-validation-error"></span>
                                </div>
                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName", @required = "required", @title = @WebStore_Resources.LabelLastNameTitle, @alt = @WebStore_Resources.LabelLastNameAlt })
                                    <label for="valLastName" placeholder="@WebStore_Resources.LabelLastName"><span>@WebStore_Resources.LabelLastName</span></label>
                                    <span id="valLastNameErr" class="field-validation-error"></span>
                                </div>
                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.EmailID, new { @maxlength = 200, @id = "valEmail", @required = "required", @title = @WebStore_Resources.LabelEmailAddressTitle, @alt = @WebStore_Resources.LabelEmailAddressAlt })
                                    <label for="valEmail" placeholder="@WebStore_Resources.LabelEmailAddress"><span>@WebStore_Resources.LabelEmailAddress</span></label>
                                    <span id="valEmailErr" class="field-validation-error"></span>
                                </div>
                            </div>


                            <div class="Clear">
                                <div class="FormTitle">@WebStore_Resources.TitleOtherOptionalInform</div>
                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.Type, new { @id = "idType", @required = "required", @title = @WebStore_Resources.TextType, @alt = @WebStore_Resources.TextType })
                                    <label for="idType" placeholder="@WebStore_Resources.TextType"><span>@WebStore_Resources.TextType</span></label>
                                    <span id="valTypeErr" class="field-validation-error"></span>
                                </div>
                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.StockNumber, new { @id = "valStockNumber", @required = "required", @title = @WebStore_Resources.TextStockNumber, @alt = @WebStore_Resources.TextStockNumber })
                                    <label for="valStockNumber" placeholder="@WebStore_Resources.TextStockNumber"><span>@WebStore_Resources.TextStockNumber</span></label>
                                    <span id="valStockNumberErr" class="field-validation-error"></span>
                                </div>
                                <div class="col-lg-12 nopadding">
                                    <div class="form-group">
                                        <label for="ddlLikeSite" class="hidden"><span>@WebStore_Resources.TextLikeSite</span></label>
                                        <select id="ddlLikeSite" onchange="" title=@WebStore_Resources.TextLikeSite>
                                            <option value="">@WebStore_Resources.TextLikeSite</option>
                                            <option value="">@WebStore_Resources.TextSFLikeSiteYuck</option>
                                            <option value="">@WebStore_Resources.TextSFLikeSIteItsok</option>
                                            <option value="">@WebStore_Resources.TextSFLikeSIteAverage</option>
                                            <option value="">@WebStore_Resources.TextSFLikeSIteNiceSite</option>
                                        </select>
                                    </div>
                                    @Html.HiddenFor(model => model.LikeOurSite, new { @id = "LikeOurSite" })
                                    @*<input type="hidden" name="LikeOurSite" id="LikeOurSite" value="" />*@
                                </div>

                                <div class="col-lg-12 nopadding">
                                    @Html.TextAreaFor(model => model.Description, new { rows = "10", cols = "50", @id = "valComment", @required = "required", @data_test_selector = "txtDescription", @class = "TextBoxrogan", @title = @WebStore_Resources.LabelShoeFinderComments, @alt = @WebStore_Resources.LabelShoeFinderComments })
                                    <label for="valComment" class="reviewlabelset" placeholder="@WebStore_Resources.LabelShoeFinderComments" data-test-selector="lblDescription"><span>@WebStore_Resources.LabelShoeFinderComments</span></label>
                                    <span id="valCommentErr" class="field-validation-error" data-test-selector="lblValDescriptionErrMsg"></span>
                                </div>
                            </div>
                        </div>

                        <div class="Form col-xs-12 col-md-6 col-lg-6 LeftContent RightSection">
                            <div>
                                <div class="FormTitle">@WebStore_Resources.TitleShoeInformation</div>
                            </div>
                            <div>
                                <div>
                                    <div class="form-group">
                                        <label for="ddlBrand" class="hidden"><span>@WebStore_Resources.TextSelectBrand</span></label>
                                        <select id="ddlBrand" onchange="" title=@WebStore_Resources.TextSelectBrand>
                                            <option value="0">@WebStore_Resources.TextSelectBrand</option>
                                        </select>
                                    </div>
                                    @Html.HiddenFor(model => model.SelectBrand, new { @id = "SelectBrand" })
                                </div>

                                <div>
                                    @Html.TextBoxFor(model => model.ShoeName, new { @id = "valShoeName", @required = "required", @maxlength = 100, @title = @WebStore_Resources.TextShoeName, @alt = @WebStore_Resources.TextShoeName })
                                    <label for="valShoeName" placeholder="@WebStore_Resources.TextShoeName"><span>@WebStore_Resources.TextShoeName</span></label>
                                </div>
                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.Color, new { @id = "valColor", @required = "required", @title = @WebStore_Resources.TextColor, @alt = @WebStore_Resources.TextColor })
                                    <label for="valColor" placeholder="@WebStore_Resources.TextColor"><span>@WebStore_Resources.TextColor</span></label>
                                </div>
                                <div class="col-lg-12 nopadding">
                                    @Html.TextBoxFor(model => model.Size, new { @id = "valSteeltorequired", @required = "required", @title = @WebStore_Resources.TextSize, @alt = @WebStore_Resources.TextSize })
                                    <label for="valSteeltorequired" placeholder="@WebStore_Resources.TextSize"><span>@WebStore_Resources.TextSize</span></label>
                                </div>

                                <div class="col-lg-12 nopadding">
                                    <div class="form-group">
                                        <label for="ddlSFGender" class="hidden"><span>@WebStore_Resources.TextSelectGender</span></label>
                                        <select id="ddlSFGender" onchange="" title=@WebStore_Resources.TextSelectGender>
                                            <option value="">@WebStore_Resources.TextSelectGender</option>
                                            <option value="">@WebStore_Resources.TextSelectOptionMen</option>
                                            <option value="">@WebStore_Resources.TextSelectOptionWomen</option>
                                            <option value="">@WebStore_Resources.TextSelectOptionChildren</option>
                                            <option value="">@WebStore_Resources.TextSelectOptionInfants</option>
                                        </select>
                                    </div>
                                    @Html.HiddenFor(model => model.Gender, new { @id = "Gender" })
                                </div>
                                <div class="col-lg-12 nopadding">
                                    <div class="form-group">
                                        <label for="ddlSFWidth" class="hidden"><span>@WebStore_Resources.TextSFSelectWidth</span></label>
                                        <select id="ddlSFWidth" onchange="" title=@WebStore_Resources.TextSFSelectWidth>
                                            <option value="">@WebStore_Resources.TextSFSelectWidth</option>
                                            <option value="">@WebStore_Resources.TextSFSelectNarrow</option>
                                            <option value="">@WebStore_Resources.TextSFSelectWide</option>
                                            <option value="">@WebStore_Resources.TextSFSelectMedium</option>
                                        </select>
                                    </div>
                                    @Html.HiddenFor(model => model.width, new { @id = "width" })
                                </div>
                                <div class="col-lg-12 nopadding">
                                    <div class="form-group">
                                        <label for="ddlLocation" class="hidden"><span>@WebStore_Resources.TextSelectLocation</span></label>
                                        <select id="ddlLocation" onchange="" title=@WebStore_Resources.TextSelectLocation>
                                            <option value="0">@WebStore_Resources.TextSelectLocation</option>
                                        </select>
                                    </div>
                                    @Html.HiddenFor(model => model.location, new { @id = "location" })
                                </div>
                                <div class="col-sm-12 nopadding margin-top">
                                    <div id="div-captcha">
                                        @Html.ZnodeCaptcha()
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xs-12 nopadding margin-top">
            <button type="submit" class="btn btn-primary" id="Shoe-Finder" onclick="return CaseRequest.prototype.ValidationForShoeFinderForm();">@WebStore_Resources.ButtonSubmit</button>
        </div>
                                @*<div class="col-lg-12 nopadding ContactUsButton margin-top">
                                            <button type="submit" class="btn btn-primary" id="Shoe-Finder" data-test-selector="btnSubmit" alt="Submit">@WebStore_Resources.ButtonSubmit</button>
                                        </div>*@
                            </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)

        <script async>
          /* NIVI Code starts For Shoe Finder */
            $("#ddlBrand").change(function () { var e = $("#ddlBrand option:selected").text(); return "Select Brand" == e ? $("#SelectBrand").val() : $("#SelectBrand").val(e), !1 }), $("#ddlLocation").change(function () { var e = $("#ddlLocation option:selected").text(); return "Select Location" == e ? $("#location").val("") : $("#location").val(e), !1 }), $("#ddlSFGender").change(function () { var e = $("#ddlSFGender option:selected").text(); return "Select Gender" == e ? $("#Gender").val("") : $("#Gender").val(e), !1 }), $("#ddlSFWidth").change(function () { var e = $("#ddlSFWidth option:selected").text(); return "Select Width" == e ? $("#width").val("") : $("#width").val(e), !1 }), $("#ddlLikeSite").change(function () { var e = $("#ddlLikeSite option:selected").text(); return "Like Our Site" == e ? $("#LikeOurSite").val("") : $("#LikeOurSite").val(e), !1 }), $(document).ready(function () { InStorePickUp.prototype.FillBrandsDropdown(), InStorePickUp.prototype.FillLocationDropdown(), $("#frmShoeFinder").validate(), $("#valFirstName").rules("add", { required: !1 }), $("#valLastName").rules("add", { required: !1 }), $("#valEmail").rules("add", { required: !1 }), $("#idType").rules("add", { required: !1 }), $("#valStockNumber").rules("add", { required: !1 }), $("#valComment").rules("add", { required: !1 }), $("#valShoeName").rules("add", { required: !1 }), $("#valSteeltorequired").rules("add", { required: !1 }), $("#valColor").rules("add", { required: !1 }); });
            /* NIVI Code ends For Shoe Finder */
             $(document).ready(function () {
                var arr = $("#div-captcha").html().split("<br>");
                var string = '<label for="CaptchaInputText">' + arr[3] + ' *</label>';
                $("#div-captcha").html($("#div-captcha").html().replace(arr[3], string));
            });
        </script>
        <!-- <script>
            $("button[type=submit]").click(function () {
                //  console.log("test")
                var errorElements = document.querySelectorAll(".field-validation-error");
                for (var index = 0; index < errorElements.length; index++) {
                    const element = errorElements[index];
                    //  console.log(element);
                    $('html, body').animate({
                        scrollTop: $(errorElements[0]).focus().offset().top - 60
                    }, 1000);
                    return false;
                }
            });
        </script>-->
